[2017-04-07 12:33] sid141288 commented on #796
Ok, here's what I found after looking at out dependencies.
npm promoted `react_on_rails` to `6.9.3`, but since our `Gemfile.lock` had 6.8.0, the version of the gem that was being used was `6.8.0`.
I could see that the changes that JavaScript `react-on-rails` package expects (with respect to `div` tag being replaced by a `script` tag in the rails helper --> https://github.com/shakacode/react_on_rai

[2017-04-07 16:55] tiemevanveen commented on #796
I've got the same problem when using https://github.com/Limenius/ReactBundle which depends on just the npm package, not the ruby code.

It would probably have been wise to bump to 7.0.0 instead of 6.9.0 since users might update the npm package and the gem (or php package) independently.

[2017-04-08 02:37] trungnguyencmu commented on #746
I still see issues at 6.9.3 version
`rake aborted!
       Error configuring /config/react_on_rails.rb: invalid value for `config.i18n_dir`. Directory does not exist: /var/www/scry/tmp/build-149161890412039/client/app/libs/i18n. Set to value to nil or comment it out if not using this i18n with React on Rails.
       /var/www/scry/tmp/build-149161890412039/vendor/bundle/ruby/2.3.0/gems/react_on_rail

[2017-04-08 03:15] justin808 commented on #746
@trungnguyencmu Please change the value you have set in your react_on_rails.rb file:
config.i18n_dir

That's all you have to do.

[2017-04-08 03:32] justin808 commented on #796
@sid141288:

Yes! it does!

@tiemevanveen: We now do a logger.error in Rails when the versions don't match. I'm not sure what to do about Limenius, as I don't have test cases on that.

We're doing semantic versioning, so we only change the major version when there's an incompatible change.

[2017-04-08 03:32] #796 closed

[2017-04-08 03:34] trungnguyencmu commented on #746
@justin808  Your mean, delete this line `config.i18n_dir = Rails.root.join("client", "app", "libs", "i18n")`.

[2017-04-08 04:09] justin808 commented on #746
Delete or set it to nil.

[2017-04-08 12:18] rohrseric opened #797 "React plugin installation and functionality (Material-UI)"
I have been trying for a couple days to incorporate Material-UI into the react_on_rails example. There are several solutions out there but specifically for react_on_rails I have tried

`yarn add material-ui`

I have also tried adding material-ui as a rails-asset in the Gemfile

`gem 'rails-assets-material-ui', source: 'https://rails-assets.org'`
and run  `bundle install`

Tried adding `//= require

[2017-04-08 23:53] justin808 commented on #797
@rohrseric Your issues are general to React development rather than React on Rails. I'd recommend considering [our coaching plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf)

[2017-04-09 01:01] trungnguyencmu commented on #746
if don't set it, It will not generate when deploy, And announce error when can't find `libs/i18n/translations`

[2017-04-09 03:23] #797 closed

[2017-04-09 03:24] #758 closed

[2017-04-09 03:24] justin808 commented on #772
@Judahmeek This looks more like a doc than a code issue.

[2017-04-09 08:08] justin808 commented on #746
@trungnguyencmu If you can give this a better error message, that would be great!

[2017-04-09 09:16] justin808 commented on #786
CC: @kaizencodes

[2017-04-09 11:40] trungnguyencmu commented on #746
![screenshot 2017-04-09 18 38 52](https://cloud.githubusercontent.com/assets/8305733/24836982/e0685364-1d53-11e7-9b3c-e47e9b8eba2a.png)

My error that I got 🗡
thanks @justin808

[2017-04-09 12:43] dsawa opened #798 "Psych::DisallowedClass during some locale files convertion to js"
Hey,

I have recently updated React on Rails to the latest (6.9.3) and updated webpack to v2 (along with all configurations). However one thing changed that breaks my current project.

I get
[code]
every time I for example run rake commands (impossible to run migrations).

During investigation I managed to find a simple solution. Problem occurs in [LocaleToJs](https://github.com/shakacode/react_on

[2017-04-10 04:54] justin808 commented on #746
@trungnguyencmu my eyes bleed from so many double dots.

Use a webpack path alias so you don't have to do that!

* https://github.com/shakacode/react-webpack-rails-tutorial/search?utf8=%E2%9C%93&q=translations&type=
* https://github.com/shakacode/react-webpack-rails-tutorial/blob/4f37cf96637c3b08851e5c5b38a40c89985723b8/client/webpack.client.base.config.js#L50

[2017-04-10 04:58] justin808 opened #799 "Putting back in pretty printing of JSON props?"
Any votes for putting pretty printing of the JSON props in the HTML page source? We were doing that at first, but this resulted in some bugs.

@cheremukhin23 is working on https://github.com/shakacode/react_on_rails/pull/787 which would put that back in, along with some tests.

I’m not 100% sure we even want this, as it’s probably just as well to put a debugger statement or console log and see the

[2017-04-10 05:04] justin808 commented on #798
@dsawa here's a discussion of the issue: https://github.com/ruby/psych/issues/119

I need some more details on why this fails. I'm guessing that there's something odd about your translation files using symbols for values rather than strings.

It's 100% clear that YAML.safe_load was added so that if don't want arbitrary objects, then so be it.

Why would you have a symbol?

CC: @JasonYCHuang

[2017-04-10 05:06] udovenko commented on #793
@justin808 PR #800

[2017-04-10 06:12] trungnguyencmu commented on #746
I have added alias, It's still run fine on my local. But I still got error when deploy
![screenshot 2017-04-10 13 04 55](https://cloud.githubusercontent.com/assets/8305733/24847946/83ac9ab8-1dee-11e7-9410-7f76d20dd159.png).
If I delete `config.i18n_dir = Rails.root.join("client", "app", "libs", "i18n")`, how to system generate translations.js or default.js to `libs/i18n`

[2017-04-10 08:15] justin808 commented on #746
your error now is related to your production setup

[2017-04-10 08:27] trungnguyencmu commented on #746
Thanks @justin808

[2017-04-10 15:02] shepmaster commented on #795
We also experienced the same problem — upgrading from 6.8 to 6.9 ended with no React elements rendered, no errors in the browser console or command line.

Rerunning `rails generate react_on_rails:install` and manually merging the previous code with the new code allowed the components to render again.

[2017-04-10 20:16] nratter commented on #799
I think it's unnecessary as you can use something like the following...
[code]

[2017-04-10 20:28] mikemerritt commented on #782
I ran in to this issue as well and 6.9.3 seems to have fixed it.

[2017-04-11 00:05] adaam2 opened #801 "Rails generator issue"
I had previously installed react_on_rails into my application, and then removed it (including the client folders, the initializer etc). Now I would like to reinstall react_on_rails into the same application. Now when I run `rails generate react_on_rails:install`, nothing happens and the generator hangs for ages. I have rerun `bundle install`. Is there a way of turning on more verbose logging when

[2017-04-11 00:09] #801 closed

[2017-04-11 00:13] adaam2 commented on #801
Fix was to run:

[code]

[2017-04-11 07:10] justin808 commented on #795
@shepmaster Can you please share the diffs that fixed your issue? I'd like to doc this to help @mnd-dsgn and others.

[2017-04-11 13:18] Ynote commented on #782
Hi @justin808,

I am really sorry for the late late reply. https://github.com/shakacode/react_on_rails/pull/791 is not enough in my stack to handle the issue.

It still doesn't work for me with `6.9.3` because I still need https://github.com/shakacode/react_on_rails/pull/787 to handle the simple quote removing in Rails 3.x.

[2017-04-11 14:34] shepmaster commented on #795
Not shown in this diff:

1. Changes to CI to install yarn
1. Changes to our readme
1. The yarn.lock files
1. Followup commits to update the other loaders to remove warnings.

[code]

[2017-04-11 18:57] justin808 commented on #782
@Ynote can you try using #787 as a branch locally to confirm that this works for you. I will then merge after I get your confirmation.

[2017-04-12 10:49] Ynote commented on #782
@justin808 I just tested https://github.com/shakacode/react_on_rails/pull/787. It works perfectly with my stack.

Thank you so much for your help and your investigation!

[2017-04-12 14:52] mindtonic commented on #565
+1 This issue is coming for me too from a fresh install

[2017-04-12 15:50] lmatiolis commented on #549
Hey everyone, I was having the same issue and started calling `reactOnRailsPageLoaded()`, which worked great, thanks!

Recently, a new component was added on the same page, but that component is not re-rendered via ajax. So I have on the same page a component that gets re-rendered via ajax and one that is not. Calling `reactOnRailsPageLoaded()` on that page throws the following error:

[code]

Tha

[2017-04-12 21:03] squadette commented on #799
Pretty-printing was second reason behind me driving this change forward.

Of course you can do pre-thing, console thing, or just mentally interpret JSON from attributes, but showing pretty-printed JSON in your source makes it so much more convenient and useful.  You can do Ctrl-F in your view source easily, even if you don't have the same level of advanced developer console as is in Chrome (there

[2017-04-13 06:38] justin808 commented on #799
@squadette can you help us with the change?

[2017-04-13 06:49] justin808 commented on #549
@lmatiolis Any chance that you can submit a PR with some docs to `/docs/additional-reading/some-good-name.md`

This sounds useful, but to be honest, I'm not sure exactly what is the problem that you're solving. Any chance that you can create a tiny example based on the React on Rails generator?

[2017-04-13 07:28] justin808 commented on #795
1. Switch from npm to yarn
2. Switch to webpack v2 and lots of other library updates.
3. Probably, most importantly, the react-on-rails npm package was at 6.1.0! So that would 100% break with 6.9.x.

[2017-04-13 07:28] #795 closed

[2017-04-13 09:36] justin808 commented on #565
@icemelt7 any ideas?

[2017-04-13 11:32] SylarRuby opened #806 "Question: Usage with Rails 5 API"
Hi guys, just a question. Can I use this with Rails 5 API only mode?

Right after `foreman start -f Procfile.dev` I got some errors:

[code]

[2017-04-13 11:38] SylarRuby commented on #806
Turns out my Rails 5 api excluded the asset pipeline: https://github.com/shakacode/react_on_rails/issues/430

All is well.

[2017-04-13 11:38] #806 closed

[2017-04-13 15:46] lmatiolis commented on #549
Hey @justin808, thanks for the reply!

I don't know what you meant by that... you mean creating a doc about the need to call ReactOnRails.reactOnRailsPageLoaded() when a part of the page is re-rendered via ajax? If it's that, I can certainly start one!

Yeah, I'll try to create a sample project so you can understand the problem I'm having. I'll find some time to do it Monday!

Thanks again!

[2017-04-13 16:52] ndbroadbent commented on #550
@prosanes Did you ever find a good explanation for this, or create a forum post? I also stumbled onto this issue while wondering the same thing.

[2017-04-13 18:23] prosanes commented on #550
@ndbroadbent Not really. Didn't create the post, and ended up using bindActionCreators

[2017-04-14 03:49] justin808 commented on #549
@lmatiolis Yes to all your questions! I really appreciate the help, and so does the community!

[2017-04-14 09:28] marinoszak commented on #670
@justin808 i managed to resolve the issue in the end.
I am using Rails 5.1.0.rc1.
My configuration inside initializers/assets.rb file is the same as with dummy.
The thing that i was missing is that i didn't include inside the Sprocket's manifest.js file under app/assets/config the directory where my webpack assets reside like so
[code]

[2017-04-15 09:46] #670 closed

[2017-04-16 09:56] justin808 commented on #798
@dsawa is this still an issue?

[2017-04-16 10:01] justin808 commented on #782
@Ynote Any chance you might be able to help us with a few tests for #787? so we can get that merged?

[2017-04-16 10:08] justin808 opened #807 "React on Rails v7 Breaking Changes"
# React on Rails v7 Breaking Changes

- [x] Upon startup, when the gem and npm versions don't match, an exception is thrown. Nobody is paying attention to warnings or errors being logged.
- [x] Generator and all examples changed to use [webpacker_lite](https://github.com/shakacode/webpacker-lite).
- [x] env_stylesheet_tag and env_javascript_tag deprecated for webpacker_lite apis.
- [x] 7.0 should

[2017-04-16 10:37] justin808 commented on #807
CC: @udovenko @kaizencodes @robwise

[2017-04-17 14:36] phanhaiquang commented on #746
I fixed this issue by creating `client/app/libs/i18n` folder and commit it to repo (by creating .keep file inside and add it to repo). It seems that this folder is not auto created at production. I am using version 6.7.1

[2017-04-17 14:54] fantasydong opened #808 "Server side render need 3-4 seconds using ruby on rails on AWS EC2 instance"
We have a React/Redux app and want to generate html from sever side on ruby on rails for search engine. The size of the JS bundle file is about 500kb.

In my local environment(Mac Pro), the performance is normal: 1s. But after deploy to AWS EC2(m3.medium), the performance is bad: 3-4s per time.

Does the performance is normal on AWS? If not, does anyone know what cause the performance so bad on AW

[2017-04-18 08:10] justin808 opened #809 "Need to update docs on react-router and server rendering."
Code for server rendering a react component does nothing with the redirectLocation. The problem is that the redirect location cannot be used once we're in the rendering from the controller.

## Doc problems to fix

1. This page needs updating: [react-router.md](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/react-router.md). This code example does not reflect the v

[2017-04-18 16:32] fantasydong commented on #808
Finally, I found that ExecJs choose NodeJS as JS runtime by default. After I uninstall NodeJS and change it to V8, the performance is better than before 1-2s. But after use ab to stress test the page, our server become worse gradually.

[2017-04-18 20:52] lmatiolis commented on #549
And I really appreciate all the great work here on this gem! o/

I'm sorry for the delay (I'm having a busier week than expected here), but I'll still create the test project to explain that issue...

Thanks!

[2017-04-18 21:35] 3den opened #810 "Updates to Node Renderer: Turbolinks: Uncaught Error: unmountComponentAtNode"
I recently updated to the lattest React on Rails v6.10.0, which did fixed the blinking issue #706 of turbolinks reload. But the problem is that every time I navigate to any link react raises a `Uncaught Error: unmountComponentAtNode(...): Target container is not a DOM element.`.

@szyablitsky @justin808  Is this a know issue?

[2017-04-18 21:44] justin808 commented on #810
@3den Please review all [issues and PRs regarding Turbolinks](https://github.com/shakacode/react_on_rails/issues?utf8=%E2%9C%93&q=is%3Aissue%20turbolinks) and let me know your thoughts.

Even better is to submit a PR that addresses the issue.

Thanks,

Justin

[2017-04-18 21:54] 3den commented on #810
@justin808 seems like none of the issues address this problem, if I disable serverside rendering the pages wont even render. Below is the code of my `application.js`:

[code]

[2017-04-18 21:59] 3den commented on #810
this is what i get on the logs

[code]

[2017-04-18 22:11] justin808 commented on #810
I would not turn on and off turbolinks

https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/app/assets/javascripts/application_static.js

https://github.com/shakacode/react_on_rails/blob/d5d579e7c1a24667eb5ccfbb34c17c0e898d6bf9/spec/dummy/client/app/startup/clientRegistration.jsx#L31

you cannot turn turbolinks on for server rendering, which is what you are doing by putting that JS

[2017-04-19 03:22] udovenko commented on #625
I've read rougly through the links. Seems there are two general ways to go: roll out own solution and try to adopt to existing project like **react-server** or **hypernova**.

**react-server** is very opinionated framework that operates **page** entities: https://react-server.io/docs/guides/writing-pages. And if I understand correctly, it assumes inverse responsibility chain of server rendering co

[2017-04-19 15:05] Ynote commented on #782
Hi @justin808,

I just pushed https://github.com/shakacode/react_on_rails/pull/812. I'm sorry, I didn't use Reviewable, I'm not used to it. I hope the PR will be ok.

[2017-04-19 16:30] #808 closed

[2017-04-19 17:51] justin808 opened #813 "[DISCUSSION] React Fiber and Relay Modern"
[Facebook announces React Fiber, a rewrite of its React framework](https://techcrunch.com/2017/04/18/facebook-announces-react-fiber-a-rewrite-of-its-react-framework/)

Opening up this issue to see what this means for React on Rails.

[2017-04-19 20:27] justin808 opened #814 "[Rails 3] Create Rails 3 Unit tests"
@ynote commented on #812:

Yes, but it would take:

1. /spec/dummy-rails3 (like spec/dummy, but with Rails 3)
2. pass env value on travis runs for different ruby versions and ONLY run rails 3 tests (spec/dummy-rails3) and unit tests) for the old ruby version. Don't run /spec/dummy and the generator tests.

[2017-04-19 23:24] 3den commented on #810
@justin808 we are using node server, which will only load the webpack file that does not have turbolinks anywhere.

Is it posible to get turbolinks to work with server side rendering? I saw on the dummy app but is a bit  hard to understand how/if you guys got turbolinks working there.

[2017-04-19 23:28] 3den commented on #810
Also even removing turbolinks the components don't render when serverside rendering is disabled, it was working fine on version 6.5.1 tho.

Was there any breaking change on the api?

[2017-04-20 03:10] justin808 commented on #810
@3den Hi! I'd love to get your feedback on the Node server for rendering! I sent you an invite to our slack room.

Turbolinks is a client side technology. @3den, how does it relate to server rendering for you?

Thanks,

Justin

[2017-04-20 18:50] 3den commented on #810
The turbolinks problem has nothing todo with the node server. The node server works fine but I did some changes on it https://gist.github.com/3den/1416fc25a47208f73be8dbbc7e98ca52 .

The problems i have with the nodeserver is that it does not pick changes on the on the webpack file as it should, and I have to manually delete the `node.sock`.

[code]

[2017-04-20 19:16] amf9t2 commented on #746
@phanhaiquang I guess this is the only way around for this problem.
@justin808 if we delete the configuration or make it null then how we will generate the translations file. Do you mean remove it after generating the translations file (assets)?

[2017-04-20 23:10] 3den commented on #810
thanks for the help @justin808, every think seems to be working fine now, the problem was because I forgot to update the node_module after updating the gem.

I noticed that the you replaced `npm` with `yarn` and that broke my tests, but i fixed it with this:

[code]

[2017-04-21 01:48] EdmundLeex opened #815 "getting `Uncaught SyntaxError: Unexpected token i in JSON at position 1`"
I am trying out this gem but getting this error in the hello world app.

A little bit of digging shows that it happens in parsing railsContext. It somehow is trying to parse a string that looks like already parsed.

I am still trying to just get the hello world to render before actually being able to do stuff. Any idea?

[2017-04-21 02:13] EdmundLeex commented on #815
looks like `json_safe_and_pretty` is the suspect here. shouldn't we return a json string instead of an already parsed json object in a double quote?

or rather this

`"{\"inMailer\":false,\"i18nLocale\":\"en\",\"i18nDefaultLocale\":\"en\",\"href\":\"http://localhost:3000/hello_world\",\"location\":\"/hello_world\",\"scheme\":\"http\",\"host\":\"localhost\",\"port\":3000,\"pathname\":\"/hello_world

[2017-04-21 06:04] justin808 commented on #810
@3den @alleycat-at-git Should this get merged back into the main project? or maybe a file in /docs/additional-reading? Such as here:

https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/node-server-rendering.md

[2017-04-21 06:26] justin808 commented on #746
@amf9t2:

If you're using i18n, then you want the configuration. Please open a new ticket to focus on yor specific issue.

[2017-04-21 06:32] justin808 commented on #815
See my comments in: #816.

[2017-04-21 19:49] lmatiolis commented on #549
Hey @justin808, finally got some time to create the project with an example (as you can see on the commit referenced). Sorry for the delay...

If you run the project, you won't see the warning I was mentioning because that happens when redux is there too and we are rendering the HelloWorld component like this:

[code]

But I believe the issue I was trying to explain about the need to scope `reactO

[2017-04-22 00:17] jtmarmon opened #817 "following turbolinks with ajax requests"
When making a post request in a component:

`fetch('/my_ajax_route')` I want to follow the turbolinks redirect response, but it doesn't seem to happen. How should I make this request to get turbolinks to work?

I already have turbolinks enabled as per the wiki (in application.js, and the layout.html.erb, etc)

[2017-04-22 01:19] JayTeeSF commented on #565
This is happening for me on heroku. My app was working fine, then all of a sudden Heroku starts the asset-pipeline and stops because:

[2017-04-22 01:26] JayTeeSF commented on #565
doh ...looks like running assets locally and committing my `public/assets/` folder resolved this issue for me.

And, forgive me for not saying so before: thanks for this incredible project!

[2017-04-22 01:32] justin808 commented on #565
@JayTeeSF You should not be committing to your `/public/assets` folder.

PS. Please tweet to hash tag #react_on_rails and/or comment on https://github.com/shakacode/react_on_rails/blob/master/KUDOS.md with gratitude.

I really appreciate it. 🙏😇👍.

[2017-04-22 08:32] justin808 commented on #817
@jtmarmon I'm not totally following your question.

FWIW, my team has been focused on code-splitting with React-Router v4, rather than using TurboLinks. Both TurboLinks and React-Router listen on the back/forward buttons, so that causes a conflict.

[2017-04-22 10:11] justin808 commented on #549
@lmatiolis Hi! I commented:

https://github.com/lmatiolis/react_on_rails_ajax_test_project/commit/c272cc96c253c74ab4d62b4d074d53a031f4dc07

[2017-04-22 14:39] lmatiolis commented on #549
Hi @justin808, I replied there:

lmatiolis/react_on_rails_ajax_test_project@c272cc9

[2017-04-22 18:17] jtmarmon commented on #817
@justin808 so I have the following ode on the frontend:

`fetch('/my_ajax_route')`

on the backend, the request is routed to the following controller action

[code]

The response body to the client is `HTTP 200` with the following body:

[code]

[2017-04-22 18:27] jtmarmon commented on #817
ah, using jquery ujs (`$.ajax({...})`) rather than fetch fixed it for me. do you think this is worth adding to the docs? using fetch is sort of the react default so I didn't know not to use it

[2017-04-22 20:55] justin808 commented on #817
@jtmarmon Yes, I do believe it would be **AWESOME** to have a doc page:

/docs/additional-reading/rails-ujs.md

(don't forget to update this page https://github.com/shakacode/react_on_rails/blob/master/SUMMARY.md, and maybe the README.md)

If useful, I'd like to see some comparison to https://github.com/reactjs/react-rails#ujs.

[2017-04-23 07:20] Ynote commented on #782
Just for the record on this issue:

The eating quotes issue and the special characters `\u2028` and `\u2029` escaping issue on `ERB::Util.json_escape` helper method were resolved in Rails `4.1` (https://github.com/rails/rails/pull/13073).

More information about the fix: https://github.com/shakacode/react_on_rails/pull/812/files#diff-1958662b8ed5b2a812bdc2f427f01bc2R15.

[2017-04-23 09:47] #782 closed

[2017-04-23 20:23] justin808 commented on #815
Should be fixed in 6.10.1. Please reopen the issue @EdmundLeex if it isn't.

[2017-04-23 20:24] justin808 commented on #799
@squadette: Now that I merged https://github.com/shakacode/react_on_rails/pull/812, it would be very easy to do the pretty printing. Maybe this is the last thing before we go to beta for 7.0?

[2017-04-23 23:54] EdmundLeex commented on #815
👍

[2017-04-23 23:54] #815 closed

[2017-04-24 03:41] amf9t2 opened #818 "Webpack - Deploy issue after i18n changes"
I tried using react_on_rails i18n setup and followed the instruction [here](https://github.com/shakacode/react_on_rails/blob/master/docs/basics/i18n.md)

It worked well in development environment. Compiling assets via webpack and creating the artifact was smooth.

Now artifact doesn't have the client directory instead it has compiled js. When we deploy the artifact and tries to run the rails appli

[2017-04-24 15:55] amf9t2 commented on #746
Created new issue - https://github.com/shakacode/react_on_rails/issues/818
Thanks.

[2017-04-24 21:08] dzirtusss opened #819 "Performance decrease after 6.9 due to JSON.parse of already json string"
There is some performance decrease for RoR versions after 6.9 which looks like this (from our internal server-side benchmarks):
[code]
The reason for it is JSON.parsing of the already json string to hash (and later back), which should be generally just a copy-paste operation
[code]
https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/react_component/options.rb#L17

[2017-04-24 21:16] dzirtusss opened #820 "RoR gem performance tests"
It may be good to have several very basic benchmark tests for gem performance to catch degradings like e.g. #819, smth simple like:
[code]

[2017-04-24 23:27] justin808 commented on #819
Reverting the line here:

https://github.com/shakacode/react_on_rails/commit/7ccd603683af377880d4e16f56752ac7587c38b7#diff-ab00ff0a0648717a06431522f7eb6861R16

[2017-04-24 23:52] malonehedges commented on #501
FYI the README mentions this issue still

[2017-04-25 04:06] ened commented on #758
For my App, the bundle is split into frontend/backend. I can live with only the frontend being server-generated (SEO etc) while the backend is dynamic. Others might have a different setup, though?

[2017-04-25 04:12] justin808 commented on #758
@ened I'm not sure what you mean by the backend is dynamic.

[2017-04-25 04:16] ened commented on #758
@Judahmeek Yes, bad choice of words. I use server generated components on search engine visible pages (I believe that's their purpose). As the entire bundle grew too big, I split it into frontend & backend. The backend is not using any server-rendered components.

[2017-04-25 04:19] justin808 commented on #758
There's no such thing as too big for server rendering, as far as we know.

Or is there? What makes you think the bundle is too big for server rendering?

[2017-04-25 21:23] justin808 commented on #501
@dzirtusss @robwise @dylangrafmyre Heads up. We need to fix this.

[2017-04-25 21:39] justin808 commented on #501
We're keeping the [console messages in the context](https://github.com/shakacode/react_on_rails/blob/0ca17c9074835406ba0c329b7312ab18aff05ab0/lib/react_on_rails/server_rendering_pool/exec.rb#L84).

We need to clear the console logs at the end of each rendering. We seem to be doing that:

https://github.com/shakacode/react_on_rails/blob/0ca17c9074835406ba0c329b7312ab18aff05ab0/lib/react_on_rails/se

[2017-04-25 21:42] justin808 commented on #501
@mariusandra @malonehedges Any idea if we might have a memory leak? I don't think so from looking at the code.

[2017-04-25 21:44] justin808 commented on #501
One potential issue is that if a JS library has a memory leak, then server rendering will magnify this leak. We might want an option to delete the context after so X renders.

[2017-04-25 21:47] justin808 commented on #818
@amf9t2 What are you suggesting? Maybe you can make a PR for a better error message?

[2017-04-25 22:07] justin808 commented on #819
Fixed by #821 and shipped in 7.0.0.

[2017-04-25 22:07] #819 closed

[2017-04-25 22:17] amf9t2 commented on #818
@justin808 Thank for going through it. I have updated the description.

[2017-04-26 13:52] ilya4544 commented on #798
Same issue here

[2017-04-26 16:19] dsawa commented on #798
@justin808 Yes it is. Like @ilya4544 said, and me before, it's not me that I have symbol or something in translations. Those locales come from other gem.

I'll try ilya4544 workaround later.

[2017-04-26 20:30] mariusandra commented on #501
@justin808 Hey, I'm not sure. The code indeed looks like it clears the messages, but those lines were also there when I wrote my long comment in December... and they didn't *seem* to back then.

I don't know enough about V8 to guess how it stores and discards references to objects between calls that reuse contexts. Someone with more knowledge of the matter should give their opinion here :).

One o

[2017-04-27 21:52] mustmodify commented on #540
Question, though... since the generator adds that line, isn't it important?

[2017-04-27 22:16] mustmodify commented on #565
In case anyone else runs in to this, I was using puma, not foreman. When using puma you must separately run webpack using a command like:

    sh -c 'rm app/assets/webpack/* || true && cd client &&
             bundle exec rake react_on_rails:locale && yarn run build:development'

either in a separate window or in the script that starts puma.

[2017-04-28 23:40] Empact commented on #326
@imruiyeah Did you ever figure out the cause? I've run into it now.

[2017-04-29 04:09] Mahern-13 opened #826 "How do you include react-bootstrap into reactonrails"
Adding additionally libraries breaks the rendering of components in react on rails. How do you import libraries to components?

[2017-04-29 06:41] justin808 commented on #826
@Mahern-13 See the https://github.com/shakacode/react-webpack-rails-tutorial.

If you need additional personalized help, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-04-29 06:41] #826 closed

[2017-04-30 01:12] linojon opened #827 "Connecting to React..."
Hi this may not be an issue with react_on_rails but maybe you can help me. I implemented a small example project and it runs. But in Chrome when i go to the React tab it always is stuck on "Connecting to React..." Anyone else have this, know how to work around?

[2017-04-30 10:12] justin808 commented on #827
This sounds like a problem specific to your application. @linojon we can help you with our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-04-30 21:12] justin808 commented on #326
@Empact Please open a new issue.

[2017-04-30 21:13] justin808 commented on #540
@mustmodify I think the code checks. Anyway, please open a PR if it's an issue!

[2017-05-01 08:38] xiaopow opened #828 "env_stylesheet_link_tag set link domain instead of root /"
Trying to use prerender.io to prerender our react on rails site. Since the stylesheet source link is set to root /, not the actual domain. Prerender will raise 404 when fetching stylesheet application_static.

[code]

You can see the 404 on http://service.prerender.io/https://www.altcademy.com/documents/

Is there anyway we can set the stylesheet link to the actual domain so it can be fetched?

[2017-05-01 09:45] justin808 commented on #828
@xiaopow Can you try out https://github.com/shakacode/react_on_rails/pull/822, the webpacker support? This should have what you need.

**7.1.0.beta.3**

[2017-05-01 09:54] xiaopow commented on #828
Hi @justin808, I figured we can set this in config/environments/production.rb

[code]

[2017-05-01 18:28] mustmodify commented on #540
ok. So if I'm understanding your response, that line isn't needed anymore and I should open a PR to remove it from your generator?

[2017-05-01 20:47] justin808 commented on #828
@xiaopow can we close this issue?

[2017-05-02 01:55] justin808 commented on #540
@mustmodify remove what?

[2017-05-02 02:53] justin808 opened #829 "React on Rails is logging in production"
![2017-05-01_16-52-26](https://cloud.githubusercontent.com/assets/1118459/25602324/9aced764-2e8e-11e7-8781-f50dbb0fa8c1.png)

https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/config/initializers/react_on_rails.rb

[code]

[2017-05-02 03:19] xiaopow commented on #828
Yup.

[2017-05-02 03:19] #828 closed

[2017-05-02 19:12] Empact commented on #326
I solved my issue by excluding node_modules from babel loading. May have a more specific cause figured out later...

[2017-05-04 05:10] justin808 opened #831 "React on Rails v7 is not totally being obvious if npm and gem versions differ"
This might be a bug here, in that we want "React on Rails" to totally stop the Rails app if the NPM and gem versions are different.

[2017-05-04 06:16] alexfedoseev commented on #831
Details: I updated local gems incl `react_on_rails` from `6.10.1` to `7.0.4`, but DLL build had stale `6.10.1`. In this combination, SSR worked, but nothing was rendered on the client w/o any warnings or errors on both sides (rails/browser).

[2017-05-05 01:35] mattfordham opened #832 "How to set page title, description, etc"
Is there a recommended way to set a page's title, description or other <head> meta tags based on the precompiled JS?

[React Helmet](https://github.com/nfl/react-helmet) works great for managing this on the client-side, but the [instructions on server usage](https://github.com/nfl/react-helmet#server-usage) don't seem compatible with React on Rails.

Any thoughts on how to solve this problem?

[2017-05-06 09:17] #807 closed

[2017-05-06 09:18] #793 closed

[2017-05-06 09:20] justin808 commented on #832
@mattfordham recent updates support react-helmut!

https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/react-helmet.md

[2017-05-06 09:20] #832 closed

[2017-05-06 12:14] EEtancelin commented on #686
Hey Justin, what about this issue ? Should we replace
` config.logging_on_server = true` by
` config.logging_on_server = false`
?

[2017-05-06 20:07] mattfordham commented on #832
Oh sweet, thanks! So much for my Googl'ing skills ;)

[2017-05-06 23:40] justin808 commented on #686
@EEtancelin I recommend keeping this as true. If you do change to false, you'll only get logs from React on Rails in the browser.

[2017-05-07 09:06] justin808 opened #833 "Version 8 beta suggested improvements"
1. Need to document all values in this file or slim down
https://github.com/shakacode/react_on_rails/blob/master/lib/generators/react_on_rails/templates/base/base/config/webpack/paths.yml
[code]

[2017-05-07 09:07] justin808 commented on #833
@kaizencodes any ideas?

[2017-05-07 09:13] kaizencodes commented on #833
We definitely need assets. Manifestplugin uses it.

[2017-05-07 09:15] justin808 commented on #833
@kaizencodes look at the code above. The Rails env overrides the default. So by removing assets, I mean removing the default one only.

[2017-05-07 09:18] justin808 commented on #833
We need to document how this file is the glue between our configuration of the manifest plugin and the output of webpack with the new Rails asset helpers.

[2017-05-08 14:56] jasmo2 commented on #682
Hi @justin808,

I still have the same issue. Even though, I have done
`rvm @global do gem install foreman`

But it still the same :(

[2017-05-08 15:48] jasmo2 commented on #682
what solve my issue was:
[`gem update --system`](https://github.com/ddollar/foreman/issues/662#issuecomment-272129280)

[2017-05-09 19:41] justin808 commented on #347
## May 9, 2017, by Email

![image](https://cloud.githubusercontent.com/assets/1118459/25869348/b1bd27ce-349b-11e7-912c-11d05ab2bf4d.png)

[2017-05-10 04:18] xiaopow opened #836 "Code splited js chunks cannot be fetched on production"
Hey, I added code splitting to the app using [bundle loader](https://github.com/webpack-contrib/bundle-loader) and a bunch of chunks are outputted into "app/assets/webpack".

In the react app, components are lazy loaded with bundle loader

[code]

This creates a js chunk and is added to "app/assets/webpack". The chunks have names as '1.client-bundle.js', '2.client-bundle.js'. I include those files

[2017-05-10 04:32] xiaopow commented on #836
When the assets are precompiled, a hash is added to the end of the file name like this.

[code]

Could this be the reason why the file cannot be fetched on production? How can I let webpack know that the file name is actually different?

[2017-05-10 04:43] justin808 commented on #836
@xiaopow can you try with the 8.x beta and webpacker_lite?

[2017-05-10 04:44] justin808 commented on #836
`/app/assets` will not be used going forward.

[2017-05-10 05:46] xiaopow commented on #836
@justin808

Added js extensions to the following config in react_on_rails.rb and the issue is fixed.

[code]

[2017-05-10 06:07] justin808 commented on #836
FWIW, config.symlink_non_digested_assets_regex is not used when using webpacker_lite.

[2017-05-10 06:07] #836 closed

[2017-05-10 15:45] figandbones opened #837 "Referer prop is overwritten when the value contains '/users/'"
In my Rails view I have:

[code]

@init_props has a value 'referer'. In certain cases, like when referer contains /users/, the referer prop in the react app contains my rails home page, instead of the value from @init_props.

Is there a setting I can use to stop this behavior?

[2017-05-12 22:54] EdmundLeex commented on #831
@alexfedoseev Having the same issue? What's the reason causing components not being rendered?

[2017-05-14 02:47] Conturbo commented on #697
i'm gonna take it

[2017-05-14 03:09] Conturbo commented on #686
I'll take a look at this

[2017-05-14 03:11] Conturbo commented on #686
i'll try to implement this

[2017-05-14 04:04] justin808 commented on #837
@figandbones Please create a simple repro app based on the generator.

This sounds like a bug on your side.

If you want personalized attention for your app, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-05-14 07:31] serodriguez68 commented on #575
Hi!  I am just learning React on Rails and I want to make sure I am understanding the concepts right.

I'm running into the same error message described by @vsai on the original comment (No.2). If I use `registerStore` I *have* to use `redux_store` in the *view* regardless of server rendering to get the error message away.

1. Is `redux_store` necessary because of the store sharing functionality t

[2017-05-14 09:25] justin808 commented on #575
@serodriguez68 please give me the references in the docs that are not clear and I'll try to clarify.

Yes, you have to put redux_store (something like that) on the view so that we put the HTML element to populate the store.

[2017-05-14 09:35] justin808 commented on #831
@EdmundLeex make sure the npm and gem versions of react-on-rails are the same.

[2017-05-14 16:16] serodriguez68 commented on #575
@justin808 thanks for your answer.  These are the part of the docs that I think can potentially cause confusion.

Please take into account that I'm a total beginner with React On Rails (although I'm quite familiar with Rails); hence, I might just be misunderstanding the docs.

----------------------------

**1. Using `redux_store` in controller is better than in view VS Initializing Redux Store is

[2017-05-17 21:54] Conturbo commented on #829
i'm gonna take a crack at it! I'll let you know if i get stuck.

[2017-05-20 20:45] chiraggshah opened #846 "[SERVER] message: window is not defined error on server-side rendering"
I am getting the following error when setting the prerender config to true
`[SERVER] message: window is not defined`
[code]

How can I fix this?

[2017-05-21 10:46] teameh commented on #796
I think you could consider this an incompatible change since 6.9.0 of the node modules package is not compatible with 6.8.0 of the ruby / php package.

Anyway

Yeah that is a smart thing to do. @nacmartin maybe the php client should do the same? @justin808 how do you check the version with Ruby, could you point us to the relevant code?

[2017-05-21 20:07] justin808 commented on #796
https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/version_checker.rb

[2017-05-22 07:26] chiraggshah commented on #846
I am using react_on_rails 6 with mini_racer

[2017-05-22 22:30] gotno commented on #831
surely there's a way either the gem or the node package could report an error when this happens? i've been debugging blindly all afternoon and finally found this.

[2017-05-23 07:59] majercakdavid opened #847 "foreman start not working on windows"
When starting foreman on windows I get this error:

09:57:04 web.1    | started with pid 5296
09:57:04 client.1 | started with pid 17184
09:57:06 client.1 | (in D:/project/src)
09:57:14 web.1    | => Booting Puma
09:57:14 web.1    | => Rails 5.0.2 application starting in development on http://localhost:3000
09:57:14 web.1    | => Run `rails server -h` for more startup options
09:57:14 web.1    | *

[2017-05-23 10:43] dpuscher commented on #290
I ran into the same problem, where my javascript wasn't executed reliably when loading my generated `application.js` asynchronously via `javascript_pack_tag "application", async: true`.

A quick workaround was this snippet:
[code]

Maybe someone knows a better way, or did I miss something from the docs? Nowadays it should be the preferred way to load the JS async (especially when prerendering comp

[2017-05-24 09:08] justin808 commented on #831
@gotno what version are you on? In version 8.0.0, rather than Rails log.error, we're throwing to just crash.

[2017-05-24 09:09] justin808 commented on #829
Fixed by #845.

[2017-05-24 09:10] justin808 commented on #846
Hi @chiraggshah you cannot use `window` for server rendering.

Please take a look at our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf). We can give you some immediate help if you need it.

[2017-05-24 09:10] #846 closed

[2017-05-24 09:12] justin808 commented on #847
If foreman doesn't work on Windows, please google around for an alternative. Manually, you can just run the individual commands in separate command shells.

[2017-05-24 09:12] #847 closed

[2017-05-24 16:45] gotno commented on #831
@justin808 thanks! that's super helpful to know. i'm currently on 7.0.4.

[2017-05-24 22:28] Conturbo opened #848 "Gen-Examples: Capybara should not be added to generated Gemfile for rails 5.1 and above apps"
Rails 5.1 and above now includes capybara automatically. When trying to run gen-examples apps we're adding Capybara and that produces the following errors:

[code]

[2017-05-24 22:32] Conturbo opened #849 "Rails 5.1 Apps Have Package.json so we're asked to overwrite when generating"
A Pre-existing package.json from Rails 5.1 causes the generator to ask if we need to overwrite the file. We should detect 5.1+ apps and merge in our changes instead of trying to create/overwrite the file.

[2017-05-25 16:01] ceres629 opened #850 "React on Rails says file has not changed but it has..."
I'm having a problem that I've only recently noticed and I'm not sure who or what is to blame.

If I change an image without changing its name, everything works fine on my local development machine but if I push to production the image is not updated. The only way I can get the new image to take effect is to rename it, which gets tiresome fast.

I'm not sure if it is a problem with react on rails.

[2017-05-25 17:14] mattfordham opened #851 "Can't turn off client-side "trace""
Regardless of how I set "trace" in the React on Rails config (and in the `react_component` helper calls), I still get the trace.

I believe this has to do with [this line](https://github.com/shakacode/react_on_rails/blob/master/node_package/src/clientStartup.js#L108),where the `trace` variable is pulled from an HTML data attribute. Because this is a string, it always evaluates "truthy", even if it

[2017-05-26 23:57] Ancinek opened #852 "window is not defined"
I was trying to implement server rendering on my website but this error kept showing up. I get to the point that I know that any module that imports (and does not have to use it) a package (like for example Vivus.js) that uses `window` variable, will be causing this problem.

Is there any way to overcome this? Any help appreciated.

[2017-05-29 21:50] justin808 commented on #849
fixed in 8.x

[2017-05-29 21:50] #849 closed

[2017-05-29 21:51] justin808 commented on #851
Fixed in 8.x

[2017-05-29 21:51] #851 closed

[2017-05-29 21:51] justin808 commented on #850
Is this an issue with 8.x?

[2017-05-29 21:52] justin808 commented on #852
You have to remove any code from your server side code that uses `window`.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-05-29 21:52] #852 closed

[2017-05-29 21:57] justin808 opened #856 "[8.x] test helper runs to make new files, but first test run uses old files"
The test helper will properly run the script to rebuild the webpack bundles, but the server seems have loaded the older bundles, so so the server or client in integration tests needs to be told to refresh.

How do we know?

Make a change to do some logging in the JS code and the log in phantom js shows the old print statements, not the new ones that just changed.

If you change the script to build

[2017-05-30 07:57] justin808 commented on #856
Fixed by using 2.0.4 of https://github.com/shakacode/webpacker_lite.

[2017-05-30 07:57] #856 closed

[2017-05-30 07:58] justin808 commented on #848
Fixed in 8.0

[2017-05-30 07:58] #848 closed

[2017-05-30 07:58] justin808 commented on #833
Fixed in 8.0.

[2017-05-30 07:58] #833 closed

[2017-05-30 07:58] #829 closed

[2017-05-30 07:59] #837 closed

[2017-05-30 07:59] #827 closed

[2017-05-30 07:59] #850 closed

[2017-05-30 16:11] jasmo2 opened #860 "Maximum call stack size exceeded, react-router-4.1.1"
Hi I have the same issue but with react-router-dom::4.1.1.
**router.js**
[code]
**pollsContainer.js**
[code]
*SeamosApp.jsx*

[code]

the browser Error I get is the next one:

[code]

[2017-05-30 16:29] jasmo2 commented on #860
I have called PollsContainer itself that was the issue

[2017-05-30 16:29] #860 closed

[2017-05-31 19:20] justin808 commented on #704
Fixed with 8.0.0! 🎉

[2017-05-31 19:20] #704 closed

[2017-05-31 19:20] justin808 commented on #699
Fixed with 8.0.0! 🎉

[2017-05-31 19:20] #699 closed

[2017-05-31 23:47] justin808 commented on #699
As far as I know, the minification steps might break React on Rails 7.x apps, and avoiding double minification in v8 fixes the issue:

*  https://webpack.js.org/guides/production-build/#the-automatic-way

[2017-06-01 20:05] amf9t2 commented on #818
We decided to include client folder in our snapshot which was not the case earlier.

So I would say it is not an issue until-unless someone decide to scrap the client folder after running webpack.
Thanks.

[2017-06-02 06:46] oklas commented on #716
Rename HelloWorld to MainPage (like this [PR857](https://github.com/shakacode/react_on_rails/pull/857)) will be good step. You can imagine projects where there is MainPage. But it is unlikely that someone will want to have the HelloWorld in his power project. Therefore, each time everyone should rename several files and fix the code in them.

[2017-06-02 08:01] #818 closed

[2017-06-02 17:38] damiong28 commented on #385
I had this same issue installing 8.0.0 to my existing app on rails 4.2, I added the following snippet to the bottom of the react_on_rails.rb initializer, restarted the server and it worked. `ActiveSupport.on_load(:action_view) do
  include ReactOnRailsHelper
end
`

[2017-06-05 06:26] justin808 commented on #385
@damiong28 Any change to the docs or code needed? @gauravtiwari, have you seen this with Webpacker?

[2017-06-05 16:37] jkgatt opened #864 "Wrong link in the tutorial"
While going through the tutorial there is the following written:

But this should be changed to:

[2017-06-07 05:14] justin808 commented on #864
Thanks! I updated:

![image](https://user-images.githubusercontent.com/1118459/26863106-56b6c012-4b05-11e7-80b6-f3f7bb2cb6c2.png)

[2017-06-07 05:14] #864 closed

[2017-06-07 14:17] ledestin commented on #716
Just to let you know I'm working on this feature.

[2017-06-07 17:09] bjankord opened #866 "Option to generate a react_on_rails site that uses npm instead of yarn?"
With the changes in https://github.com/shakacode/react_on_rails/pull/715, is there still an option to generate a react_on_rails site that uses npm instead of yarn or yarn now the baked in option?

[2017-06-08 07:19] justin808 commented on #866
We removed that. We could add an option in the generator. It would be fairly straightforward to parameterize this. @bjankord I'm open to you submitting a PR on this.

[2017-06-08 07:25] justin808 commented on #772
We need to update https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/hot-reloading-rails-development.md with what was done on https://github.com/shakacode/react_on_rails/pull/865

Any volunteers?

[2017-06-09 13:38] PierreGUI opened #868 "Placeholder content while waiting for component rendering?"
Hi there,
Thanks for this amazing gem, really good work!

I'm working on improving the user experience on first page load. I use few components across the page (shared redux store). Even though components are quite small my bundle still is a few hundreds of kB and it can take a while to load with slow connection. While bundle is loading, page shows HTML but none of the React content, which can con

[2017-06-09 18:03] alainbloch opened #870 "react_on_rails 8.0.2 is NOT compatible with ruby 2.1"
In `lib/react_on_rails/prerender_error.rb` lies the new [squiggly heredoc](https://infinum.co/the-capsized-eight/multiline-strings-ruby-2-3-0-the-squiggly-heredoc) syntax. This is only available in ruby 2.3 and above, and will throw an exception if ran on ruby 2.1

[2017-06-09 18:41] justin808 commented on #870
Fixing in #867.

`Rubocop -a` did that!

[2017-06-09 21:10] justin808 commented on #870
@alainbloch I think that rubocop may have done that...Please confirm 8.0.3 fixes the issues.

[2017-06-09 21:10] justin808 commented on #870
#867 was merged.

[2017-06-09 21:10] #870 closed

[2017-06-09 21:12] justin808 commented on #347
## June 9, Github Issue [#868](https://github.com/shakacode/react_on_rails/issues/868)

![image](https://user-images.githubusercontent.com/1118459/26994714-9aac5bb4-4d1d-11e7-8091-a3b08da9b319.png)

[2017-06-09 21:20] justin808 commented on #716
@ledestin Please be sure to see the details in https://github.com/shakacode/react_on_rails/blob/master/CONTRIBUTING.md and feel free to ping me when you're ready for review.

Most importantly, we'll want to add an option to the super awesome generator testing developed by @robwise.

[2017-06-09 21:26] justin808 opened #871 "Turn off source maps for test webpack files!"
If using phantomjs with #react_on_rails with #webpacker see https://github.com/teampoltergeist/poltergeist/issues/830#issuecomment-306473656. New setup supports this config in only test gen files!💥

![image](https://user-images.githubusercontent.com/1118459/26995047-82844324-4d1f-11e7-9962-a2dc5e7664c9.png)

As a note to future searchers, it appears that PhantomJS has troubles with certain types o

[2017-06-09 21:27] justin808 commented on #871
@Conturbo, can you try this out in both React on Rails (here) and the https://github.com/shakacode/react-webpack-rails-tutorial.

[2017-06-09 21:54] justin808 commented on #868
@PierreGUI See this article:

[Rearchitecting Airbnb’s Frontend](https://medium.com/airbnb-engineering/rearchitecting-airbnbs-frontend-5e213efc24d2) and scroll down to lazy loading. Does that give you some ideas?

Why not use server rendering?

[2017-06-10 19:25] justin808 opened #872 "Bump Linter Version"
We need to bump [this line](https://github.com/shakacode/react_on_rails/blob/master/package.json#L26)

https://github.com/shakacode/style-guide-javascript

To v15.0.0:

[code]

[2017-06-12 09:41] PierreGUI commented on #868
Hey Justin thanks for your answer :)
This approach is interesting indeed, I might give a try loading my important component first then async-load what's left. Still, it doesn't fully solve my issue:

This would be React + ReactDOM (and Redux, etc...). At least 400kB (before gzip), it's definitely a OK size (mine is bigger) but I still think showing some HTML while downloading would be better for s

[2017-06-13 14:50] PierreGUI commented on #868
So I managed to get what I want using server-side rendering (again, awesome work with react on rails). I got one special bundle that gets rendered server side to serve an HTML placeholder \o/

Took me about a day to change my webpack config, split my bundle, fix some other stuff (including monkeypatch execJS context to have native I18n :') ) etc...

Seriously, I believe this would be an awesome fe

[2017-06-13 16:19] justin808 opened #874 "Remove display of node option from generator"
No need to show the node option. It's not supported.

[code]

[2017-06-14 04:25] serodriguez68 opened #875 "react_on_rails 8.0.0 not generating production builds by default"
I upgraded a project I built for learning purposes from react_on_rails version 7 to version 8.0.0 and noticed that when deploying to Heroku, webpack no longer generates a minified production build of React (I can tell because I'm using the react extension for Chrome).

I upgraded using the generator from scratch and moving my code to the newly generated /client folder.

The source code of my proje

[2017-06-14 14:54] #654 closed

[2017-06-14 15:07] ljphipps opened #876 "propTypes not working on functional components included directly in Rails view"
I have a react function component being included in a Rails view as such:
`#map = react_component('Map', props: { token: 'string', lat: 39.000, lng: -76.000, radius: 5.5 })`

And the component like this:
[code]

The problem is, no matter what I define the types as or send them as, none of the PropType validators are ever fired. However if I define this same component as a class, I get the expected

[2017-06-15 22:57] justin808 commented on #875
@serodriguez68 Good catch.

In the case of the generator, we're generating the simplest possible

[2017-06-15 23:07] justin808 commented on #876
FWIW, I put the propType validation afterward:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/components/NavigationBar/CommentsCount.jsx

[code]

If you have addition React specific questions, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-06-15 23:07] #876 closed

[2017-06-15 23:11] justin808 commented on #868
@PierreGUI I'd love to see some sample github repos and possibly some suggestions or actual PRs for React on Rails, and maybe the https://github.com/shakacode/react-webpack-rails-tutorial.

[2017-06-16 00:15] robwise commented on #875
yeah use `-p` for the production script

[2017-06-16 14:54] Jacfem commented on #623
Thank you for posting this solution, I just encountered the same error and this fixed it!

[2017-06-18 14:18] ethanbonin commented on #432
Don't know if people are still having an issue.
The problem does lies with the webpack.config.js _when_ you end up just renaming the "HelloWorld" Folder from the Example React install.

With the entry, it is originally like so
[code]

So if you just quickly update that last line './app/bundles/$YOUR_FOLDER_NAME/startup/registration', Then it will find all your components.

[2017-06-22 22:06] ceres629 opened #879 "Documentation missing/unclear on RailsContext?"
I can't seem to find any solid information on how railsContext works and how to access the railsContext from within a component.

I have some server side size variables such as ENV variables that I want react components to be able to access. Normally I'd just pass them as props however reading the documentation it says:

I thought this mean I could set up a rails_context to contain the information

[2017-06-23 05:12] shikendon commented on #875
And I found the `devBuild` variable in webpack.config.js always be `true` because of issue #877. It should be able to generate minified js file correctly after fix that.

[2017-06-24 02:16] gamesover commented on #749
I like this css module way. I'll learn and apply to my projects since now on

[2017-06-25 19:53] kooinam opened #880 "Preloading/fetch data in javascript for server rendering"
We are currently serving data from a third party service and I would like to preload/fetch the data in JS from the source at server rendering. We had able to serve ready template to our users, but our users would have to load the data from another source. Any way we can serve the template with ready data? Like serving a promise when registering component.

One example im looking at
https://blog.ta

[2017-06-27 18:39] rhryniow commented on #562
Hello,

There is one slight problem with this approach - the file generated is inside gems public folder and then the application cannot find it - unless we modify somehow webpack paths.

I've added simple copy to get the files into Rails.root public folder but not sure if this is a best approach

[2017-06-28 04:47] atinder opened #881 "Possible to use react-scripts instead of webpack ? And react-md integration ?"
Hey guys,
thanks for the awesome gem, I was wondering if one can use react-scripts for build instead of webpack config.
Having hard time integrating react-md https://github.com/mlaursen/react-md css , files are not being generated.

[2017-06-29 17:31] MiguelSavignano commented on #879
Hi, @ceres629
I use the rails context a lot in my app. To sure you load the context appropriately
 see https://facebook.github.io/react/docs/context.html.

The child component need define contextTypes
[code]
I miss a good documentation for react on rails context, I implemented a custom context provider and pass the context in as a prop.

[2017-06-29 18:14] MiguelSavignano opened #883 "Styled Components Server Side Rendering"
I need enable the server side rendering for styled components.
But I don't know how to enable this with the React on Rails API for server side rendering.

In the [documentation](https://www.styled-components.com/docs/advanced#server-side-rendering)  of styled component this it's a example

[code]

But I don't know how to enable with React on Rails.

[2017-06-29 18:47] MiguelSavignano commented on #881
Hi @atinder.

React on Rails it's great for integrate other npm packages but each package must be configured differently.
The Css have many problems to integrate but the simple way it's copy the link url or css files and use i't with the rails asset pipeline.

[code]

See the github for react-md and copy all css files and use it with rails asset pipeline
https://github.com/mlaursen/react-md/tree/m

[2017-06-30 04:39] atinder commented on #881
Hi @MiguelSavignano
thanks for answering, I didn't want to use rails asset pipeline for react stuff. It clutters the rails app quickly. want to keep react separate so that its easier to detach later on if needed.

[2017-06-30 17:41] MiguelSavignano commented on #881
Hi @atinder
I would like to help you because I've had the same problems with other npm packages.
I miss a documentation of what is the best way to do something like this.

I have tried to make an example that works with React on rails and react-md see it in my github
https://github.com/MiguelSavignano/example-react-on-rails-react-md

I hope I could have helped you.

[2017-07-02 19:47] justin808 commented on #883
@MiguelSavignano I'm not clear on why you'd use this over CSS-Modules which work fine with React on Rails on Server Rendering. That being said, please document your experiences and consider adding doc PR file to our /docs/additional-reading. If you need a code change to make this work, please submit a code PR with a good example.

[2017-07-02 19:50] justin808 commented on #881
@MiguelSavignano @atinder The Asset Pipeline should not be in the discussion as React on Rails v8 deploys all webpack generated files directly to the /public directory.

In terms of using https://github.com/facebookincubator/create-react-app/tree/master/packages/react-scripts/scripts, that doesn't seem to make sense as you need to configure Webpack for React on Rails.

[2017-07-02 19:50] #881 closed

[2017-07-02 19:56] justin808 commented on #880
@kooinam I have never tried running an async call from server rendering. I don't think there is any need to. You can run the async call from your ruby code and pass in the values. And you can run the asynch call on the client only if you need to. In other words, don't re-run if you already have data.

Please let me know if this answers your question. I'll re-open this issue if there's further rese

[2017-07-02 19:56] #880 closed

[2017-07-02 21:36] justin808 commented on #879
I created an example:

https://github.com/shakacode/v8-demo/pull/2

I'm working on making the documentation more clear.

[2017-07-02 21:54] justin808 commented on #879
See #886, @MiguelSavignano and @ceres629. Please review.

[2017-07-02 23:05] MiguelSavignano commented on #883
Hi thanks for your answer, my experience with styled components was very satisfactory and I currently have all my ui written with styled components.
So I would like that ReactOnRails be able to give us the possibility of using libraries that compiles CSS in the server side. Like the libraries: [aphrodite](https://github.com/Khan/aphrodite#server-side-rendering), [styled-components](https://www.sty

[2017-07-03 18:24] MiguelSavignano commented on #879
The example with generator function it's great but Why if my component it's a React Class the context don't appear.
[code]

And other thing i try to add new context key like params_action or current_user_id I try to override rails_context helper method but this method it's private and I can't do this.

[2017-07-03 20:59] justin808 commented on #879
@MiguelSavignano There's no reason that the railsContext would ever get passed to your React component unless the value is explicitly put into the props used for rendering. If you create a react component, rather than a generator function, for use by React on Rails, then you get whatever props are passed in from the view helper, which **does not include the Rails Context**. It's trivial to wrap yo

[2017-07-03 21:27] justin808 commented on #879
@ceres629 @MiguelSavignano Please see my updates to #886 and review.

[2017-07-03 21:54] justin808 commented on #883
@MiguelSavignano This sounds intriguing.

However, we don't need an additional API. We can simply have the server rendering return an additional key besides the HTML, and if so, then the right thing happens server side.

See https://github.com/shakacode/react_on_rails#generator-functions

And what we did for react-helmut. You can do something similar. Please create a new PR with the docs and examp

[2017-07-04 21:22] vpfaulkner opened #887 "Nesting Yield"
Hello,

I'm building an application that will always have a left side-menu present and so I'm trying to stick that logic for rendering this side-menu in `app/views/layouts/application.html.erb`. However, the side-menu I'm using is a React component (https://react.semantic-ui.com/modules/sidebar#sidebar-example-left-push) and is setup in such a way that all of the content that sits to the right of

[2017-07-05 04:22] justin808 commented on #879
@MiguelSavignano and @ceres629, while I merged, I'd still like to get your feedback.

[2017-07-05 04:32] jasonblalock opened #888 "Install generator fails in environment without Git"
When running the install generator in an environment without Git, it will fail to run citing:

[code]

It will still fail when using `--ignore-warnings` because it tries to evaluate what git status is coming back before looking at the ignore flag. I ran into this specifically because I use docker and exclude the `.git` folders from my containers.

[2017-07-05 19:22] MiguelSavignano commented on #879
@justin808 Thanks for update the docs and include both examples.

[2017-07-06 23:05] justin808 commented on #887
@vpfaulkner I don't see a way that you can nest Rails rendering inside of your React component unless maybe doing some remote call to the rails server to retrieve HTML in a JSON response.

Please reopen this issue if you believe this to be appropriate. A better venue for this question would be on https://forum.shakacode.com.

[2017-07-06 23:05] #887 closed

[2017-07-06 23:05] #879 closed

[2017-07-06 23:09] monarajhans opened #890 "Yarn cannot invoke webpack"
I have followed the documentation and I am trying to deploy this from my capistrano server but I am getting the error "webpack: not found" (details listed on #error_message).

#gemfile
gem "react_on_rails", "8.0.0"
gem 'capistrano-yarn'

#client/package.json
"scripts": {
    "build:server": "webpack --config webpack.server.rails.build.config.js",
    "build:test": "NODE_ENV=test webpack --config w

[2017-07-06 23:25] justin808 commented on #890
You need to install Webpack.

If you want personalized help, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-07-06 23:25] #890 closed

[2017-07-06 23:54] monarajhans commented on #890
But I have yarn which should install webpack as it is a dependency mentioned in my package.json file. Why do I need to install webpack separately?

[2017-07-07 00:17] justin808 commented on #890
@monarajhans Take a look at your path. I've seen some issues where $(yarn bin) is not in the path when invoking scripts. Maybe you can put in some debug printing in the output?

[2017-07-07 03:08] monarajhans commented on #890
Thank you @justin808, that fixed my issue! 👍

[2017-07-07 03:24] justin808 commented on #890
@monarajhans can you please post what fixed your issue?

[2017-07-07 17:05] monarajhans commented on #890
I added "postinstall": "cd client && npm install && echo \"Postinstall running\"", to package.json

[2017-07-10 13:16] serodriguez68 commented on #875
Ideally the generator should produce a client/package.json file that is ready to go for production builds.  I'm not familiar with react_on_rails codebase so I'm not sure where to make the change to make this happen.

Does doing the following change on [this file](https://github.com/shakacode/react_on_rails/blob/master/lib/generators/react_on_rails/templates/base/base/client/package.json.tt) makes

[2017-07-10 19:58] justin808 opened #891 "Test Helper Changes for Webpacker and generator hashes all files"
If one configures the webpack output to always uses hashes, then the test helper is broken as the files for `config.webpack_generated_files` need to be hard coded.

# Issues
- [ ] Generator is broken if we should not be hashing non-production
- [ ] `config/initializers/react_on_rails.rb` for `config.webpack_generated_files` should allow passing the bundle names rather than the files. Alternately,

[2017-07-10 23:38] justin808 commented on #875
@serodriguez68 💯

Please submit a PR and I'll merge it!

Even better if there's a unit test!

Also, please see https://github.com/shakacode/react_on_rails/blob/master/CONTRIBUTING.md for some basic PR hygiene like updating the https://github.com/shakacode/react_on_rails/blob/master/CHANGELOG.md

[2017-07-11 00:56] MiguelSavignano commented on #883
Hello, I'm @justin808  I'm working on, but I'm not very clear why this error comes out and how should I fix it.
I try

[code]
the error it's this:
Uncaught Error: ReactOnRails encountered an error while rendering component: HelloWorld.
Original message: You returned a server side type of react-router error: {"renderedHtml":"<div data-reactroot=\"\" data-reactid=\"1\" data-react-checksum=\"57390928

[2017-07-11 03:41] thebucknerlife opened #892 "Accessing Assets in React on Rails 8.0.0"
Hi,

I'm trying to get images in the asset pipeline working in React on Rails 8.0.0. I noticed in the docs that they need updating:

here: https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/rails-assets-relative-paths.md

I'd love to know how to do this but I don't fully understand to open up a PR myself.

Any guidance or a push in the right direction on how to access

[2017-07-11 08:23] justin808 commented on #892
@thebucknerlife Any PRs to help me with the docs would be super welcome. Basically, there's a lot less "magic" when you have webpack configured to publish to your public directory. Things should "just work" with no special actions needed. Note, there's two main types of images:

1. Images used as background images in CSS.
2. Images used in image HTML tags (use the file-loader or url-loader from we

[2017-07-12 02:00] thebucknerlife commented on #892
@justin808 some questions:

1. is webpacker lite configured by default to publish to the public directory? (I'm not seeing this when I run foreman)
2. should images in `app/assets/images/` automatically be published to `public/`? or should image assets be placed elsewhere.
3. is the behavior different in development versus production? (I'm only running this locally right now).

Thank you for your

[2017-07-12 08:53] justin808 commented on #892
Webpacker Lite is just the view helper. You configure Webpack on where to publish.

Take a look at https://github.com/shakacode/react_on_rails/tree/master/spec/dummy/client/app/assets/images

That is how you want to do it. The images should be in the /client directory and Webpack will publish them to the /public directory.

Up to you. In production, assets **MUST** be hashed. In development, the a

[2017-07-12 15:06] serodriguez68 commented on #875
Ok I just submitted [PR 893](https://github.com/shakacode/react_on_rails/pull/893) that fixes that.

[2017-07-12 20:52] monarajhans opened #894 "Unit-testing with Jasmine"
Hi,

Do you have a documentation page that I can refer to add Jasmine unit-tests on top of my already available jasmine tests for the react code that I am writing?

I am continuously just seeing "Uncaught SyntaxError: Unexpected token import" for my files.

[2017-07-12 21:55] justin808 commented on #894
@monarajhans We don't have any client side docs. I'd consider posting this sort of question to https://forum.shakacode.com.

If you can submit a new doc page to https://github.com/shakacode/react_on_rails/tree/master/docs/additional-reading, my team will review this.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pd

[2017-07-12 21:55] #894 closed

[2017-07-14 00:04] rteobaldo commented on #338
@szyablitsky thanks very much, this worked with me too.

[2017-07-14 18:22] esshka commented on #883
It works for me

[code]

in Rails view

[code]

[2017-07-16 00:12] justin808 opened #896 "server_bundle_js_file_path is trying to use a CDN"
Seems like we're trying to get a CDN file when server rendering. We should probably Always get a local file:

https://github.com/shakacode/react_on_rails/blob/6ab61e3ad9df4ad5e1972b5f9d35ff8af69af4fe/lib/react_on_rails/utils.rb

[code]

Per this search:

https://github.com/shakacode/react_on_rails/search?utf8=%E2%9C%93&q=bundle_js_file_path&type=

[2017-07-17 07:30] #888 closed

[2017-07-17 07:49] justin808 commented on #896
Could be related to https://devcenter.heroku.com/articles/using-amazon-cloudfront-cdn#adding-cloudfront-to-rails
[code]
in in your production.rb

That’s probably the reason we’re getting this…

Looking at the code:

[code]

`ActionController::Base.helpers.asset_pack_path(bundle_name)` must be picking up the action_controller.asset_host

[2017-07-17 11:22] EEtancelin commented on #872
Hi Justin what do you mean by bumping all npm dependencies ?

[2017-07-17 13:19] EEtancelin commented on #874
HI justin,

Just tried to delete the Node Option. But obviously lead some test to fail.
Should we delete everything in the codebase related to node generator ?

[2017-07-17 17:02] justin808 commented on #874
@EEtancelin I think so, at least the tests for this. It's not needed at this point.

[2017-07-18 07:41] justin808 commented on #872
All NPM versions in all the package.json files.

[2017-07-19 06:49] yankeehack opened #900 "react_on_rails deployed through marathon on EC2 container does not receive any requests"
Hey, Shakacode team,
react_on_rails is such a nice gem that worked for us for the most part.

However, when we try to put it into production using marathon and EC2, we are having some hiccups
basically, after everything is built.
`AssetSync: using /app/config/initializers/asset_sync.rb
  [1m[36mActiveRecord::SchemaMigration Load (0.6ms)[0m  [1mSELECT "schema_migrations".* FROM "schema_migratio

[2017-07-19 07:42] justin808 commented on #900
@yankeehack Try to create a minimal reproduction case and let me know what you find.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-07-21 20:29] alfredvaa opened #903 "Is the webpack assets supposed to be in git or not?"
When using Heroku, the assets generated with assets:precompile should be added to git. Is it the same for the webpack assets in public/webpack/production?

It seems to me that the webpack assets does not exist when running the app from heroku, but the /public/webpack/* is on the other hand in .gitignore which implies that they should not be added...

How is it supposed to work?

[2017-07-22 00:48] justin808 commented on #903
Where is this documented? I believe the precompiled assets *should **never** be added to git*.

See my previous statement

`.gitignore` is for developers so git knows that stuff in the deployment directories is not a **pending** change.

Have I answered your questions above?

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching

[2017-07-22 00:48] #903 closed

[2017-07-22 06:04] alfredvaa commented on #903
@justin808 It is in the Heroku dokumentation: https://devcenter.heroku.com/articles/rails-asset-pipeline _"Adding public/assets to your git repository will make it available to Heroku..."_

I don't need a Coaching Plan, but it would be great with a complete documentation, this part seems to be out of date: https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/rails-assets

[2017-07-22 06:19] justin808 commented on #903
@alfredvaa The Heroku docs are an inferior way.

We'd love a PR to help!

[2017-07-22 08:25] alfredvaa commented on #903
I guess that I kind of solved this for now. Instead of adding the precompiled assets to git, I let Heroku manage the precompilation. But for this to work there should not be a sprocets-manifest file in the public/assets folder added to git, so I had to remove that first (this should probably be added to .gitignore). I also had to set up buildpacks to use one for nodejs and one for ruby, but that i

[2017-07-22 18:55] justin808 commented on #900
@yankeehack we can re-open if you find an issue. Feel free to get in touch directly.

[2017-07-22 18:55] #900 closed

[2017-07-24 12:14] EEtancelin commented on #772
I go for it :-), i want easy hot module replacement on my project.

[2017-07-24 19:55] justin808 commented on #772
@EEtancelin I've changed the tag on this one to mark it as owned by you. Please get back to me soon to let me know of the progress and any questions.

[2017-07-27 15:41] ben-mvi commented on #567
anyone know how to solve this issue using create-react-app. Im no react expert but Im told that when using create-react-app the previous said solution doesnt apply?

[2017-07-27 22:05] justin808 commented on #567
@ben-mvi you can use the JS client side code (not Webpack) from create-react-app. Use what you find in the default generator to inspire your Webpack config. Other places to look include the webpack configs found:

* https://github.com/shakacode/react_on_rails/tree/master/spec/dummy/client
* https://github.com/shakacode/react-webpack-rails-tutorial/tree/master/client

[2017-07-28 07:57] MinhNguyen41092 opened #905 "Fail to render component."
Hi Shakacode team.

I'm having an issue when trying to render my react component. After following the installation steps the generated example works perfectly fine. But when I added a new component like this:
[code]
The registration file:
[code]
In the view I add:
`<%= react_component "Users" %>`
But when I enter the page, it produces this error in the console:
[code]
And nothing happens in the vi

[2017-07-28 10:03] lucaskuan commented on #385
As all other developers here, I found this problem in my Rails 5 and React on Rails 8.0 setup. I thought it cause by my docker build setting but no.
I fixed it by adding `ActiveSupport.on_load(:action_view) do include ReactOnRailsHelper end` at the end of `initializers/react_on_rails.rb` or including `ReactOnRailsHelper` in `application_helper.rb`

[2017-07-29 18:11] justin808 commented on #385
@alexeyMohnatkin Can you take a look at this?

@samnang @mapreal19 I think we need to copy this pattern:

[webpacker/railtie.rb](https://github.com/rails/webpacker/blob/master/lib/webpacker/railtie.rb#L12)

[code]
[webpacker/lib/webpacker.rb](https://github.com/rails/webpacker/blob/master/lib/webpacker.rb)

[code]

[2017-07-29 18:14] justin808 commented on #905
Your error is

[code]

You need to figure out why you are doing a get on that file. Check out your main layout.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-07-29 18:14] #905 closed

[2017-07-30 18:56] saroar opened #909 "How do I add redux in my exit react_on_rails app"
Thanks

[2017-07-31 05:30] justin808 commented on #909
If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-07-31 05:30] #909 closed

[2017-07-31 19:30] ezmiller commented on #332
@justin808: so does react on rails now support React Hot Loader? I have been looking through the threads but can seem to locate a PR that added support...

[2017-07-31 20:05] justin808 commented on #332
Hi @ezmiller,

We certainly support it, but you'll have to configure it yourself. @Judahmeek got it working on https://github.com/shakacode/react-webpack-rails-tutorial.

Is there any chance of you giving me a hand with the PRs that put React on Rails on top of Webpacker:

* https://github.com/rails/webpacker/pull/601
* https://github.com/shakacode/react_on_rails/pull/908

Other links:

* [9.0.0.b

[2017-07-31 20:32] ezmiller commented on #332
@justin808: I'd like to help, but time is limited. What exactly do you need help with? You are trying to get react on rails to work through webpacker?  I've not used webpacker so am unfamiliar, but it looks like it delivers webpack assets more seamlessly in rails?

[2017-07-31 20:50] justin808 commented on #332
@ezmiller Can you try to make hot reloading work with the beta version of the gem? https://rubygems.org/gems/react_on_rails/versions/9.0.0.beta.1

Maybe take some notes and let me know where you get stuck and I'll help you out.

[2017-08-01 09:08] JCBoptimumweb commented on #563
same issue here but adding .DS_Store to .gitignore did not render a solution, will continue my google search and add the answer back here as this is the 1 place for the search ERROR: You have uncommitted code. Please commit or stash your changes before continuing

[2017-08-01 18:53] ezmiller commented on #332
@justin808 hmm still using an older version, so will need to manage the upgrade first. I will try to circle back to this. Have another issue I have to deal with first.

[2017-08-04 08:30] RKushnir commented on #489
This issue is still present in 8.0.6.
I installed the js package as follows: `yarn add react-on-rails@8`, and the gem tries to parse "8" with "major.minor.patch" regex.

[2017-08-04 08:34] RKushnir commented on #489
So it's been reverted to the broken version here https://github.com/shakacode/react_on_rails/commit/251fa75498a333d11e4c76d06b4065c951b39817#diff-0c19a2d62c614c09b80b965b9aa73eac

This issue needs to be re-opened.

[2017-08-04 19:46] justin808 commented on #489
@RKushnir We require the full X.Y.Z version number to stay in sync between the gemfile and the package.json. The reason:

In case we deploy a change that has a bug, we may need to update both the Gem and the NPM version and require both are at the same exact version.

[2017-08-04 21:12] RKushnir commented on #489
@justin808 I understand that, but the parser should tell what the problem is, not just fail with a random exception. To figure it out, I had to explore the gem source and debug the reason of failure, quite inefficient.

[2017-08-04 23:08] cshupp1 opened #910 "yarn run build:test fails on linux"
I am quite new to react on rails, so user error is a great possibility...
When running 'yarn run build:test' on windows it works.

When running the build on linux:
[code]

I am unsure how to handle this.  Any ideas?  It appears I really need to do this before running my tests.

Thanks,

Cris

[2017-08-04 23:13] justin808 commented on #489
@RKushnir Any chance that you can submit a PR for a better error message?

[2017-08-04 23:13] justin808 commented on #489
u

[2017-08-09 16:08] cbetta opened #912 "Offline support with service workers"
Has anyone every rolled offline support for their apps built with `react_on_rails`? Would love to have some pointers on where to start or what would work the best.

[2017-08-10 08:33] justin808 commented on #912
@cbetta  You are the first one to bring this up.

[2017-08-11 08:52] justin808 commented on #563
@JCBoptimumweb @vmpj Why is the spring gem causing an issue?

[2017-08-11 08:53] justin808 commented on #910
@cshupp1 you probably don't have babel correctly configured. We'd have to debug this.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-08-11 08:53] #910 closed

[2017-08-14 18:42] profsmallpine commented on #495
@cubadomingo Thanks mate.

[2017-08-15 18:20] morozovm commented on #814
Hi @justin808 I need some guidance. I was able to make "gem" tests to run on rails 3.2 (without generators tests and webpack related tests) #914
What exactly do you like to see in /spec/dummy-rails3 ?
Maintaining two very similar dummies seems cumbersome, I explored the possibility of running /spec/dummy on older versions and was able to run on 4.2 but not lower since /spec/dummy depends on webpac

[2017-08-16 07:34] justin808 commented on #814
@morozovm: I reviewed and it looks great.

[2017-08-17 03:16] ndbroadbent opened #917 "Webpack binstubs not found during production assets compilation"
I'm trying to use react_on_rails `9.0.0.beta.8`, but I'm getting very confused. My Gemfile includes:

[code]

`cd client && yarn run build:development` works fine in development, and I'm able to use the `javascript_pack_tag` and `stylesheet_pack_tag` helpers. `react_component` and `redux_store_hydration_data` are also working fine in development.

When I run `rake assets:precompile`, I get the err

[2017-08-17 06:07] justin808 commented on #917
@ndbroadbent Webpacker is overriding the precompile from React on Rails. Thanks for letting me know about this issue. I'm going to try to fix this tonight.

[2017-08-17 09:09] justin808 commented on #917
see 9.0.0.beta.10

be sure to run `bundle update webpacker`

[2017-08-17 09:54] clthck opened #918 "Option for generating custom react_on_rails path instead of `./client` path"
Since Rails 5.1, we have `package.json` and `node_modules` folder in the root path of the Rails app.
With `react_on_rails`, we are going to have another `package.json` and `node_modules` inside `client` folder. I've always thought of this folder structure not very intuitive and helpful while using `react_on_rails` gem.

Here's what my structure looks like when using this gem:

[code]

Although `re

[2017-08-17 22:46] ndbroadbent commented on #917
@justin808 Thanks for your help! I updated to `react_on_rails` version `9.0.0.beta.9`, and also updated the `webpacker` branch to `issue-464-merge-webpacker-lite-into-webpacker-v3`. I saw [this commit](https://github.com/shakacode/webpacker/commit/89a59a3ceb7d6e5c9eaab01b841efa568564d21d), so I added `custom_compile: true` to my `config/webpacker.yml`.

When I run `rake assets:precompile`, now I'm

[2017-08-17 22:47] ndbroadbent commented on #917
P.S. I removed all of the files generated by `rails webpacker:install`, because it doesn't seem like those are necessary if there's a "custom compile".

[2017-08-18 05:33] justin808 commented on #917
@ndbroadbent My guess is that you added `custom_compile: true` to somewhere other than the default section. If you look at my commit in the webpacker branch, the code to do `/Users/ndbroadbent/.rvm/rubies/ruby-2.4.0/bin/ruby: No such file or directory -- ./bin/webpack (LoadError)` cannot run.

Please let me know what you see.

[2017-08-18 05:39] justin808 commented on #918
@clthck We could certainly make this customizable in the config/initializers/react_on_rails.rb.

I'd happily consider a PR for this.

[2017-08-18 05:40] #912 closed

[2017-08-18 05:51] clthck commented on #918
@justin808 Maybe I didn't make it clear enough in my first comment. Having an option to customize `client` folder path is not a priority for me at the moment. I think it will make me a little happier if the gem doesn't prepend `cd client && ` to the `config.npm_build_production_command` while hooking precompiling assets process, and `react_on_reails` generator explicitly sets the `config.npm_build

[2017-08-18 06:02] justin808 commented on #875
Fixed in #895.

[2017-08-18 06:02] #875 closed

[2017-08-21 17:44] justin808 commented on #917
This is fixed in the latest beta, @ndbroadbent

[2017-08-21 17:44] #917 closed

[2017-08-24 10:09] thomassnielsen opened #921 "Activate component loaded asynchronously"
We have a legacy system where we load parts of a form asynchronously. Now we want to replace parts of that form with react components. However, if I use `react_component` in a template that's loaded via an xhr request, it doesn't activate. If I use `prerender: true` the component renders, but it isn't rehydrated.

Is there anything I can call to activate the component from the template?

[2017-08-24 18:06] justin808 commented on #921
@thomassnielsen Try out: https://github.com/shakacode/react_on_rails/blob/master/node_package/src/ReactOnRails.js#L83

If you don't want to reload everything, see what that function calls. Feel free to ask me to re-open this.

[2017-08-24 18:06] #921 closed

[2017-08-30 09:48] avatarr opened #923 "WebpackerLite can't find the manifest in Production server"
I've just deployed my application to digitalocean, everything is work fine except I can't access client and UI don't show on a screen. I've checked on server log I got

[code]

I not found any solution in a wiki. Anyone help me to solve this please.

Ps. this log it's docker log

[2017-08-31 03:19] justin808 commented on #923
You need to configure your deployment to run rake assets:precompile, and that _should_ invoke webpack for the production build.

Carefully scan your deployment logs and you will see the solution.

[code]

If you need additional help, please reach out.

[2017-08-31 03:19] #923 closed

[2017-09-02 09:24] chhuang commented on #887
Is it possible to do something like this?

[code]

And then in my component:

[code]

[2017-09-02 14:15] monkseal opened #924 "Disabling rake tasks overrides of asset:precompile"
Hello, I have the latest from the `rails-webpacker` branch working in an existing project that has `webpacker` (with a ton of legacy jquery). My project setup has some differences from the react_on_rails defaults, specifically, it has all the js in `app/javascript`. Everything is building correctly with webpacker and  ReactOnRail, server-side rendering in development but I have to disable the over

[2017-09-03 05:05] fantasydong commented on #448
@Tamiyadd I have the same question like yours. My app has several pages and each page has it own js file. So I want to make all the pages to support server side render but the gem can only set one server render js file. So Have you find out a way to do this? @justin808 @martyphee FYI. Thanks a lot.

[2017-09-04 20:34] justin808 opened #925 "Flexibility in configuration of directories to better support rails/webpacker?"
I'm considering a couple of options for React on Rails regarding directory configuration to work better with rails/webpacker.

* *Client Side Code*: All files related to generation of client side bundles, including JS, CSS, images, webpack configuration, node modules, etc.
  * `/client/node_modules`
  * `/client/package.json`

* rails/webpacker directory structure:
  * `/app/config/webpacker.yml`

[2017-09-04 20:37] justin808 commented on #924
@monkseal I'm in the middle of the 9.x release. You can disable the precompile per the instructions in this doc: https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/heroku-deployment.md

[2017-09-04 20:38] justin808 commented on #918
See #925.

I'm in the middle of making this change for 9.0!

[2017-09-04 20:38] #918 closed

[2017-09-05 20:18] ezmiller commented on #332
@justin808: I finally have a chance to turn to this issue, so I'm going to to try to upgrade to the beta version. Anything changed since we discussed this back in early August?

[2017-09-05 22:32] justin808 commented on #332
@ezmiller Please try out beta.12.

Please see https://github.com/shakacode/react_on_rails/blob/rails-webpacker/docs/tutorial.md for the very simple steps to create a new app using the beta. You will need to ensure that you put in the beta versions.

* https://www.npmjs.com/package/react-on-rails
* https://rubygems.org/gems/react_on_rails/versions/9.0.0.beta.12

[2017-09-06 17:20] nratter commented on #925
can you also add support for webpacker.yml.erb in case ruby code needs to be injected into the yml?

[2017-09-07 18:26] haydencarlson opened #927 "Install webpacker"
I'm running rails 5.0.3 and it required me to do `rake webpacker:install:react` not rails.

Just thought i'd point this out as the installation documentation says to use rails.

[2017-09-07 20:04] giovapanasiti commented on #565
@mustmodify hey dude did you already try your solution in production? How does it work

[2017-09-07 20:37] mustmodify commented on #565
The above solution is only needed for dev. In production, capistrano runs `rake assets:precompile` which (I guess) triggers webpack to run the once time. Here's what I did to set up my production machine: https://gist.github.com/mustmodify/e4d29b6dd9992381b66cd4efe0b6d32c

[2017-09-07 20:39] mustmodify commented on #565
@giovapanasiti yep, [it hooks into assets:precompile](https://github.com/shakacode/react_on_rails/blob/a333608e736c81190157fc82ea0d7d4be4c3b6fb/lib/tasks/assets.rake#L39-L45)

[2017-09-08 08:49] justin808 commented on #925
@nratter you sure can! try it and let me know how it works out.

This issue is closed as the flexibility to do any setup is just based on:

this for 8.0 and prior default:
[code]

or for the 9.0 default:

[code]

[2017-09-08 08:49] #925 closed

[2017-09-08 08:50] justin808 commented on #927
yes -- should say rails 5.1

[2017-09-08 08:50] #927 closed

[2017-09-08 08:51] justin808 commented on #927
@haydencarlson you must mean `rails new`

[2017-09-09 18:06] zdrummond opened #929 "README instructions rely on Beta"
The README steps through the use of `~> 9.0.0.beta.12`, but when I look at the release list, I see that 9.0.0 just shipped. It would be helpful if the landing page does not instruct new users to start off with the beta :)

[2017-09-10 07:45] chhuang opened #931 "CSS Modules SSR doesn't output anything"
I can see the class being applied, but the CSS is not there. I'm using the server config only:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/webpack.server.rails.build.config.js#L55-L65

[2017-09-10 09:46] addicted2sounds opened #932 "redux_store and immutable"
Is there any way to register store within helper, either controller that contains immutable objects from `Immutable.js` library? I'd like to register simple store that'll be shared for several components on page, but I'd like that to use Immutable objects

[2017-09-11 22:12] justin808 commented on #929
Thank you. I fixed that yesterday. If you find any other doc changes needed, please edit directly in the github UX and post a PR.

[2017-09-11 22:12] #929 closed

[2017-09-11 22:13] justin808 commented on #931
If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

Your question is specific to your project rather than this project, so it's best handled privately.

[2017-09-11 22:13] #931 closed

[2017-09-11 22:14] justin808 commented on #932
@addicted2sounds Stores that use immutable are 100% supported.

I believe that the https://github.com/shakacode/react-webpack-rails-tutorial source uses that.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-09-11 22:14] #932 closed

[2017-09-11 22:15] justin808 commented on #924
@monkseal I'm going to close this one for now. Please comment if you still need help with this issue.

[2017-09-11 22:15] #924 closed

[2017-09-11 22:15] justin808 commented on #883
@MiguelSavignano Closing for now. Feel free to ask to reopen.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-09-11 22:15] #883 closed

[2017-09-11 23:06] monkseal commented on #924
@justin808 yeah, I still need to try out your suggestion just got pulled away to other thing.  Once I have something working I'll paste up my solution, I think what you suggest would work for my use case. Thanks! 🤙

[2017-09-12 18:54] justin808 commented on #896
This is fixed in v9

[2017-09-12 18:54] #896 closed

[2017-09-12 18:55] justin808 commented on #891
This is fixed in v9

[2017-09-12 18:55] #891 closed

[2017-09-14 11:25] Shubham-Sinha opened #935 "Do we need Client folder in v9 ?"
After migrating from v8 to v9. I get a ``app/javascript`` folder as well as ``Client`` folder. Do we need these two. I'm working on Rails 4 and the tutorial for that is highly confusing. Ex: If I am installing ``webpacker`` and configuring ``react`` with it, then why should I also install react_on_rails. How to change the default ``hello-world-bundle``

[2017-09-14 11:42] #935 closed

[2017-09-16 07:57] justin808 commented on #935
@Shubham-Sinha did you figure out your issues?

[2017-09-16 09:42] Shubham-Sinha commented on #935
Yeah I got totally confused with the change

[2017-09-18 20:38] majioa opened #937 "Draw a component with webpacker and npm-pipeline-rails"
Hello, I'm trying to render React component from a file but the file just contain render and some other methods to  draw a dom code:

    @Calendaries = React.createClass
          render: ->
             React.DOM.div

I'm using 'webpacker' along with the 'npm-pipeline-rails' gems and my react (and other js) tree is placed at: `app/webpack/js/behaviors/`

So when I define the code to render the c

[2017-09-19 03:14] sanjsharma commented on #905
I am having a similar issue after deploying to production using elastic beanstalk.
ActionController::RoutingError (No route matches [GET] "/webpack/production/webpack-bundle-5c818c833139e672a82e.js") @justin808 can you please help me out. Thanks

[2017-09-20 11:40] mmaauu opened #939 "ReactOnRails::PrerenderError in HelloWorld#index"
Hi! I'm trying the react_on_rails gem, and when I changed the prerender option to true I'm getting this error, can you please help me?

I'm running rails on windows 7.

Thanks!

[code]

[2017-09-20 20:14] justin808 commented on #939
Hi @mmaauu that issue is documented in the README and you can find more about it here.

You can fix this right now if you add the "--inline=false" option to starting `bin/webpack-dev-server`.

We need to update the docs on this, and maybe the default generator. Let me know if you're interested in submitting a PR.

[2017-09-21 03:11] #939 closed

[2017-09-21 03:13] justin808 commented on #937
I'd look for errors in the browser. This doesn't look like a React on Rails issue. You definitely have to register the component.

[2017-09-21 03:13] #937 closed

[2017-09-21 03:17] #831 closed

[2017-09-21 10:12] majioa commented on #937
There are no errors in the browser %(

[2017-09-21 12:12] rodrigobdz opened #941 "Improve README structure"
@justin808 I would like to help restructuring the README to comply with the [recommended format by Github](https://guides.github.com/features/wikis/#Formatting-a-readme). The current README can be pretty confusing.

[2017-09-21 12:27] mmaauu commented on #939
Thanks @justin808 for taking time to answer!

[2017-09-21 18:21] kusold opened #942 "Redux should be an optional dependency"
Redux should be made an [optional dependency](https://docs.npmjs.com/files/package.json#optionaldependencies) so that people can choose which stores they would like to use on their projects without adding unnecessary packages that increase bundle sizes.

[2017-09-21 19:47] justin808 commented on #941
@rodrigobdz That would be very awesome. Ideally, you could work with me and @Judahmeek on this. We also publish this to a gitbook.

Keep in mind that we need to keep the sales pitch for our services, as this project is the main way that we find clients which allows us to keep maintaining this project.

Please start a PR! and we'll discuss there.

[2017-09-21 19:47] #941 closed

[2017-09-21 19:48] justin808 commented on #942
@kusold why do you think redux a mandatory dependency? All JS stuff should be optional.

[2017-09-21 20:13] kusold commented on #942
Apologies, I misspoke. `react-redux` is a [dependency](https://github.com/shakacode/react_on_rails/blob/6172ee522b8eaaf9202b64116469124722f3c075/package.json#L91), `redux` is a devDependency.

[code]
After a `yarn install --production`, I verified `react-redux` is still being pulled in.

A quick browse through the code didn't reveal any usages outside of tests.

[2017-09-21 22:54] JarLowrey opened #943 "Attempting to install react_on_rails in my project throws an error in old views"
The added `hello_word` works fine, but by old `.erb` views now crash with the following error. Has this been seen before? If I start a new project from scratch it seems to work fine but it causes these crashes in my main project that I am attempting to integrate with React. Using Rails 5.1.1, react_on_rails 9.0.0 and webpacker 3.0.

[code]

[2017-09-22 14:54] JarLowrey commented on #943
Occurs even if the ror gem is not present but webpacker is installed. Tried removing the following gems and their references in application.js and application.css - autoprefixer-rails, jquery-rails, jquery-ui-rails, bootstrapp-css, client_side_validations, client_side_validations-simple_form, cocoon. Error is still thrown

[2017-09-22 17:24] JarLowrey opened #945 "Installation fails if there is a '.' in the folder/app name"
Could someone verify this for me? If you follow the [tutorial](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md) and create a new 5.1.4 Rails app with a '.' in the name, react_on_rails will fail with a 'uncommited code to git' warning. If you `--ignore-warnings` when generating `react_on_rails` stuff, then the hello world module will not be found.

[code]

[2017-09-22 18:36] JarLowrey commented on #945
On double checking it seems it works fine, this wasn't the issue I was running into I guess.

[2017-09-22 18:36] #945 closed

[2017-09-24 05:49] NashL opened #946 "Issue with ReactOnRails"
I've followed the steps for installation of Sharetribe from github. I'm running sharetribe in dev environment and I get this error at the browser console when I try to post a new list but the form is not shown.

[code]

I run the server with this command
[code]

Also this is what I get after tun npm install

[code]
I'm using Ubuntu 16.04. If it helps I just let you know that a previous version of

[2017-09-25 07:20] justin808 commented on #946
@NashL I took a peek at https://github.com/sharetribe/sharetribe/blob/master/Gemfile#L90

They are on v6.9.0.

Please create a branch there and try to upgrade to v9, and create a PR and let me know how that goes.

[2017-09-25 07:20] #946 closed

[2017-09-25 07:21] justin808 commented on #943
Please report to the https://github.com/rails/webpacker/issues then.

[2017-09-25 07:21] #943 closed

[2017-09-25 08:08] NashL commented on #946
@justin808 do you mean change my node version to 6.9 ?. If I do that I can run the server with `foreman start -f Procfile.static` because it asks me to run the command with node 7.8. I'm sorry for my inexperience.
I also checked my Gemfile at my clone repository and It has the v6.9.0 of react_on_rails too.

[2017-09-25 08:14] justin808 commented on #946
I suggest you open an issue in the shartribe project.

[2017-09-25 08:15] NashL commented on #946
Okay, Thanks

[2017-09-28 17:57] n23daniel opened #948 "[Q] Server side initial data loading (with ajax)"
I'm using latest version of react_on_rails and react router v4 with redux.

I dispatch an action in the component to fetch with ajax like so:
[code]

Basically, I want the ```renderToString``` in my ServerRouter.js to wait until the ajax request finishes. Using redux-logger and the redux-promise-middleware, I can see on the server logs only the "-PENDING" action gets dispatched, never getting to t

[2017-09-29 06:25] justin808 commented on #948
Hi @n23daniel. What makes you believe that this issue is React on Rails related?

For server rendering, think of this as simply the Rails server executing a function and your function must return some markup.

If you want renderToString to wait, then you must use something like an ES7 style async/await function pattern:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/

[2017-09-29 06:25] #948 closed

[2017-09-29 13:20] x2es opened #949 "Failure/Error: raise Webpacker::Manifest::MissingEntryError, missing_file_from_manifest_error(name) (Solution Report)"
## Context

Rails: 5.0.2
react_on_rails: upgraded from 6.6.0 to 9.0.3

## The failure

Rspec failing with
[code]

At the same time dev/prod environments works fine (with extra webpack calling step outside rails).

## Configs

### webpack.config.js

[code]

### config/webpacker.yml

is default from sample appliction v9.x

### config/initializers/react_on_rails.rb

[code]

## The problem

When `Reac

[2017-09-30 07:49] justin808 commented on #949
@x2es Any chance that you can put this information in a file called

https://github.com/shakacode/react_on_rails/tree/master/docs/additional-reading/troubleshooting-when-using-webpacker.md.

Please copy paste your nice markdown into such a file and submit a PR.

[2017-09-30 19:06] n23daniel commented on #948
I believe this is React on Rails related because at the moment I can't find a way to return a Promise from the server router. I can only return synchronously, otherwise I get the following error: "[SERVER] message: renderToString(): You must pass a valid ReactElement."

A really simple example of what I'm trying to achieve is

[code]

I think it's really important to be able to do this with React

[2017-10-01 01:27] JarLowrey commented on #943
Seemingly fixed by deleting local installation and re-pulling from VCS

[2017-10-01 02:48] justin808 commented on #948
How would you do that Asynch for a Rails request? @n23daniel

[2017-10-02 11:54] n23daniel commented on #948
I'm not a rails developer. I only know the basics, but as I'm aware there are ways to make async requests with rails. Still, isn't React on Rails using MiniRacer to run the js? Can't it wait for a promise?

Maybe I'm talking non-sense, but that's because of the lack of rails knowledge I have. Thanks for your interest though! I'd want to know if it's possible to adapt somehow to work by returning a

[2017-10-03 14:29] n23daniel commented on #948
Ok, so I see the inability to render async react originates from ExecJS not supporting async eval of the js. My only solution left, as I really need to render async js, is to drop react on rails and make the rendering on a standalone node server.

[2017-10-04 05:33] justin808 commented on #948
@n23daniel are you sure that you can't wait until the promise executes? Did you try using async/await or another pattern so your function does not return until the remote call finishes?

[2017-10-04 07:59] n23daniel commented on #948
@justin808 Using async/await, in the end the result is still a promise, like in the official example:
[code]
ExecJS wouldn't wait for the async function to resolve.

A solution would be to do something like bellow, but it is really bad because it blocks the whole thread.
[code]
 So right now it could only work if ExecJS would be able to wait for a promise or have a callback, but it seems like this

[2017-10-04 08:20] ceres629 commented on #850
It has been an issue for all react on rails versions from 6 to 9...

[2017-10-04 08:21] ceres629 commented on #850
It has been an issue on all react versions from 6 to 9.

[2017-10-04 09:26] justin808 commented on #948
@n23daniel We have built a rendering engine using Node and Express. Maybe this is a good use for this? Nevertheless, the Rails view rendering response/request cycle would still need to wait...

[2017-10-05 02:55] justin808 commented on #809
https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/package.json#L88 uses Router v4 with React on Rails v9.

Does anybody want to take a crack at a PR to update the docs on this?

[2017-10-07 10:20] justin808 commented on #347
## September 20, 2017, [ShakaCode Forum](https://forum.shakacode.com/t/new-ror-users-inbound/1014)

![2017-10-07_00-18-43](https://user-images.githubusercontent.com/1118459/31306902-341a537a-aaf5-11e7-8014-28c126a7c975.png)

[2017-10-11 13:10] alexjose74 opened #954 "Consumption of react component of a Rails Engine by an application"
**NOTE: This is a question.**

I have written a rails engine which has a single component - `NewComponent`. It uses react_on_rails. This has been tested via the dummy application of the rails engine. I imported and registered the component in dummy application:
`/new_engine/test/dummy/client/app/Index.jsx`:

[code]
The above worked completely fine in the dummy app.

Now I am consuming this react c

[2017-10-12 09:28] alexjose74 commented on #954
@justin808 could you please provide some on this? We have been blocked on this for a while now and we finally decided to ask you guys directly.

[2017-10-12 12:34] jplaut commented on #676
A bit confused. Passing children to a React component is a fundamental feature of React that is utilized by numerous 3rd party libraries. Thus, when creating a helper method to render React components, how is it not vital to allow passing in children? Is this already implemented and I'm just missing it? This seems like a pretty important feature to me.

[2017-10-12 22:34] justin808 commented on #954
@alexjose74 We'd love to help you directly. However, we have to prioritize help requests by supporters of our project, such as https://egghead.io.

Would you be interested in a support contract, like Egghead has purchased? Please email me directly at justin@shakacode.com.

[2017-10-13 08:28] alexjose74 commented on #954
Thanks for your respose @justin808. Currently we are not looking for a support contract.

[2017-10-13 11:13] heavenlypeach opened #955 "Integration tests fail with javascript_pack_tag 'hellow-world-bundle'"
Locally all my tests pass just fine. But when add `<%= javascript_pack_tag 'hellow-world-bundle' %>` in my head tag, **all my feature tests on CircleCi** break with the following error:

[code]

This is occurring with the default generated hello_world component/files when first installing react_on_rails. I have not made any changes to the files that are generated by react_on_rails.

I am pretty ne

[2017-10-13 17:44] thanhnha1103 opened #956 "foreman start in dev Unknown switches '-w'"
I trying this [React on Rails Basic Tutorial](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md). But in the step "foreman start -f Procfile.dev" I got this error:
[code]
I using gem and have Procfile.dev like in the Tutorial:
#Gemfile
[code]
#Procfile.dev
[code]

[2017-10-13 21:13] heavenlypeach commented on #956
I have the same problem. I've been starting my server without the `-w`.

[2017-10-14 01:14] heavenlypeach commented on #955
this is a webpack issue so I'll be closing this

[2017-10-14 01:14] #955 closed

[2017-10-14 07:29] thanhnha1103 commented on #956
@heavenlypeach If we remove `-w` or `--watch` the watcher won't work right ?
Change `bin/webpack -w` to `webpack -w` solved my problem
I don't know what different between `bin/webpack` and `webpack` ?
Is it about gem and global webpack ?

[2017-10-14 17:03] heavenlypeach commented on #955
Turned out it was an issue with my circleCI configuration which was using an older version of node.

[2017-10-16 08:51] justin808 commented on #956
@thanhnha1103 it all depends on if you're using the rails binstubs for rails/webpacker. If not, then you're using the real Webpack command.

[2017-10-16 09:21] thanhnha1103 commented on #956
Thank @justin808,

I just followed the tutorial above step by step, and get error: `Unknown switches '-w'` when I try `foreman start -f Procfile.dev` help me explain this.

I still don't understand why.
Thank you again.

[2017-10-16 22:22] justin808 commented on #956
See https://github.com/rails/webpacker/issues/959

3.0.2 broke this...

PR anybody?

[2017-10-17 01:50] Judahmeek commented on #956
@thanhnha1103 Can you link me to an example repository? Because I'm having trouble reproducing your issue. See https://github.com/Judahmeek/ror-test for a working example.

[2017-10-17 02:46] thanhnha1103 commented on #956
@Judahmeek,

I just reproduced this and push code to new repository https://github.com/thanhnha1103/test-react-on-rails

Thank you,

[2017-10-17 09:28] justin808 commented on #956
@thanhnha1103 Please see if v10, just shipped, fixes the issue!

[2017-10-17 15:31] thanhnha1103 commented on #956
@justin808 Thank you and Team for helping me.
After retried many times with 9. versions, @Judahmeek example and v10.
I think there are something from bundler 1.16.0.pre.3
Because when I tried with same version 1.15.4 as @Judahmeek example every versions above worked!
Thank you.

[2017-10-18 08:17] MatthiasRMS opened #958 "deploy on elastic beanstalk: webpack-dev-server not started"
Hi,

I've followed your guide on how to deploy to elastic beanstalk, but I still get a 404 when my app tries to get the packs.

It seems like yarn works fine, but webpack-dev-server isn't starting so it doesn't serves the JS files.

What additional setup should I do to get it to run ?
@chrisjones-tripletri I've followed your guide, any other input?

Thanks

[2017-10-18 08:28] justin808 commented on #958
@MatthiasRMS I'm quite sure those docs apply to an older version. Please submit a PR with an update once you figure out the differences.

Also, the webpack-dev-server should only be run during development and never production.

[2017-10-18 08:28] #956 closed

[2017-10-18 08:29] justin808 commented on #872
@Judahmeek did we update the linters with v10?

[2017-10-18 08:30] MatthiasRMS commented on #958
@justin808 I will !

If i'm not supposed to use webpack-dev-server, which process is supposed to serve the files ?

[2017-10-18 09:15] justin808 commented on #958
Use the compiled files. The "output" from webpack.

[2017-10-18 09:15] #958 closed

[2017-10-20 15:48] deesx commented on #563
same here /: nothing explained here solved the issue

[2017-10-24 06:27] Judahmeek commented on #872
No, I didn't bump any node linter versions.

[2017-10-24 11:27] risinglf commented on #480
Hi all,
thanks guys for this gem!

@BrunoQuaresma @justin808 I think it would be great to have the ability to choose which element use as wrapper, as react-rails does.

I used the `html_options: { style: "display: inline-block"} ` but it cannot always work.

Eg: I want to have a react component as an item in a bootstrap navbar-nav, the css rule is:
`.navbar-nav > li`

With react-rails I always use

[2017-10-24 13:06] risinglf opened #964 "Server Side Rendering is not working?"
Hi,

I'm trying SSR with the hello_world_example:

- react_on_rails 10.0.0
- rails 5.1.4
- mini_racer 0.1.14

When i change views/hello_world/index.html.erb to:

`<%= react_component("HelloWorld", props: @hello_world_props, prerender: true) %>`

and I reload the page, I see this error:

`undefined local variable or method `e' for ReactOnRails::ServerRenderingPool::Exec:Class`

Is this a known bug?

[2017-10-26 01:34] justin808 commented on #964
See #963. We'll be releasing very shortly.

[2017-10-26 01:36] justin808 commented on #480
@risinglf Please open a new issue if you feel strongly about this. Please include info about why this is worth the extra complexity.

[2017-10-26 07:33] aryehbeitz commented on #283
[this helped me](https://stackoverflow.com/a/31681098/3548935)

[2017-10-27 05:21] robwise opened #965 "Deprecation Warnings"
Some new stuff has come out and we've bumped our internal project's deps to the point where Yarn is complaining about version ranges defined by RoR:

[code]

This all seems to work fine so we can just loosen the dependency requirements to allow these version ranges.

Also, this happens on every page where RoR is used when using React v16:

[code]

[2017-10-27 06:55] justin808 commented on #965
@Judahmeek Maybe you can fix this and let's ship 10.0.1? or 10.1.0?

[2017-10-27 09:36] pguegan commented on #956
I ran into the same issue with latest versions of rails (5.1.4), react_on_rails (10.0.0) and bundler (1.16.0.pre.3). This is related to the way Bundler generates the binstubs.

To get around this problem:
- Downgrade Bundler to 1.15.4
- Delete the binstubs bin/webpack and bin/webpack-dev-server
- Run `rails webpacker:install` and `rails webpacker:install:react` commands again (Bundler will generat

[2017-10-27 17:06] gambala opened #966 "Packs building on deploy starts before yarn install"
And we get an error, when there is no react-on-rails package on the server. On first deploy, for example.

Capistrano stacktrace:

[code]

My (dirty but) workaround:

1. Set `config.build_production_command` config to `nil`.
2. Deploy.
3. Restore `config.build_production_command` config value.
4. Deploy as usual.

[2017-10-29 04:20] tarnelope commented on #956
@pguegan 's workaround resolved the error for me. Thanks!

[2017-10-29 20:46] eliias opened #969 "Behavior of reset rendering pool in development mode"
Hello, I am using SSR along with styled-components and HMR and it is working quite well. But I run into a nasty problem today that at least needs some discussion. I have a small issue with the code that resets the rendering pool:

`gems/react_on_rails-10.0.0/lib/react_on_rails/server_rendering_pool/exec.rb`

[code]

The check in line two, just compares the path of the current server bundle file wi

[2017-10-30 00:10] justin808 commented on #969
@eliias We're pretty slammed right now. Any chance that you'd be interested in our http://www.shakacode.com/work/shakacode-pro-support.pdf program? If so, we'll expedite the handling of your request. Otherwise, please research and potentially send us a PR.

[2017-10-30 01:18] CodyFitzpatrick opened #970 "The engine "node" is incompatible with this module"
Hi all,

Thanks for the great Gem. Have absolutely loved using this with my Rails app!

Just today I updated my Node version to 8.8.1 via Homebrew. Now, when I attempt to run `bundle && yarn && foreman start -f Procfile.dev` (or just `yarn install`), I get the following message:

`error react-webpack-rails-tutorial@0.0.1: The engine "node" is incompatible with this module. Expected version "5.10.0

[2017-10-30 09:20] justin808 commented on #966
@gambala Does this require a Doc update or a PR?

[2017-10-30 09:21] justin808 commented on #970
@CodyFitzpatrick Try deleting or updating the lines that say "engine" in your package.json files.

[2017-10-30 10:19] gambala commented on #966
PR, if it's possible to swap yarn installing and webpack building tasks in different order.

[2017-10-30 10:29] gambala opened #971 "Get "Cannot read property 'prototype' of undefined" error with SSR"
v10.0.1 (both gem and yarn).

- ruby 2.4.1
- capistrano (3.10.0)
- capistrano-rails (1.3.0)
- execjs (2.7.0)
- libv8 (5.9.211.38.1)
- mini_racer (0.1.14)
- rails (5.1.4)
- webpacker (3.0.2)

`app/views/molly/welcome/index.slim`

[code]

`TestBlock.jsx`

[code]

`ssr.js` pack

[code]

`react_on_rails.rb`

[code]

Stacktrace:

[code]

[2017-10-30 11:26] railsme commented on #971
Cannot reproduce the error.

[2017-10-30 11:47] railsme commented on #966
Where are the versions of dependencies? capistrano, capistrano-rails?
Do you have internal assets pipeline enabled?
What is your capistrano configuration?
Is it a clean rails project or existing one?

[2017-10-30 12:40] gambala commented on #966
Existing RoR project with rails assets pipeline enabled (for styles/fonts/images mostly)
- ruby 2.4.1
- capistrano (3.10.0)
- capistrano-rails (1.3.0)
- execjs (2.7.0)
- libv8 (5.9.211.38.1)
- mini_racer (0.1.14)
- rails (5.1.4)
- webpacker (3.0.2)

`Capfile`

[code]

`deploy.rb`

[code]

`deploy/production.rb`

[code]

[2017-10-30 12:42] railsme commented on #966
@gambala thanks. It will help to reproduce the problem.

[2017-10-30 18:11] CodyFitzpatrick commented on #970
Hey Justin, really appreciate the suggestion.

Unfortunately that did not seem to have an affect, for better or for worse.

After seeing the below error I completely uninstalled and re-installed yarn as I thought it could be an issue with yarn, but still the same error unfortunately. Is this an issue with my config files for React on Rails or perhaps something at a lower level?

`MacBook-Pro:orbit

[2017-10-30 18:37] gambala commented on #971
Sad news 😞 I don't know, will I have a time to create simple test example. I used `react-rails` gem in my project. and I got different SSR errors too, then I decide to give `react-on-rails` a try. And it's a good gem too, with good team involved in its development.

I detected three problems, which are described in this issue, #966 and in #549. They prevent me from using `react-on-rails` in my pro

[2017-10-31 02:00] CodyFitzpatrick commented on #970
Hey all,

For anyone encountering this same issue, a temporary workaround is changing the local server start command to `bundle && yarn --ignore-engines && foreman start -f Procfile.dev`

If anyone has ideas about how to resolve the underlying issue, please share!

[2017-10-31 11:56] railsme commented on #971
The problem with `json3` dependency (https://github.com/felixge/node-sandboxed-module/issues/55)
Workaround before fix is to use `bin/webpack -w` instead of `bin/webpack-dev-server`

[2017-11-01 01:00] justin808 commented on #971
@railsme @gambala the use of the webpacker binstubs and webpacker default configuration is loaded with gotchas and the obfuscations of having the main code being in the NPM library for webpacker. You may want to consider a setup similar to https://github.com/shakacode/react-webpack-rails-tutorial.

[2017-11-01 01:00] #971 closed

[2017-11-02 07:29] divya2661 opened #973 "Add setup instructions in README for rails api only projects"
@justin808 I would like to help in adding instructions for rails API only project. Current instructions do not work for it.

[2017-11-02 08:34] justin808 commented on #973
That would be amazing. Thank you.

[2017-11-03 01:42] justin808 commented on #971
@cagedartist Please don't use the webpacker setup if you want to do server side rendering (pre-render). As of a few months ago, webpacker was **NOT** setup to do SSR.

@cagedartist @railsme @gambala Any chance that one of you can give us a doc PR?

[2017-11-03 02:11] cagedartist commented on #971
Thanks, @justin808 -- Glad to know it's not something I did wrong.

[2017-11-03 07:23] justin808 commented on #971
@cagedartist Also, be sure to update to the latest version 10.0.1.

[2017-11-03 13:26] vasilakisfil commented on #971
`bin/webpack -w` on `Procfile.dev-server` worked for me, thanks.

[2017-11-03 13:29] railsme commented on #971
@vasilakisfil don't forget to cleanup public/packs directory from time to time :)

[2017-11-03 13:30] railsme commented on #971
@justin808 I will check what the difference between configurations.

[2017-11-03 22:07] johnmcdowall commented on #956
This is caused by Bundler 1.16.0 - I've raised an issue with them https://github.com/bundler/bundler/issues/6149.

For some reason, 1.16.0 adds the following two lines to the top of all generated binstubs:

https://github.com/bundler/bundler/blob/01fe509b27b317dd4d640beb9140ab31331ea349/lib/bundler/templates/Executable#L11-L12

This seems to prevent command line arguments being proxied to the unde

[2017-11-03 22:23] johnmcdowall commented on #956
Ok a solution that works without downgrading Bundler is as follows:

`rm ./bin/webpack ./bin/webpack-dev-server && bundle binstub webpacker --standalone`

This re-generates the binstubs without the 2 extra lines at the start which eat your command line arguments.

[2017-11-09 21:01] railsme commented on #964
@justin808 This issue may be closed, I think?

[2017-11-10 01:40] justin808 commented on #964
Thanks @railsme!

[2017-11-10 01:40] #964 closed

[2017-11-10 01:40] #792 closed

[2017-11-10 01:41] justin808 commented on #489
Closing for lack of interest.

[2017-11-10 01:41] #489 closed

[2017-11-10 01:42] justin808 commented on #385
Closing as I believe this was fixed.

[2017-11-10 01:42] #385 closed

[2017-11-11 02:56] d3vkit commented on #549
For those finding this issue, there is a different issue [here](https://github.com/shakacode/react_on_rails/issues/649#issuecomment-268141931) that answered this for me. Our app is a mix of mostly rails + coffeescript / js, and we are sprinkling react in using `ReactOnRails` as often as we can. We had the situation where a previously coded ajax fetch of code from the server would generate a row in

[2017-11-12 20:42] hashwin opened #977 "Production compilation error when upgrading from v8"
I am trying to migrate my app from v8.0.6, I followed this guide: https://github.com/shakacode/react_on_rails/blob/master/docs/basics/upgrading-react-on-rails.md

I've made the changes and everything works fine in development.

But, when I try to deploy to heroku (or run ```rake assets:precompile```), I get this webpacker error:
[code]

[2017-11-13 07:39] justin808 commented on #977
@hashwin a recent update fixes this issue. It was caused by webpacker 3.0.2 (from 3.0.1).

[2017-11-13 07:39] #977 closed

[2017-11-14 06:54] vfonic opened #979 "What's the latest "stable" RoR version?"
First of all, thanks for incredible gem!!! :)

I'm just on-boarding and following documentation/tutorials. It seems that the latest released version is 10.0.2. However, I can't find many references to that gem version in the documentation:

https://github.com/shakacode/react_on_rails/tree/10.0.2#basic-installation-for-a-new-rails-app

https://github.com/shakacode/react_on_rails/blob/master/docs/tu

[2017-11-14 09:39] justin808 commented on #979
@vfonic Could you please replace any references to 9.x to say "latest" and submit a PR?

Yes, the latest has critical bug fixes! Thanks for your support!

[2017-11-14 09:39] #979 closed

[2017-11-18 14:45] seanpaulkelley opened #982 "Tutorial Generating Correct Project Structure?"
I followed tutorial:
https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md

The app seems to run fine with regard to basic use if input.  However I have questions regarding if everything is really setup correctly.

There is no client directory at project root.  Some tutorials and docs have it.  I am not sure if this is clue something is not setup correctly.  I did a new install

[2017-11-18 21:36] justin808 commented on #982
Hi @seanpaulkelley, you have 2 main options when setting up React on Rails. You can either

1. Keep your client-side app completely within the `/client` directory, as shown in the [react-webpack-rails-tutorial](https://github.com/shakacode/react-webpack-rails-tutorial). The [ShakaCode Team](http://www.shakacode.com) recommends this approach for most projects as it provides the greatest transparenc

[2017-11-18 23:09] justin808 commented on #982
@seanpaulkelley Please review #983.

[2017-11-20 03:56] justin808 commented on #982
My answer in the PR, so far. Comments?

## Webpack Configuration: custom setup for Webpack or rails/webpacker?

Version 9 of React on Rails added support for the rails/webpacker view helpers so that Webpack produced assets would no longer pass through the Rails asset pipeline. As part of this change, React on Rails added a configuration option to support customization of the node_modules directory

[2017-11-20 10:44] tannakartikey opened #985 "Gemnasium asking to update dependencies"
[Gemnasium](https://gemnasium.com/github.com/shakacode/react_on_rails) is showing that our packages are outdated. But it is not showing the correct packages at the moment due to configuration error.
For example, `autoprefixer` is used by `bootstrap-sass`. The project has directly nothing to do with the version of `autoprefixer` but still Gemnsaium considers it.

So, to check I forked react_on_rail

[2017-11-20 16:01] seanpaulkelley commented on #982
This all makes sense.  css works fine for me using tutorial respository.

foreman start -f Procfile.hot
Edited component does not auto reload browser on code change.  Rails console shows:
` [HPM] Error occurred while trying to proxy request /webpack/info?t=1511191882817 from localhost:3035 to http://localhost:3035 (EADDRNOTAVAIL) (https://nodejs.org/api/errors.html#errors_common_system_errors)`

I

[2017-11-20 20:52] justin808 commented on #982
@seanpaulkelley Regarding the tutorial and the port, the foreman command generated should change the port to 3000, and an env value of `PORT` will also set that, maybe to 3000. If not, then this is a bug. Please submit a PR.

In terms of your next question, yes, you can use the setup from the https://github.com/shakacode/react-webpack-rails-tutorial.

Prior versions of the project generator genera

[2017-11-21 16:15] seanpaulkelley commented on #982
I think having a simple generator that creates recommended /client structure where I can easily specify a redux option and just start using it would be very helpful.

I am new to React and I just want to know how I can generate a basic setup to try it out with Rails.  I also want to be able to include it into existing projects to gradually develop react views to replace rails views in a simple way

[2017-11-21 16:15] #982 closed

[2017-11-21 19:31] nicnilov opened #986 "Component generated with --redux option does not use Redux"
When using the `install` generator with `--redux` option as described in [generator.md](https://github.com/shakacode/react_on_rails/blame/3ca295bec2e4e4cce96b3941b7658794a06c931b/docs/basics/generator.md#L61) the generated HelloWorld component does not use Redux store and uses local state instead.

Specifically, [HelloWorld.jsx#L28](https://github.com/shakacode/react_on_rails/blob/4f58a66da9332f57

[2017-11-21 20:59] white112 opened #988 "Router issue without Redux"
![screenshot 2017-11-21 22 59 31](https://user-images.githubusercontent.com/22128210/33096434-ac7522da-cf0f-11e7-8e03-e6dc3a2b30d1.png)
I have installed react_on_rails gem on new rails project.  And there was only hello_world component.
I am going to add router for this project.  I followed react-webpack-rails-tutorial and then I got this error.

Uncaught Error: ReactOnRails encountered an error w

[2017-11-22 02:54] justin808 commented on #988
@white112,

Would you be interested in our ShakaCode Pro Support plan?

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-minute consultation:
https://calendly.com/justingordon

Thanks,

Justin

[2017-11-22 02:57] justin808 commented on #986
@nicnilov Nice catch. Would you be interested in working together to help resolve this issue?

[2017-11-22 02:59] justin808 commented on #988
@white112 The message says that you're looking for `App` when your code is registerering `RouterApp`.

[2017-11-22 02:59] #988 closed

[2017-11-22 03:30] justin808 commented on #986
@nicnilov Please send me an email: justin@shakacode.com and I'll invite you to our Slack room.

[2017-11-22 13:22] nicnilov commented on #986
@justin808 Sure, I can take a look although it might take some time because of my schedule. How do you want it, make HelloWorld.jsx a template and use placeholders or have a separate  HelloWorld.jsx to use with Redux?

[2017-11-24 05:01] pRdm opened #990 "merging additional props into a "root" redux store"
Suppose you have a component (`Header`) that is rendered on every page and this is using a redux store `rootStore` as its source of data. The `rootStore` is hydrated with some rails data in the `application_controller` with a `before_action`.

You decide to add another component (`Form`) that's only used on _some_ pages, and requires an additional set of states to be hydrated by rails.

As far as

[2017-11-30 22:35] chumakoff opened #991 "Can not register multiple components"
I have two components (Component1 and Component2). Sometimes I need both of them on the same page, sometimes just one.
I don't want load scripts that I do not need on the page. So, I separated load files like this:

**javascript/packs/component1_bundle.jsx**
[code]

**javascript/packs/component2_bundle.jsx**
[code]

Then, when I need both components on the page, I do this:

 = javascript_pack_tag

[2017-11-30 23:13] seanabrahams commented on #991
Same issue. Surprised this didn't work out of the box.

[2017-12-01 12:41] railsme commented on #991
@chumakoff Did you try to extract vendor bundle into separate chunk?
You can check Webpack configs from [tutorial rails app](https://github.com/shakacode/react-webpack-rails-tutorial) to understand how to do it.

[2017-12-01 13:41] chumakoff commented on #991
@railsme No, I didn't. And I can't understand how to do that.

[2017-12-01 13:43] railsme commented on #991
@chumakoff [Prevent code duplications in webpack](https://webpack.js.org/guides/code-splitting/#prevent-duplication)

[2017-12-01 23:53] justin808 commented on #991
@chumakoff You can create separate bundles. I don't think the rails/webpacker way supports this, but I could be mistaken.

@railsme is correct on this issue.

[2017-12-01 23:53] #991 closed

[2017-12-01 23:53] #985 closed

[2017-12-01 23:55] justin808 commented on #990
@pRdm we've got this scenario going for our app: https://www.hawaiichee.com.

Would you be interested in our [ShakaCode Pro Support plan](http://www.shakacode.com/work/shakacode-pro-support.pdf)?

We could definitely help you in this situation.

If so, please schedule a complimentary 30-minute consultation:
https://calendly.com/justingordon

Thanks,

Justin

[2017-12-02 02:10] esshka commented on #966
try
`namespace :react_on_rails do
  namespace :assets do
    task webpack: 'webpacker:yarn_install' if Rake::Task.task_defined?('webpacker:yarn_install')
  end
end`

[2017-12-02 17:17] hqt commented on #190
@hakunin can you give me more detail instruction please. I met same problem.

[2017-12-03 12:43] evolve2k opened #993 "Instructions to upgrade from v7.x => v10.x"
Fantastic work on including webpacker, I've been following along on all your work on this project and on webpacker in discussions with the Rails team and it's admirable all the effort you folks have put in.

I'm now keen to upgrade!

In the blog post [Introducing React on Rails v9 with Webpacker Support](https://blog.shakacode.com/introducing-react-on-rails-v9-with-webpacker-support-f2584c6c8fa4)

[2017-12-03 13:21] hakunin commented on #190
Sorry, I am no longer using the gem.

[2017-12-03 20:54] justin808 commented on #993
@evolve2k Let me know if is sufficient: https://github.com/shakacode/react_on_rails/blob/master/docs/basics/upgrading-react-on-rails.md

If not, I'll reopen this issue.

[2017-12-03 20:54] #993 closed

[2017-12-05 16:44] xenyal commented on #942
+1 `react-redux` shouldn't be coupled to this project. People might be using flux still, and in that case would have extra bulk in their bundles

[2017-12-11 17:04] Champer opened #995 "Unknown Error from React_on_rails webpack compile"
I tried new version React On Rails v10.0.2 first time I open the server by  command ```foreman start -f Procfile.dev```  and I got ```Syntax Error:Unexpected token```
as following:
[code]

I can't understand why I got error, I written it before like it.
And I tried to find ```webpack.config.js``` file, to watch the problem, but there is no it.
The new version of react_on_rails has no ```webpack```

[2017-12-11 17:17] Champer opened #996 "Upload the app to heroku the compiling is failed"
I got the error as following, and I had no idea to fix it...
Anybody can tell me what happened is it?
[code]

[2017-12-12 03:56] ttanimichi opened #997 "The file extension of `config.server_bundle_js_file` should be ignored"
Even if we have a pack file that has `.jsx` file extension like `app/javascript/packs/app.jsx`, webpacker compile it to a `.js` file like `public/packs/app-6c71877ae5cf6273d047.js`.

So, if we specify `config.server_bundle_js_file` like

[code]

We get an Error like

[code]

We probably should ignore the file extension of `config.server_bundle_js_file`, because the only file extention we can speci

[2017-12-12 08:08] justin808 commented on #997
@ttanimichi using JSX for react files is an older standard. Webpack will always compile to a JS file. I don't think this is worth changing for now.

[2017-12-12 08:08] #997 closed

[2017-12-12 08:09] justin808 commented on #996
@Champer you're using the default webpacker configuration. I know there were some issues with webpacker and the bin stub. Please search the issues here. This has been brought up before.

[2017-12-12 08:09] #996 closed

[2017-12-12 08:11] justin808 commented on #995
You need way more information to report an issue. My guess is that you should try the tutorial steps again from scratch.

[2017-12-12 08:11] #995 closed

[2017-12-12 15:51] bruparelwdvg opened #998 "Problems installing the Gem"
I am having a tough time with the installation.  When I run
rails generate react_on_rails:install command, it fails with

Could not find gem 'mini_racer' in any of the gem sources listed in your Gemfile.

When I try to install the mini_racer gem with 'gem install mini_racer' gem, I get the libv8 install error message as shown below:

Building native extensions.  This could take a while...
ERROR:

[2017-12-13 04:35] justin808 commented on #998
Your issue should go to the miniracer repo.

[2017-12-13 04:35] #998 closed

[2017-12-18 20:16] viren140290 opened #999 "Postinstall step not reading url from .npmrc registry"
Hello,

I have my project setup just like this [example](https://github.com/shakacode/react_on_rails-test-new-redux-generation/pull/17/files) mentioned in the [tutorial](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md). The postinstall step in my package.json, that lives on the parent level has "cd client yarn install" step just like the example's [package.json](https://gi

[2017-12-19 01:42] justin808 commented on #999
@viren140290 are you 100% sure that you're using the current version of React on Rails? and what version of Rails?

[2017-12-19 01:42] #990 closed

[2017-12-19 01:42] justin808 commented on #986
@nicnilov Do you still want to own this one?

Does anybody else want to?

[2017-12-19 01:49] justin808 commented on #970
Thanks @CodyFitzpatrick.

[2017-12-19 01:49] #970 closed

[2017-12-19 04:06] JimW commented on #956
@johnmcdowall, this changes my bin/webpack to:
`
load File.expand_path "../../../../../../../../home/jim/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/webpacker-3.2.0/exe/webpack", path.realpath
`
which works locally but obviously Heroku does not like it..

[2017-12-19 12:56] nicnilov commented on #986
@justin808 It wouldn't be realistic to expect me get to it anytime soon, sorry! If no one takes it I might be able to take care of it in mid-January.

[2017-12-19 15:02] railsme commented on #999
@viren140290 I'm pretty sure that this bug was fixed in previous releases. The latest version of react_on_rails is 10.0.2

[2017-12-19 18:21] viren140290 commented on #999
Thank you guys. At this point, my team has decided to push upgrading the gem task to the future. For now I switched npmrc to yarnrc and that solved the issue. Thanks for the suggestions though. This can be closed.

[2017-12-20 16:33] klappradla opened #1000 "Support for Rails' i18n pluralization"
Hi 👋

first of all: thanx for your awesome work on this 🙏  - really helpful tool!

I came across a tiny *"incompatibility"* issue with Rails' conventions when using i18n with `react-intl`: the special role of the `count` variable working as both, a variable for interpolation **and** as a key to pick up the right **pluralization** is not taken into account by `react_on_rails` (see [the "pluralizati

[2017-12-20 20:18] justin808 commented on #1000
@klappradla can you please do a PR for this? Great write up! 👏

I can help if needed. Please see the version history of the i18n files.

Please see https://github.com/shakacode/react_on_rails/pull/642 and https://github.com/shakacode/react_on_rails/pull/717

@JasonYCHuang Maybe you can comment?

[2017-12-21 16:49] #999 closed

[2017-12-23 19:34] JimW commented on #956
"For now, the fix is to run bundle binstubs bundler --force"
rails/rails#31193

This changes bin/bundler vs the webpack stuff and works for me now both locally and on Heroku

[2017-12-28 03:45] bhbryant commented on #991
@chumakoff

https://github.com/rails/webpacker/blob/master/docs/webpack.md#add-common-chunks

[2017-12-29 11:02] amauryfischer commented on #955
for those who have trouble with this issue too (i had this whole day .... )
you can fix it by upgrading your rubygem on the latest version (2.7.4)

[2017-12-30 08:25] amauryfischer opened #1002 "initializers not building in production"
Hi,
First of all i'm quite new on react_on_rails and in programmation,

I'm trying to make reack_on_rails working since yesterday, but this seems to be a weird part

if i don't run "RAILS_ENV=production bin/webpack" manually and remove /public/pack from gitignore, the command will not be run on deployment.

Here is my initializer
`ReactOnRails.configure do |config|
  config.build_production_comman

[2018-01-04 05:54] lewaabahmad commented on #986
@justin808 I can own this!

[2018-01-04 20:15] colinrcummings commented on #471
I'm seeing this when switching prerender to true on the most basic react comonent. I'm using mini_racer 0.1.15 with react_on_rails 10.0.2, which did install execjs 2.7.0. @volkanunsal, did you do anything else to resolve this issue?

[2018-01-04 21:34] colinrcummings commented on #471
I tried bumping mini_racer down to 0.1.14, which is what's used in the react-webpack-rails-tutorial, but the issue persists for me.

[2018-01-05 09:32] justin808 commented on #986
@lewaabahmad Please get me a PR to review!

[2018-01-05 14:57] colinrcummings commented on #471
Found the issue: I errantly removed uglifier from my Gemfile, which (unexpectedly) broke things. Restored it and all is well.

[2018-01-05 17:17] colinrcummings opened #1004 "Add support for "--watch-poll" webpack-dev-server flag"
The file change detection isn't working in vagrant on a Windows host when running `$ foreman start -f Procfile.dev-server`. Adding the "--watch-poll" flag to the command should solve the issue, but it's not currently available in `config/webpacker.yml`. Could it be added like this:
[code]
Default to false, but toggling to true would apply the flag.

See:
https://github.com/webpack/webpack-dev-serv

[2018-01-05 18:32] colinrcummings commented on #1004
Opening in `rails/webpacker`.

[2018-01-05 18:32] #1004 closed

[2018-01-05 19:29] corsonknowles commented on #39
What's the status on this? I am investigating memory issue (~leak) in our app coming from gems and have narrowed it to either this or Delayed Jobs

Reference: https://github.com/ASoftCo/leaky-gems/blob/master/README.md

[2018-01-05 21:29] justin808 commented on #39
@corsonknowles A helper for caching is definitely doable. We haven't had enough users like you asking for it.

I'd be happy to work with you on this if you like.

I don't have any comment on the memory leak other than tons of apps are live on React on Rails and nobody is blaming it.

[2018-01-06 08:43] amauryfischer commented on #1002
Thanks for the offer @justin808 but i'm just a studient for now^^

[2018-01-07 01:20] justin808 opened #1005 "Update Rubocop"
Codeship is failing due to this.

<pre>
Completed all RSpec tests
cd /home/rof/src/github.com/shakacode/react_on_rails && yarn run eslint
yarn run v1.0.2
$ eslint .
e/rof/src/github.com/shakacode/react_on_rails && yarn run flow
yarn run v1.0.2
$ flow check node_package
Found 0 errors
e/rof/src/github.com/shakacode/react_on_rails && bundle exec rubocop .
Inspecting 139 files
W...........C.C........

[2018-01-08 16:20] lewaabahmad commented on #986
@justin808 https://github.com/shakacode/react_on_rails/pull/1006

I found that the file that @nicnilov pointed out is actually alright. What I found to be wrong was the file path in `lib/generators/react_on_rails/react_with_redux_generator.rb` - the root HelloWorld.jsx component was being copied from 'base/base' rather than 'redux/base' in the templates directory.

[2018-01-08 17:44] reconstructions commented on #1005
@justin pls let me what minimum Ruby version we should be supporting.

`react_on_rails.gemspec` has [s.required_ruby_version = ">= 2.0.0"](https://github.com/shakacode/react_on_rails/blob/5eea919197cef735a9ba649b97d5a7d3a6b7c9a4/react_on_rails.gemspec#L26), but rubocop can't be set to version 2.0 in [`.rubocop.yml`](https://github.com/shakacode/react_on_rails/blob/5eea919197cef735a9ba649b97d5a7d3a

[2018-01-08 22:18] reconstructions commented on #1005
@justin here is a [first pass](https://github.com/reconstructions/react_on_rails/commit/ad8c4ffe014c99077d791c59f9d2c51b37d3de4c) on the rubocop errors, `rake` and `rake lint:rubocop` tests are all green, I am still checking otherwise.

There could be a rubocop [false positive](https://github.com/bbatsov/rubocop/issues/5339) in [base_generator.rb](https://github.com/shakacode/react_on_rails/blob/5

[2018-01-08 23:38] macmartine opened #1007 "/client directory never created"
I followed the docs to install react_on_rails into my existing Rails 5 app. The hello world page loads fine with no errors. Now I'm trying to add a new component to be rendered on the client side.

All the docs mention a /client directory, but that wasn't generated for me.

Where should I put client-rendered components, and where should I register them?

[2018-01-09 00:12] macmartine commented on #1007
When my new component uses 'prerender', it display fine. I 'prerender' is false, nothing is displayed there:

react_component("CampaignStats", props: { name: "Stranger" }, prerender: false)

[2018-01-09 04:28] wxmn opened #1008 "Pack routes not loading in test environment on local machine"
In Capybara tests, my `javascript_pack_tag "application"` simply won't load (I get an application route error), using the default `config/initializers/react_on_rails.rb`, the default `webpacker.yml` settings, and `ReactOnRails::TestHelper.configure_rspec_to_compile_assets(config)` in my `rails_helper`.

The files seems to be in the correct place (in `public/packs-test`, there is a `public/packs-te

[2018-01-09 08:38] justin808 commented on #1005
@reconstructions LGTM. Please create a PR.

[2018-01-09 08:40] justin808 commented on #1005
@reconstructions on the min ruby version, yes, let's bump to 2.1.0

[2018-01-09 08:41] justin808 commented on #1007
@macmartine We tried to simplify the install for the "generator" by using Webpacker defaults.

If you want a /client directory setup, see https://github.com/shakacode/react-webpack-rails-tutorial.

[2018-01-09 08:41] #1007 closed

[2018-01-09 08:42] justin808 commented on #1008
@wxmn,

You have some debugging to do.

Would you be interested in our ShakaCode Pro Support plan?

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-minute consultation:
https://calendly.com/justingordon

Thanks,

Justin

[2018-01-09 08:42] #1008 closed

[2018-01-09 10:07] thekashifmalik commented on #766
Should close this now that the related patch is merged.

[2018-01-09 15:39] macmartine commented on #1007
Hey @justin808 - Thanks for the response. I don't know if I want that /client directory or not, I just need to know how to get a client to display with prerender: false in the new set up. Any guidance appreciated.

[2018-01-09 16:46] reconstructions commented on #1005
OK, @justin,  I will create the PR now and do the rest of my checking afterwards.

[2018-01-09 19:11] reconstructions commented on #1005
OK, @justin_808,  I will push the PR now and do the rest of my checking afterwards.

[2018-01-10 19:08] elstgav opened #1011 "ReactOnRails::Utils.bundle_js_file_path returns incorrect path for manifest.json"
I noticed that `ReactOnRails::TestHelper.ensure_assets_compiled` always reports that `manifest.json` is stale when running tests, even when the file exists and is up to date:

[code]

After investigating, I believe this is because `ReactOnRails::Utils.bundle_js_file_path()` does not return the correct file path for `'manifest.json'`, so `ReactOnRails::TestHelper.ensure_assets_compiled` can’t accur

[2018-01-10 21:06] justin808 commented on #1011
@elstgav good work. Please submit a PR.

[2018-01-11 18:22] reconstructions opened #1014 "Link to docker-compose.yml not in documentation"
When starting docker using `docker-compose build lint` per the instructions in [CONTRIBUTING.md](https://github.com/shakacode/react_on_rails/blob/master/CONTRIBUTING.md#linting), a docker-compose.yml is required, but [hasn't been checked into git for awhile](https://github.com/shakacode/react_on_rails/blame/cdb246bb7934283fbe5a99c122d5f801a10e67c0/docker-compose.yml), so an error is thrown.  I don

[2018-01-11 22:24] #1011 closed

[2018-01-12 01:31] justin808 commented on #1014
We removed docker-compose.yml here:
https://github.com/shakacode/react_on_rails/pull/497/files

This is what it contained. A PR to update the docs would be appreciated, @reconstructions.

[code]

[2018-01-17 18:12] Whyves commented on #966
@gambala , @justin808 with the release of react_on_rails 10.x, are the symlink tasks still required? I would assume that with webpacker 3, react_on_rails should rely on the webpacker gem to do the compilation.

I have a problem pushing to Heroku because yarn isn't run at deployment time or at least isn't run before your react_on_rails:assets:webpack task.

In your assets.rake file, you add the rea

[2018-01-17 22:51] colinrcummings commented on #948
@n23daniel, were you ultimately able to execute server-side xhr requests with react_on_rails? If so, then how did you do so? Running into the same issue.

[2018-01-17 22:59] n23daniel commented on #948
@colinrcummings Nope, after spending lots of time trying to find a solution with rails, I ended up making a node server to handle the server side rendering and using the Rails as a standalone API. There are lots of boilerplates to start from already available. There's also https://github.com/zeit/next.js/ which seems promising.

[2018-01-17 23:12] colinrcummings commented on #948
Thanks, @n23daniel. That's what I suspected; I'm probably going to go down the same road. Have a couple questions about your approach. If you've got the time, hit me up at colinrcummingsATgmailDOTcom. Thanks!

[2018-01-18 00:58] justin808 commented on #966
The symlinking is not done per this line: https://github.com/shakacode/react_on_rails/blob/0e064616ad387b921f78707cc054f92ed987add3/lib/react_on_rails/assets_precompile.rb#L66

[code]

Does this answer your question?

Documented here: https://github.com/shakacode/react_on_rails/blob/44e697018b5452d8198731c9201ffbbc2041ed60/README.md#deployment

Let me know if we can close this issue or if a PR is

[2018-01-18 18:59] Whyves commented on #966
Hi @justin808 ,

Sorry, I guess I was not precise enough. Yes, I know that we can turn the symlink and compilation to off by setting some values to nil. However, the problem arises because of these lines in [assets.rake](https://github.com/shakacode/react_on_rails/blob/master/lib/tasks/assets.rake):

[code]

This section of code will run no matter what and by doing so will erase all the prerequisi

[2018-01-19 08:19] justin808 commented on #966
The overriding of the default webpacker task is intentional. I suggest opening up a new issue on this and carefully presenting your case.

Why do you say webpacker is broken?

[2018-01-19 18:30] zquintana commented on #883
What's the status on this feature? I also would like to you use it on a project I'm working on. Like @MiguelSavignano, I would like to use react rendered server side with styled components for the same reason. It's closer to the page component pattern that Google has been advocating and in my experience the pattern well suited for scaling and maintaining applications. Any plan to add this?

[2018-01-19 21:34] justin808 commented on #883
@zquintana Did [this work](https://github.com/shakacode/react_on_rails/issues/883#issuecomment-315431517)?

[2018-01-20 01:42] zquintana commented on #883
@justin808, I'm using a slight bastardization this library with Symfony PHP. https://github.com/Limenius/ReactBundle. I'm going to try something similar to what's here, but I'll have to render it out in template differently.

[2018-01-23 14:53] alexey commented on #946
@NashL  did you managed to solve this ?
i have similar issue, versions of React and node are the same but having issue while loading

[2018-01-24 01:31] corsonknowles commented on #39
Thanks! Our memory issue spontaneously resolved during refactoring to move to Rails 5.1.4, but it was almost certainly related to Delayed Jobs and not server rendering.

[2018-01-26 06:49] kkak10 opened #1021 "I18n with react-Intl message in variable expression is different"
Rails I18n variable Expression is %{variable name}, but react-intl variable expression is {variable name}.

Help Please.

[2018-01-27 01:16] justin808 commented on #1021
@kkak10 You need to provide many more details and a reproduction case in order for this report to be helpful.

[2018-01-27 06:18] coder9s opened #1022 "react.semantic-ui.com with rails"
How to install  react.semantic-ui.com with react_on_rails 10.0.2 .... i cannot use it in rails  please..help me thankyou very mumch

[2018-01-28 07:44] ynonp opened #1023 "Should use the most recent file when multiple sprockets manifest files are found"
A specific setup I had combining ReactOnRails with capistrano-rails had temporarily put multiple sprockets manifest files in `public/assets` when assets:precompile task was called.

This failed in file `lib/react_on_rails/assets_precompile.rb` line 75:

[code]

A better approach would be to take the most recent one with:

[code]

(Or raise an exception explaining the problem when multiple sprocket

[2018-01-29 05:48] kkak10 commented on #1021
@justin808 sorry.

details, I use react-on-rails with i18n.
already written rails i18n yml migrate react i18n js

### rails i18n yml
rails i18n in variable expression is `%{}`
[code]

I success migrate yml file to react-intl.
but react-intl varaible expression is `{}`.

[code]

How remove react-intl in '%'?

[2018-02-04 20:41] Overload119 opened #1024 ""TypeError: Cannot read property 'prototype' of undefined""
js_code was:
(function() {
  var railsContext = {"inMailer":false,"i18nLocale":"en","i18nDefaultLocale":"en","href":"http://localhost:3000/to/bob","location":"/to/bob","scheme":"http","host":"localhost","port":3000,"pathname":"/to/bob","search":null,"httpAcceptLanguage":"en-US,en;q=0.9","serverSide":true};

  var props = {};
  return ReactOnRails.serverRenderReactComponent({
    name: 'PostcardIma

[2018-02-05 20:35] justin808 commented on #1024
@Overload119 this sounds like a debugging issue. My firm can help.

Would you be interested in our ShakaCode Pro Support plan?

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-minute consultation:
https://calendly.com/justingordon

Thanks,

Justin

[2018-02-05 20:35] #1024 closed

[2018-02-05 21:00] #1014 closed

[2018-02-05 21:01] justin808 commented on #1021
@kkak10 if you can write a test case for this, I can look into seeing how we'd fix this.

[2018-02-05 21:01] justin808 commented on #1022
@robwise Are you using this?

[2018-02-05 21:02] justin808 commented on #1023
@ynonp should we have a PR for this?

@robwise, @samnang any opinion?

[2018-02-06 03:40] robwise commented on #1023
I can't really remember the details of why we use a glob instead of an exact file path in the first place, like what is the use case for having manifest files with varying names?

[2018-02-06 03:44] robwise commented on #1022
@justin808 Yes I am, the process should be exactly the same as any other node package though. The only tricky part is if you want to use custom themes and such, but that's not because of React on Rails that's just because of the package itself.

[2018-02-06 11:35] mapreal19 commented on #39
what about having the react component helper to support caching (passing `cache: true`)?

cc @robwise @justin808

[2018-02-06 12:30] kkak10 commented on #1021
@justin808 where is react-on-rails with react-intl example project?
I ref to that if being example project.

[2018-02-06 21:19] ynonp commented on #1023
I think part of the name of the manifest file is a hash code, and it's hard to know that hash. Anyways it's just one line, the code I wrote above works and takes the most recent manifest file, which is always a better guess than the first in the glob list

[2018-02-06 21:19] ynonp commented on #1023
I could make it a PR if you prefer. Just let me know

[2018-02-07 00:15] justin808 commented on #1023
@ynonp Yes, please make a PR and make sure some test fails without and the same test passes with your change. And add an entry to the CHANGELOG.md.

[2018-02-07 04:42] robwise commented on #39
I think it's a good idea, that way checking the server bundle can be done automatically under the hood

[2018-02-08 20:29] m5rk opened #1027 "Documentation: config/initializers/react_on_rails.rb"
The generated initializer has this comment:

[code]

Why not just update the generated initializer to *be* the document of *all* possible configuration values?

There are currently actually three sources (all of which are different) of this documentation:

1. The generated initializer.
2. The tutorial's initializer.
3. The configuration.md file (which is nothing more than the content of ReactOnRai

[2018-02-10 00:28] justin808 commented on #1027
I'm open to your PR ideas!

[2018-02-11 19:15] squadette opened #1029 "registerRenderer is mentioned in some places"
Four files still mention the absent function:

[code]

Looks like it was forgotten while working on https://github.com/shakacode/react_on_rails/pull/581

[2018-02-12 05:51] justin808 commented on #1029
Good catch. Can you submit a PR?

[2018-02-13 05:06] Overload119 opened #1030 "CommonChunks with prerender"
I read through https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/code-splitting.md but that didn't really lead me to an answer.  I'm not using React Router.

I'm trying to see how I can get these two to play nice - it should be as trivial as including `common.js` before `server_rendering.js` but it isn't.

Any ideas on how I can get these two to work without having to

[2018-02-13 05:14] Overload119 commented on #1030
I think I want something like this:

Is there an example of this anywhere?

[2018-02-13 07:13] justin808 commented on #1021
Live at reactrails.com.

https://github.com/shakacode/react-webpack-rails-tutorial

[2018-02-13 08:00] kkak10 commented on #1021
https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/config/locales/en.yml

@justin808 react-webpack-rails-tutorial project include feature i18n, but it's not include variable expression in i18n.

I try react-webpack-rails-tutorial project in variable expression i18n. but occur same issue.

[2018-02-13 10:10] bakunyo opened #1031 "Option for generate span tag instead of script tag"
I'd like to use **not** `script` tag but `span` (or any other tag) in generating react_on_rails helpers.
Because [AMP](https://www.ampproject.org/) rules don't allow any script tag except for tag has special attributes of amp.
I saw the PR https://github.com/shakacode/react_on_rails/pull/660 , but I want to option in react_on_rails to change tag name to other.

Below code is my image of codes.
[co

[2018-02-14 06:24] justin808 commented on #1031
@bakunyo are you 100% sure there's no other way around this issue? We put a lot of work into making the script tag work for better parsing performance.

[2018-02-14 06:42] justin808 commented on #1030
Check out https://github.com/shakacode/react-webpack-rails-tutorial, live at reactrails.com.

[2018-02-15 06:06] bakunyo commented on #1031
@justin808 Thanks for your comment.
`<script type="application/ld+json">` tags are allowed from AMP. but it's not suitable to this content.
I'm not 100% sure, but I don't know any other way to render json for react_on_rails in AMP site.

[2018-02-21 23:15] jeffling opened #1032 "asset symlink doesn't symlink to newest version"
we keep up to 3 versions each file in our public directory. we found that the symlink job doesn't take into account multiple digested files, and just symlinks unsorted way. here is a sample.

[code]

doesn't symlink to newest digested file. easiest way to solve this would be to sort the files by updated date in the rake task.

[2018-02-22 11:23] mkalygin opened #1033 "How to get JavaScript backtrace with SSR enabled?"
I'm using this gem for a while and everything works fine even with SSR. But there are couple of things I'm really stuck with it. I'm going to post them as separate issues.

Rails 5.1.4, React on Rails 10.0.1, SSR in Ruby.

`react_on_rails` gives no clue what is wrong with SSR. It gives information about state hydration, Rails context and even the error message, but it doesn't show any JavaScript b

[2018-02-22 11:31] mkalygin opened #1034 "SSR renders blank page with text in case of errors in production environment"
I'm using this gem for a while and everything works fine even with SSR. But there are couple of things I'm really stuck with it. I'm going to post them as separate issues.

Rails 5.1.4, React on Rails 10.0.1, SSR in Ruby.

In production when SSR error occurs `react_on_rails` dumps error log to a blank page and shows it to the client. Here is an example:

![image](https://user-images.githubusercont

[2018-02-25 18:43] mlazuardy opened #1035 "display HTML tag instead script tag"
just 1 hour ago i install this package for my ruby on rails app, but in the short tutorial, all javascript render into html tag but my component is turn into script tag with application/json in script tag attribute like this
[code]
in fact, i dont want to display that script tag, im expecting to return html tag. what should i do ?
sorry bad english. and thanks if you want to response this issue, o

[2018-02-26 02:54] justin808 commented on #1035
We switched from putting data in a HTML tag to a script tag a while back for performance.

[2018-02-26 02:54] #1035 closed

[2018-02-26 02:56] justin808 commented on #1034
@mkalygin Typically the page still renders. Are you sure you don't have an error in your controller outside of RoR?

[2018-02-26 03:01] justin808 commented on #1033
@mkalygin Please study these two files:

https://github.com/shakacode/react_on_rails/blob/master/node_package/src/handleError.js

and

https://github.com/shakacode/react_on_rails/blob/master/node_package/src/serverRenderReactComponent.js

and do some debugging. This used to work.

[2018-02-26 03:03] justin808 commented on #1032
@jeffling We've never had this request and we've moved on to not using symlinks.

Can you upgrade to using the webpacker helpers instead?

Or if you have a PR, I'll take a look.

[2018-02-26 06:47] mkalygin commented on #1033
@justin808 This is exactly what I did. The error has been related with usage of the middleware for Redux store, specifically `redux-undo`. It has been failing to create store in React on Rails JS code when doing SSR.

[2018-02-26 06:48] mkalygin commented on #1034
@justin808 well, even if this is not a controller error but an error in JS doing SSR, it still shows a similar blank page for a couple of seconds.

[2018-02-26 07:14] justin808 commented on #1033
@mkalygin, Any chance that you can help us figure out why the files I linked above are no longer giving stack traces? Did you check the server logs?

[2018-02-26 09:42] KohheePeace commented on #982
Hi @justin808 thank you for your great OSS.
I wrote the article regarding this issue
[Set up react_on_rails with client folder manually](https://www.coderhackers.com/kohheepeace/tips/setup-react_on_rails-with-client-folder).

[2018-02-26 13:31] akuji1993 opened #1036 "Installation documentation (+ dependency versions) not updated"
I'm trying to build a brand new react on rails project right now, following the instructions that you have posted in the README.md. Following those, I get a rails project with the react stuff in it, but the example page at http://localhost:3000/hello_world shows me that it's missing the GET method for that particular page. On searching for the Hello World Component in the project, I can also not f

[2018-02-26 14:15] akuji1993 commented on #1036
I managed to get the app running using your youtube tutorial series on react-on-rails. However in that case, I also needed to change my node version (usually using 6.11.0 right now) to 7+ first, so it accepted and installed webpack-dev-server-3.0 and then had to revert to 6.9.0 to make it install another package and then I could run the rest of the commands and installs and open the page.

It migh

[2018-02-26 16:36] seanpaulkelley opened #1037 "Rspec system test fails to compile"
when I run my system test, javacript does not appear to compile
rspec spec/system

The rails console shows:
====> React On Rails: Checking /home/me/projects/myproject/public/packs-test for outdated/missing bundles

fail

I posted this on stack overflow over 3 weeks ago with no response:
https://stackoverflow.com/questions/48567070/react-on-rails-system-test-compile-fails

Any ideas on making it wo

[2018-02-26 21:11] justin808 commented on #982
Thanks @KohheePeace!

[2018-02-27 07:06] KohheePeace commented on #982
Hi @justin808
Can I ask another question about [recommended-project-structure](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/recommended-project-structure.md)?

Which is recommended or is it up to the user situation?

1. Each domains with startup folder

 ![each-domain-with-startup](https://user-images.githubusercontent.com/29557494/36714932-64896494-1bd7-11e8-96f

[2018-02-27 10:52] faisal1337 opened #1038 "Not being able to pass updated props to react_component"
I am making a QR based attendance app using react_on_rails. I have a React component that is displayed on the Dashboard#home. The react component loads a list of students from firebase and displays each entry in a checkbox styled list. I've also made a react_native app that scans that qr code and sends request to the rails server so that the appropriate students checkbox gets checked. The problem

[2018-02-27 17:25] #1038 closed

[2018-02-27 18:27] mlazuardy commented on #1035
so there is no way to switch to html tag ? but that make the apps performance good, i think its "OK", thank you sir

[2018-02-28 03:04] justin808 commented on #982
I'd probably the startup folder in each bundle. #2 doesn't make sense to me.

[2018-02-28 04:42] justin808 commented on #1037
This seems to be a bug in your project rather than an issue with React on Rails.

Would you be interested in our ShakaCode Pro Support plan?

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-minute consultation:
https://calendly.com/justingordon

Thanks,

Justin

[2018-02-28 04:42] #1037 closed

[2018-02-28 04:43] justin808 commented on #1036
@akuji1993 The video was made with the current version at the time. Please see https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md for the current tutorial instructions.

[2018-02-28 04:43] #1036 closed

[2018-02-28 05:01] justin808 commented on #1031
@bakunyo we should figure this out. Any more ideas?

Here's a good article about AMP: https://stratechery.com/2018/the-aggregator-paradox/

CC: @alexfedoseev @robwise

[2018-02-28 05:19] justin808 commented on #1031
Links on JSON/LD. Seems like a superset of JSON:

* https://en.wikipedia.org/wiki/JSON-LD
* http://www.seoskeptic.com/what-is-json-ld/

[2018-02-28 08:15] KohheePeace commented on #982
Sorry for bothering you again and again, and really thank you for reply.

Okay, **startup folder in each bundle**.

Then,

1. register each startup/registration.js file in webpack entry file ?

=> to make "**one big js bundle file**" for **Turbolinks**  ?

![shakacode-question](https://user-images.githubusercontent.com/29557494/36776044-c96248a6-1ca7-11e8-9d25-5421bb83510b.png)
https://forum.shaka

[2018-03-01 05:06] #965 closed

[2018-03-01 05:06] #1005 closed

[2018-03-01 14:24] seanpaulkelley commented on #1037
it would be nice to know what failed.  just the word 'fail' is not helpful.

[2018-03-01 17:17] fantasydong opened #1040 "Server render two pages using two separate JS files"
Hi @justin808 ,

As we know, the gem recommend use one JS file to implement server side render. For us, we want to use two separate JS files to server render two different pages. Finally, we come out a solution of:
[code]
We call ReactOnRails::ServerRenderingPool::Exec.reset_pool to reset the cached pool for every request. We found this solution work well for us. But our concern was that does this

[2018-03-02 02:04] justin808 commented on #1040
I'd be concerned about this. Can you explain better on why you need 2 different files for your JS?

[2018-03-02 03:12] fantasydong commented on #1040
@justin808 Thanks for the quick feedback.

My case is that, we have two separate pages:
For /page-1, we use page1.js to do server side render
For /page-2, we use page2.js to do server side render

Because the two pages' code structure and Webpack build setting are quite different. It is not easy for us to build them into one file.

We also try to build them into one, but the result is that the two

[2018-03-02 03:56] justin808 commented on #1040
Your case is definitely unusual. I'd take a look at the source code and see if you can come up with a good solution. I definitely would not do things the way you are doing, as I think you might run into serious concurrency, CPU, and memory issues.

Alternately, would you be interested in our ShakaCode Pro Support plan? If you joined, we could definitely develop something for you.

http://www.shaka

[2018-03-02 04:08] fantasydong commented on #1040
@justin808 Thanks you and hope that you can come up a better solution for this case.

[2018-03-02 19:53] radixhound commented on #986
@justin808 Seems that this bug can be closed

[2018-03-03 07:27] #986 closed

[2018-03-03 16:33] bittujoju commented on #970
Thanks @CodyFitzpatrick this worked for me.

[2018-03-03 21:16] squadette commented on #1029
I'm not sure because I could fully understand how it works. :)

[2018-03-06 09:38] bakunyo commented on #1031
@justin808 Yes, I want to use option of old data format.
I agree with you about tag, we can use a hidden div.

[2018-03-06 17:12] sepehr500 opened #1041 "NoMethodError: undefined method 'closed?' for nil:NilClass"
When I try to use spin up the webpack dev-server I get the error `NoMethodError: undefined method 'closed?' for nil:NilClass` which is caused by a conflict between Rack:Proxy(which webpacker is using) and Webmock. Unfortunately we do not have the option of removing Webmock when doing local development. Has anybody found a workaround for this issue?

[2018-03-06 19:23] justin808 commented on #1031
@bakunyo can you help us with a PR?

[2018-03-06 19:24] justin808 commented on #1031
All the old code is there...just needs good tests to be sure this works and we don't break it.

[2018-03-06 19:49] AirWick219 opened #1042 "Still need webpacker for Rails 5.1.3 above ?"
So in the Readme under ```Steps to a New App with rails/webpacker v3 plus latest React on Rails```, it says

I am on rails version Rails 5.1.4  after setuping everything in ```Basic installation for a new Rails App``` and run it. I got an error for

undefined method `javascript_pack_tag'  for ```<%= javascript_pack_tag 'hello-world-bundle' %>```

Which as far as I know javascript_pack_tag helper i

[2018-03-07 08:47] justin808 commented on #1042
Yes to the above.

[2018-03-07 08:47] #1042 closed

[2018-03-07 08:48] justin808 commented on #1041
1. Why would you use Webmock in development?
2. Try skipping the webpack-dev-server and just using the option to compile the files as needed.

[2018-03-07 13:38] sepehr500 commented on #1041
We use webmock in development to mock requests to legacy systems we have no control over. And the project has gotten large enough the compile on reload is too slow. We also want to take advantage of live reloading.

[2018-03-09 07:25] justin808 commented on #1031
Airbnb does something like this:

[code]

[2018-03-09 07:26] justin808 commented on #1031
![2018-03-08_21-26-25](https://user-images.githubusercontent.com/1118459/37195544-5e8a061a-2317-11e8-85ea-94dfad6480cd.png)

[2018-03-10 17:52] andrewmarkle opened #1044 "Can't run the specs from a path with spaces"
When trying to run my specs I'm getting the following error:

<img width="597" alt="screen shot 2018-03-10 at 12 42 37 pm" src="https://user-images.githubusercontent.com/2506835/37245126-776171dc-2461-11e8-89aa-adbc9eaa0912.png">

The cause for the error is that my path where I store my project in has a space in it `.../Mobile Documents/...` For the bash command to work properly, the empty space n

[2018-03-10 20:02] justin808 commented on #1044
@andrewmarkle Yes, please do make a PR!

[2018-03-13 13:00] jm96441n commented on #965
So I see this issue is closed, but after updating to the most recent release I'm still getting similar deprecation warnings when running yarn commands:
[code]

[2018-03-13 18:44] justin808 commented on #1021
@sepehr500 Please submit a PR with tests and a CHANGELOG entry. Can you confirm that you considered the edge cases? @kkak10 any suggestions?

[2018-03-13 19:21] sepehr500 commented on #1021
@justin808 The only edge case I can think of is if somebody actually wants to have `%{` in their code. I am trying to see if https://github.com/svenfuchs/rails-i18n handles this with an escape char or something like that, but I do not think they do.

[2018-03-14 03:46] kkak10 commented on #1021
I don't think the edge case that actually have `%{` we mentioned above is a problem.

@sepehr500 Thank you! This is what I wanted to do.

[2018-03-14 14:01] sepehr500 commented on #1021
@justin808 #1046 is ready for review to fix this issue.

[2018-03-20 20:10] mapreal19 commented on #39
#1048 Addressing this

[2018-03-21 17:33] imgarylai opened #1049 "Elastic beanstalk deployment question: atal: Not a git repository (or any of the parent directories): .git"
Hello,

I'm trying to deploy my app to aws through elastic beanstalk. The file `yarn.config` from this [repo](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/elastic-beanstalk.md) has been adding to the `.ebextensions` directory. Messages below shows the reason causing deployment failure. Is anyone familiar with elastic beanstalk can understand what causes this happ

[2018-03-21 19:48] imgarylai commented on #1049
I solve this issue by creating the config file below, but I have a new issue that all my pack assets get 404.

[code]

[2018-03-21 20:12] imgarylai commented on #1049
I solve this problem. It's because `nginx`. For people who use elastic beanstalk with rails please remember add the location of `/packs`.

It's like something below in your `/etc/nginx/conf.d/proxy.conf`
[code]

[2018-03-21 21:15] justin808 commented on #1049
@imgarylai thank you for your work on this. Could you please submit a doc PR on this?

This is the file to change: https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/elastic-beanstalk.md

[2018-03-23 08:03] #1021 closed

[2018-03-27 16:03] Johnfredadams opened #1051 "Suggested Change to Webpack Dev Settings"
Thanks so much for this brilliant gem! It's what I've been looking for.
If you're using shakacode in a hybrid app with some standard rails and some react + precompiling before push, it gets exhausting having to re-compile all the bundles that you didn't change because they got overwritten as soon as you started up the dev server. Suggest that you add `public_output_path: dev-packs` to default deve

[2018-03-31 23:43] #1044 closed

[2018-04-03 01:59] #1049 closed

[2018-04-03 02:01] justin808 commented on #1051
@Johnfredadams

Thank you for your kind words.

Can you submit a PR with what you're thinking of for a doc change?

Please email me if you'd like an invite to our private Slack for React on Rails users.

Thanks,

Justin
justin@shakacode.com

[2018-04-06 19:32] Yamikamisama opened #1054 "Set is not defined"
Has anyone encountered this error im not too sure what I'm looking for to fix

[code]

<img width="616" alt="screen shot 2018-04-06 at 3 28 51 pm" src="https://user-images.githubusercontent.com/8148176/38440527-b660e49a-39af-11e8-9f22-3551baeb3f85.png">

[2018-04-07 17:19] faisal1337 opened #1055 "Print Dialog box appears when using react_component to render."
Whenever I use `react_component` method to render a component, upon opening the website, I get a print dialog box. I switched browsers and it still occurs.

[2018-04-09 10:27] loiclouvet commented on #883
@zquintana Did you successfully make styled-components work with ReactBundle ?

[2018-04-10 06:46] justin808 commented on #1055
@faisal1337 sounds like you need some debugging help. I'm the creator of React on Rails. We have a support plan to help you. See shakacode.com/work/shakacode-pro-support.pdf.

[2018-04-10 06:46] #1055 closed

[2018-04-10 06:46] justin808 commented on #1054
Sounds like you need some debugging help. I'm the creator of React on Rails. We have a support plan to help you. See shakacode.com/work/shakacode-pro-support.pdf.

[2018-04-10 06:46] #1054 closed

[2018-04-10 06:47] justin808 commented on #1041
@sepehr500 Any update on this issue? Should we keep this open?

[2018-04-12 15:09] railsme opened #1058 "Replace puts calls with Logger"
This feature will allow us to define output logger and redirect it to whatever we need.
STDOUT, file or nothing.
`puts` is not the best way to output useful information.
If nobody will start work on this feature I'll try to find some time a bit later.

@justin808 any ideas or recommendations? :)

[2018-04-12 18:13] justin808 commented on #1058
Please point me to some places in the code or submit a PR.

[2018-04-12 19:30] railsme commented on #1058
@justin808 there are also a lot of puts in tests but it is okay for tests.
Runtime output should be under developer's control.

https://github.com/shakacode/react_on_rails/blob/8c8077b3b86680581aef5f49908225aa33ea25fd/lib/react_on_rails/server_rendering_pool/node.rb#L44-L48
https://github.com/shakacode/react_on_rails/blob/8c8077b3b86680581aef5f49908225aa33ea25fd/lib/react_on_rails/assets_precompil

[2018-04-13 04:10] justin808 commented on #1058
Hi @railsme. Please submit a PR. Please consider the type of message and whether it should be info, warn, or error.

Thanks,

Justin

[2018-04-17 00:50] obromios commented on #232
When I received this message, it was because I had removed react-rails from my Gemfile but not the configuration code in config/development.rb

[2018-04-17 06:15] hakunin opened #1060 "Can't deploy to heroku due to Syntax Error (unrecognized JSX)"
Hi,
just did a fresh install with Rails 5.1.5, added react_on_rails, works nice locally, but fails to deploy (it doesn't seem to recognize JSX).

[code]

[2018-04-17 06:44] hakunin commented on #1060
It was missing `.babelrc`, I am surprised rails or the gem didn't set it up.

[2018-04-17 06:44] #1060 closed

[2018-04-17 06:58] justin808 commented on #1060
@hakunin Did you use the default webpacker setup? or a custom setup?

[2018-04-17 07:57] hakunin commented on #1060
Followed the tutorial from README https://github.com/shakacode/react_on_rails where it says `rails new my-app --webpack=react`, but now I re-ran the command in an empty directory and it does create `.babelrc`.

I must have copied the files wrong when I moved them. Looks like `mv somedir/*` omits dotfiles. https://askubuntu.com/questions/259383/how-can-i-get-mv-or-the-wildcard-to-move-hidden-files

[2018-04-20 07:37] justin808 commented on #482
Resolved in #1059.

[2018-04-20 07:37] #482 closed

[2018-04-20 08:04] justin808 commented on #686
Done in #1059.

[2018-04-20 08:04] #686 closed

[2018-04-20 08:05] justin808 commented on #1041
Ping me to reopen if needed, @sepehr500.

[2018-04-20 08:05] #1041 closed

[2018-04-20 08:54] dzirtusss opened #1062 "Version checking mismatch bug"
There is a possibility of versions mismatch when version in `package.json` is accidentally specified in non-exact style e.g. `^10.1.3`. If later version is bumped to say `10.1.4` in node packages this is not noticed by the gem.

I guess this could be fixed easily by forcing only exact version in `package.json` by `version_checker.rb`, or at least having a warning that version is not exact.

[2018-04-20 12:46] sepehr500 commented on #1041
@justin808 Unfortunately I could not figure out how to solve this.

[2018-04-21 05:54] justin808 commented on #1058
@railsme I'm taking care of this one. Thanks for reporting this! #1059

[2018-04-21 05:54] #1058 closed

[2018-04-21 05:56] justin808 commented on #1062
Here is the file to change: https://github.com/shakacode/react_on_rails/blob/49401b2b48aaf397de625f988ab0617ed4499fc4/lib/react_on_rails/version_checker.rb

and the test to update: https://github.com/shakacode/react_on_rails/blob/94868d0810a4f0e51b8e8d7ed79d73d7bcaae342/spec/react_on_rails/version_checker_spec.rb

[2018-04-21 05:57] justin808 commented on #1051
@Johnfredadams Please open a PR when you have this ready. I'll close for now.

[2018-04-21 05:57] #1051 closed

[2018-04-21 05:59] justin808 commented on #1051
@Johnfredadams are you referring to this one used for testing? https://github.com/shakacode/react_on_rails/blob/a333608e736c81190157fc82ea0d7d4be4c3b6fb/spec/dummy/config/webpacker.yml

or the one used by the webpacker gem which the react on rails tutorial uses?

[2018-04-21 06:00] justin808 commented on #1040
@fantasydong Please feel free to request me to re-open this one.

I'd be happy to work on a custom solution for you if you like. Let me know.

[2018-04-21 06:00] #1040 closed

[2018-04-21 06:01] justin808 commented on #1034
@mkalygin Sounds like you need some better debugging. Please reach out to me if you need more help: justin@shakacode.com.

[2018-04-21 06:01] #1034 closed

[2018-04-21 06:01] justin808 commented on #1033
@mkalygin Please feel free to ask me to reopen this.

[2018-04-21 06:01] #1033 closed

[2018-04-21 06:03] justin808 commented on #1032
@jeffling I recommend upgrading to use the webpacker way of handling the assets. See the README.md on that one.

[2018-04-21 06:03] #1032 closed

[2018-04-21 06:04] justin808 commented on #1031
Any more requests for AMP? I'll leave this one open for now.

[2018-04-21 06:05] justin808 commented on #1030
@Overload119 feel free to reach out to me directly if you have more questions: justin@shakacode.com.

[2018-04-21 06:05] #1030 closed

[2018-04-21 06:07] justin808 commented on #1027
Generated file contains:
[code]

[2018-04-21 06:07] #1027 closed

[2018-04-21 08:11] justin808 commented on #1023
@ynonp Any word on making a PR?

[2018-04-21 08:41] justin808 commented on #969
@eliias this seems like a bug, as you've pointed out as your server file might not be using a filename that has a hash.

How about if we just always use the timestamp (else part)? I don't see any big issue with checking the mtime of the file.

[code]

[2018-04-21 09:09] justin808 commented on #1029
Fixed in #1059

[2018-04-21 09:09] #1029 closed

[2018-04-21 09:09] justin808 commented on #969
Fixed in #1059

[2018-04-21 09:09] #969 closed

[2018-04-21 09:11] #954 closed

[2018-04-21 09:11] justin808 commented on #954
@alexjose74 If you find the answer, a doc PR is appreciated!

[2018-04-21 09:11] #1000 closed

[2018-04-21 09:12] justin808 commented on #973
@divya2661 Please submit a PR if you come up with something.

[2018-04-21 09:12] #973 closed

[2018-04-21 09:28] #814 closed

[2018-04-21 09:29] justin808 commented on #799
@squadette any interest in taking a crack at this one?

[2018-04-21 09:32] mapreal19 commented on #1023
@justin808 yeah, we should just extract the method for hinting the intent by @ynonp. Something like `take_most_recent_manifest_path`

[2018-04-21 09:34] #810 closed

[2018-04-21 09:35] #892 closed

[2018-04-21 09:38] justin808 commented on #820
@dzirtusss We'll do this for React on Rails Pro. Anybody interested should contact me at justin@shakcode.com.

[2018-04-21 09:38] #820 closed

[2018-04-21 21:28] justin808 commented on #1062
https://github.com/bundler/bundler/issues/6500 to see if I can find out if the ruby gem has a semver wildcard.

[2018-04-21 22:12] justin808 commented on #1062
Fixed in #1063.

[2018-04-21 22:12] #1062 closed

[2018-04-21 22:55] justin808 commented on #1023
Fixed in #1064

[2018-04-21 22:55] #1023 closed

[2018-04-21 22:59] justin808 commented on #949
File created in the docs/additional-reading directory.

[2018-04-21 22:59] #949 closed

[2018-04-21 23:00] justin808 commented on #874
Fixed a while back.

[2018-04-21 23:00] #874 closed

[2018-04-21 23:29] justin808 commented on #871
PhantomJS is deprecated.

[2018-04-21 23:29] #871 closed

[2018-04-21 23:30] justin808 commented on #817
@jtmarmon feel free to submit a doc PR.

[2018-04-21 23:30] #817 closed

[2018-04-21 23:30] #813 closed

[2018-04-21 23:32] justin808 commented on #798
I'm open to a PR or reopening this discussion if needed.

[2018-04-21 23:32] #798 closed

[2018-04-21 23:32] justin808 commented on #786
This was done for React on Rails v9.

[2018-04-21 23:32] #786 closed

[2018-04-21 23:33] justin808 commented on #779
@amf9t2 @martyphee Any update on this one?

[2018-04-21 23:34] justin808 commented on #772
Supporting hot loader changes is out of scope for React on Rails currently.

[2018-04-21 23:34] #772 closed

[2018-04-21 23:36] justin808 commented on #697
Fixed in #1065.

[2018-04-21 23:36] #697 closed

[2018-04-21 23:36] #753 closed

[2018-04-21 23:36] #766 closed

[2018-04-21 23:37] justin808 commented on #716
@ledestin is no longer working on this one. I'm open to somebody else picking this one up and creating a PR.

[2018-04-21 23:39] justin808 commented on #691
@bloomdido @vassyz closing for now. If you have any updates, please ping me!

[2018-04-21 23:39] #691 closed

[2018-04-21 23:40] #677 closed

[2018-04-21 23:42] justin808 commented on #625
This is part of "React on Rails Pro". Contact justin@shakacode.com for more information on using a Node rendering server. This is in production for https://egghead.io.

[2018-04-21 23:42] #625 closed

[2018-04-21 23:43] justin808 commented on #613
Closing for now.

[2018-04-21 23:43] #613 closed

[2018-04-21 23:45] #568 closed

[2018-04-21 23:46] #562 closed

[2018-04-21 23:48] #549 closed

[2018-04-21 23:48] #504 closed

[2018-04-21 23:49] #501 closed

[2018-04-21 23:50] #332 closed

[2018-04-21 23:51] #245 closed

[2018-04-22 00:04] justin808 commented on #39
Caching is a part of React on Rails Pro. Contact justin@shakacode.com for more info.

[2018-04-22 00:04] #39 closed

[2018-04-23 04:57] dimasjt commented on #798
I got the same issue, it's because the translation have symbol value, I use `i18n-rails` https://github.com/svenfuchs/rails-i18n/blob/master/rails/locale/zh-CN.yml#L59

[2018-04-23 08:59] codercr commented on #460
@justin808 I have server side rendering working find when I run `foreman start -f Procfile.dev`. But when I run `foreman start -f Procfile.dev-server` I get the error `No such file or directory @ rb_file_s_mtime - http://localhost:3035/packs/application-af1fcdce5b681ac6378b.js`. I have a pack called `application.js` which builds properly when I run without webpack dev server. It does not seem to w

[2018-04-25 10:26] rodrigobdz opened #1073 "Broken link to Josephine in PROJECTS.md"
The link to [Josephine](https://www.josephine.com/) listed under [Commercial Products Live](https://github.com/shakacode/react_on_rails/blob/b5b49601f2d405eac892c0df0990e508313f83ef/PROJECTS.md#commercial-products-live) in [PROJECTS.md](https://github.com/shakacode/react_on_rails/blob/b5b49601f2d405eac892c0df0990e508313f83ef/PROJECTS.md) is broken.

[2018-04-27 10:23] saiwas opened #1074 "SSR -- TypeError: Cannot read property 'object' of undefined"
Hey guys, my project is using `react-on-rails  v8.0.6`. Recently, I tried to update `React` version from 15.x.x to 16.x.x. But I got an error as below. I already tried to upgrade `react-on-rails` to v11.0.3.
But the error still here. I used **server-side-rendering** in my ERB file, and I'm sure it works with React 15.
Anyone else has this issue and maybe ideas how to properly fix it? Thanks

[code

[2018-04-27 16:38] hewrin opened #1075 "Can't verify CSRF token authenticity with Fetch API"
Hi, so I get this error in the server when I try to do a fetch request in React

[code]

Here is my fetch request

[code]

I tried doing `ReactOnRails.authenticityHeaders(headers)` in the console and I got this

[code]

So it seems thats working.

Am I missing something?

[2018-04-27 20:44] justin808 commented on #1074
1. Stick with 11.0.3
1. turn off server rendering and see if you get the same issue
1. go back to v15 of react and see if you get the same issue
1. Do you have a full stack trace of the error? Since "object" is not called like `foobar.object` where foobar is null in your code example, the culprit is in some code you are not showing.

Please see Would you be interested in our ShakaCode Pro Support

[2018-04-27 21:07] justin808 commented on #1075
Take a look at
* https://github.com/shakacode/react_on_rails/blob/master/node_package/src/ReactOnRails.js#L102
* https://github.com/shakacode/react_on_rails/blob/d5d579e7c1a24667eb5ccfbb34c17c0e898d6bf9/docs/api/javascript-api.md
* https://github.com/shakacode/react_on_rails/blob/57fdc402a67155d3f93bc4f89c5aec064092f26f/README.md#L634

Would you be interested in our ShakaCode Pro Support plan?

ht

[2018-04-27 21:09] justin808 commented on #1075
@hewrin My firm has built https://www.hawaiichee.com and we've got lots of experience on the nuances of the CSRF issues.

[2018-04-27 21:09] #1075 closed

[2018-04-27 21:45] justin808 commented on #1073
fixed

thanks!

[2018-04-27 21:45] #1073 closed

[2018-04-27 21:52] rodrigobdz commented on #1073
Glad to help!

[2018-04-28 02:29] saiwas commented on #1074
@justin808  Thanks for your advice. I still strange that why it does not hit the error in React 15, but complied failed in React 16 although there's no code changed. May I know does `react_on_rails` v11.0.3 support React 16 now?

[2018-04-28 05:56] justin808 commented on #1074
My company's product, chttps://www.hawaiichee.com/, uses React 16.3.1 and react-on-rails 10.1.4. There are no JavaScript differences with v11 vs. v10.

[2018-04-29 19:12] 9jaswag opened #1076 "Unable to use Mobx decorators in React On Rails"
Hello,
I'm trying react-on-rails for the first time and I've been struggling to use Mobx decorators such as `@observable` `@action`.
I'm using `gem 'react_on_rails', '11.0.0'`, `"react-on-rails": "11.0.3"`, `Rails 5.1.6`, `ruby 2.4.1p111`. I followed the instruction in the readme to set up the project (and I don't have a `client` folder after installing react-on-rails gem).
I have the following:
[

[2018-04-29 19:28] justin808 commented on #1076
@9jaswag Take a look at the example https://github.com/shakacode/react-webpack-rails-tutorial.

Would you be interested in our ShakaCode Pro Support plan? We did and continue to do lots of work for https://egghead.io/. They use Mobx with React on Rails.

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-minute consultation:
https://calendly.com/just

[2018-04-29 19:28] #1076 closed

[2018-05-11 20:02] #1074 closed

[2018-05-11 20:03] justin808 commented on #1074
@saiwas feel free to request re-opening.

[2018-05-12 06:55] rodrigobdz commented on #716
@justin808 I'll grab this one.

[2018-05-15 07:33] justin808 commented on #716
@rodrigobdz That would be awesome!

[2018-05-15 19:38] justin808 opened #1089 "Create new generator that makes the /client type install"
When react_on_rails updated to webpacker, we simplified the generator to not build any webpack configuration.

Reasons to offer a /client type install:

* The `/client` type install is _recommended_ (see README.md)
* With Webpack v4, the webpack setup is much simpler.

Is anybody interested in working on this with me?

[2018-05-15 19:39] justin808 commented on #716
@rodrigobdz Please email me justin@shakacode.com to get in our Slack group. Maybe we could do #1089 first.

[2018-05-16 17:48] hoenth opened #1091 "IE 11 fails with SCRIPT1003: Expected ':'"
When loading React components into a rails app using ReactOnRails, the components fail to load on IE 11 and the following error is displayed:
    SCRIPT1003: Expected ':'

The error points to the comma after the 'e' character in the compiled code:

    ...catch(e){h!=0,p=(0, 1.default)({e,name:t,serverSide:!0}....

I have tracked this down to the serverRenderReactComponent that has the following c

[2018-05-16 21:07] hoenth commented on #1091
I attempted to reproduce the error locally in the spec/dummy app, but could not.

Taking a look at the code that gets generated, the function in question does correctly have the keys

    } catch (e) {
      hasErrors = true;
      htmlResult = (0, _handleError2.default)({
        e: e,
        name: name,
        serverSide: true
      });
    }

However, once minified on the server, we get the f

[2018-05-16 21:18] justin808 commented on #1091
Ie cannot handle the object shorthand notation.

[2018-05-16 21:27] hoenth commented on #1091
Yes. But I am not clear on why compressing/uglifying the JS is converting key/value pairs, which appear in the uncompressed versions (on the server in the node_modules folder) and when running locally, to the short-hand.

[2018-05-18 13:26] hoenth commented on #1091
It turns out that this was caused by a change with webpacker and UglifyJS. Previously, UglifyJS was configured to return ECMA 5 level code, but that was changed to 8 (https://github.com/rails/webpacker/issues/1235). IE 11 requires 5.

To fix this, we added the following statement to our config/webpacker/production.js file:

    environment.plugins.get("UglifyJs").options.uglifyOptions.ecma = 5

So

[2018-05-18 13:26] #1091 closed

[2018-05-21 03:15] justin808 commented on #1075
@foo4foo I invited you to our Slack Room. You can ask the group there.

[2018-05-25 13:06] vfonic opened #1094 "Too many old gem versions throughout the documentation"
Every time I come back to the documentation, I see various `react_on_rails` gem versions all over the place. It's confusing and, I guess, it happens because there are too many places to update the version number (in the docs).
Perhaps it would be better to have a generic text referring to "current version" instead?

Something like:

[2018-05-25 19:51] justin808 commented on #1094
@vfonic can you provide a PR for this? I agree.

[2018-05-25 23:56] hchevalier commented on #921
Hi,

I may have missed something but I couldn’t find a way to use ClientStartup.render without modifying the node module, and neither could I re-render all of my components, so I came with another solution:

In a component:
[code]

To trigger it from your ajax call callback:
[code]

Also, if you use Redux, make sure the `redux_store` from your controller is also called when serving async requests,

[2018-05-26 02:25] justin808 commented on #921
@hchevalier if you think this is generally useful, please create a very simple demonstration of why in the sample app in the /spec/dummy of this repo. Throw some docs, a changelog entry, and a test, and I'll merge it!

[2018-05-26 02:26] justin808 commented on #921
@hchevalier Please email me at justin@shakacode.com to get an invite to our Slack channel.

[2018-05-28 15:02] vassilis opened #1096 "Warning message?"
ReactOnRails: Set generated_assets_dir to default: public/webpack/development

Is the above message a warning?

Do I have to add something in react_on_rails.rb initializer?

I am using rails 5.2.0 and webpacker 3.5.3.

[2018-05-28 15:48] vfonic commented on #1094
Sorry, can't get to it now.

[2018-05-30 00:50] justin808 commented on #1096
Not a warning. Just informative. You did not set that in your config/initializers.rb, so you're being told what React on Rails thinks you want.

[2018-05-30 00:50] #1096 closed

[2018-05-30 02:06] Kandianne commented on #1091
Adding @hoenth 's fix worked for me when I was getting the same error, while using
`"uglifyjs-webpack-plugin": "^1.2.5" and "webpack": "^2.5.1"`
In webpack.prod.config.js I popped the line `environment.plugins.get("UglifyJs").options.uglifyOptions.ecma = 5 ` in and worked like a charm. Thanks!

[2018-06-03 21:03] justin808 commented on #347
![image](https://user-images.githubusercontent.com/1118459/40891236-9b0b406e-671d-11e8-80ee-c026dbd1d5a2.png)

[2018-06-04 04:15] brandoncc opened #1097 "Generator function is not a generator function?"
I've been struggling for hours to get access to `railsContext` unsuccessfully. I copied your example generator function, but for some reason it doesn't pass as a generator function. Here is my bundle:

[code]

I get:

[code]

In the console, which shows why it is failing the generator function check, but I can't figure out *why*, especially since it is a copy-paste of your example. I'm hoping it i

[2018-06-04 04:18] brandoncc commented on #1097
If it helps, this is what I get when I log the function object itself:

<img width="292" alt="image" src="https://user-images.githubusercontent.com/543973/40898040-9bedeea4-6773-11e8-9452-7e0205d5f727.png">

[2018-06-04 07:47] justin808 commented on #1097
@brandoncc Please run the example in the spec/dummy directory or https://github.com/shakacode/react-webpack-rails-tutorial. I'm quite sure there is no real issue here.

I'm available to help you if you really need it.

Would you be interested in our ShakaCode Pro Support plan?

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-minute consultation:
h

[2018-06-04 07:47] #1097 closed

[2018-06-04 07:48] justin808 commented on #1097
@brandoncc One of my clients sent me this a few days ago:

![image](https://user-images.githubusercontent.com/1118459/40904855-d0b2bbc0-6777-11e8-9e31-c2c998fb5b5c.png)

[2018-06-04 08:15] justin808 commented on #347
![image](https://user-images.githubusercontent.com/1118459/40905964-2b6bd22e-677b-11e8-97c7-729f8fd02e81.png)

![image](https://user-images.githubusercontent.com/1118459/40906135-9d9eff4c-677b-11e8-9066-9a24beec2b24.png)

[2018-06-04 08:16] justin808 commented on #347
![image](https://user-images.githubusercontent.com/1118459/40906178-be2e8b7e-677b-11e8-98e0-755ecf6464f9.png)

[2018-06-04 14:42] brandoncc commented on #1097
I tried running the dummy app and I get this:

[code]

I spent much of the hours I was stuck pouring through the dummy app code though, so I am familiar with it.

I'm wondering if there is something special I need in my babel config or something else in order to have proper "generator functions". That is because MDN says arrow functions do not have `prototype` properties, yet they need to have tha

[2018-06-04 21:10] brandoncc commented on #1097
Okay, I'm thinking I must have a webpacker or babel config that is breaking things. I went through the process of creating a new app and I used this for my bundle:

[code]

The `railsContext` object logs out perfectly. Now to keep digging.... Thanks for letting me know that my code itself looked good and getting me to try something else.

[2018-06-04 21:39] brandoncc commented on #1097
I figured it out, and I hope this helps someone else. I had this in my `.babelrc`:

[code]

but it needed to be:

[code]

I believe I had changed that when I was trying to deal with `regeneratorRuntime is undefined`.

[2018-06-04 22:22] brandoncc commented on #1097
Pushing further into this, it turns out that I needed to add `import "babel-polyfill";` to my bundle. After adding that, `useBuiltIns` works properly. The result of that is the `regeneratorRuntime` error being fixed and `railsContext` works now.

I hope this helps you to help someone else. Thanks again!

[2018-06-07 18:28] brandoncc opened #1098 "Is it possible to disable the setTimeout error in dev for SSR?"
I use `typestyle` which calls `setTimeout`. I tried defining `global.setTimeout` as a noop, but I still get the error from the gem saying you shouldn't use that on the server side. `typestyle` has a different way to handle SSR, and still seems to call `setTimeout`. Because of that, I just need to suppress the error.

[2018-06-07 21:56] justin808 commented on #1098
I'm open to taking a PR for this. It's pretty easy.

Alternately, would you be interested in our ShakaCode Pro Support plan? I could do this very quickly.

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-minute consultation:
https://calendly.com/justingordon

Thanks,

Justin
justin@shakacode.com

[2018-06-08 02:53] dkniffin commented on #423
For anyone else that comes looking for this, I wanted to mention an alternative I found.

There's a gem called [js-routes](https://github.com/railsware/js-routes) that is purpose-built for exposing Rails routes in JS. Unfortunately, it doesn't (yet) support webpacker out of the box, but there's an easy workaround [here](https://github.com/railsware/js-routes/issues/234#issuecomment-380794815).