[2016-02-23 23:09] robwise commented on #276
@thewoolleyman if you're simply trying to do shallow rendering tests and get css modules imports to work, we do already have that working. The thing Alex is trying to do is completely leverage webpack, which is useful if you are using other loaders, lots of aliases, etc.

**scripts/test**
[code]

**app/libs/tests/setup.js**
[code]

[2016-02-23 23:20] robwise commented on #276
Oh just realized the title of the issue was an example of a shallow rendering test:

[code]

**app/libs/tests/utils.js**
[code]

[2016-02-24 01:14] justin808 commented on #291
@lifeiscontent tried also. I'm really not sure.

A regular deploy needs

* Port 3000 for Rails (and that's all you need if you statically compile your assets)
* Port 3500 for the Rails Hot Reload server to server the JS and CSS

[2016-02-24 02:12] justin808 commented on #291
Copy this file:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/Procfile.static#L2

And modify the command that starts Rails.

That's it.

[2016-02-24 14:44] bartoszbinda commented on #291
What am I doing wrong?
https://github.com/bartoszbinda/shop

[2016-02-24 22:30] justin808 opened #292 "Better message if server asset compile fails"
If somebody is doing client side only rendering, maybe we shouldn't have a default for the server side rendering setup?

Maybe we can make this a bit smarter?

![2016-02-24_12-28-16](https://cloud.githubusercontent.com/assets/1118459/13303235/35312b78-daf2-11e5-8aae-74fbbbc4b401.png)

@ernie Any more details? do you have the samples of your config when it didn't work and what error message you saw

[2016-02-24 22:38] ernie commented on #292
When it didn't work:

[code]

[code]

Did some digging in the source, found the code looking at whether `server_bundle_js_file` was empty, and then found https://github.com/shakacode/react_on_rails/blob/51f77e0c512444c0eb65d2ac54669eb587b1f90b/docs/additional_reading/optional_configuration.md and noticed a comment that wasn't in my copy of the initializer:

[code]

That did the trick.

[2016-02-24 22:40] justin808 commented on #291
@bartoszbinda

[code]

You need to debug the npm command for "client" in your procfile locally first. You're missing some dependencies. Compare your setup to:

* https://github.com/shakacode/react-webpack-rails-tutorial/tree/master/client
* https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/package.json

You should also disable server side processing until you work out cl

[2016-02-24 22:40] #291 closed

[2016-02-24 22:42] justin808 commented on #206
Here's a related issue:
https://github.com/shakacode/react-webpack-rails-tutorial/pull/234

[2016-02-24 22:56] justin808 commented on #290
* http://parley.rubyrogues.com/t/should-rails-apps-use-defer-when-loading-application-js/3395 (might require membership). Copied [here in Evernote](https://www.evernote.com/shard/s108/sh/0ebe7279-219a-4b30-a85c-633b836a828c/46b5ab64851c0399a29827b5546ed99a).
* https://github.com/shakacode/react-webpack-rails-tutorial/pull/234
* https://github.com/shakacode/react_on_rails/issues/206

@SqueezedLight

[2016-02-24 23:17] justin808 commented on #292
We need an else condition here if the file is not found and we should check that the file is not blank.

https://github.com/shakacode/react_on_rails/blob/master/lib%2Freact_on_rails%2Fconfiguration.rb#L38
[code]

We should also change the default server bundle file:

https://github.com/shakacode/react_on_rails/blob/master/lib%2Freact_on_rails%2Fconfiguration.rb#L14

[code]

We can add a check here

[2016-02-24 23:27] ernie commented on #292
Also, when you run the install, wouldn't it be possible to default the server js to empty when someone uses `--no-server-rendering`? That would have prevented my issue altogether.

[2016-02-24 23:29] justin808 commented on #170
@thewoolleyman, @martyphee Is this still an issue? Can we close this?

[2016-02-24 23:30] justin808 commented on #84
@jbhatab @aaronvb @robwise @rupurt @alexfedoseev @thewoolleyman I'm thinking maybe we should not have this be part of react_on_rails, and just part of the https://github.com/shakacode/react-webpack-rails-tutorial and other articles.

[2016-02-24 23:31] justin808 commented on #18
Closing this as #179 is the one that should do this one.

[2016-02-24 23:31] #18 closed

[2016-02-24 23:33] justin808 commented on #160
Closes #18. We'll do CSS Modules and the hot reloading as one step for the generators.

[2016-02-24 23:35] justin808 commented on #16
We simply need to add this helper method to ReactOnRails.

From: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/libs/metaTagsManager.js

[code]

To:

* https://github.com/shakacode/react_on_rails/blob/master/node_package%2Fsrc%2FReactOnRails.js
* A new file here: https://github.com/shakacode/react_on_rails/tree/master/node_package/src

We should also remove the de

[2016-02-24 23:40] justin808 commented on #292
Bingo. Here's the main bug:

https://github.com/shakacode/react_on_rails/blob/master/lib%2Fgenerators%2Freact_on_rails%2Ftemplates%2Fbase%2Fbase%2Fconfig%2Finitializers%2Freact_on_rails.rb#L7

[code]

[2016-02-24 23:45] scottluptowski opened #293 "Asset compilation fails with babel-runtime error"
Hello,

I created a brand new Rails 4.2 project and added the react_on_rails gem.

I ran
[code]

and followed the instructions afterwards (npm installing, etc.)

When I visit the page in my Browser, I see only this, without the "Hello Stranger" message I anticipated:
<img width="1141" alt="screen shot 2016-02-24 at 3 43 56 pm" src="https://cloud.githubusercontent.com/assets/3178471/13305059/790f14

[2016-02-24 23:46] justin808 opened #294 "Fix config.server_bundle_js file in generator"
We're setting the config.server_bundle_js file even if server rendering is not enabled.

https://github.com/shakacode/react_on_rails/blob/master/lib%2Fgenerators%2Freact_on_rails%2Ftemplates%2Fbase%2Fbase%2Fconfig%2Finitializers%2Freact_on_rails.rb#L7

[code]

We need to templatize line 7 in that file.

Here's a crystal clear example:

https://github.com/shakacode/react_on_rails/blob/master/lib%2F

[2016-02-24 23:53] justin808 commented on #22
We probably just need the startup code to call this:

https://github.com/shakacode/react_on_rails/blob/master/lib%2Freact_on_rails%2Ftest_helper.rb#L43

[code]

We should rename the module `TestHelper` to `BundledAssetsHelper` to avoid confusion that this is only due to tests.

I'm guessing we would do this here:

https://github.com/shakacode/react_on_rails/blob/master/lib%2Freact_on_rails%2Fconfi

[2016-02-24 23:55] justin808 commented on #293
@scottluptowski

Please share your repo on github.

Did you run `npm i` inside of the client directory after the install?

[2016-02-25 00:28] scottluptowski commented on #293
Hi @justin808, thanks for your quick reply.

I did not initially run `npm i` inside the client directory as the readme made me think this was done for me. I tried this and still saw the same error.

I was able to recreate the error, so I'm attaching a couple things:
- A screenshot of my steps taken
<img width="448" alt="screen shot 2016-02-24 at 4 24 53 pm" src="https://cloud.githubusercontent.com

[2016-02-25 00:33] justin808 commented on #293
Do you have node v5 or greater?

[2016-02-25 00:34] justin808 commented on #293
@scottluptowski We're doing packs of private coaching: http://www.shakacode.com/work/. This has been a great value for some other startups.

[2016-02-25 00:44] scottluptowski commented on #293
@justin808 I was using Node v4 when I created the repo. I just used nvm to switch to 5.7, npm installed, and still see the same error

[2016-02-25 00:56] aaronvb commented on #293
@scottluptowski have you tried removing the modules and reinstalling them?

[code]

[2016-02-25 01:38] scottluptowski commented on #293
@aaronvb @justin808 That did the trick, thank you!

May I suggest changing the readme to include a hard requirement on Node v5?

Thanks again for your work on the gem :100:

[2016-02-25 01:47] justin808 commented on #293
is in the current readme.

I'll emphasize this!

[2016-02-25 04:33] justin808 commented on #170
Not an issue since we moved to npm for the JS part of React on Rails.

[2016-02-25 04:33] #170 closed

[2016-02-25 06:26] SyntaxChris commented on #293
Can confirm, updating to latest version of node resolved this issue for me.  As a surfer and code lover I gotta give you guys props (pun intended)!  This open source contribution is amazing!

[2016-02-25 19:35] #294 closed

[2016-02-25 19:39] aaronvb commented on #292
@ernie Just added this in #295, thanks for the feedback!

[2016-02-25 20:27] justin808 commented on #292
First part fixed in Release 3.0.4.

[2016-02-25 22:13] kayakyakr commented on #289
Coming at this as someone completely new to React, evaluating JS libraries, so fresh eyes:

1. Install process should be streamlined. It's OK for new projects, but you modify too many existing files for established projects looking to integrate React on Rails. Route, application.js & css, adding a controller, tasks, etc. I know you're trying to be opinionated, but I'd rather see a "way" than a bun

[2016-02-26 01:41] thewoolleyman commented on #84
@justin808 Sure, as long as we have some article explaining and example repos showing how to add it easily and these are prominently linked in the main repo README.  Testing is important.  Perhaps it can be added as a generator option someday ;) (ducks any thrown objects)

[2016-02-26 05:26] #293 closed

[2016-02-26 13:10] robwise commented on #84
This is stuff that is specific to webpack and React though, isn't it? Like this isn't related to anything that the gem is doing?

[2016-02-26 16:28] thewoolleyman commented on #84
@robwise Hmm, that's a very good point.  I think that is correct?

But still from the perspective of being a framework that React/Redux newbies coming from Rails or other frameworks might use, it would still be good to have some simple but realistic examples of testing available in the example projects - or at a minimum pointers to other curated examples/tutorials on React/Redux testing that are k

[2016-02-26 16:54] justin808 commented on #84
Chad, does this help: https://github.com/shakacode/react-webpack-rails-tutorial/pull/151/files

Maybe look to see if these files changed. This is from a few months ago.

[2016-02-26 17:32] Tamiyadd opened #298 "registerStore with server rendering"
Hi man, sorry for bothering you again but i have a problem :(
I configured my app to use registerStore and it works like a charm with ClientSide Rendering but when i enable ServerSide Rendering i receive that error message

[code]

can you give me an hint why? tnx

here my store,jsx
[code]

[2016-02-26 18:21] thewoolleyman commented on #84
@justin808 Sure, that works, but I'd still like to see an explicit link to that in the react_on_rails readme.  A search of https://github.com/shakacode/react_on_rails for 'spec' or 'test' doesn't yield anything really useful for knowing how to write tests.

I'd be glad to add a blurb, but not positive where in the readme it should go, do you have a preference?

[2016-02-26 19:44] justin808 commented on #84
@thewoolleyman Please create a blurb here: https://github.com/shakacode/react_on_rails/tree/master/docs/additional_reading

[2016-02-27 00:34] justin808 commented on #84
The link goes right here in the README.md:

https://github.com/shakacode/react_on_rails#additional-reading

[2016-02-27 07:06] justin808 commented on #298
You need to register your stores and have that be a webpack dependency.

[2016-02-27 07:08] justin808 commented on #298
https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fwebpack.client.base.config.js#L24

Put store registration in this file:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fapp%2Fbundles%2Fcomments%2Fstartup%2FclientRegistration.jsx

[2016-02-28 12:10] SqueezedLight commented on #290
@justin808 Thanks, i didn't see that in the first place. I'm on it...

[2016-02-28 23:03] MindRave commented on #281
@justin808, same here. Needed the 'babel-runtime' package, otherwise bundle wouldn't compile. Don't know why this happened exactly. On one machine everything worked fine, on the other one it wouldn't without this package. Curious.

[2016-02-29 00:26] justin808 commented on #281
babel-runtime will be need for very old CI envs maybe.

Any details on when and why this is needed? Maybe the node version matters? Or the babel version?

[2016-02-29 00:33] jbhatab commented on #245
I made some example generators for the installer and component generator.

https://github.com/jbhatab/react_on_rails-generators.

They are in the pull requests if anyone wants to look it over.

[2016-02-29 00:34] justin808 commented on #281
We need to understand why this does not need it:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/package.json

Maybe this is better suited for a file in the /docs directory on this issue?

[2016-02-29 08:55] Tamiyadd commented on #298
Hi @justin808 i was just doing that, i have both client registration and server registration with startup loading of the store registration

here my files:

[code]
    app: [
      './app/bundles/Swnew/startup/clientRegistration',
    ],
[code]
entry: [
    './app/bundles/Swnew/startup/serverRegistration',
  ],
[code]

[2016-02-29 09:26] hakunin commented on #281
Here is output from `npm install` on the CI if that helps.
https://gist.github.com/hakunin/6e0f57e5e9b0f2d304b9

[2016-02-29 20:20] luisrita commented on #257
@justin808 just managed to run react_on_rails on an engine but I had to make some adjustments in the engine ApplicationController as explained in this [issue](https://github.com/reactjs/react-rails/issues/337#issuecomment-153835288):

`...we inherited from ::ApplicationController from the dummy app, no longer receive this error.`

Not sure if this is correct way to solve this.

[2016-03-01 01:39] justin808 commented on #257
@luisrita Maybe you can make a small example? The best would be to put the example in `/spec/dummy-engine` with a couple unit tests, and that way we'd cover this in our CI.

[2016-03-01 01:49] justin808 commented on #281
@hakunin We're using circle ci and yes, babel-runtime is a dependency of probably every `babel-plugin-XXX`

We're using circle CI and we're *not* directly including babel-runtime.

Can you find a doc reference that says babel-runtime should be a top level dependency?

[code]

[2016-03-01 01:51] justin808 commented on #298
@Tamiyadd You're registering your store to have the name `store`. Maybe try something more explicit?

The code you show should work. I'm interested in helping you debug this. Can you take a look at the example of the shared store in `/spec/dummy` for clues?

[2016-03-01 09:02] seoyoochan commented on #245
I agree with @jbhatab. If the default generator includes bootstrap as options, then people will look forward to adding other libraries as options like Materialize, Foundation, etc. I think it's expensive to keep the hot reloader in the default generator. it'd be worth lowering the high maintenance bar with reducing several options.

[2016-03-01 09:12] justin808 commented on #245
@seoyoochan Let me know if you want an invite to our slack room. We're looking for more code contributors!

[2016-03-01 09:26] seoyoochan commented on #245
@justin808 sure. invite me with _supergnee@gmail.com_

[2016-03-02 17:28] jopdeklein commented on #298
@justin808 I am facing the same issue - interestingly I was also using `store` as the store name :)  Unfortunately the same error occurs when I rename it to `appStore` for instance, I have looked at the examples and it seems like we're doing the same.

My initial motivation for using an externally registered store is to have the store definition later than the pre-rendered HTML for perceived perfo

[2016-03-02 17:32] Tamiyadd commented on #298
Hi @justin808 i changed the name in swStore but the error remain the same, i looked in your code and the settings is the same of yours. I also reinitialized my project using the generator (before i was coming from 1.0 version of react_on_rails) and i get the same error

do you have any hint? thanks!

[2016-03-02 17:39] jopdeklein commented on #298
Also, in this file https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/app/views/pages/server_side_redux_app.html.erb I can't seem to find the store registration as I am doing per the documentation:
`<%= redux_store("appStore", @payload) %>`

[2016-03-02 18:23] justin808 commented on #298
@jopdeklein This is the line you want: https://github.com/shakacode/react_on_rails/blob/master/spec%2Fdummy%2Fapp%2Fviews%2Fpages%2Fserver_side_hello_world_shared_store.html.erb#L2

@jopdeklein @Tamiyadd Can you two sync up the /spec/dummy app and experiment with that?

Maybe try to make a tiny app with the generator and push to github?

https://github.com/shakacode/react_on_rails/tree/master/spec

[2016-03-02 18:23] justin808 commented on #298
@jopdeklein @Tamiyadd Also, I just released 3.0.6 which gives a better error message.

[2016-03-02 18:24] justin808 commented on #290
@SqueezedLight Any update? Should we leave this issue open?

[2016-03-02 18:25] justin808 commented on #289
@kayakyakr Great feedback! @jbhatab is working on simplifying the generator setup. @seoyoochan is working with me on some features.

@kayakyakr Let me know if you'd like to join our slack room. If you can help us with some of your great ideas, that would be awesome!!!

[2016-03-02 18:27] justin808 commented on #281
@hakunin I'm going to close this issue to keep it out of the active list, but feel free to keep commenting here more.

[2016-03-02 18:27] #281 closed

[2016-03-02 18:29] justin808 commented on #22
There's some good comments in #289 on this in regards to how https://github.com/thoughtbot/ember-cli-rails does this.

[2016-03-02 18:37] jopdeklein commented on #298
@justin808 Thanks for the quick response, I see my app and initializer aren't exactly the same as yours - I bundle them all in one file, I have a `main.jsx` that includes all required entry points that bundles into `server-app.js`. Not sure if it makes a difference but I'll try to align my setup with your example, if that fails I will use the generator and compare.

[2016-03-02 19:04] jopdeklein commented on #298
Actually looking at the code the split should be correct, only difference between your example is that I am reading the store in `componentWillMount` of a wrapper (BaseProvider):

[code]

This works client-side and a similar store setup used to work with React On Rails 2.0 - Do you see anything wrong with this on first glance?

[2016-03-02 19:15] kayakyakr commented on #289
Just gave a talk on a migration path to React for the team I'm working with, including an intermediary hybrid step. I actually wound up going with Browserify + Babelify to start because it's a less intrusive setup, but if you can emulate a lot of what ember-cli-rails does (namely running their watch, lint, and compile process in server, the way they serve assets, and serving source maps by default

[2016-03-02 19:22] r0st1kuzh opened #304 "Build on production env at DigitalOcean using Capistrano"
Hello guys,
Really great work has been done on this project.
Could you also provide some instructions how to use react_on_rails with Capistrano.
I need to deploy an application and can't find information about that anywhere.

I would appreciate!

[2016-03-02 19:28] justin808 commented on #304
@r0st1kuzh I only use Heroku for now, although I do have discourse sites using digital ocean.

When you find some info, can you please submit a doc PR with details?

[2016-03-02 19:44] justin808 commented on #289
@kayakyakr Send me an email or other contact info!

[2016-03-02 20:00] r0st1kuzh commented on #304
@justin808 sure! Definitely will do

[2016-03-02 21:24] SqueezedLight commented on #290
@justin808 Sorry, i had to manage some really stressful days...

Yes, there is some progress: Exposing ```reactOnRailsPageLoaded()``` to ```ReactOnRails``` worked like a charm. But i'm using ```turbolinks 5.0``` and i'm calling some code within ```document.addEventListener("turbolinks:load", function() {});``` This peace of code stopped working, because it seems turbolinks does not fire  ```turbol

[2016-03-02 21:37] justin808 commented on #298
@jopdeklein I've never set the store like that. So I don't know. You'll have to help us debug the issue. Maybe put in some debug prints?

[2016-03-02 22:19] jopdeklein commented on #298
I understand it's a bit vague, my doubt is in which order the
componentWillMount and the store hydration takes place. I'll dive in to it
over the weekend and get back to you.

On Wednesday, 2 March 2016, Justin Gordon <notifications@github.com> wrote:

[2016-03-02 22:32] r0st1kuzh commented on #304
@justin808 Hey, just noticed that during deployment to the DO, npm install task is not triggered automatically. I don't know if it does on Heroku, but how is better to add that task from your perspective?

[2016-03-02 23:16] Kosmin commented on #281
@justin808 @hakunin @MindRave This conversation helped me a lot. I was working on getting `react_on_rails` to work with semaphoreci and after including `babel-runtime` as a dependency our problems were fixed.

We were also missing the `"imports-loader": "^0.6.5"` dependency, in case anyone else runs into the same issue.

[2016-03-02 23:38] r0st1kuzh commented on #304
I've tried to configure additionally https://github.com/capistrano/npm but unfortunately no success...(

[2016-03-03 02:13] justin808 commented on #281
@Kosmin Any idea on why we need babel-runtime, when it's a dependency of the other babel modules?

[2016-03-03 06:22] Landrito opened #305 "Install command "rails generate react_on_rails:install --help" is hung."
Whenever I try and run the command, I always get hung. When I ctrl-c I get the following:

`/Users/ernestlandrito/.rvm/gems/ruby-2.2.1/gems/spring-1.6.4/lib/spring/client/run.rb:98:in `gets': Interrupt
	from /Users/ernestlandrito/.rvm/gems/ruby-2.2.1/gems/spring-1.6.4/lib/spring/client/run.rb:98:in `verify_server_version'
	from /Users/ernestlandrito/.rvm/gems/ruby-2.2.1/gems/spring-1.6.4/lib/sprin

[2016-03-03 06:50] #305 closed

[2016-03-03 14:06] jopdeklein commented on #298
@Tamiyadd @justin808 I've set up an example project with the generator, I adjusted the code to read the hydrated store and it seems to work fine both client and server side: https://github.com/jopdeklein/react-on-rails-redux-example

I'll investigate what I am doing differently and try to isolate the issue.

[2016-03-03 15:35] jopdeklein commented on #298
Actually scrap that, I was looking at cached correct results. It seems the order of the store registration is relevant:

works:
[code]

doesn't work:
[code]

Kind of makes sense but I was specifically looking to have the store after the pre-rendered HTML to improve perceived performance for the end user. Any pointers to get this to work @justin808? Your input is much appreciated.

[2016-03-04 02:32] justin808 commented on #298
@jopdeklein Please take a look at this code:

### CLIENT SIDE
https://github.com/shakacode/react_on_rails/blob/master/node_package%2Fsrc%2FclientStartup.js#L93

[code]

We hydrate the stores on the client side before any components.

### SERVER SIDE

The problem is here: https://github.com/shakacode/react_on_rails/blob/c7c73245c6a5b68e6e4ddf991ed8e4034b80e192/app/helpers/react_on_rails_helper.rb#L

[2016-03-04 02:32] justin808 commented on #298
@jopdeklein @Tamiyadd would either of you be interested in submitting a PR for this?

[2016-03-04 23:36] Igor10k opened #307 "localhost:4000 doesn't work when using foreman"
Readme says in the "Developing with the Webpack Dev Server" section to launch `foreman start -f Procfile.dev` and then go to `localhost:4000`, but there is nothing on port 4000. Is it an error in the readme?

In fact procfile.dev starts the `build:dev:client` script that starts webpack with `webpack.client.rails.config.js` config that doesn't even has the HMR plugin in it. But the section contents

[2016-03-05 01:48] justin808 commented on #307
@Igor10k How are you running the app? Did you use the generator? what options?

I updated the README.md for the [shakacode/react-webpack-rails-tutorial](https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/README.md).

We're looking for volunteers to help us improve the generators. Please let me know if you'd be interested in helping.

[2016-03-05 08:31] justin808 opened #309 "API Changes"
I'm going to make the following API changes:

### Shared Stores

1. We allow defining the redux store in the controller, before the view renders. We can use the same api:

[code]

2. We provide a new helper `redux_store_hydration_data` which takes no parameters. This client renders the redux store registered at the controller level. Put at end of your layout so that browser is not blocked reading

[2016-03-05 08:35] justin808 commented on #298
https://github.com/shakacode/react_on_rails/issues/309

Please let me know if you agree. @Tamiyadd @jopdeklein

[2016-03-05 10:28] Igor10k commented on #307
I've used `react_on_rails` 3.0.3 with generator options `-R -b`.

As a result the only Procfiles I have are `Procfile.dev` and `Procfile.dev-hot`, but the latter is just a clone of the former with a `# TODO: MIGRATE from tutorial` note inside.

Here are the contents of the former.

[code]

Too busy at the moment, so can't contribute, maybe later.

For now I'll just try to copy the server starting

[2016-03-05 16:26] murtali opened #310 "Using ES5"
How would I modify the setup to use ES5 and ES6 interchangably? I'm having trouble reproducing this in ES5: (taken from example / modified)

Originally I had:
[code]

but that wasn't working until I changed it to:

[code]

[2016-03-05 17:17] murtali commented on #310
I modified the es5 jsx to:

[code]
but I'm still having trouble understanding why it's necessary for react_on_rails to pick up the router in that way vs the origin syntax.

Is this a quirk in the way the gem parses/registers react?

[2016-03-05 19:43] justin808 commented on #310
why use ES5?

I'm not following...

The syntax of including the JSX is using ES6.

and default exports are totally different

it's like "exports.default = Foobar" under the covers.

[2016-03-05 19:43] #310 closed

[2016-03-05 19:48] justin808 commented on #309
This will be better for performance because the store is defined in the controller (for server rendering), and we can render the dom element with the store for the page updated callback at the very end of the page dom.

[2016-03-05 20:16] justin808 commented on #309
Instead of `render_redux_stores`:

`react_on_rails_rendering_data`  ==> put at end of your layout so that browser is not blocked reading your props for client side hydration. I.e., the browser can render your server rendered React before trying to parse props.

Discussing with @robwise...

[2016-03-05 20:29] justin808 commented on #309
`hydrate_redux_stores`

 ==> put at end of your layout so that browser is not blocked reading your props for client side hydration. I.e., the browser can render your server rendered React before trying to parse props.

[2016-03-05 22:01] justin808 commented on #307
Yep -- we're going to be cleaning this up a lot in the not too distant future.

[2016-03-05 22:01] #307 closed

[2016-03-05 22:55] justin808 commented on #309
Started:
https://github.com/shakacode/react_on_rails/pull/311/files

[2016-03-06 20:31] SqueezedLight commented on #304
@r0st1kuzh do you have any particular question? I deployed ReactOnRails Apps with capistrano and have some experience with it. Any specific errors/problems? All in all i'd recommend the following:
- Be sure that your Capistrano deployment works with a simple Rails App (as simple as possible - without ReactOnRails or Node).
- Then get Node/npm up and running on the server. Check versions (npm v3.6.

[2016-03-07 01:35] woniesong92 opened #313 "Dependency error on a fresh install"
I got the following error: `http://babel-runtime/core-js/object/assign missing` on a fresh install.
Perhaps there's a missing dependency in the script?

`npm install babel-runtime --save-dev` solved the issue.

[2016-03-07 04:39] woniesong92 opened #314 "Cannot find module "react""
I want to use an npm module called [react-select](https://github.com/JedWatson/react-select)

The module includes the following:

[code]

Then, `react_on_rails` crashes when I try `import Select from 'react-select'`, complaining `Uncaught Error: Cannot find module "react"`.

More logs:

[code]

[code]

On browser:
<img width="367" alt="screen shot 2016-03-06 at 8 56 38 pm" src="https://cloud.githu

[2016-03-07 08:25] justin808 commented on #314
You probably have not properly installed React.

[2016-03-07 08:25] #314 closed

[2016-03-07 08:26] justin808 commented on #313
@woniesong92 Yes, I've noticed that the newer babel's are requiring different things.

@jbhatab is leading the effort to refresh the generators. If you like to help us with that effort, you'll learn tons and the community would be very grateful.

[2016-03-07 08:26] #313 closed

[2016-03-07 08:30] justin808 commented on #304
@SqueezedLight @r0st1kuzh Can we close this issue? I want to save issues for bugs and enhancements. We can take discussions to http://forum.shakacode.com/.

Thanks!

[2016-03-07 08:31] SqueezedLight commented on #304
Sure!

[2016-03-07 08:32] #304 closed

[2016-03-07 11:43] jopdeklein commented on #298
@justin808 Thanks for taking the lead, I agree option 2 seems viable, let me know if I can contribute.

[2016-03-07 11:49] Tamiyadd commented on #298
Hi @justin808 and @jopdeklein sorry for not answering soon but i'm doing a lot of work. I've followed the discussion and i agree that the second option is better!
Let me know if i can contribute!

Thanks for all the work you are doing

[2016-03-07 13:08] hakunin opened #316 "Surface js compile errors"
Hi,
when I have an issue with the JS code and it doesn't compile, I have to shutdown the server and run it again, to get a sensible error message.

I tried to run the `npm run build:dev:client` in a window by itself in hope that it would produce output every time there is a compile error, but that doesn't happen (only the first time).

Is there a way to have the compile error surfaced to the devel

[2016-03-07 13:34] lucke84 opened #317 "Configure Server bundle file as param in react_component"
Which are the implications of changing the path of server bundle file (or any other config) at runtime?

To give you a bit of context: with Webpack we create 2 different server bundle files, one for desktop and the other one for mobile. Then in the `ApplicationController` we have a `before_action` hook to check whether server-side rendering (SSR) is turned on and which browser is requesting the pa

[2016-03-07 14:47] Tamiyadd commented on #298
Hi @justin808 and @jopdeklein just a little update
i found that my problem is a little bit different from jop problem, or maybe is the same but from another point of view.

My component is put after the  `redux_store` helper so i've investigated thoroughly my app and i found that the component is inside a partial in a `content_for` block.

I've tried putting the component outside the block and i f

[2016-03-07 15:55] jopdeklein commented on #298
@justin808 I just tried with the beta version, seems to work perfectly: https://github.com/jopdeklein/react-on-rails-redux-example/commit/7fb54382eb9cefa7f1c4a9004b3e7df560155aaa - thanks a lot!

[2016-03-07 17:37] Tamiyadd commented on #298
Hey @justin808  and @jopdeklein i tried the beta version for my situation too and it works like a charm!

thanks a lot for everything

[2016-03-07 18:56] justin808 commented on #298
@Tamiyadd @jopdeklein Can I ask for a couple favors:
1. Code review of #311
2. Help me get it pass CI. It passes locally, but I can't get it to pass on CI.

I'm doing some deep digging into the Turbolinks 5 integration right now.

[2016-03-07 18:57] justin808 commented on #298
Also, can you two take a look at any caching strategies of the store data? I'm guessing that if you render with jbuilder, we might be able to fragment cache that in the rendering call. But I'm not 100% sure since we're not doing this as part of the rendering cycle.

[2016-03-07 21:30] r0st1kuzh commented on #304
@SqueezedLight Hello, it seems that I am missing some configuration which is related to the npm install. I have checked those things that you mentioned above:
1) works
2) https://www.dropbox.com/s/yw0aqtyicry5ze5/Screenshot%202016-03-07%2023.29.21.png?dl=0
3) works
4) i was using generator with -R and -S options
Here is the error I am getting.
https://www.dropbox.com/s/piqnd5a1ruknway/Screenshot%2

[2016-03-08 00:27] Kosmin commented on #281
@justin808 Hmm good question. I have since took `babel-runtime` out, did a fresh install, and everything worked fine. It may have had something to do with me running `nvm` and using an older version of `node`, but can't say for sure. In any case I don't need it anymore.

[2016-03-08 04:55] justin808 commented on #317
@lucke84 this is an excellent use case. Without a great deal of work, we could support a first class concept of different bundles for server rendering. We could do something like:

[code]

Note, with v4, you will want to hydrate your props in the controller and have it render on the bottom of the page for maximum performance.

If this API works, either you or I could put this.

[2016-03-08 04:59] justin808 commented on #316
@hakunin That doesn't really make sense, in that Rails is a Ruby program. If you have a JS error, that will affect Webpack.

I think your issue is with running the `webpack -w` via foreman. You can run the commands in your Procfile in different tabs rather than using foreman. If you're going to do this lots, google "consular" or "tumuxinator". These programs will quickly open up several terminal t

[2016-03-08 04:59] #316 closed

[2016-03-08 05:00] justin808 commented on #317
@lucke84 This would be an excellent, EASY way to make a nice contribution.

[2016-03-08 07:35] lucke84 commented on #317
Will be happy to :) I'll try and put together a PR somewhen this week.

[2016-03-08 07:41] justin808 commented on #317
@lucke84 Please remember:

1. Docs (README, etc.)
2. Update spec/dummy with a sample, which will involve view, webpack configs, etc.
3. Provide tests in spec/dummy that verify the right behavior. You will probably just want to have each bundle do separate components, rather than something browser type specific.

[2016-03-08 10:20] hakunin opened #318 "Enabling es7?"
Hi,
I am learning react-dnd so I can make sortable lists and the guy only has examples in es7 with decorators and at the moment, its just too much to take in at once.

Is there a way I can easily use es7?

[2016-03-08 10:31] alexfedoseev commented on #318
@hakunin You just need to install appropriate babel transform/preset (eg `babel-preset-stage-0`).

P.S. Decorators were temporarily removed from Babel 6 (as its spec is being reworked), but you can apply them via [babel-plugin-transform-decorators-legacy](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy)

[2016-03-08 10:31] #318 closed

[2016-03-08 10:57] hakunin commented on #316
Thanks, it turns out I wasn't running the full command from foreman, just the part of it and sometimes it would not seem to give errors when I intentionally put one there.

[2016-03-08 17:29] lucke84 commented on #317
I'm working on the topic and I've found what seems to be the issue of wrong SSR we're experimenting (see the beginning of the conversation for the details): currently, the `ReactOnRails::ServerRenderingPool.reset_pool_if_server_bundle_was_modified` doesn't do anything when Rails is run in a non-development mode, and I understand why, as in you don't wanna check the server bundle's mtime on every r

[2016-03-08 17:44] jopdeklein commented on #298
@justin808 I quickly glanced over the PR but since I am not a Ruby developer and don't know all the best practices I am probably not the best person to review this for you.

One thing I noticed was ```gem "selenium-webdriver", require: !["poltergeist", "poltergeist_errors_ok", "webkit"].include?(ENV["DRIVER"])```, in the CI environment I see errors regarding Selenium, hope that helps you with poin

[2016-03-08 18:11] justin808 commented on #317
@lucke84 Yes -- we need to change the back end caching of bundles to support more than one. That's the only option. I figured you'd see that :smile: without me saying.

Let's ROCK this change. It's a great idea.

[2016-03-08 19:29] shaimo opened #320 "Shouldn't babel-runtime be in dependencies rather than devDependencies?"
It is being used in ReactOnRails.js:
[code]
And would yield an error if babel-runtime is not installed...

[2016-03-08 19:56] justin808 commented on #320
Can you give me the line number, @shaimo?

[2016-03-08 19:57] justin808 commented on #320
BTW, the dependencies for Babel have been changing. The best is to refer to:

https://github.com/shakacode/react-webpack-rails-tutorial/

[2016-03-08 22:19] shaimo commented on #320
@justin808 I see it in line 7 of my 'node_modules/react-on-rails/node_package/lib/ReactOnRails.js' with
[code]

[2016-03-09 00:07] justin808 commented on #320
Thanks @shaimo.

Any chance that you can submit a PR for the needed changes?

[2016-03-09 19:57] justin808 commented on #298
@jopdeklein I was discussing your [comment](https://github.com/shakacode/react_on_rails/issues/298#issuecomment-191817075) with @nateberkopec and he's not convinced that it makes a difference to have the store props in the html earlier or later.

with data together:
[code]

with data separate:
[code]
With the first way, we can wrap the whole thing in a cache block.

With the second way, if we setu

[2016-03-10 02:47] Kosmin commented on #281
@justin808 I actually take that back. Locally everything works fine without `babel-runtime` but on `semaphoreci` I get a missing module error. It might have something to do with the npm version, I remember reading that it requires to explicitly state dependencies. But at this time I'm not sure why it's happening.

[code]

[2016-03-10 23:41] modosc opened #325 "handleError swallows exceptions"
we're using [bugsnag](https://bugsnag.com) for tracking / reporting js and ruby errors. when rendering errors occur on the front end the exceptions are caught and dumped out to `console.error` but the exceptions aren't rethrown so bugsnag never sees them and we have no visibility into what's going on with our broken react code.

i'm thinking that it would be useful to either:
1. add an option to r

[2016-03-10 23:53] justin808 commented on #325
@modosc Great idea! Great feature! Let's do this!

Either option #1 or #2 (or both) sounds good. If you can post a couple code samples of how you'd like to do this, we can probably decide.

I can see advantages to either.

We also need to consider server rendering. On the server side, we don't want to just throw.

We should also add file to [docs/additional_reading](https://github.com/shakacode/re

[2016-03-10 23:56] justin808 commented on #325
@modosc Send me your contact info and I can add you to our slack room.

[2016-03-12 06:18] citysheep opened #326 "error when running in capybara-webkit"
I am using server-side rendering for my react component but I got the following error in my acceptance test with Capybara-webkit. Any thoughts?

Expected no Javascript errors, got:
  - ReferenceError: Can't find variable: SAFE_CLOSING

[2016-03-12 07:07] justin808 commented on #326
We don't have a variable like that. I recommend turning off server rendering with this react_component option:

    prerender: false

[2016-03-12 07:11] citysheep commented on #326
Thanks very much Justin. I turned off server-side rendering but the problem still exists, looks like it is caused by the client-side rendering of React Components. We are using Webpack to compile our assets. Will look into it further.

[2016-03-12 07:12] #326 closed

[2016-03-12 20:58] tiemevanveen opened #327 "Propsal: Inject Redux data to global var instead of dom element"
This is not really an issue, but there is no better place to discuss this then an issue I suppose. I was wondering why you've chosen to serialise the component's props and (especially) the store's data into a data-props attribute instead of adding them to a global variable directly.

Now this is what you have to do:
* Use `getElementsByClassName` to get all stores's dom nodes
* Traverse over each

[2016-03-12 22:01] justin808 commented on #327
We used to do something like this this with a script tag on the page. However, that did not seem to work for turbolinks integration. The best way to try out these ideas is to prototype them. A good place to start is the /spec/dummy sample app.

[2016-03-12 22:07] tiemevanveen commented on #327
Check, that makes sense.

I'm actually using https://github.com/Limenius/ReactBundle which relies on you guys. And since I'm totally not familiar with ruby prototyping would be hard.. It seems PHP is a bit behind here ;)

[2016-03-12 22:09] jDeppen commented on #131
@esshka, did you solve this? Do you remember what caused it? Thanks

[2016-03-12 22:11] justin808 commented on #327
@tiemevanveen FWIW, you can use turbolinks with PHP now that it's a pure JS library. I sent you an invite to our slack channel.

[2016-03-13 01:33] jDeppen commented on #131
My server was missing server-bundle.js
`app/assets/webpack/server-bundle.js`
(as per location set in /config/initializers/react_on_rails.rb)

[2016-03-13 20:15] justin808 opened #331 "Create gitbook of docs"
@jbhatab and I are working on this. We'll use this issue to track items of interest.
- https://github.com/GitbookIO/gitbook/issues/1184
- https://github.com/reactjs/redux/issues/345: lots of links to what redux did.
- @gaearon: "I would recommend looking at http://moox.io/statinamic/"

[2016-03-13 22:26] justin808 opened #332 "Hot Module Reloading"
HMR is in a lot of flux.

[Hot Reloading in React
or, an Ode to Accidental Complexity](https://medium.com/@dan_abramov/hot-reloading-in-react-1140438583bf): Article by Dan Abramov that sums up the issues.

@jbhatab We should definitely remove any HMR from the generators and refer to doc pages.

@alexfedoseev Any suggestions?

[2016-03-13 22:45] robwise commented on #332
@justin808 you're confusing HMR and React Transform

[2016-03-16 09:32] hakunin opened #333 "I have to restart the compile script all the time"
1) When there is a parse error, the compile script has to be restarted, or the app somehow doesn't work.
2) Sometimes the same occurs, even without parse error

Short video showing the issue:
http://screencast.com/t/xXtwtYGuJyQ

[2016-03-16 09:47] justin808 commented on #333
@hakunin I think this is just the general issue rather than with React on Rails.

Can you reproduce this issue with https://github.com/shakacode/react-webpack-rails-tutorial/ or the /spec/dummy app?

If you can't, I think there's a problem with your setup.

Note, there's been tons of updates to npm packages, etc. since you may have started your app. First update to the versions used in either the

[2016-03-16 15:44] esauter5 commented on #332
I read the article the other day and what I got from it is that React Transform works, but is not the ideal solution. Seems like it should stick around until there is a better solution, no?

[2016-03-17 01:23] thewoolleyman commented on #332
So, does the current version of react_on_rails use "Vanilla HMR" as described in the article, or something else?

[2016-03-17 02:12] justin808 commented on #332
We're using: https://github.com/gaearon/react-transform-hmr

See:

* https://github.com/shakacode/react_on_rails/blob/master/spec%2Fdummy%2Fclient%2Fwebpack.client.rails.hot.config.js#L36
* https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fwebpack.client.rails.hot.config.js#L42

[2016-03-17 05:26] hakunin commented on #333
You're right. Updated everything and the problem went away. Thanks!

[2016-03-17 05:26] #333 closed

[2016-03-17 21:52] bshyong opened #337 "Undefined method generator function"
Hi guys, I tried to upgrade from v2 to v3, but after doing so, I'm getting this error:

[code]

Any idea how I can resolve this? I've traced it down to the initializer file react_on_rails.rb, but I haven't changed the contents of the file.

[2016-03-17 21:59] justin808 commented on #337
@bshyong Please update to latest and see the example [react_on_rails.rb](https://github.com/shakacode/react_on_rails/blob/master/spec%2Fdummy%2Fconfig%2Finitializers%2Freact_on_rails.rb)

[2016-03-17 22:29] seoyoochan opened #338 "ERROR in only one instance of babel-polyfill is allowed"
When I do server-side rendering and click `<a href="/link">link</a>`,
I get this `ERROR in only one instance of babel-polyfill is allowed `.
Instead, as a workaround, we can fix it when you replace anchor tag with `<Link to='/link'>link</Link>`.
please reproduce this error.
thanks.

[2016-03-17 22:36] justin808 commented on #338
@seoyoochan `Link` is for react-router.

Can you create a small example with this issue?

The easiest is to modify the demo in https://github.com/shakacode/react_on_rails/blob/master/spec%2Fdummy%2FREADME.md

[2016-03-17 22:56] seoyoochan commented on #338
@justin808 I think it's caused by the outdated version of babel-related packages from client/package.json.
I don't see this error on the [tutorial](https://github.com/seoyoochan/react-webpack-rails-tutorial/tree/feataure/update-comments-count-with-sharedReduxStore), but there is another issue going on.
whenever you click any anchor tag, chrome opens up stack console although there's no written `de

[2016-03-17 22:59] bshyong commented on #337
great, thanks @justin808.  That fixed the generator issue. The only issue now is that Rails can't find the javascript file in `application.js`... any ideas?

`couldn't find file 'react_on_rails' with type 'application/javascript'`

[2016-03-17 23:11] seoyoochan commented on #338
@justin808
![Image1](http://i.imgur.com/hznv4Ta.png)
![code](http://i.imgur.com/Ho5LwsC.png?1)

[2016-03-18 07:54] justin808 commented on #338
@seoyoochan you're probably importing this package twice.

This is a common problem.

This is how ensure only one instance of react.

See https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fwebpack.client.base.config.js#L33

[code]

[2016-03-18 07:54] #338 closed

[2016-03-18 07:55] justin808 commented on #337
@bshyong We removed that asset at v2. Please use v4 and remove that line.

[2016-03-18 07:55] #337 closed

[2016-03-18 07:56] #327 closed

[2016-03-18 07:57] #309 closed

[2016-03-18 07:58] #298 closed

[2016-03-22 07:21] thewoolleyman commented on #276
@robwise Thanks a lot, those examples worked perfectly :)  I'll close this out.  Not sure if we have/want example of this in any of the example apps, if so we can open a separate issue...

[2016-03-22 07:21] #276 closed

[2016-03-22 15:17] Riccardo-Zanutta opened #342 "Integration with an engine"
Hello,
We're trying to integrate the gem in a custom engine-based Rails application.
We're following this[ guide](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/installation-overview.md), but we're having some troubles integrating  config/initializers/react_on_rails.rb file inside our engines.
Any cloue about how to do this?
Thanks

[2016-03-22 23:04] justin808 commented on #342
Hi @Riccardo-Zanutta, in terms of an engine, ReactOnRails is probably not any different. However, without a code example, I really can't provide more advice.

[2016-03-23 15:37] seoyoochan commented on #332
Could my errors be any help for figuring it out?
I am debugging this issue opened by [#332](https://github.com/shakacode/react_on_rails/issues/332) the `react_on_rails` gem community.

Hot reloading works, but whenever I click on an anchor tag to navigate other pages. I get collision issues about React or babel-polyfil ([issue here](https://github.com/shakacode/bootstrap-loader/issues/16))

![img]

[2016-03-23 21:28] modosc opened #346 "foreman shouldn't be listed in the gemspec"
from foreman's [README.md](https://github.com/ddollar/foreman)
[code]
this causes some weird things to happen and makes random code break, is there a specific reason you have it listed as a dep?

[2016-03-24 02:18] justin808 commented on #346
@modosc We actually spoke to a number of people about this. This applied to older versions of foreman. You can find the details here: https://github.com/ddollar/foreman/issues/573

I started out following this, and then updated it per the community advice.

[2016-03-24 02:18] #346 closed

[2016-03-24 02:34] justin808 opened #347 "Positive Feedback -- Images for KUDOS.md"
## Placeholder for screen grabs of kudos
### Compared to Browserify

See comments [here](https://lorefnon.me/2015/11/15/a-minimal-setup-for-using-es6-modules-in-rails.html)

![2016-03-23_16-24-51](https://cloud.githubusercontent.com/assets/1118459/14006786/ebf8cac2-f114-11e5-80f9-4a6d437dd071.png)

[2016-03-24 04:40] justin808 commented on #346
@modosc If you could provide a specific example, I'd surely take it out of the gemfile.

[2016-03-24 05:28] modosc commented on #346
i'll try to come up with a simplified use case that demonstrates our problem and open a new issue. for now i have a fork that removes that line from the gemspec which is enough to work around it.

[2016-03-25 20:46] justin808 commented on #347
https://twitter.com/ollieglass/status/713372606804729856

![2016-03-25_07-40-01](https://cloud.githubusercontent.com/assets/1118459/14053652/d05480f0-f276-11e5-9d9a-62d1146cd82d.png)

[2016-03-26 04:05] thewoolleyman opened #351 "Request specs failing with JS errors, but only on CI"
I'm attempting to add some [request specs](https://github.com/deploysage/deploysage/blob/develop/spec/requests/page_spec.rb), but I'm getting the following types of errors [only on CI](https://circleci.com/gh/deploysage/deploysage/294):

[code]

I get no errors when running the exact same thing locally.

All pre-existing mochajs and capybara specs are still running fine on CI.

I suspect it's some

[2016-03-26 04:11] justin808 commented on #351
@thewoolleyman Since ReactOnRails is loaded via `import`, you've probably got an issue with your server (or client bundle) file. I'd debug manually, and confirm it works fine. Then I'd carefully check your scripts for CI. Are you using the current RoR version?

[2016-03-26 05:01] thewoolleyman commented on #351
Yes, I just upgraded to the latest rails and react on rails.

[2016-03-26 05:29] thewoolleyman commented on #351
Yep, that was totally it.  Need to compile the bundles for request specs, they were already compiled locally.  Did `rake assets:clobber` and they started failing locally, added a call to ensure assets compiled and they started passing on CI.

Shoulda figured that out on my own but thanks for the pointer :)

[2016-03-26 05:29] #351 closed

[2016-03-26 10:52] justin808 commented on #351
I put a lot of work into ensuring this process is pretty bullet-proof.

[2016-03-26 18:51] thewoolleyman commented on #351
We actually had a similar problem on my day job, leftover assets causing confusion.

My idea was that there should be a hook in Rails application startup in an appropriate place, e.g. the environment file, that detects if the Rails asset pipeline is going to use generated-on-the-fly (e.g. unit test env) or packaged (e.g. integration tests or deployed environments) assets.

And if generated/package

[2016-03-27 00:45] agmcleod commented on #245
Curious on something with this. Love the idea of generators for react & redux files, but im wondering if the install generator this has now should keep the hello world components. It's great to have examples, but can be a lot to cleanup/rename as well.

[2016-03-27 01:01] jbhatab commented on #245
@agmcleod we are slowly building towards this. Right now we are stripping the main installer down of options so the component generator will be more manageable. We'll be removing the hello world component in the installer generator when we add this in.

[2016-03-27 01:02] seoyoochan commented on #245
@agmcleod yeah, ideally, the hello world examples should be easily named by the name argument that user passed in when he activated the install generator.

[2016-03-27 01:08] agmcleod commented on #245
Awesome, love to hear it. Very cool project so far, as i'm digging through it. Hats off to you all :)

[2016-03-27 01:08] jbhatab commented on #245
@seoyoochan @agmcleod feel free to message me on the shakacode slack. My username is blaine.

[2016-03-29 01:34] patrickgordon commented on #245
Love where this project is heading.

Agree with one of the earlier comments about the difficulty of bringing this in to an existing project, particularly the introduction of all the HelloWorld items. I appreciate why it is done but not great for existing projects IMO.

Also fond of the idea of including generators for creating components & redux actions.

Keep up the good work!!

[2016-03-29 05:13] justin808 commented on #245
Hi @patrickgordon, we've got a plan for breaking up the current generator into something more suited to both existing and new projects. Personally, I've been focused on the core functionality. @jbhatab is helping with the generator work.

For anybody interested in helping, we're always super happy to have more join the party!

[2016-03-29 05:31] patrickgordon commented on #245
Cool @justin808

I'd offer to help but I'm a bit of a hobbyist programmer and would probably hinder more than help :smile:

[2016-03-31 01:03] justin808 commented on #317
We probably will not need this one with the `railsContext` feature of v5.

[2016-03-31 01:03] #317 closed

[2016-03-31 04:07] justin808 commented on #183
@aaronvb Any progress on this one? We really should try this one!

[2016-03-31 13:18] hakunin opened #358 "How to change DOMProperty.ID_ATTRIBUTE_NAME?"
Hi,
since there are Chrome plugins written in react, their dom react ids collide and react creators advise to change ours DOMProperty.ID_ATTRIBUTE_NAME to be unique to our app.

It is important to do this before react is loaded anywhere, so I tried putting this on top of the startup root file:

[code]

The good thing is that react seems to use that ID (I can see it in DOM), but I also get an error

[2016-03-31 21:44] gwincr11 opened #360 "Rails API and webpack build issue"
Hello,

I have a new application I am trying to get setup. Some of the controllers, not all, are using the rails-api gem. When I added the Gem to my project a peculiar thing started happening. The first page load always errors, sprockets is unable to find vendor-bundle.js. Each subsequent load works as it should. This is causing my specs to consistently fail however.

Any ideas how to fix this?

T

[2016-03-31 23:40] Riccardo-Zanutta commented on #342
Sorry for the late response,
We have a main application holder ( A classic Rails application ). In our vendor/ folder there are our engines:

![screenshot 2016-04-01 01 31 46](https://cloud.githubusercontent.com/assets/8215555/14193960/d7f771c2-f7a9-11e5-8da9-2b17bb63862f.png)

We use the project_view engine as our 'view manager', a general engine to store **the components about the main admin pan

[2016-04-01 05:11] justin808 commented on #360
@gwincr11 You need to study your webpack config files and your npm scripts in package.json.

The example in /spec/dummy has all you need.

[2016-04-01 05:33] justin808 commented on #358
@hakunin No idea on this one. Is this issue really related to React on Rails?

[2016-04-01 09:21] hakunin commented on #358
There are two solutions
1) Moving to react v15
2) Changing the variable, but it has to be changed before React is first required - which I was not able to do in that file.

I hope v15 is here soon, since its already rc2 so we can close this.

[2016-04-01 09:21] #358 closed

[2016-04-01 09:45] kalashnikovisme commented on #320
have the same problem after getting started

[code]

[2016-04-01 17:13] gwincr11 commented on #360
Thanks @justin808 I got it working :+1:

[2016-04-01 18:36] #360 closed

[2016-04-01 21:13] justin808 commented on #320
Yes. I'll get this merged shortly.

https://github.com/shakacode/react_on_rails/pull/361/files

[2016-04-01 21:14] justin808 commented on #325
@modosc Any word on this? I've got some others that are looking for tasks to complete. This one should be relatively easy.

[2016-04-01 21:57] modosc commented on #325
@justin808 sorry, i haven't had time to sort this out, please feel free to assign it off.

[2016-04-02 07:46] justin808 commented on #320
Given:
https://babeljs.io/docs/plugins/transform-runtime/

And given that I have not seen this issue, it would be helpful to know why we need this.

I don't have babel-runtime here: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/package.json#L51

@alexfedoseev do you know about this one?

[2016-04-02 09:05] alexfedoseev commented on #320
@justin808 Well, in package's `.babelrc` there is [`transform-runtime`](https://github.com/shakacode/react_on_rails/blob/master/node_package/.babelrc#L3). It means that the compiled lib is using `babel-runtime` (not bundling it, but linking to it). So to make compiled lib work, there must be `babel-runtime` installed as `dependency` of the package (not `devDependency`).

Two guesses why it's happe

[2016-04-02 22:50] justin808 commented on #320
@alexfedoseev Maybe this should be a peer dependency as well?

[2016-04-04 11:21] Tamiyadd opened #367 "railsContext enhancement"
Hi @justin808 ,
good job with railsContext, it's a very great feature and i'm going to use it a lot!

I'm thinking about a little enhancement about it.

Don't you think is better to change the `host` parameter in the default railsContext values

[code]

to

[code]

so in development and in some production configuration you will have the full host with port?
or maybe simply add another parameter to

[2016-04-04 16:26] gwincr11 opened #368 "Jasmine Setup"
Hello,

I am wondering if there is any documentation available regarding setting up Jasmine, or another js testing, suite.

Thanks,
Cory

[2016-04-04 18:46] thewoolleyman commented on #368
I played around some with getting Jasmine to work and gave up.  I ended up getting stuck on webpack/css precompilation and dependency issues in the jasmine setup.  It's definitely do-able, but Mocha is all that is supported out of the box for now.

However, if you make any progress in this area, please update this ticket.

[2016-04-04 19:54] gwincr11 commented on #368
Bummer, is there any reference for getting mocha setup?

[2016-04-04 19:59] justin808 commented on #367
Does this have it: `href: request.original_url,`

In any case, let's add the `port` number as a value: https://developer.mozilla.org/en-US/docs/Web/API/Location

[code]

I'm going to also add a flag that let's the JavaScript code know if we're server rendering.

[code]

True if server rendering, false if client rendering.

[2016-04-04 23:41] thewoolleyman commented on #368
Yes, mocha is integrated well and works fine.  The generators will create some example mocha js specs (this is still true, right @justin808 ?), and you can also look at the example app, e.g.: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/components/CommentBox/CommentList/CommentList.spec.jsx

[2016-04-05 02:26] anjolovic opened #369 "ERROR: react_on_rails generator prerequisites not met!"
Hi guys,

I am getting the following error after running the bundle install and after committing changes:

    ERROR: You have uncommitted code. Please commit or stash your changes before continuing
    ERROR: react_on_rails generator prerequisites not met!
Any thoughts?

[2016-04-05 02:28] justin808 commented on #369
Did make sure that git status reports no uncommitted files?

Just do a `git stash` or `git commit -am WIP`

[2016-04-05 03:54] anjolovic commented on #369
Thanks @justin808. I did both `git stash` and `git commit -am` and still get the same error.

[2016-04-05 05:01] justin808 commented on #369
what does  `git status` show?

what version of React on Rails? Mac OS?

[2016-04-05 16:14] anjolovic commented on #369
Here is the `git status` result: `modified:   Gemfile.lock`

I am on 5.1.0, and I am running El Capitan 10.11.2.

[2016-04-05 20:14] foxycoder commented on #245
Hi, I was looking for generators to generate bundles. Seems I was a bit late to the game with the idea to make some generators. I totally feel like the approach mentioned by @justin808 in [issuecomment-186682640](https://github.com/shakacode/react_on_rails/issues/245#issuecomment-186682640) seems like a good idea, but wouldn't it be good to put the generators in a separate gem?

A lot of people (p

[2016-04-05 20:46] #369 closed

[2016-04-05 20:48] justin808 commented on #368
I say we close this issue for now? The full tutorial is probably the best example for now.

Let me know if you want me to re-open this.

[2016-04-05 20:48] #368 closed

[2016-04-05 20:54] justin808 commented on #367
Fixed in 5.1.1.

[2016-04-05 20:57] gwincr11 commented on #368
Thanks for all the help, I am playing around with Mocha. We will see how it goes :)

[2016-04-05 21:00] #367 closed

[2016-04-05 22:42] patrickgordon commented on #245
@foxycoder Interesting to move it to a separate gem... Is this a common practice? I'd be interested in some other examples if you know of any.

[2016-04-05 22:46] justin808 commented on #245
@foxycoder @patrickgordon Stay tuned. @jbhatab and I are actively working on this.

[2016-04-06 16:39] seoyoochan opened #372 "when reboot rails, I get [SERVER] setTimeout is not defined for execJS"
I was developing my app with HMR, `foreman start -f Procfile.hot` and got this error on the console for the initial rendering. Refresh or reopen `localhost:3000` doesn't show up this error again, but only appears when rebooting rails.

![img](http://i.imgur.com/F5X93ke.png)

[code]

[2016-04-06 17:00] seoyoochan commented on #338
@justin808 I did not import the package twice. I fixed it when I removed `//=require turbolinks` from a js file.

[2016-04-06 19:48] justin808 commented on #338
@seoyoochan for some reason, turning off turbolinks is fixing the issue for you. I think that indicates a problem with your turbolinks configuration.

[2016-04-06 19:52] john-osullivan opened #373 "Generator fails on Windows because of `which`"
The code which determines whether or not the user has node and npm installed on their system is dependent on `which`, a Unix-only command.  The offending lines are in `install_generator.rb`:

[code]

Some quick Google-ing found this cross-platform Ruby solution for finding executables in the $PATH:

[code]
Source: http://stackoverflow.com/questions/2108727/which-in-ruby-checking-if-program-exists-

[2016-04-06 20:01] justin808 commented on #373
@john-osullivan go ahead and submit a PR. This seems useful. Or get a Mac or Linux machine.

[2016-04-06 20:12] justin808 commented on #372
@seoyoochan Please upgrade ReactOnRails.

[2016-04-06 20:12] #372 closed

[2016-04-08 03:55] brucek opened #376 "Instructions and dependencies don't work for new contributors"
I was trying to get set up and ran into some issues with docs and gem dependencies...  Details in PR.

[2016-04-08 04:46] brucek opened #378 "Update to React 15"

[2016-04-08 21:13] #378 closed

[2016-04-08 21:13] #376 closed

[2016-04-11 23:04] danielhusar opened #381 "Disable js-react-on-rails-component"
Hey, is it possible to disable outputting this element when rendering server side ?

[2016-04-12 14:54] timscott opened #382 "Error on prerender: true"
I tried setting ```prerender: true``` on a ```react_component``` I got this error. Ideas?

[code]

[2016-04-12 15:53] timscott commented on #382
With debugging, I figured out this is the problem:

[code]

The error resulted from the code is trying to read the file without knowing it exists. Perhaps an opportunity for better error handling.

With that solved, I get this error:

[code]

[2016-04-12 16:27] timscott commented on #382
I was declaring my ```serverRegistration``` in the wrong place.

[2016-04-12 16:27] #382 closed

[2016-04-13 20:28] MarkMurphy opened #385 "Undefined method react_component"
Just finished installing this as per the readme and I'm getting this:

[code]

[2016-04-14 07:49] justin808 commented on #382
@timscott Any chance that you want to submit a PR for better error handling?

[2016-04-14 08:02] justin808 commented on #381
I don't understand the question.

[2016-04-14 08:08] justin808 commented on #385
This is an odd error. Do you have React On Rails v5.2 installed?

[2016-04-14 13:07] MarkMurphy commented on #385
@justin808 Yes

[code]

[2016-04-14 13:56] MarkMurphy commented on #385
[code]

[2016-04-14 14:15] MarkMurphy commented on #385
Isn't the helper supposed to be included something like this?:

See http://pothibo.com/2013/06/customize-rails-view-controller-with-railtie/
and https://github.com/reactjs/react-rails/blob/master/lib/react/rails/railtie.rb#L42-L44

[2016-04-14 16:10] timscott commented on #382
@justin808 Done: https://github.com/shakacode/react_on_rails/pull/386

Note, I would normally write a test, but I did not see a place to.

[2016-04-15 22:20] justin808 commented on #385
@MarkMurphy  What's odd is that you're the only seeing this issue. What version of rails are you using?

[2016-04-16 13:24] MarkMurphy commented on #385
@justin808 4.2.14

[2016-04-16 20:46] bartoszbinda opened #388 "Cannot register component"
I have tried to add my own component and I got this message

`import ReactOnRails from 'react-on-rails';
import my_component from 'my_component';
ReactOnRails.register({ my_component });`

Exception in rendering!

Message: Could not find component registered with name MyComponent.
Registered component names include [ HelloWorldApp ]. Maybe you forgot to register the component?

Error: Could not fi

[2016-04-16 21:25] TSMMark opened #389 "Can't foreman start. (webpack: Permission denied)"
I am trying to add react_on_rails to a project which was using react-rails. I have run the `react_on_rails:install` generator and run `bundle install` and `npm install`. I am using rbenv and vagrant if that makes a difference.

Here is what happens when I try to foreman s

[code]

More details:

[code]

[code]

[code]

[2016-04-17 08:22] justin808 commented on #388
MyComponent

or my_component?

[2016-04-17 10:36] bartoszbinda commented on #388
my_component
17 kwi 2016 10:22 "Justin Gordon" <notifications@github.com> napisał(a):

[2016-04-18 04:44] justin808 commented on #388
You are using MyComponent in the view page.

[2016-04-18 04:44] #388 closed

[2016-04-19 19:05] tyleriguchi opened #391 "Can you mount a component using the global ReactOnRails object?"
Hey was wondering if it is possible to mount a react on rails component from raw javascript.

I want to be able to do something like
[code]
Is something like this possible? Currently I get an error saying target container is not a DOM element.

[2016-04-19 19:08] tyleriguchi commented on #391
Realized I just need to do this for it to render
[code]

[2016-04-19 19:08] #391 closed

[2016-04-20 03:53] UberMouse opened #394 "Always builds bundle in tests"
Hi,

I've installed React on Rails into my project with the generator and it's been working great but now that I'm writing some integration tests with capybara I'm running into an issue where the client-bundle is rebuilt every time I run the test regardless of whether I've made any changes. I have the webpack server running with `-w` so it automatically rebuilds but the test helpers seem to think

[2016-04-20 06:38] justin808 commented on #394
This is definitely a bug that needs fixing.

[2016-04-20 06:54] justin808 commented on #389
@TSMMark I recommend using nvm to manage node.

The error is that webpack is not in the path or there is a permission problem.

21:10:20 server.1 | > webpack -w --config webpack.server.rails.config.js
21:10:20 server.1 |
21:10:20 server.1 | sh: 1: webpack: Permission denied

[2016-04-20 06:54] #389 closed

[2016-04-20 07:32] justin808 commented on #385
@MarkMurphy Feel free to re-open this if you think this is a general issue.

[2016-04-20 17:51] koryteg opened #396 "latest version does not support ruby 2.0"
`.rvm/gems/ruby-2.0.0-p594/gems/react_on_rails-5.2.0/lib/react_on_rails/test_helper/webpack_assets_status_checker.rb:12: syntax error, unexpected ','
...itialize(generated_assets_dir:, client_dir:, webpack_generat...`

the file above is using keyword arguments without default values, this feature was not implemented until ruby 2.1

I haven't actually created a gem before so I am not sure what the

[2016-04-20 19:20] thewoolleyman commented on #396
I believe this is a duplicate of https://github.com/shakacode/react_on_rails/pull/392

[2016-04-21 14:23] koryteg commented on #396
correct ill close

[2016-04-21 14:23] #396 closed

[2016-04-24 17:01] marcohk opened #400 "No such file or directory @ rb_file_s_mtime"
I got this error when running the auto-generated hello world with `foreman start -f Procfile.dev` and accessing the `/hello_world` on browser:

[code]

Gemfile.lock:
[code]

The hello world was auto generated by `rails generate react_on_rails:install -R -S`
Does anyone know if I did something wrong?

[2016-04-24 17:09] marcohk commented on #400
Below is the complete backtrace:
[code]

[2016-04-24 17:32] marcohk commented on #400
I was trying to start the server by `foreman` instead of `rails`, but resulted in the following errors:
[code]

[2016-04-24 17:40] marcohk commented on #400
Although I am very sure I have run `npm install` already.
I solved it by running `npm install` again.

[2016-04-24 17:40] #400 closed

[2016-04-25 09:38] evgenTraytyak opened #401 "Problems with assets"
How should I use `svg` files or images in my components when i store them in `client/assets/images/`?

If I use path like this `/assets/some-image.png` in development env it works. But in production env this image has e-tag postfix `/assets/some-image-5dd021956efcd611492a65f2a05fb24a2c304d98ec00ecae3a7f17e48da10652.png` and it doesn't work because i have `/assets/some-image.png` path in my compone

[2016-04-25 11:50] shunwen opened #402 "Incorrect port number in README"
In readme's Getting Started section, the last step is to visit port 3000 on localhost. That is incorrect because without `--port` option, foreman runs the process on, starting from, port 5000. Here are how foreman does it:
https://github.com/ddollar/foreman/blob/master/lib%2Fforeman%2Fengine.rb#L276
https://github.com/ddollar/foreman/blob/master/lib%2Fforeman%2Fengine.rb#L360

I can send a PR to f

[2016-04-25 13:11] lucke84 opened #403 "Replacing URI.parse with Addressable"
It seems the new `rails_context` method uses `uri = URI.parse(request.original_url)`, which sometimes fails to parse URIs with non-ASCII characters (see **react_on_rails_helper.rb**, line 361)

Here's an example of a real-life(-ish) URI that should be supported but fails on our ReactOnRails powered website:
[code]
(note the `é` character in `myparam`'s value), returning an error like:
[code]

The

[2016-04-26 05:35] justin808 commented on #402
This is sort of odd, as we get a default port of 3000 in

https://github.com/shakacode/react-webpack-rails-tutorial/

Did this change recently with foreman?

We'd probably update generator and indicate this in the README.md.

CC: @jbhatab

[2016-04-26 06:12] thewoolleyman commented on #402
@justin808 I think Foreman has had that for [a long time](https://github.com/ddollar/foreman/commit/1a0943c495355370a73546d4e049e5010b6d958f), but the tutorial may be getting it overridden [from here?](https://github.com/shakacode/react-webpack-rails-tutorial/blob/a2dd5b63591fdc06c57b3e7c4ebd4d7db067e3fd/config/puma.rb#L12)

[2016-04-26 06:29] justin808 commented on #402
@thewoolleyman You're absolutely right.

@shunwen I'm not sure what the fix should be as this really isn't a react_on_rails issue. I'd suppose we should update the README.md to indicate that you should probably set the --port flag, although if you are using puma, see the link from @thewoolleyman above.

[2016-04-26 07:35] shunwen commented on #402
@justin808 This is not an issue at all. If simply following the application log, one should have no problem visiting the local server. :smile:

My local tutorial project also runs on port 5000 (by foreman). According to foreman code, it spawns the first process with environment `PORT=5000` unless specified.

[2016-04-26 16:01] jbhatab commented on #402
We could just make the Procfile.dev generated have -p 3000 in it.

[2016-04-26 16:02] jbhatab commented on #403
@lucke84 interesting. Would you mind making a PR for this?

[2016-04-26 16:17] jbhatab commented on #394
@UberMouse yeah that's weird, there is a check for this. Thinking we might fix this with the next release.

[2016-04-26 16:27] jbhatab commented on #179
Since we've removed this from the generator, can we close this?

[2016-04-26 16:34] jbhatab commented on #22
Can we close this? I think we should just stick with foreman or letting people manually run commands.

[2016-04-26 16:35] jbhatab commented on #212
Are we dropping this because of the railsContext thing we added?

[2016-04-26 17:39] martyphee commented on #212
The railsContext solved my issue.  I use it to pass in the translations and then use those to initialize Jed.

[2016-04-26 18:44] justin808 commented on #212
@martyphee @jbhatab Any chance that we can get this documented?

[2016-04-26 18:46] jbhatab commented on #212
@justin808 isn't the railscontext documentation more than enough since how you integrate that with your react setup is custom?

[2016-04-26 20:04] martyphee commented on #212
How implementation is pretty custom.  In rails we use FastGettext and customer rake tasks to pull translations from phraseapp.  The rack task them builds json files which I include in the railsContext based on the current locale.

[2016-04-27 01:55] justin808 commented on #179
Yes.

We're no longer doing styling in the generators. See https://github.com/shakacode/react-webpack-rails-tutorial/ for an example of using CSS Modules to do styling.

[2016-04-27 01:55] #179 closed

[2016-04-27 11:32] lucke84 commented on #403
See https://github.com/shakacode/react_on_rails/pull/405 :)

[2016-04-27 20:05] justin808 commented on #385
@jbhatab Can you take a peek at this?
@samnang Any opinion?

[2016-04-27 20:59] jbhatab commented on #385
@MarkMurphy very weird. was this from a fresh install?

[2016-04-27 20:59] MarkMurphy commented on #385
yes it was

[2016-04-27 21:00] MarkMurphy commented on #385
actually sorry, no it wasn't

[2016-04-27 21:02] jbhatab commented on #385
@MarkMurphy do you have react-rails installed on your system too?

[2016-04-27 21:09] MarkMurphy commented on #385
I did at one point, not sure if it was there at the same time. I went back to using react rails because of this issue.

[2016-04-27 21:11] jbhatab commented on #385
@MarkMurphy very weird. My first thought is to clear out your local gems before installing react_on_rails.

[2016-04-28 01:12] szyablitsky opened #406 "Any ideas how to mute turbolinks output inside tests?"
When I run integration tests with Capybara and Poltergeist I have bunch of noise in test output like this
[code]

Can it be disabled in test environment?

[2016-04-28 01:17] justin808 commented on #406
@szyablitsky Those are not shown in production. If you poke around at the code, it might be obvious where to turn this off. If you can't find it, let me know.

[2016-04-29 06:42] evgenTraytyak commented on #401
@justin808 could you help me?

[2016-04-29 07:07] justin808 commented on #401
@evgenTraytyak are you trying to use webpack to build your CSS or Rails.

It's much simpler to just let Rails handle your CSS.

Otherwise, you can use CSS modules and follow the recipe here: https://github.com/shakacode/react-webpack-rails-tutorial/.

The reason you're seeing the problem with fingerprinting is that you're not using only the rails asset pipeline.

Please keep in mind that ReactOnRa

[2016-04-29 07:40] tmock12 commented on #385
I'm unfortunately getting the same error with matching stack trace. Tried clearing out my gems and re-installing everything but no avail.

[2016-04-29 08:13] justin808 commented on #385
Does the fix suggested by @MarkMurphy work:

See http://pothibo.com/2013/06/customize-rails-view-controller-with-railtie/
and https://github.com/reactjs/react-rails/blob/master/lib/react/rails/railtie.rb#L42-L44

[2016-04-29 10:55] ramusus commented on #401
@evgenTraytyak @justin808 I faced with the same problem. I need to use right images paths from jsx in `<img src="..." />`  and in javascript for src dynamic changing on the page.

I used tutorial https://github.com/shakacode/react-webpack-rails-tutorial/ and everything works perfect in development until I deployed the code to heroku. We are using rails asset pipelines and all images was collected

[2016-04-29 15:34] pherris commented on #246
Possible that this is back in 5.2.0? I am seeing the same issue but I have been pulling in the css module/webpack hot reload refactoring so my install isn't pure.

https://github.com/pherris/react-on-rails-novu/compare/server-rendering?expand=1

The exception seems to be coming from this line: https://github.com/pherris/react-on-rails-novu/blob/17256445fd664d56ed0c7c58f12fe7617edb9460/client/app/b

[2016-04-29 15:49] jbhatab commented on #403
@lucke84 looks good. just check out Justins comments, I agree with both of them. Besides that, awesome work.

[2016-04-29 15:49] jbhatab commented on #385
@tmock12 Did you do this from fresh install?

[2016-04-29 15:54] jbhatab commented on #385
Just tried a fresh rails install with react_on_rails 5.2.0 and it worked fine. Hmm....

Ideas @justin808?

[2016-04-29 15:58] pherris commented on #246
Isolated it to the `isomorphic-fetch` import for my async operation based on this similar thread: https://github.com/denvned/isomorphic-relay/issues/18

[2016-04-29 17:06] samnang commented on #385
@MarkMurphy @tmock12 could either of you put your sample in a repo that could help us to be able to re-produce the error?

[2016-04-29 23:16] ramusus commented on #401
Solved this issue very simple - just put images to public folder and fingerprinting is not worrying me for assets images

[2016-04-30 16:55] lucke84 commented on #403
Happy to help :) The comment have been fixed already, it'd be nice to :shipit: .

[2016-05-02 11:25] tmock12 commented on #385
@jbhatab I had react-rails installed before as well. I cleared all the gems but that didn't seem to help.

I haven't had a lot of time to look into it but I believe it has to do with the fact that I'm using an engine and was testing it inside the `spec/dummy` app.

adding this to an initializer fixed the problem for me:
[code]

[2016-05-02 11:33] tmock12 commented on #342
I also have a related engine specific question. How are people dealing with the `run build:client` related commands?

For example, a rails app has my engine included (that contains `react_on_rails`). When that rails app gets deployed to Heroku (for instance), and tries to run the `lib/tasks/assets.rake` its going to try and `cd client && npm run build:client` but that won't work as there is no `cl

[2016-05-02 18:14] jbhatab commented on #385
@justin808 @samnang very weird. any ides on this one?

[2016-05-04 08:16] justin808 commented on #403
Merged.

[2016-05-04 08:16] #403 closed

[2016-05-04 08:18] justin808 commented on #385
It's something to do with the engine setup.

Maybe this is just a doc issue with @tmock12 's comment above?

Or should we explicitly load?

The fact is that ReactOnRails is itself an engine.

[2016-05-04 09:29] hafizio opened #409 "[Beginner question] Install packages via NPM"
I'm using the latest bootstrap 4 (https://github.com/twbs/bootstrap-rubygem). They suggested to use rails-asset to install the javascript dependecies (tether package). Is there any way I can use webpack to replace rails-asset (which is dependent on bower)?

I tried installing the tether package via `npm install tether --save`, but the bootstrap-sprocket in application.js is unable to find the teth

[2016-05-04 14:13] martyphee opened #412 "Change div tags to script tags and put viewContext/props inside"
On pages with large amounts of data the time to usability is dramatically increased on lower bandwidth connections as megabytes of html encoded JSON needs to be downloaded before the HTML that displays the page can be retrieved.

[2016-05-04 14:26] martyphee commented on #412
I'm working on a PR right now to address this.

[2016-05-04 17:09] justin808 commented on #412
Turbo links is the tough one if we do that. Script tag is how I originally had it. Other issue is escaping the data.

[2016-05-04 17:30] martyphee commented on #412
What issues does this cause with TurboLinks?

If the data is put into the script tag as proper JSON what issue's might we still have?

[2016-05-04 19:50] justin808 commented on #412
The page scripts don't run with TurboLinks, without some special configuration, and I'm not even sure on that.

So TurboLinks will just insert the HTML tags on the existing page (so CSS and JS are not reloaded), and we have a hook from TurboLinks to parse the special dom elements and kick start the React parts. See https://github.com/turbolinks/turbolinks#working-with-script-elements

[2016-05-04 19:53] justin808 commented on #409
You can use bootstrap either via the asset pipeline (nothing to do with React on Rails) or you can follow the recipe here: https://github.com/shakacode/react-webpack-rails-tutorial/ and use webpack to create your CSS. In either case, I'll try to help with your questions, but this is not an open issue for React on Rails.

[2016-05-04 19:53] #409 closed

[2016-05-04 19:58] justin808 commented on #347
🎉 👏 😌 Live in production with multi-lingual JS support! https://deliveroo.co.uk/

![2016-05-03_19-18-34](https://cloud.githubusercontent.com/assets/1118459/15027253/91fd151a-11de-11e6-93e3-720518995fe0.png)

[2016-05-04 20:09] martyphee commented on #412
According to the link

Looking at the link you provided the `<script/>` takes would be re-evaluated.  It would only contain the props and no JS code.

[2016-05-04 22:34] justin808 commented on #412
Let's try it out! It's possible that the older turbo links didn't.

[2016-05-05 04:44] hafizio commented on #409
I manage to do this by installing the tether package using npm and expose the package to rails app by loading it in module loaders. Thanks @justin808

[2016-05-05 18:18] murtali opened #414 "Upgrading from 3.0 to 5.0"
Wanted to know the best steps to upgrade from 3.0 to 5.0.
I didn't see any guides for 3,4 or 5 in the changelog.md  (like you had for 1->2 or 2->3)
I've already done the gem update but wasn't clear on changes to get the latest react / react router or any other changes in /client

Thanks

[2016-05-05 18:53] thewoolleyman commented on #414
You can find out a lot by looking at the history and latest state of the https://github.com/shakacode/react-webpack-rails-tutorial example app.  E.g. if you look at the git history of when the gem/npm module was bumped you can see what changed at the same time.

[2016-05-06 06:14] alleycat-at-git commented on #401
@evgenTraytyak @ramusus Have a look at [PR#413](https://github.com/shakacode/react_on_rails/pull/413) we're about to merge. I think it will solve your problems.

[2016-05-06 08:11] justin808 commented on #414
@murtali that means you didn't have to do anything. If you want to use the new features, that's up to you. There might be some deprecations.

[2016-05-06 08:11] #414 closed

[2016-05-06 08:11] justin808 commented on #406
@szyablitsky Did you find what you're looking for?

[2016-05-06 08:13] justin808 commented on #402
@jbhatab Please be sure to handle this with your generator changes. I'm closing this one.

[2016-05-06 08:13] #402 closed

[2016-05-06 08:14] justin808 commented on #394
@jbhatab did you find the cause of this one?

[2016-05-06 08:15] justin808 commented on #332
@alexfedoseev @robwise Any chance you can jot down the notes we've been having internally in this file: https://github.com/shakacode/react_on_rails/blob/master/docs%2Fadditional-reading%2Fhot-reloading-rails-development.md

If all there, let me know and I'll close this issue.

[2016-05-06 08:20] justin808 commented on #385
I'd like to get this one closed. @jbhatab @tmock12 @MarkMurphy @samnang is this a doc change or a code fix? I really don't know.

[2016-05-06 08:21] justin808 commented on #381
@danielhusar Please open another issue if you're still having problems.

[2016-05-06 08:21] #381 closed

[2016-05-06 08:23] szyablitsky commented on #406
@justin808 did not have time for this issue. I will look at this later.

[2016-05-06 08:24] justin808 commented on #342
I'm not sure what to do about this one. I think we need a simple open source sample app, and then I can provide feedback on that and we can figure out what, if anything, needs to change in the ReactOnRails gem. See https://github.com/shakacode/react-webpack-rails-tutorial/ and the https://github.com/shakacode/react_on_rails/tree/master/spec/dummy sample apps.

[2016-05-06 08:27] justin808 commented on #325
@modosc I'm still considering implementing this one. I think we can add a JS option to do this pretty easily, for either 1) or 2). We'd add something as a supported option: https://github.com/shakacode/react_on_rails/blob/master/node_package%2Fsrc%2FReactOnRails.js#L55

and this can be set globally in any of the files loaded by webpack.

[2016-05-06 08:28] #320 closed

[2016-05-06 08:29] #292 closed

[2016-05-06 08:29] justin808 commented on #292
We can re-open a new issue if there's more to do here.

[2016-05-06 08:31] justin808 commented on #212
I'm going to close this for now.

The solution is to use the `railsContext` feature. This has been proven for https://deliveroo.co.uk/.

Yes, we'd love to get some articles and examples on how to do this!

[2016-05-06 08:31] #212 closed

[2016-05-06 08:33] justin808 commented on #206
@chrisvfritz We're switching to the fat arrow syntax for binding. So the issue then becomes just efficiently including Lodash. @jbhatab I'm tempted to close this one, as it's more of a doc issue or an example issue for https://github.com/shakacode/react-webpack-rails-tutorial/.

[2016-05-06 08:34] justin808 commented on #183
Closed by #380

[2016-05-06 08:34] #183 closed

[2016-05-06 08:34] justin808 commented on #245
@jbhatab is actively working on this. Should we leave this open for now?

[2016-05-06 08:35] justin808 commented on #160
We're going to leave CSS configuration out of the generators as this is just changing too fast, and it's not part of the core of ReactOnRails.

[2016-05-06 08:35] #160 closed

[2016-05-06 08:36] justin808 commented on #84
Closing for now. We've got an example here: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fapp%2Fbundles%2Fcomments%2Fcomponents%2FCommentBox%2FCommentList%2FCommentList.spec.jsx

[2016-05-06 08:36] #84 closed

[2016-05-06 08:46] danielhusar commented on #381
Hey, sorry I was meaning that hidden div with serialised props when doing server side rendering.
![screen shot 2016-05-06 at 09 44 00](https://cloud.githubusercontent.com/assets/1857751/15068423/1b88a2d6-136f-11e6-8338-1add26f9d175.png)

I use my own custom logic to retrieve state when doing server side rendering, and I would probably prefer something like `window.__INITIAL_STATE__` to store initi

[2016-05-06 08:48] justin808 commented on #381
@danielhusar this is the code that bootstraps ReactOnRails: https://github.com/shakacode/react_on_rails/blob/master/node_package%2Fsrc%2FclientStartup.js

Feel free to submit a PR.

[2016-05-06 08:53] danielhusar commented on #381
Yep I know :) But Im not using that module, mainly because I migrated app from express, and I will need possibly to migrate it back so don't want to tie it too much to the rails.

Our mainly concerns are just seo for that hidden div, I can live with it for now :) If it came as issue I will fire the PR, cheers !

[2016-05-06 11:16] alexfedoseev commented on #332
@justin808 There is nothing to add about non-rails related things yet. Next way of doing hot reloading in react apps w/ mixed  stateless & stateful components — [react-hot-loader](https://github.com/gaearon/react-hot-loader) — is in beta and we need to add one more method to `ReactOnRails` api to make them compatible.

[2016-05-06 13:06] MarkMurphy commented on #385
@justin808 I'm not using this gem anymore but I believe it's a code fix. I think the code needs to be more explicit in loading the view helpers. See my [previous comment](https://github.com/shakacode/react_on_rails/issues/385#issuecomment-209964034)

Again I'm using Rails v4.1.13 so try it out with that and see if you can reproduce the issue.

@tmock12 What version of Rails were you on when this h

[2016-05-06 17:14] foxycoder commented on #245
To improve the React experience for many people it could be nice to have a
basic CRUD app that people can extend in their apps. That could be great to
familiarize Rails developers with things like Redux, while seamlessly
integrating with the "Rails way" of building RESTful apps.

Again, happy to help with this. :)

On Friday, 6 May 2016, Justin Gordon <notifications@github.com> wrote:

--

--

Wou

[2016-05-06 18:42] robwise commented on #206
@justin808 we're removing lodash from the generator, this can be closed

[2016-05-06 20:32] martyphee commented on #412
I'll try to do some work on this over the weekend.  I'm headed back to
London Sunday and probably won't have much time during the week, but I'll
try to fit some work in on it.

On Wed, May 4, 2016 at 5:34 PM, Justin Gordon <notifications@github.com>
wrote:

[2016-05-06 23:22] #206 closed

[2016-05-07 00:40] robwise commented on #394
yeah we fixed it last weekend

[2016-05-07 00:48] justin808 commented on #394
@robwise what's the PR?

[2016-05-07 01:16] robwise commented on #394
https://github.com/shakacode/react_on_rails/pull/398

[2016-05-10 01:59] szyablitsky commented on #406
@justin808 I found where production check is. It's in `client/webpack.client.base.config.js`.
[code]
I do not think that it is possible with current architecture to mute turbolinks only in test environment. Because it uses the same generated files as in development environment. To be clear - I'm talking about running tests in parallel with development (not CI).
So if I want to see clear output fro

[2016-05-10 03:00] justin808 commented on #406
@szyablitsky All you need to do is create a webpack config for your tests.

I'm going to take a look at this as well. I'm guessing that you're using phantomjs.

Incidentally, I think this more of a configuration issue than an issue with the core of React on Rails.

[2016-05-11 05:04] justin808 commented on #347
![2016-05-10_18-19-32](https://cloud.githubusercontent.com/assets/1118459/15170483/f00e344c-16e1-11e6-93f6-ded2637b227b.png)

[2016-05-11 05:45] justin808 commented on #347
![2016-05-10_19-44-47](https://cloud.githubusercontent.com/assets/1118459/15171130/b87248ba-16e7-11e6-9ce3-f9799061f23c.png)

[2016-05-11 07:24] szyablitsky commented on #406
@justin808 Yes, I'm using phantomjs.
I'm not sure that you can use separate config for tests, if you run tests in parallel with development (I'm using guard gem). Tests use the same generated files as development server. And `TRACE_TURBOLINKS` option already transpiled into those generated files.
BTW I agree, this is a configuration issue.

[2016-05-11 09:38] UberMouse opened #416 "Tests fail randomly on Travis because vendor-bundle is not found"
Successful build: https://travis-ci.org/DigitalNZ/supplejack_website/builds/129327414
Failed build: https://travis-ci.org/DigitalNZ/supplejack_website/builds/129342103
.travis.yml: https://github.com/DigitalNZ/supplejack_website/blob/tl/react-refactor/.travis.yml

It fails more often than it succeeds, I'm not sure if I have something misconfigured in the project setup or the .travis.yml? Any ideas

[2016-05-11 10:34] justin808 commented on #416
@UberMouse Try out v6 tomorrow. I've made some updates regarding this area.

[2016-05-11 10:34] UberMouse commented on #416
Awesome, I'll give it a look.

[2016-05-11 10:39] justin808 commented on #416
I just made 6.0.0.beta.5 for you.

See this branch: https://github.com/shakacode/react_on_rails/pull/417
Be sure to read the CHANGELOG and update your config/react_on_rails.rb.

I'll answer any questions you have when I get up tomorrow. Thanks for trying this out. Your help will accelerate the shipment of v6!

[2016-05-11 10:40] justin808 commented on #416
btw -- if this passes CI, I might merge to master in 15 min. Then you can submit PRs for any doc or other issues.

Thanks!

We also have a slack discussion room if you want to join.

[2016-05-11 10:41] UberMouse commented on #416
Sure, I'll join tomorrow. We're planning on using this in a few projects at work so I'm sure it will come in handy.

[2016-05-11 10:55] justin808 commented on #347
![2016-05-11_00-54-57](https://cloud.githubusercontent.com/assets/1118459/15178739/1549ec2a-1713-11e6-961c-dc064186fc69.png)

[2016-05-11 11:18] justin808 commented on #347
![2016-05-11_01-17-57](https://cloud.githubusercontent.com/assets/1118459/15179255/47418adc-1716-11e6-975e-c659a7de54d7.png)

[2016-05-11 11:20] justin808 commented on #416
6.0.0.rc.1 is READY!

[2016-05-11 18:49] vmpj commented on #369
Getting the same error:

[code]
Using react_on_rails 5.2.0 on El Capitan 10.11.4

[2016-05-11 19:03] justin808 commented on #369
The point is the the generator will will not run if you have open changes. This is so you can carefully see what the generator is changing.

[2016-05-11 22:39] UberMouse commented on #416
I've upgraded to the 6.0.0-rc.1 and it's solved the issue I had with the tests rebuilding the webpack assets every time (and somehow my test suite has gone from taking ~1 minute to 2 seconds) but I think that may be because it's just not attempting to build them at all. If I `rm -rf app/asstes/webpack/*` and turn off the webpack dev server all the tests fail because the bundle isn't found and it d

[2016-05-11 23:29] UberMouse commented on #416
Ok the Travis issue was my fault, poinited the test command at a webpack command that had `-w` so that's working fine now. Still facing the issue where it doesn't build the assets when I run rspec locally.

[2016-05-11 23:43] UberMouse commented on #416
Seems like the tests are still failing intermittently on Travis https://travis-ci.org/DigitalNZ/supplejack_website/builds/129574156

[2016-05-12 01:39] UberMouse commented on #416
Ok the test issue locally was just some stupidity on my part. I had completely forgotten I skip tests marked slow locally and that I had marked the feature tests that make use of React components with slow..

So fixing that mistake the tests seem to be working correctly now, it does still say "Building Webpack assets..." but it finishes but it finishes faster than before. I'm not sure if that is m

[2016-05-12 02:10] justin808 commented on #416
React on Rails v6 is much smarter about the building assets. It's key that `config/react_on_rails.rb` is configured correctly. Thanks for trying out v6! Let us know ASAP if you run into any issues.

[2016-05-12 02:10] #416 closed

[2016-05-12 02:58] UberMouse commented on #416
@justin808 it doesn't look like v6 has solved my problems. It seems to be better but I just got another travis failure because it can't find the 'vendor-bundle' file after three test builds.

[2016-05-12 03:01] UberMouse commented on #394
@justin808 I've upgraded to 6.0.0-rc.1 per your advice in #416 and it doesn't seem to have solved this issue for me. I think I configured the upgrade correctly, but I'm not positive.

I've run my test suite three times on 5.2 and 6.0.0-rc.1 and it averaged 42 seconds on 5.2 and 44 seconds on 6.0.0-rc.1 with webpack running with the `-w` flag outside of the tests. Without webpack running it still a

[2016-05-12 03:26] justin808 commented on #394
You've got this:
https://github.com/DigitalNZ/supplejack_website/blob/tl/react-refactor-6.0.0/client/webpack.client.rails.config.js
[code]

But you also have:

https://github.com/DigitalNZ/supplejack_website/blob/tl/react-refactor-6.0.0/config/initializers/react_on_rails.rb
[code]

https://github.com/DigitalNZ/supplejack_website/blob/tl/react-refactor-6.0.0/client/webpack.client.base.config.js
[co

[2016-05-12 03:26] justin808 commented on #394
I'll re-open this ticket if there's evidence the issue is not yet fixed with v6.

[2016-05-12 03:26] #394 closed

[2016-05-12 03:28] justin808 commented on #290
Merged with version 6.0.0-rc.1

[2016-05-12 03:28] #290 closed

[2016-05-12 03:30] UberMouse commented on #394
Ah I figured it would be something silly like that. That seems to have solved it. Thanks!

[2016-05-14 01:49] kamalkgarg commented on #373
Another solution is install cygwin on windows. This will make Linux commands, such as 'which', available on windows.
Note: Assuming that you are installing cygwin at location c:\cygwin, you will need to add c:\cygwin\bin to your system path on windows. Then you will need to close and reopen the windows command.

[2016-05-15 00:56] justin808 opened #421 "Add node.js generator part -- was removed"
@alleycat-at-git @jbhatab We need an install option for the node part. We'll use this PR to track what's missing. I also removed the node from https://github.com/shakacode/react_on_rails/edit/master/lib/generators/react_on_rails/templates/base/base/Procfile.dev.tt

[code]

See #418.

[2016-05-15 03:38] robwise commented on #421
Sounds good, a note on organization: let's definitely put this in its own generator, and then if we want to simply make it an option during the install, we can just invoke this generator at the end of the install and create the node files and append to the Procfile.

Also, wouldn't the node command also need to go in the production Procfile as well?

[2016-05-15 03:40] robwise commented on #401
@justin808 suggest we close as @alleycat-at-git fixed this in #413

[2016-05-15 07:07] #401 closed

[2016-05-15 07:08] justin808 commented on #421
Regarding the `Procfile`, yes, this would need to be done for a Heroku deployment.

[2016-05-16 11:17] bogdan-dumitru opened #423 "Exposing rails path helpers in React components"
### Context

What I'm working on won't be a SPA (at least not in the initial version). I want Rails to handle routing and rendering React components (with turbolinks). What I'm envisioning is a shared store approach and one route will have a couple of block components server side rendered which all get the store and that's where all app state is injected. I wanted this so to not mix app state thro

[2016-05-16 17:42] matthewrobb commented on #400
I am seeing this and rerunning npm install didn't seem to help.

[2016-05-19 17:38] AlexMouton opened #426 "The link to ReactOnRails.js from the Javascript API page is broken"

[2016-05-19 18:51] justin808 commented on #426
@AlexMouton want to submit a PR and be listed in the contributors list? I can fix as well.

[2016-05-20 08:33] justin808 commented on #347
![2016-05-19_22-30-15](https://cloud.githubusercontent.com/assets/1118459/15421919/73d2c186-1e11-11e6-967d-a2592e639382.png)

[2016-05-20 16:15] tompave-roo opened #427 "Test failures on forked version of master (not CI)"
Hi, I've forked the repo, followed the setup guide, and now I'm trying to run the tests locally.

I'm getting three failures that might have to do with my local setup. Do you have any pointers?

I'm running the rests with `rake` in the root directory, on master at `c805508a`.
My local setup is:

* OS X 10.11.5
* Ruby MRI 2.2.3
* node 6.2.0
* npm 3.8.9

Thank you for the help.

[code]

[2016-05-21 00:44] justin808 commented on #427
@tompave-roo Please read the error messages carefully. It seems that you have Poltergeist setup issues. What version of phantomjs do you have installed?

[2016-05-21 00:52] justin808 commented on #426
fixed

[2016-05-21 00:52] #426 closed

[2016-05-21 00:53] justin808 commented on #421
@alleycat-at-git Just let me know what you want me to do, and I'll take care of this. I want to finish this for the v6 release.

[2016-05-21 00:53] AlexMouton commented on #426
Thanks Justin
I will contribute next time

A

On Fri, May 20, 2016 at 5:52 PM, Justin Gordon <notifications@github.com>
wrote:

[2016-05-21 00:58] justin808 opened #428 "Switch docs to recommend mini_racer over execjs"
https://github.com/discourse/mini_racer might have a big speed up.

Let's try it out!

Any volunteers?

--

## Performance

The `bench` folder contains benchmark.

### Benchmark minification of Discourse application.js (both minified and unminified)

- MiniRacer version 0.1
- therubyracer version 0.12.2

[code]

[code]

The huge performance disparity (MiniRacer is 10x faster) is due to MiniRacer r

[2016-05-21 01:00] justin808 commented on #385
@MarkMurphy Why did you switch off React on Rails?

I'm going to take a look at this issue.

[2016-05-21 01:02] justin808 commented on #427
@tompave-roo Please ask me to re-open this issue if you think it's a problem with the code, versus your environment.

[2016-05-21 01:02] #427 closed

[2016-05-21 01:04] justin808 commented on #423
I suggest using this features to make the relevant paths available in all the JS code:

https://github.com/shakacode/react_on_rails/blob/master/README.md#customization-of-the-rails_context

[2016-05-21 01:04] #423 closed

[2016-05-21 01:05] justin808 commented on #412
@martyphee Any info on this? Be particularly careful with escaping issues. I.e., suppose you have application data sent in the JavasScript, and it can close the script tag and open a new one.

[2016-05-21 01:06] justin808 commented on #406
@szyablitsky Should we close this issue? Any code change that should be made?

[2016-05-21 01:07] justin808 commented on #373
Is anybody still having this issue? I'm not a huge fan of supporting windows unless a community member joins the maintainers as the official "Windows advocate".

[2016-05-21 01:08] justin808 commented on #332
@alexfedoseev What's the method to add to React OnRails. Should this go into v6? I can wait for this if it's something simple.

[2016-05-21 01:13] justin808 commented on #16
I'll probably add @fletcher91's code to the default package for ReactOnRails. Yes, we could have a separate node module. It's a tiny enough amount of code that I don't deem that necessary.

@fletcher91 Any changes to your gist? I copied below.

[code]

[2016-05-21 01:19] justin808 commented on #325
@modosc Any more info on this one:

I'm thinking this one is pretty important.

[2016-05-21 01:20] justin808 commented on #289
@kayakyakr Latest generator is much less intrusive for v6. You can ask @jbhatab as he worked on it.

[2016-05-21 01:20] #289 closed

[2016-05-21 01:22] justin808 commented on #245
@jbhatab @foxycoder @patrickgordon Let's get the next stage of the generator going.

Should we close this issue, as it's a lot of scrolling at this point. I'm thinking a new issue where we build off of what's in V6 would be better.

[2016-05-21 01:22] justin808 commented on #22
@jbhatab Yes, closing. If anybody wants to help with this, I'm happy to provide guidance.

[2016-05-21 01:22] #22 closed

[2016-05-21 01:25] justin808 commented on #22
Also, for anybody reading this, it's trivial to create your own startup script for working on the non-JS code and having the script create the JS bundles before starting Rails.

[2016-05-21 01:48] kayakyakr commented on #289
I saw that, much improved. The biggest remaining weakness of this project is how it interacts with sprockets. Ideally you'd be using /tmp/cache in a way similar to ember-cli or browserify.

[2016-05-21 01:49] MarkMurphy commented on #385
I opted to build my react application from scratch (independently of my rails project) using something similar to the react boilerplate.

[2016-05-21 03:27] robwise commented on #332
@justin808 I wouldn't delay v6 as react-hot-reloader is still somewhat in flux, although it wouldn't hurt to start working on this.

![conversation about react-hot-reloader](http://cl.ly/0g0H1c1i2a2Q/Image%202016-05-20%20at%2011.26.11%20PM.png)

[2016-05-21 05:44] szyablitsky commented on #406
@justin808 I do not see any easy ways besides completely disabling Turbolinks in config, and enabling tracing only when needed.

[2016-05-21 05:44] #406 closed

[2016-05-21 05:47] justin808 commented on #406
@szyablitsky Since the webpack config is a node file, you can read an ENV variable set by CI and configure a global variable to do what you want. It's really not hard to do.

I can find you an example if need be!

[2016-05-21 05:52] szyablitsky commented on #406
@justin808 I do not mind if CI log will be filled with Turbolinks traces, I was talking about tests that run in _parallel_ with development. I.e. with guard.

[2016-05-21 05:58] justin808 commented on #406
@szyablitsky Yes, that's pretty much impossible unless you want to build the JS files twice every time you save, which is really not worth the slowdown.

[2016-05-21 09:54] alexfedoseev commented on #332
👍
We need method, which will allow to (re)call `ReactDOM.render` for component.

[2016-05-21 09:55] justin808 commented on #332
@alexfedoseev can you show me what's needed and I'll make a PR or if more efficient, you can start the PR and I'll finish it. Don't spend more than a few min on this! (too much other more important things!)

[2016-05-21 16:58] martyphee commented on #412
I'll try to take a look at this today.

On Fri, May 20, 2016 at 8:05 PM, Justin Gordon <notifications@github.com>
wrote:

[2016-05-23 01:05] UberMouse commented on #416
This is still happening with 6.0.0-rc1 npm and master gem from 11 days ago. Haven't looked into newer updates.

https://travis-ci.org/DigitalNZ/supplejack_website/builds/132161621

[2016-05-23 01:38] UberMouse opened #429 "react_on_rails:assets:symlink_non_digested_assets crashes when sprockets-manifest-*.json is missing"
In the event you are missing the `sprockets-manifest-*.json` the assets:precompile tasks fails because it tries to parse the JSON file using a `nil` path. I made it not crash by checking if the `manifest_path` variable is present before running the task but I'm not sure if that is solving the problem or putting a bandaid over it so I haven't made a PR.

[2016-05-23 02:42] justin808 commented on #429
@UberMouse is this a general problem without React on Rails? I don't see the connection with what we're doing with precompilation and this issue.

[2016-05-23 02:44] UberMouse commented on #429
Well it's crashing inside a React on Rails rake task? I fixed it for me by doing this

https://github.com/UberMouse/react_on_rails/commit/db19754079e50ddd7ace4b003f06bc626cad1a11

[2016-05-23 02:44] justin808 commented on #429
OK, I see the issue is with this code in https://github.com/shakacode/react_on_rails/blob/master/lib/tasks/assets.rake

[code]

I'm guessing we should just check if that file does not exist, and the maybe do nothing? I'm really not sure. We need to ask @alleycat-at-git .

[2016-05-23 02:45] UberMouse commented on #429
That is what I did to fix it. Not sure if it's the best approach, I'm not sure what the task does, but it resolved my issue. I'm running the gem off my fork in the meantime so I can do deployments.

[2016-05-23 14:11] alexeykarasev commented on #429
@UberMouse Thanks for the report! I will look into that. In the meantime, can you give me the case, why you have no manifest.json file?

[2016-05-23 19:58] nratter commented on #429
@alexeykarasev manifest.json was renamed in sprockets. Also, it's `.sprockets-manifest-*.json`, not `sprockets-manifest-*.json`. I'm having the same issue. This can be easily replicated using `rake assets:clobber`. The problem is, the assets directory (along with the files) is completely removed when you clobber, so this code won't know where to point to.

[2016-05-24 04:09] chintanparikh opened #430 "undefined method `assets' for #<Rails::Application::Configuration:0x007fd97c239e90>"
Hey all -

I'm trying to install this for the first time on an existing Rails app but I'm getting

```/Users/chintanparikh/.rvm/gems/ruby-2.3.1/gems/railties-5.0.0.rc1/lib/rails/railtie/configuration.rb:95:in `method_missing': undefined method `assets' for #<Rails::Application::Configuration:0x007fd97c239e90>```

I'm not too sure why - I'm definitely not running Rails in API-only mode.

Here's my

[2016-05-24 04:13] justin808 commented on #430
@chintanparikh Please use v6 rc.X of react on Rails and compare your setup to https://github.com/shakacode/react-webpack-rails-tutorial/ and let me know what you find.

[2016-05-24 04:20] chintanparikh commented on #430
Turns out I did have the asset pipeline disabled - fixed it by adding the appropriate gems back in. In case anyone comes across this in the future,  I needed the following in my gemfile:

[code]

[2016-05-24 04:20] #430 closed

[2016-05-24 07:26] alleycat-at-git commented on #429
@UberMouse @nratter check out [this PR](https://github.com/shakacode/react_on_rails/pull/431) does it work now?

[2016-05-24 09:00] chintanparikh opened #432 "Can't get a component to display"
Hi -

I'll preface this by saying I'm new to Redux and Webpack so I could very well be doing something wrong there. My issue is that I can't get a simple component to display - the HelloWorld example works fine, so I know my setup is okay.

The following files are relevant:

client/app/bundles/Doxly/components/SignInForm.jsx

[code]

client/app/bundles/Doxly/startup/SignInForm.jsx

[code]

client/

[2016-05-24 09:03] chintanparikh commented on #432
... and 5 seconds later I figured out that I had to include it in webpack.client.base.config.js.

I'll leave this here in case anyone finds it in the future.

[2016-05-24 09:03] #432 closed

[2016-05-24 15:46] martyphee commented on #412
I got some work done on it, but haven't finished.

On Sat, May 21, 2016 at 11:58 AM, Martin Phee <martyphee@gmail.com> wrote:

[2016-05-24 17:47] nratter commented on #429
@alleycat-at-git haven't tried but looks good 👍

[2016-05-25 00:02] justin808 commented on #421
@jbhatab @alleycat-at-git I don't think this is any reason to delay the final release of 6.0.

[2016-05-25 00:30] robwise commented on #421
Agreed, no need for delaying v6 as this can just be a minor release since it only adds functionality and won't change/break existing API.

[2016-05-25 01:01] justin808 commented on #385
As far as I can tell:

1. A gem that's a Rails Engine (which React on Rails is) will automatically have helpers installed.
2. We could document the addition of this snippet in ones initializer:
[code]
3. Alternately, we could add that that here, to `engine.rb`:
[code]

Maybe @brandonhilkert might have an opinion. He wrote an article [HOW TO BUILD A RAILS ENGINE](http://brandonhilkert.com/blog/how-

[2016-05-25 01:11] justin808 commented on #385
I posted this question here:

http://stackoverflow.com/questions/37426278/rails-engine-gem-should-or-should-not-explicitly-load-helpers

[2016-05-25 01:27] justin808 commented on #332
@alexfedoseev Can you confirm this is just a doc issue?

[2016-05-25 03:55] chintanparikh opened #434 "How would I include assets in a React component?"
So I have a partial right now, the code is below (_deal.html.erb). I'm now trying turn that into a React component, but in the partial I have an ```image_tag "img-avatar-1.png"```. How would I include that in the React component?

I know one option is to pass it in as a prop, but I'm wondering if there's another way to do it that's easier?

[code]

[2016-05-25 05:28] justin808 commented on #434
@chintanparikh If the image is more of a CSS background image, then handle that with CSS.

Otherwise, with image tags, you need to decide if you will use the asset pipeline and fingerprint the images. In that case, you need to pass the image path as a prop.

[2016-05-25 05:29] justin808 commented on #429
Fixed in v6!

[2016-05-25 05:29] #429 closed

[2016-05-25 05:42] chintanparikh commented on #434
Here's my solution for anyone who sees this in the future:

Add `gem "non-stupid-digest-assets"` to Gemfile - this will create two copies of your assets, one which is fingerprinted and one which is not. Note that if you don't supply a whitelist (next step), it will do this for all assets, and will make asset compilation take twice as long.

Next, I created 'config/initializers/non-digest-assets.rb

[2016-05-25 05:42] #434 closed

[2016-05-25 06:02] justin808 commented on #434
@chintanparikh @jbhatab This might be worth adding to /docs/additional-reading.

[2016-05-25 14:46] fletcher91 commented on #16
@justin808 Aside from some minor things like `let` to `const` and some JSdocs, it's still the same 👍  I've updated the gist accordingly

[2016-05-25 18:12] justin808 commented on #16
@fletcher91, @jbhatab does this make sense to go into React on Rails from the perspective that the CRSF thing is so standard for Rails apps? or more of a doc thing?

[2016-05-26 13:30] Tamiyadd opened #435 "Assets precompile error"
Hi @justin808, i upgraded my react on rails version from 6.0.0.rc1 to 6.0.0 but i started to get an error on assets precompile.

When precompiling assets it throws the following error:

[code]

i investigated in that line of code and found that the gem search for `.sprockets-manifest-*.json` manifest file but i have a `manifest-*.json` manifest file.
Maybe the problem is there? i don't know why wi

[2016-05-26 18:45] justin808 commented on #435
@alleycat-at-git @Tamiyadd  Ahh! this must be related to the sprockets version.

We need to check for that and maybe allow either file.

Let me know on the sprockets version and we'll try to get this fixed asap. Also, can you post the contests of your manifest-*.json file?

[2016-05-26 19:26] alleycat-at-git commented on #435
@Tamiyadd, could you please try [this PR](https://github.com/shakacode/react_on_rails/pull/436) out? Did it fix the issue?

[2016-05-27 08:35] Tamiyadd commented on #435
@alleycat-at-git i tried your PR and it works like a charm!

for your info i'm using sprockets `2.12.4`,
do you need my manifest.json content anyway?

[2016-05-27 08:49] alleycat-at-git commented on #435
Cool! I think we now that you checked it worked, we don't need the file anymore.

[2016-05-27 22:48] #435 closed

[2016-05-27 23:04] justin808 commented on #435
Released in 6.0.1.

[2016-05-29 14:56] jbhatab commented on #421
@robwise agreed.

[2016-05-29 15:00] jbhatab commented on #342
@tmock12 @Riccardo-Zanutta interesting scenario. The linking solution makes sense but is definitely not ideal. Can you give me more context on the problem and why you're adding react_on_rails only to the engine? I've never tried this so it may help me figure out the ideal solution.

[2016-05-30 09:03] mathiasslawik commented on #373
Yes, I was just affected by this issue. If you don't want to support Windows explicitly, then I'd suppose adding a notice to the README, e.g., "Windows: requires cygwin binaries in path".

However, as you're not doing anything OS specific, you don't have to explicitly "support" Windows. Developing Rails and NodeJS under Windows is better than some people suppose.

[2016-05-30 12:14] michaelbaudino opened #437 "`data-dom-id` collision with (fragment) caching"
We encountered a problem where `data-dom-id` of components on the same page are not unique.

This is particularly obvious when components are stored in cache fragments and can be ordered differently depending on parameters. For exemple, think about search results where each result is a cache fragment containing a component rendered using `react_component` (the fragment will contain the `data-dom-i

[2016-05-30 16:52] justin808 commented on #437
@michaelbaudino Thanks for reporting this. We should get a fix out ASAP. If you have any other feedback, please let me know. A PR would definitely be appreciated.

[2016-05-31 01:04] justin808 commented on #437
@michaelbaudino We probably don't actually need the auto-generated DOM ID for anything other than integration tests (what do we need this for?):

Let's have a config setting:

`dom_id_generator`: Values:

* false: (default) which means none
* UUID (don't really know about MD5)
* Allow the value to be a proc, so you can have a custom function, and we provide an example of this that gives the old be

[2016-05-31 05:48] john-osullivan commented on #373
Personally, I worked around this issue by installing the newest version of Windows Insider Preview with Ubuntu on Windows.  `which` now behaves as expected!  As @mathiasslawik pointed out, though, I could've gotten similar results by adding cygwin binaries to my path.

[2016-05-31 06:26] michaelbaudino commented on #437
You mean, kinda like #438 ? :smile:

[2016-05-31 10:50] justin808 commented on #437
Yes, for anybody reading this. See #438. Big thanks to @michaelbaudino for fixing this!

[2016-05-31 23:19] alagos opened #441 "Error with npm run rails-server"
I'm using react_on_rails (6.0.1) and after run `rails generate react_on_rails:install` I followed the given instructions:
[code]
But when I run `npm run rails-server` it throws:
[code]

Not sure if the error has to do with npm using rvm as is trying to use a 1.9.3 ruby version.
BTW, those `rails generate react_on_rails:install` instructions are different than the described on the [Getting Started]

[2016-06-01 02:16] justin808 commented on #441
The error message is clear.

run `rvm-prompt` before starting the command and verify that you have 2.3.1 properly set.

visit http://localhost:3000/hello_world
/home/alter/.rvm/gems/ruby-2.3.1@5.0.0/gems/bundler-1.11.2/lib/bundler/definition.rb:402:in `validate_ruby!': Your Ruby version is 1.9.3, but your Gemfile specified 2.3.1 (Bundler::RubyVersionMismatch)

[2016-06-01 02:16] #441 closed

[2016-06-01 05:38] xiaopow opened #442 "server render react router Links not changing page"
Hello, I followed your dummy app to setup client app and server app.

Client react router app works fine. However for server pre render router app. The Links in the Layout page are not changing the path when clicked. But the server render does work if I manually change the path in the browser. Does anyone might have any idea what might cause this?
Thanks.

gif of issue
![ezgif com-video-to-gif 2](

[2016-06-01 06:41] xiaopow commented on #442
Update: using `a` anchor tags instead of Link from react-router will make the links work and redirect the browser to other pages. But this doesn't tell me why Link wouldn't work. Also, would love to use the active feature of Link.

ServerAppRouterLayout.jsx
[code]

[2016-06-01 14:03] chrisyeung1121 opened #443 "Does it support working with rails cells"
https://github.com/apotonick/cells

[2016-06-01 15:33] alagos commented on #441
@justin808 I have properly set my rvm version
[code]
Also the error line indicates the error comes from bundler located in `.rvm/gems/ruby-2.3.1@5.0.0/gems/bundler-1.11.2`, which corresponds to 2.3.1 version. And last but not least, I don't have problems to run the application with `foreman start -f Procfile.dev`, which would fail if my rvm had an incorrect version, it just fails with `npm run rai

[2016-06-01 16:34] justin808 commented on #441
@alagos @jbhatab We should consider taking out the npm task from the generator.

[2016-06-01 17:19] robwise commented on #441
100% agree

[2016-06-01 21:12] xiaopow commented on #442
Followed your dummy app and fixed.

[2016-06-01 21:12] #442 closed

[2016-06-02 00:34] jbhatab commented on #385
@MarkMurphy I ran a fresh install and got the error. You need to restart your server, run npm install in the client directory, and then run 'foreman start -f Procfile.dev'

[2016-06-02 00:46] jbhatab commented on #443
@chrisyeung1121 It looks like cells just abstract some view code. As long as the view helper gets called like it normally does in the views then I don't see why it wouldn't work.

[2016-06-02 00:47] jbhatab commented on #428
That's a big improvement.

[2016-06-02 00:49] jbhatab commented on #412
@martyphee sounds like a great improvement. Is the difference noticeable on phone load time?

[2016-06-02 04:11] justin808 commented on #385
Thanks @jbhatab! @MarkMurphy Please let us know if this fixes your issue.

[2016-06-02 04:39] chrisyeung1121 commented on #443
For react-rails it has to include React::ViewHelper. I wonder if ReactOnRails have this helper I can include in cells.

[2016-06-02 18:25] SqueezedLight opened #444 "Scroll position lost with Turbolinks"
Hi guys,
i finally managed to migrate to the current version 5 of this gem. Finally, phuuu... Despite the latest versions

[code]

i'm not able to get turbolinks to work. The problem is when i scroll down a page and navigate from a link down there to a new page and then click back, the previous page is in top position - therefore the scroll position is lost. As far as i understand that's not the w

[2016-06-02 22:16] justin808 commented on #441
@jbhatab Any chance you can apply Rob's comment?

[2016-06-02 22:17] justin808 commented on #443
@chrisyeung1121 Can we close this issue?

[2016-06-02 22:19] justin808 commented on #437
I want to get this one merged. The only thing holding me back is getting consensus on doing a major version bump. I think it's prudent to do a major version bump so somebody doing updates will look at the CHANGELOG.md.

@michaelbaudino Agree?

[2016-06-02 22:19] jbhatab commented on #441
I agree.  I think cutting them would be great

[2016-06-02 22:22] jbhatab commented on #444
@squeezedlight are you sure this is react on rails causing this?

Are you doing server rendering? That might actually solve the problem too.

[2016-06-03 04:17] michaelbaudino commented on #437
Sure, great ! Thanks a lot :sparkles:

[2016-06-03 04:17] #437 closed

[2016-06-03 05:18] SqueezedLight commented on #444
@jbhatab not 100% right now. But the problem only occurs on pages with ```react_component()```. I tried with and without server side rendering - makes no difference.

[2016-06-03 06:05] justin808 commented on #444
I'm not clear on why scroll position be preserved. Can you point me to the place in the docs? Thanks.

[2016-06-03 07:43] SqueezedLight commented on #444
@justin808 sure. The part of the docs i'm referring to is here: https://github.com/turbolinks/turbolinks#restoration-visits

Thanks for your help!

[2016-06-03 08:11] justin808 commented on #444
@SqueezedLight I think we're going to depend on you to do some research on this one.

[2016-06-03 08:13] justin808 commented on #428
@jbhatab Any chance that you can try this out? Maybe we can put this into v.7?

[2016-06-03 08:14] SqueezedLight commented on #444
@justin808 ok! Does that mean you can not reproduce the problem and turbolinks does save scroll position for you? That information would be great help!

[2016-06-03 11:06] SqueezedLight commented on #444
@justin808 and @jbhatab
Ok, i tried the following:

===== No React On Rails involved =====
1) Installed rails from scratch - with ```gem 'turbolinks', '~> 5.0.0.beta'```
2) Created two pages to navigate between (```/views/application/home.html.erb``` and ```/views/application/second.html.erb```)
3) Made my tests as described above (with the 2000px div).
--> **RESULT: Scroll position is restored.**

[2016-06-03 11:11] SqueezedLight commented on #444
The repo is here: https://github.com/SqueezedLight/FreshReactOnRails

[2016-06-06 07:22] aymericbouzy opened #445 "installation error"
Hi! I did a fresh install and when starting the server with the command :
[code]
I got the following output :
[code]
I specified ruby version 2.2.4 in my Gemfile.

Thanks for the help.

[2016-06-06 10:00] justin808 commented on #445
* Please update to 6.0.2 (just released)
* Try running the commands in the procfile individually.

[2016-06-06 10:01] #443 closed

[2016-06-06 10:02] #342 closed

[2016-06-06 13:03] aymericbouzy commented on #445
I did all that : `rails s` is the command that makes it fail.
actually, any rails command seems to raise the same error from v8.

[2016-06-06 16:05] SqueezedLight commented on #444
Hi guys, any thoughts on this one??

[2016-06-07 03:00] justin808 commented on #444
@SqueezedLight I'm crazy busy right now as we're launching our new product. I'll depend your investigative work!

[2016-06-07 03:05] justin808 commented on #445
The error message:

You need to address that.

[2016-06-07 03:05] #445 closed

[2016-06-07 15:02] Tamiyadd opened #448 "Multiple webpack-bundle.js files with server rendering"
Hi guys,
i was wondering if it's possible to have multiple wepack-bundle.js files (obviously with different name) and load them depending on which application.js file is loaded.
I have an app with multiple application.js and i want to use different bundles to lighten my .js file.
I'm using server rendering and in `react_on_rails.rb` initializer i see `config.server_bundle_js_file = "webpack-bundle

[2016-06-07 18:46] justin808 commented on #448
We had previously discussed this for localization reasons and then deemed it not necessary due to the addition of the `railsContext`. Since this is server rendering, there's no reason to add the extra complexity of multiple JS files. If you have use case, add it here, and we'll re-open this ticket.

@martyphee might be able to share his experience on how he thought he needed multiple files but did

[2016-06-07 18:46] #448 closed

[2016-06-11 00:34] ramusus opened #449 ""ReferenceError: clearTimeout is not defined on Heroku"
Hi, guys!

Few hours ago after another deploy to Heroku with no essential changes I got error:

[code]

Full stack here http://pastebin.com/LYgpRxZa

I tried to find `base_js_code.js`, but there is no such file in tmp. If I turn off `prerender` feature everything is deploying and working on heroku as it was just one day ago. I compared versions of gems and npm packages - no any visible differences

[2016-06-11 00:38] justin808 commented on #449
@martyphee is also seeing this. This will take some investigative work.

If this is during server rendering, we should polyfill this, as we do here:

https://github.com/shakacode/react_on_rails/blob/cf29f7e6b7e9459401bd047c406124b43b9238f7/docs/additional-reading/server-rendering-tips.md#L21

https://medium.com/@railsonmaui/homeway-and-introducing-friends-and-guests-d4d365c6ad8d#.v8ttay83d

If thi

[2016-06-11 01:08] martyphee commented on #449
This is happening only after deployment.  I wasn't able to reproduce it locally.  Only on the server.

[2016-06-11 02:17] martyphee commented on #448
[We use multiple js files in production right now](deliveroo.co.uk).  Not all the pages are converted to React yet.  Right now we have four bundles for the application.  app-bundle for the landing page, checkout for the checkout rewrite I just did (only employees right now in the UK), corporate ordering and the new corporate portal.

Is that what your talking about?  We only have one server bundle

[2016-06-11 06:13] xiaopow commented on #449
Hey guys, seeing the same thing since yesterday. No changes in npm and gem packages.

[2016-06-11 09:41] hakunin commented on #190
I ended up adding sass loader and a relative path to the node module style file. It was easy, but it would be nice to have a bit of info for guys like me who have no previous experience with it.

[2016-06-11 17:00] martyphee commented on #449
I'd really like to find out what caused this.  We can't have this happening since we deploy 10-20 times a day to production.  Something minor had to be changed.

[2016-06-11 17:03] martyphee commented on #449
It's some shim.  Need to find where it's coming from.

![image](https://cloud.githubusercontent.com/assets/754870/15986391/7c2f2ef6-2fcc-11e6-9ff0-fc9a54c47726.png)

[2016-06-11 18:02] justin808 commented on #449
We just need to polyfill to it probably.

[2016-06-12 12:06] ramusus opened #452 "How to plug my own fork of npm part of this project?"
I'm trying to make working this project with relay and found this PR  https://github.com/shakacode/react_on_rails/pull/285/files. Now I want to continue developing in my own fork. I plugged my own forked gem easily, but with npm I got some troubles.

First I tried to install it using in `package.json`
[code]

This way let me to install only 3 meta-files in `node_modules/react-on-rails/` and no any

[2016-06-12 18:27] rstormsf opened #453 "add hypernova support"
If you haven't heard of https://github.com/airbnb/hypernova - you should.
https://github.com/airbnb/hypernova-ruby - ruby client

[2016-06-12 22:48] ramusus commented on #452
Found solution: just clone my repo to the `node_modules/react-on-rails` and run `npm run build` command. it will build `lib` directory.

[2016-06-13 08:51] Tamiyadd commented on #449
Hi guys, i'm having the same problem and i found that is due by `process` npm package

Here the issue
https://github.com/defunctzombie/node-process/issues/60

reverting back to `0.11.3` version worked well.

[2016-06-13 11:27] ramusus commented on #452
But I'm not sure this solution is the best. Now when I run "npm install" I got the error

[code]

[2016-06-14 11:40] ramusus commented on #449
Confirmed, after I put process@0.11.3 into `package.json`, deploy to Heroku with prerender enabled started to be successful.

[2016-06-14 11:42] Tamiyadd commented on #449
A little update,
`process` developers released an update that fix the bug. Also version `6.0.4` of react on rails works too

[2016-06-14 11:49] ramusus commented on #449
Great! Closing this issue! Thanks for quick support!

[2016-06-14 11:49] #449 closed

[2016-06-14 14:06] h8rry commented on #449
Works for us too. Thanks!
On Tue, Jun 14, 2016 at 7:49 PM Boris Shifrin <notifications@github.com>
wrote:

[2016-06-14 21:31] martyphee commented on #412
@jbhatab I have most of the test passing now.  I'll hopefully get the rest done in today or tomorrow.  Mainly the ones which just check the rendering of the `div`'s.

[2016-06-15 11:39] martyphee commented on #412
Ok, down to two test failures.

[2016-06-15 17:34] BrunoQuaresma opened #455 "Debug tool"
When i create my component with something wrong the console only shows errors in the startup files and not in a specific file. Example.:

I create my component Hello with a bad method but when i run in the browser and open the console it shows errors in clientRegistration.jsx like 'module Hello not found'.

Have a way for the console be more specific... like 'the method x is invalid'  and not a ge

[2016-06-15 17:55] justin808 commented on #412
@martyphee The most important thing is that we super, super carefully consider the escaping and that we have good tests. If we incorrectly put the data in the generated JavaScript, this would allow for script injection hack.

[2016-06-16 08:19] SqueezedLight commented on #444
Ok, i just did a quick test. In Turbolinks there is a function called ```scrollToPosition()```. If i set a timeout of 1ms for scrolling everything works as expected. I did it like so:

[code]

Is it possible that the scrolling happens, before the ReactOnRails Component is set up?

[2016-06-16 08:59] justin808 commented on #444
@SqueezedLight We have a couple options:

1. Update docs with your suggestions
2. submit a PR to TurboLinks.

I'm not sure how this would be interacting with React on Rails.

[2016-06-16 09:07] SqueezedLight commented on #444
@justin808 thanks for your reply. As i described in my tests above, the problem does not appear in a fresh rails installation without ReactOnRails. As far as i can tell now, it definitely has to to with the ReactOnRails gem. If i'm right, a PR to the Turbolinks gem doesn't make sense, does it?

Maybe i should open an issue for Turbolinks to get more opinions on this.

[2016-06-16 09:23] justin808 commented on #444
@SqueezedLight, yes, post to the Turbolinks issues, please.

[2016-06-21 08:02] hakunin opened #458 "How to do chunk splitting?"
Hi,
I've started looking at the code size and want to split off a couple of chunks.

I got webpack to split the files a bit already, but how do I make sure the correct chunks are loaded when they should be loaded?

I can include / omit files in the layout based on what page I am looking at, but I am more interested in loaded the right files on the fly, since the initial setup time of only a 2M (mi

[2016-06-21 09:46] aCandidMind opened #459 "Feature: target destination option for the install generator"
First of all thanks for what appears to be an excellent gem (we're just starting with it) which is properly documented (huge plus)!

For context: Our admin backend is an engine living in a separate subfolder. After using the install generator `react_on_rails:install` I had to do several things to configure react_on_rails to use the `backend` subfolder instead of RAILS_ROOT.

I must admit, I'm not

[2016-06-21 17:20] BrunoQuaresma opened #460 "Prerender:true error"
I try prerender my component but the application throw this error:

`Is a directory @ io_fread - app/assets/webpack/`

[2016-06-22 02:34] justin808 commented on #460
@BrunoQuaresma Can you make this sample app work for you: https://github.com/shakacode/react-webpack-rails-tutorial?

[2016-06-22 02:36] justin808 commented on #459
@aCandidMind It would be awesome to get a sample repo of using React on Rails as an engine, with some doc additions. If you'd like to create a PR to set the target directory for the generator, please chat with @jbhatab as he's maintaining the generator.

[2016-06-22 02:37] justin808 commented on #458
@hakunin My advice is to put the include directives in the head sections of the pages that need the code.

What else are you thinking of doing?

[2016-06-22 02:38] justin808 commented on #455
@BrunoQuaresma I really don't think so at Runtime. I'm guessing that the webpack compilation may have told you there was an error, at build time. Please double check.

[2016-06-22 02:53] justin808 commented on #453
@rstormsf Can you tell me more about why we'd use this with or instead of React on Rails?

[2016-06-22 02:54] justin808 commented on #452
@ramusus Should we keep this issue open?

[2016-06-22 04:58] hakunin commented on #458
I ended up doing two things
- split up into multiple chunks using webpack
- add rails asset for each chunk
- include whats needed to load the page in head
- add js variable that lists all the chunks asset paths
- include sub views that you can transition to dynamically by using a wraper component in React router like so:

[code]

The wrapper could be simplified and made to fit any component, but i

[2016-06-22 08:58] ramusus commented on #452
I would prefer to clarify this question in case I still don't know how to do it properly. But I'm agree this is not tightly related to this project. This question about how to plug fork of ANY npm package to the project, so I agree if you prefer to move it to stackoverflow, for example

[2016-06-22 15:47] BrunoQuaresma commented on #455
Ok Thanks

[2016-06-22 15:47] #455 closed

[2016-06-23 15:37] Undistraction opened #461 "Demo App Server Error"
With the demo app here: [http://www.reactrails.com/?](http://www.reactrails.com/? ) the following message is displayed if a name is entered but no text is entered:

If a value for text is required, this should be indicated and a more appropriate error message should be displayed as it initially appears the app is broken.

[2016-06-23 16:06] Undistraction commented on #460
Same error here. From the docs it is unclear how to configure an application to use server-side rendering.

[2016-06-23 19:47] SqueezedLight commented on #444
@justin808, i made some progress, but at this point help would definitely be appreciated ;)

Turbolinks saves a copy of the document body with ```cloneNode(true)```. But this does not work with ```react_components```. The cloned body contains every single DOM element except the ```MyView-react-component-0``` element and its children.

If Turbolinks is not aware of the ```ReactOnRails``` content, r

[2016-06-23 20:50] justin808 commented on #444
@SqueezedLight given what you are saying in terms of calling something from the browser console, then yes, we can change the timing of events.

We can check that Turbolinks is installed and v5, and then call what you're calling in the console after the rendering happens.

Here's some pointers of where in the code.

Put in copious print debug statements.

https://github.com/shakacode/react_on_rails

[2016-06-23 20:57] justin808 commented on #460
Take a look at these lines:

https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/config/initializers/react_on_rails.rb#L14

https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/config/initializers/react_on_rails.rb#L23

https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/client/webpack.server.js#L10

https://github.com/shakacode/react_on_rails/blob/maste

[2016-06-23 21:00] justin808 commented on #461
See: https://github.com/shakacode/react-webpack-rails-tutorial/issues/295

[2016-06-23 21:00] #461 closed

[2016-06-24 00:34] aaronvb commented on #444
@SqueezedLight Upgrade to > 6.0.0

The problem you're having is fixed in this commit https://github.com/shakacode/react_on_rails/commit/508c06d61a9064dbcbc3c294454a08642f9a9ec0

Prior to React on Rails 6.0.0, the react component unmount function(https://github.com/shakacode/react_on_rails/blob/40553fc58976370ea23d08ce69511b869c4268d9/node_package/src/clientStartup.js#L106) would run BEFORE Turboli

[2016-06-24 07:00] SqueezedLight commented on #444
@justin808 @aaronvb thanks a lot for your help and patience! I saw that this was already fixed when i wanted to start a pull request :D Updating sooner would have saved me some headaches ;)

But at least i learned a lot about ReactOnRails and Turbolinks :D

[2016-06-24 07:00] #444 closed

[2016-06-24 14:32] BrunoQuaresma commented on #460
@justin808 what is the diff clientRegistration and serverRegistration files?

[2016-06-24 14:52] BrunoQuaresma commented on #460
Now, after configure the server-bundle ... this error appears:
`Encountered error: "ReferenceError: document is not defined"`

[2016-06-24 17:10] justin808 commented on #460
For advanced apps, especially using react-router, we might have different initialization code for the server rendering vs. client rendering.

Regarding the last error, you have a problem with your ES6 imports. I'd suggest maybe using StackOverflow for that question.

[2016-06-24 17:29] mtakac opened #462 "Bootstrap not included by default?"
React on rails generator help message says:

        The Rails server loads bootstrap-sprockets, provided
        by the bootstrap-sass ruby gem (added automatically to your Gemfile by
        the generator), via the `app/assets/stylesheets/_bootstrap-custom.scss`
        partial.

However after running the generator, bootstrap is not integrated and there is no bootstrap gem added to the Gemfile.

[2016-06-24 17:34] justin808 commented on #462
@mtakac This more of a doc and message issue. The idea is that the rails page loads bootstrap the standard Rails way. So this gem is not involved.

On the other hand, if you want to use CSS modules, see this part of the README:

@jbhatab Please take a look at the doc issue.

[2016-06-24 17:36] jbhatab commented on #462
@justin808 Pretty sured we removed that in the next release candidate.

[2016-06-24 19:04] mtakac commented on #462
@justin808 I thought it will be probably just outdated docs. Thanks!

[2016-06-24 23:34] justin808 commented on #462
@jbhatab @mtakac Can we close this issue?

[2016-06-24 23:38] justin808 commented on #452
@ramusus Take a look at this: https://github.com/shakacode/react_on_rails/search?utf8=%E2%9C%93&q=version&type=Code

We have code that ensures the version of the gem and npm package match up. Beyond that, it's just standard node package development. FWIW, we had lots of trouble with the npm-link feature. Sometimes it's worked. Sometimes it didn't, depending on the node version.

[2016-06-25 01:03] BrunoQuaresma commented on #460
ok @justin808 thanks for the info and patience.

[2016-06-25 01:03] #460 closed

[2016-06-26 00:16] justin808 commented on #462
@mtakac or @jbhatab Can you please submit a PR for this doc change.

[2016-06-27 04:15] reconstructions commented on #212
React on Rails is amazing, and I really appreciate all the hard work everyone has put into this. It is hands down the best way to get started with React and Node coming from a Rails background.  I have been able to get incredible tooling running and have been able to build and test components in a large, existing app (1500+ rspec tests) by adapting code the react-webpack-rails-tutorial, all in a s

[2016-06-27 09:06] justin808 commented on #212
@martyphee, can you maybe give us a hand with some tips?

[2016-06-27 09:08] justin808 commented on #212
@reconstructions I've got examples here:

* https://github.com/shakacode/react_on_rails/tree/master/spec/dummy
* And I'm working on this PR: https://github.com/shakacode/react-webpack-rails-tutorial/pull/277

[2016-06-27 17:28] ramusus commented on #452
@justin808 yes, I found these lines and temporary commented them. I will close this issue right now, because it's not completely related to this project. thanks a lot for advice

[2016-06-27 17:28] #452 closed

[2016-06-27 19:52] reconstructions commented on #212
I am game to help.  I am making some progress now, although painfully so since I am new to ES6, React, and Redux, as well as how how you have structured your elegant implementation.  I have the railsContext object passing through now, so thanks for the links.  Since I have been coding JS and Rails for a long time, I think the fastest way for me to master your approach will be to build a new Todo c

[2016-06-27 21:03] justin808 commented on #212
@reconstructions the best thing for us to do is to try to implement the i18n JS functionality in the https://github.com/shakacode/react-webpack-rails-tutorial/ as an example. I'm hoping that @martyphee can provide some guidance. I can help as well.

[2016-06-27 21:23] reconstructions commented on #212
Sounds good, I'll do what I can.

[2016-06-27 21:28] BrunoQuaresma opened #463 "Load 2 times is normal when use prerender equal true?"
In my console the component is loaded 2 times. It is normal?

![captura de tela 2016-06-27 as 18 26 06](https://cloud.githubusercontent.com/assets/3165839/16396419/f9cbfc48-3c94-11e6-832a-19d34cf06646.png)

[2016-06-27 22:32] justin808 commented on #463
@BrunoQuaresma That message is from React on Rails. 100% expected!

React.js will not redraw the screen. It's optimized for this use case!

[2016-06-27 22:32] #463 closed

[2016-06-28 12:35] BrunoQuaresma commented on #463
Thanks one more time @justin808

[2016-06-29 03:40] justin808 commented on #458
@hakunin Should we close this issue? Is it worth throwing this information into a file under: https://github.com/shakacode/react_on_rails/tree/master/docs/additional-reading

[2016-06-29 03:41] #453 closed

[2016-06-29 06:21] hakunin commented on #458
Yeah, this can be closed and it would be nice if the info was somewhere.

[2016-06-29 11:43] anpr commented on #16
I'd be happy to have this as part of react_on_rails. It's really a very common requirement.

[2016-06-30 18:25] gwincr11 opened #465 "Error during compilation"
Hello,

Thanks for react on rails, it is great!

I am currently experiencing a bit of a hickup, when ever I start the server and it setsup babel, I am getting an error from path.js.

`11:20:14 client.1      | Hash: 300740813c269fa4bdff

11:20:14 client.1      | Version: webpack 1.13.0

11:20:14 client.1      | Time: 4212ms

11:20:14 client.1      |            Asset       Size  Chunks             C

[2016-06-30 18:33] gwincr11 commented on #465
So even with a completely empty clientRegistration file the error persists.

[2016-06-30 18:35] gwincr11 commented on #465
If I remove the app: ['./app/bundles/MainApp/startup/clientRegistration'] and just have app: [] the error goes away.

[2016-06-30 19:06] gwincr11 commented on #465
I also just tried a completely clean install. When starting the server it just hangs forever here:

`
12:02:25 client.1 | Hash: ee4d7624c04589139669
12:02:25 client.1 | Version: webpack 1.13.1
12:02:25 client.1 | Time: 5213ms
12:02:25 client.1 |            Asset     Size  Chunks             Chunk Names
12:02:25 client.1 |    app-bundle.js  3.45 MB       0  [emitted]  app
12:02:25 client.1 | vendor

[2016-06-30 19:45] gwincr11 commented on #465
Ok, so I solved this by setting up NVM. Removing all my npm packages and reinstalling.

[2016-06-30 19:45] #465 closed

[2016-07-01 06:57] martyphee commented on #212
We're not using `/config/locales/en.yml` files for our UI translations.  We're using gettext pofiles which we generate json files from using their tooling.

[code]

[2016-07-06 22:16] koryteg commented on #400
I am seeing this as well.. my error looks more like this though:
`No such file or directory @ rb_file_s_mtime - app/assets/webpack/server-bundle.js`

[2016-07-07 23:52] jbhatab commented on #462
@justin808 I don't see it in master. I think we can close this.

[2016-07-07 23:59] justin808 commented on #402
See #467.

[2016-07-08 00:00] #462 closed

[2016-07-08 00:09] jbhatab commented on #459
@aCandidMind I'm working on the component generator for now but this might be a nice feature to add. Do you think you could make a PR for this by adding an option of the target folder? I'm up to talk things out if you ever get a chance.

Appreciate the detailed breakdown.

[2016-07-08 00:10] jbhatab commented on #347
@justin808 I love this thread, but can we close this so my OCD can calm down :P?

[2016-07-08 00:12] jbhatab commented on #373
@john-osullivan I'm gonna close this for now since we don't want to go down the windows support path yet. We'll think about it but just want to clean out some old issues.

[2016-07-08 00:12] #373 closed

[2016-07-08 00:12] justin808 commented on #347
@jbhatab Nah! ;-) I use this to add images and from there, we can link in markdown documents.

[2016-07-08 00:14] jbhatab commented on #16
@anpr With the direction were going, I think this shouldn't be covered with our gem and can be covered in a docs if even needed at all. it depends on your architecture style.

We can relook into this when we redo the docs stuff.

[2016-07-08 00:18] justin808 commented on #373
@john-osullivan, @mathiasslawik, @kamalkgarg, or anybody else...

If any of you want to be committed to helping us support windows, I'm happy to re-open this.

[2016-07-08 00:20] jbhatab commented on #458
@hakunin we can look into adding this to docs later. for now I'm gonna close this.

[2016-07-08 00:20] #458 closed

[2016-07-08 00:34] justin808 commented on #325
@modosc @jbhatab We do log errors on the client side to level error, and I believe we do that for server rendering as well. So if the bug tracking system just looks for log level of error, then we don't need to just throw exceptions and crash.

[2016-07-08 02:17] justin808 commented on #16
@jbhatab, we're going to provide a default for this. I really think this is so common that it makes sense to include in our library, if it's non-obtrusive.

@anpr I can help you with this. Please email me at justin@shakacode.com and I can add you to our Slack room.

[2016-07-08 06:28] fletcher91 commented on #16
We're working on restructuring our front-end (splitting into packages), so I can publish these helpers publicly to NPM if that helps

[2016-07-08 07:01] anpr commented on #16
I basically copied the code above to my project and it solved the problem.

Still, I see this being a common requirement, so either as part of the gem or a separate npm package (I don't really care which of the two) would be beneficial.

[2016-07-08 07:55] mathiasslawik commented on #373
@justin808 I expect that "Ubuntu on Windows" whose final version is expected to arrive in the coming weeks will make life of developers on Windows far easier. react_on_rails already works without problems under Windows (besides the `which` usage), but I expect it to work flawlessly under "Ubuntu on Windows". So, let's wait until it arrives. Then I will test it and record back on this issue.

[2016-07-08 07:57] xiaopow opened #468 "How to switch off log message "RENDERED App to dom node with id:""
Would like to stop logging the following message in client on Production. Please let me know where to switch it off. Thanks.

[code]

[2016-07-08 08:40] justin808 commented on #373
@mathiasslawik Big thanks!

[2016-07-08 08:44] justin808 commented on #16
@anpr I think part of the standard npm package for react-on-rails is fine if it's very small.

[2016-07-08 09:50] justin808 commented on #468
Example: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/config/initializers/react_on_rails.rb#L35

[code]

does that fix your issues?

[2016-07-08 09:57] xiaopow commented on #468
@justin808 My `RAILS_ENV=production` on Heroku. But still seeing the following:
[code]

[2016-07-08 13:02] ty-shaikh commented on #468
On the same initializer file, have you tried switching each of these to false?

[code]

[2016-07-08 14:17] xiaopow commented on #468
@ty-shaikh
[code]
Doing the above removes the following:
[code]
Setting
[code]
has no effect on the client console.

[2016-07-08 20:23] justin808 commented on #468
@xiaopow You must be overriding this at view helper call.

See the `trace` option:

https://github.com/shakacode/react_on_rails#react_component

[2016-07-09 02:18] xiaopow commented on #468
@justin808 absolutely right. Thank you! Solved.

[2016-07-09 02:18] #468 closed

[2016-07-11 17:00] BrunoQuaresma opened #471 "Uninitialized constant ReactOnRailsHelper::ExecJS"
This error is showing in my prod server.

**uninitialized constant ReactOnRailsHelper::ExecJS**

NodeJS is installed in the machine.

[2016-07-11 20:53] justin808 commented on #471
You're missing the ruby racer from the gemfile.

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/Gemfile#L47

[code]

[2016-07-11 21:27] martyphee commented on #412
Won't that be more of the server making sure it doesn't except or removes all XSS attempts?  Not sure the best way of escaping the data on the server without causing other side effects.

[2016-07-12 00:33] justin808 opened #472 "should delete symlinks targets before trying to create symlinks with assets.rake defaults"
@alleycat-at-git: We should probably delete target files before trying to symlink.

This is from the deploy log at Heroku.

<details>
remote:        + 763 hidden modules
remote:        I, [2016-07-12T00:27:28.020576 #3558]  INFO -- : Writing /tmp/build_68ec3415cec64b1c8efb414aadc803a1/public/assets/server-bundle-1038c6f5915cef728e11c3a5fb6755afc800626c7750291bdfae70dde7ebbd0d.js
remote:        I,

[2016-07-12 00:33] justin808 commented on #472
@jbhatab Could you look into this?

[2016-07-12 12:59] BrunoQuaresma commented on #471
I needed put in my Capistrano deploy config

`cd client && npm run build:client && npm run build:server`

And move the execjs gem for the 'global' scope in Gemfile.

[2016-07-12 12:59] #471 closed

[2016-07-12 16:19] radixhound opened #473 "Misleading info about express-server in generator"
Hi there, I just ran the generator for the first time and it told me that there was a command `express-server`:

[code]

Then when I looked in `package.json` and ran `npm run` I found different info.

[code]

I just noticed the discrepancy and thought it would be helpful to let someone know. Overall I'm a bit confused about the port 4000 bits after reading through the railsonmaui article and the r

[2016-07-12 17:44] radixhound commented on #473
Ahh, I suspect that initially this project was configured by default to have hot reloading but later was changed to have it off for simplicity. Now hot reloading is an (optional config)[https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/hot-reloading-rails-development.md] after you get up-and-running?

[2016-07-12 17:53] radixhound commented on #473
It's all coming together now, I see that the tutorial is the leading edge and the generators in this project follow-on from that. [See news section](https://github.com/shakacode/react-webpack-rails-tutorial#news)

[2016-07-12 18:28] justin808 commented on #473
Generators are simpler as well.

[2016-07-12 19:31] radixhound commented on #473
Yeah, it's all definitely a bit overwhelming so simpler is a great way to start and having it all in one place like this is a big win. 👍

[2016-07-12 20:31] knagode opened #474 "Slow javascript requests"
I installed react on rails but I see that it is extremely slow. Requested JS files need more seconds to load.

Especial slow are app-bundle and vendor-bundle javascript files which take most of the load time.

For example: Given example http://localhost:3000/hello_world loads about 2.5s.

Why is that? Is there a way to fix this? To me it seems like developing a complex app with those speeds would

[2016-07-12 20:49] knagode commented on #474
I noticed that  switching assets debugging in development.rb to false helps a lot (splits time in half)
[code]

But it is still too slow. Page load happens in more than 1s :(

[2016-07-12 20:50] UberMouse opened #475 "Tests fail randomly on travis because vendor-bundle is not found"
I raised this issue before in #416 and it's still causing me problems.

Here is an example of a build that fails because vendor-bundle cannot be found https://travis-ci.org/DigitalNZ/supplejack_website/builds/144069648

I'm running the latest version of the Gem. It's becoming quite a problem with our tests on Travis, it never happens locally.

[2016-07-12 21:24] knagode commented on #460
What is proper way to use prerendering in example?

[code]

I modified `initializers/react_on_rails.rb`:

[code]

I tried bunch of other stuff but nothing worked. Can somebody help?

[2016-07-13 00:07] BrunoQuaresma commented on #460
@knagode when you run the foreman the server-bundle.js is created in app/assets/webpack folder?

[2016-07-13 01:46] justin808 commented on #460
@knagode setting the prerender value in the view will override the config setting. Always get the basics working perfectly at first before trying prerendering.

The `config.server_bundle_js_file` must match the file you use to generate your server bundle. In some simpler cases, you can use the same bundle file for client and server rendering. In the https://github.com/shakacode/react-webpack-rails

[2016-07-13 01:46] justin808 commented on #460
@jbhatab, is this an issue: https://github.com/shakacode/react_on_rails/issues/460#issuecomment-228181485

[2016-07-13 03:01] justin808 commented on #475
@UberMouse I'd be very interested in a PR that addresses this.

Also, if there's any chance we can collaborate on https://github.com/shakacode/react-webpack-rails-tutorial/pull/277, I'd be thrilled. I can't get this pass locally or on Travis.

[2016-07-14 05:15] kevinpanxc opened #477 "Serverside rendering and Async Routes"
I've been trying to get React-router's dynamic routing to work with ReactOnRails and found that **it's impossible right now with server-side rendering turned on**. The problem is that the client-generated markup and the server-generated markup are different. This is expected as code splitting implies the client needs to make ajax requests to fetch new code to render React components. Client markup

[2016-07-14 05:50] justin808 commented on #477
@kevinpanxc We can hack on clientStartup.js and put together a PR. What do you want it to do?

[2016-07-14 05:53] kevinpanxc commented on #477
@justin808 I'm not sure what would be the best way to do it, but perhaps an API to allow me to specify a wrapper function around `ReactDom.render` in `clientStartup.js` so that we can do the `match` thing the React-router does.

Main point is to have greater support for the dynamic routing feature of React-router.

[2016-07-14 05:53] kevinpanxc commented on #477
One thing I can see that would be iffy is how we pass the history and routes objects to React-router's `match` function.

Any ideas on how we can cleanly do it?

[2016-07-14 06:03] kevinpanxc commented on #477
Wait, maybe a good way would be to adapt ComponentRegistry to take in promises, then we wouldn't have to deal with passing esoteric values to `clientStartup.js`. We would create a promise in `AppClient.jsx` that returns the top level react component on complete and `clientStartup.js` can call `ReactDom.render` at this point.

[2016-07-14 09:10] july-12 opened #478 "gem didn't work in rails 5"
I start the project by 'quick start guild', but there is not any effects on the screen, as i suppose the webpack-bundle.js didn't be loaded in application, does any body encounter the same problem with me?

[2016-07-16 20:28] natecox commented on #478
I just finished a from scratch installation on rails 5 without an issue.

[2016-07-17 18:53] justin808 commented on #478
@july-12 Please reopen if there's a specific issue.

[2016-07-17 18:53] #478 closed

[2016-07-18 01:24] july-12 commented on #478
@justin808 sorry, I made fool mistake, I create rails project by 'rails new xxx -TJ', so no any js be loaded by application. it's ok now, thank you.

[2016-07-19 21:12] BrunoQuaresma opened #480 "Wrapper component in SPAN"
Is possible i wrapper my component in span instead div?

[2016-07-20 02:54] justin808 commented on #480
@BrunoQuaresma Why would you do that? Check the react docs if that is possible. I don't think it is. I'd recommend just configuring the styling of the div to act like a span. You can do that.

[2016-07-20 02:54] justin808 commented on #472
This is almost done #479

[2016-07-20 02:54] #472 closed

[2016-07-20 02:55] justin808 commented on #475
@UberMouse Is there anything we can do about this? I'd say we close this for now until we figure out a solution. The obvious workaround is you restart your tests.

[2016-07-20 03:14] UberMouse commented on #475
I haven't had any time to investigate this so no progress. It sometimes takes quite a lot of reruns before it successfully passes (or fails), sometimes making a new commit helps to fix it which is rather strange.

[2016-07-20 03:36] #475 closed

[2016-07-20 03:37] justin808 commented on #325
We're using honey badger for https://www.friendsandguests.com/listings/7999 and it's working fine with the current react on rails.

[2016-07-20 03:37] #325 closed

[2016-07-20 03:37] justin808 commented on #245
@jbhatab Any update?

[2016-07-20 12:47] robwise opened #481 "Innaccurate test helper message"
https://github.com/shakacode/react_on_rails/blob/0118cea829429d2a7a546657ed6bf41bcd4d7090/lib/react_on_rails/test_helper/ensure_assets_compiled.rb#L48

This is misleading, we have made it so you can use whatever command you want, so you may not necessarily be doing `npm run build:test`

[2016-07-20 12:56] robwise opened #482 "DRY up debugging options"
We should just have a `debug_mode` option set to on or off in config to keep it DRY/understandable

We should combine these into a single option, there's way too many to remember and some you can't turn off:
- [trace turbolinks node package option](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/turbolinks.md#troubleshooting)
- [trace react on rails env var](https:/

[2016-07-20 12:59] robwise commented on #332
@alexfedoseev we should hack on this together at some point. Justin I don't think this is a docs issue, we need to change the code to expose a hook we can use for the new react hot reloader

[2016-07-20 13:03] alexfedoseev commented on #332
@robwise Yeah, on hold until this will be released (https://github.com/gaearon/react-hot-loader).

[2016-07-20 13:12] BrunoQuaresma commented on #480
In react-rails gem has the option
`html_options: { tag: 'some-tag' }`
but this option render something like:
`<div tag="span" id="ButtonApp-react-component-0">`
when i expected
`<span id="ButtonApp-react-component-0">`
So, the solution that i found was change the style inline:
[code]

[2016-07-21 05:43] justin808 commented on #480
Hi @BrunoQuaresma, I updated the README.md.

![2016-07-20_19-43-07](https://cloud.githubusercontent.com/assets/1118459/17012304/3324ac86-4eb2-11e6-8478-56f4e65579c2.png)

[2016-07-21 05:58] justin808 commented on #482
* logging on server config option
* replay console config option

Those configure whether or not we log server rendering output only in browser or on server (or both). Those are not debug flags, but really the location of the logs flags.

[2016-07-21 05:59] justin808 commented on #481
Fixed by #483.

[2016-07-21 05:59] #481 closed

[2016-07-21 06:01] justin808 commented on #474
@knagode You've got some other issues. You probably should open up the issue here: https://github.com/shakacode/react-webpack-rails-tutorial/ if you can reproduce there.

[2016-07-21 06:02] justin808 commented on #477
@kevinpanxc Please create a demo app and a PR that demonstrates what you'd like to do.

[2016-07-21 06:05] justin808 commented on #473
@radixhound Please check your gem version. The express-server part is no longer in the generator.

![2016-07-20_20-04-37](https://cloud.githubusercontent.com/assets/1118459/17012708/48158b80-4eb5-11e6-8a6d-3a91ca0d9523.png)

[2016-07-21 06:06] justin808 commented on #473
@radixhound Let me know if I can close this one.

[2016-07-21 10:27] hienbx94 opened #484 "Using react as view of angular"
My project use `angular` client-side and `ruby on rails` server-side. I want to replace angular by react (using react as view of angular)
I used to `use react_on_rails` build separate client app, and now i integrate react as view of angular. But i don't way pass data from component react.

Ex:
Have `Comments` component react
[code]
And `CommentsController` controller angular
[code]
How do i pass `

[2016-07-21 13:13] BrunoQuaresma commented on #480
Thanks @justin808 !

[2016-07-22 03:47] justin808 commented on #484
I don't know angular enough to tell you.

[2016-07-22 03:49] justin808 commented on #484
@hienbx94 BTW, this code runs server side, so you can't know the client side parts, so your question marks are invalid. You can just replace them with the name and comment.

[code]

[2016-07-22 13:23] robwise commented on #482
I would just make it so if `debug_mode` is false, neither of those two happen, and if it is `true`, both happen

[2016-07-22 13:35] robwise commented on #477
@kevinpanxc are you sure you can't do this how ReactOnRails is written now? I'm doing completely different things when server rendering versus client rendering (including using match) with ReactOnRails. The key is using a `let` closure for the `match` callback (credit: @alexfedoseev) See code sample:

[code]

[2016-07-24 02:24] kevinpanxc commented on #477
@robwise I will try that and report the results in a couple days... caught up with school work right now. Thanks for the heads up! :+1:

[2016-07-24 02:28] alexfedoseev commented on #477
I'm pretty sure it's not possible b/c of ExecJS.
On Sun, 24 Jul 2016 at 10:24, Kevin Pan <notifications@github.com> wrote:

--

Regards, Alex Fedoseev
alexfedoseev.com · https://twitter.com/alexfedoseev

[2016-07-24 11:24] hienbx94 commented on #484
@justin808 Thank reply!
I want replace react as view of angular. When using
```<%= react_component("Comments", props: {name: ?, comments: ?}, prerender: true)%>```
i don't pass data from it.
I found solution using `ReacOnRails.render` to render component in `directive` of angular
http://stackoverflow.com/questions/20947191/using-reactjs-with-angularjs
I think it's a good choice for this time.

[2016-07-24 18:55] #484 closed

[2016-07-25 13:54] hundsim opened #488 "Implementation with other starter kit"
Firstly, thanks for a very good and clever integration with Rails.

An idea though, why not piggyback on some of the established starter kits, e.g. https://github.com/coryhouse/react-slingshot/

Either fully implementing react-slingshot OR make the integration so thin that it would be easy to plug-and-play a starter kit of choice?

[2016-07-26 08:28] justin808 commented on #488
@hundsim What's to prevent you from using that? You just put what you need in the /client directory of your rails project, right?

Can you create a sample project and push to github so I can have a better idea of what you are suggesting?

[2016-07-26 13:26] samphilipd opened #489 "Version checker cannot cope with single digit strings in package.json"
Steps to reproduce:
1. In client/package.json specify version: `"react-on-rails": "^6"`
2. In root path run `bundle exec rails server`

Expected behaviour:
- Should run fine

Actual behaviour:
- Crashes with:

[code]

The problem is on `version_checker.rb` line 69. The regex should probably be more like this: `raw.match(/(\d+)(\.|\z)/)[1]`

[2016-07-27 00:25] justin808 commented on #489
Hi @samphilipd!

Any chance that you can help us with a PR (including a test?)

CC: @robwise

[2016-07-28 10:42] syndbg opened #493 "Async/promise ReactOnRails register?"
I have the following scenario where I:

1. Create a store
1. Dispatch an action to the reducers (it's required by a package I use)
1. Sync history with store
1. Return provider
1. Register provider with ReactOnRails

I haven't found any examples in the docs or react_on_rails_tutorial app. Any suggestions?

[2016-07-28 22:59] justin808 commented on #493
@syndbg I'm not sure what you're asking. FYI, sync'ing history should only be done client side.

[2016-07-28 23:00] justin808 commented on #428
@robwise Please post some notes here when you get a chance. @robwise told me that MiniRacer was much faster. We really need a PR with doc updates on this.

[2016-07-29 14:12] cubadomingo opened #495 "Port on localhost is 5000 not 3000 for me"
Hey I just finished installing the gem and I noticed in the installation guide it mentions to visit localhost:3000/hello_world
<img width="918" alt="screen shot 2016-07-29 at 9 56 19 am" src="https://cloud.githubusercontent.com/assets/15992549/17250939/8506458c-5574-11e6-8354-facef3ae4188.png">
It was actually localhost:5000/hello_world for me.

Everything is still working properly but I'm not too

[2016-07-29 14:32] HintikkaKimmo commented on #495
Same here there is nothing starting at port :3000

[2016-07-29 15:37] cubadomingo commented on #495
@HintikkaKimmo Wait so you're saying that localhost:3000 does work for you? If so do you mind telling me what version of Rails are you running?

[2016-07-29 15:44] HintikkaKimmo commented on #495
Just corrected my comment so rails starts at port 5000 not 3000 as mentioned on the tutorial and CLI input

[2016-07-30 00:31] cubadomingo commented on #495
Okay so I did some digging around and even though the config/puma.rb file has this line:

`port        ENV.fetch("PORT") { 3000 }`

[Here](https://devcenter.heroku.com/articles/heroku-local#run-your-app-locally-using-foreman) it states:

Considering we both have Rails 5 which uses Puma instead of WEBrick as the web dev server, that might be why it ports to :5000 instead of :3000. Maybe others who

[2016-07-30 01:26] justin808 commented on #493
@syndbg Any update?

[2016-07-30 01:26] justin808 commented on #488
@hundsim Any update?

[2016-07-30 01:50] cubadomingo commented on #495
Update: Make sure you're on the latest version of the gem, they have it configured in the procfile to run from port 3000.

[2016-07-30 16:29] katgironpe opened #498 "Manual installation link"
This returns `404` for me:

https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/manual-installation.md

[2016-07-30 21:17] justin808 commented on #498
Thanks @katgironpe:

Updated README.md here: 1e4c0ed0a5f5724ae1252567f9e8ac1bfffb5d6c

![2016-07-30_11-16-10](https://cloud.githubusercontent.com/assets/1118459/17273150/1b90363e-5647-11e6-8a30-88a09badfeca.png)

[2016-07-30 21:45] justin808 opened #500 "Update Tutorial for v6"
https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md

Only valid up to 5.1.1.

Let's update this!

[2016-07-30 22:05] justin808 opened #501 "Probably false alarm regarding small Server Rendering Memory leak"
https://github.com/shakacode/react_on_rails/search?utf8=%E2%9C%93&q=therubyracer

mini_racer is faster!
- https://github.com/discourse/mini_racer
- https://github.com/rails/execjs

[2016-07-30 22:19] #498 closed

[2016-07-31 05:52] katgironpe commented on #498
@justin808 thank you!

[2016-07-31 21:52] syndbg commented on #493
@justin808 Sorry for the delays, wasn't at the PC. I'll provide an example repo tomorrow.

[2016-08-01 01:22] #495 closed

[2016-08-01 01:24] justin808 commented on #488
@hundsim I think if you're thinking about the generator, we wouldn't want to do that as it would add a lot of complexity. CC: @jbhatab.

[2016-08-01 01:38] justin808 commented on #482
## Server Rendering Flags
- [env var TRACE_REACT_ON_RAILS](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/server-rendering-tips.md#settimeout-and-setinterval)
  - This is a specialized "debugging" flag to save the JS used for server rendering each time in a separate file.

- [logging on server config option](https://github.com/shakacode/react_on_rails/blob/master/s

[2016-08-01 01:39] justin808 commented on #474
@knagode Any update? Should we close this one?

[2016-08-01 01:39] #473 closed

[2016-08-01 04:58] jbhatab commented on #488
@hundsim I think we could talk to their team to see if they want to just have their starter kit use our gem, but our generator kinda does this already in terms of getting you up and running.

I'll message them to see but I think just keeping our generator on our gem and their starter kit as their starter kit makes the most sense.

Also we have an example app already built with react_on_rails. http

[2016-08-01 05:59] justin808 opened #504 "No node equivalent for renderStoreHydrationData"
We have the `ReactOnRails.render` function for components.

However, if one is using a shared store and wants to do `redux_store_hydration_data` or `redux_store`, there is no equivalent JS call.

I'm probably going to skip doing this unless somebody really wants this.

[code]

And here is the JS code for render:

[code]

[2016-08-01 06:27] hundsim commented on #488
I guess I was pondering about potential benefits of a slightly more modular structure of the gem, where one in a snap could swap in another react starter-kit - perhaps extracting the boilerplate code to another gem?

There's nothing wrong with your defaults, quite the contrary. But seeing how progressive [the react-landscape is](http://andrewhfarmer.com/starter-project/) - perhaps the maintenance

[2016-08-01 06:28] hundsim commented on #488
I guess I was pondering about potential benefits of a slightly more modular structure of the gem, where one in a snap could swap in another react starter-kit - perhaps extracting the boilerplate code to another gem?

There's nothing wrong with your defaults, quite the contrary. But seeing how progressive [the react-landscape is](http://andrewhfarmer.com/starter-project/) - perhaps the maintenance

[2016-08-01 06:33] jbhatab commented on #488
@hundsim Oh I get where you are going with it. Yeah we discussed just making this into just a webpack integration with no connection to the concept of react at all.

We concluded that the initial default generator is so simple though that just deleting a few files abstracts it from react completely. Although having some options that instantly setup a variety of best practices is interesting, but w

[2016-08-01 07:05] justin808 commented on #488
I say close this issue for now. Agree?

[2016-08-01 07:07] jbhatab commented on #488
I think it's fine to close, but we can keep talking to separately to
discuss ideas.

On Aug 1, 2016 12:05 AM, "Justin Gordon" <notifications@github.com> wrote:

[2016-08-01 08:42] robwise commented on #504
This makes no sense client-side IMO. If I want a universally shared store I can implement the entire thing in one LOC:

[code]

Done, shared store

[2016-08-01 09:01] robwise commented on #482
IMO that's pouring gasoline on the fire. We have way too much documentation given how simple our API is, which is a real shame because it turns people off (speaking anecdotally). It would be better to the improve the developer experience by reducing the surface area of our debugging options.

[2016-08-01 09:07] justin808 commented on #482
Most of the debugging is for **ME** when I'm developing React on Rails. Turning it all on at once decreases the clarity of what I need to see. Most developers do not need any of this. And some of it is not even debugging. It's just choosing how you want to handle server side console messages. If your code doesn't have server side console message, then you won't get much logged anyway. If you crash

[2016-08-02 07:30] samphilipd opened #505 "Asset precompilation stage cannot cope with filenames with spaces in them"
Just updated `react_on_rails` to 6.0.5 and now I see this error precompiling assets:

[code]

Seems like React on Rails chokes on filenames with spaces in them.

[2016-08-02 10:00] justin808 commented on #505
Yes! Good catch.

Here's an example of where this is happening:
https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/assets_precompile.rb#L44

@samphilipd Any chance that you can submit a PR that has:

1. quotes the file name names (`ln` and `rm` commands in the file).
2. has a spec with file that have spaces in the names.

[2016-08-02 11:01] samphilipd commented on #505
@justin808 It seems like this is caused because react_on_rails is trying to create non-digested versions of assets.

My question would be why not use something like [this](https://github.com/alexspeller/non-stupid-digest-assets) instead which is mature and has had all the bugs worked out?

[2016-08-02 12:34] dzirtusss commented on #500
I'll update this

[2016-08-02 21:40] justin808 commented on #505
https://github.com/alexspeller/non-stupid-digest-assets/issues/35 amongst other reasons:
https://github.com/alexspeller/non-stupid-digest-assets/issues

Seems like that doesn't work on Heroku.

And no tests!

[2016-08-03 07:49] dspoonia7 opened #507 "How do I use third party plugins"
I want to use https://github.com/facebook/fixed-data-table plugin. Even if I can add it by npm install. how can use it in my code?
Another issue, do I also have to add my code in /client/app/bundles folder (as given HelloWorld example). Shouldn't there be a way to add new files in app/assets/javascripts folder?

[2016-08-03 09:19] justin808 commented on #507
Hi @dspoonia7. The JS code in the client directory is like any other pure JavaScript app. React on Rails takes JS from the client directory and packages it up here: app/assets/javascripts.

We at http://www.shakacode.com/ offer individualized training if you might be interested. Please contact us if you or your organization is interested.

[2016-08-03 09:19] #507 closed

[2016-08-03 14:43] rcdilorenzo opened #508 "Adding Component After Page Load Doesn't Work"
I've got a React component that I'm inserting into the DOM when a link is clicked with `data-remote: true` as seen below. Because the component occurs after the page loads, ReactOnRails cannot seem to pick it up. I've tried to a manual `render` but that appears to just do a single render and not "connect" the React component. I would love to know if I'm just missing something or if there's a bette

[2016-08-03 15:04] samphilipd commented on #505
@justin808 perhaps the asset linking part could be extracted out of react_on_rails into a separate gem?

I just feel like architecturally it's reaching a bit beyond scope here.

I'll see about a PR though if I have some time.

[2016-08-04 04:42] justin808 commented on #505
@samphilipd Since we want React on Rails to handle CSS Modules well, this is a natural inclusion.

[2016-08-04 05:23] justin808 commented on #505
@alleycat-at-git @robwise @samphilipd Rather than using `ln -s source target`, how about we use:

http://ruby-doc.org/core-2.2.0/File.html#method-c-symlink

We also need to set the directory:

http://apidock.com/ruby/FileUtils/cd

@dzirtusss Check this one out.

[2016-08-04 09:44] justin808 commented on #508
@rcdilorenzo You're apparently mixing the jQuery style with React. I'd suggest that you consider using more conventional react techniques. You can use the `componentDidMount` to send the asynchronous call.  See this for a very simple example:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/bundles/comments/components/SimpleCommentScreen/SimpleCommentScreen.jsx#L29

[2016-08-04 11:24] dzirtusss commented on #505
I have send PR closing this

[2016-08-04 11:48] rcdilorenzo commented on #508
Yes, I sort of knew that this would be a fix. I was just curious if there was some interim solution before we get to that stage. Thanks for your assistance.

[2016-08-04 11:48] #508 closed

[2016-08-05 04:12] justin808 commented on #246
@pherris Was this issue ever resolved for you?

[2016-08-05 06:15] justin808 commented on #505
See #510.

[2016-08-05 06:15] #505 closed

[2016-08-05 06:16] justin808 commented on #501
This has already been done in the https://github.com/shakacode/react-webpack-rails-tutorial and some of the docs are updated. Possibly, this is complete.

[2016-08-05 06:18] justin808 commented on #477
@alexfedoseev Should we close this one as basically impossible b/c we're not using a separate Node server for rendering?  Or maybe this is something a Node server could handle?

[2016-08-08 09:46] justin808 commented on #500
See #506

[2016-08-08 09:46] #500 closed

[2016-08-08 09:46] #428 closed

[2016-08-09 08:34] alexfedoseev commented on #477
@justin808 Yeah, it's impossible w/o separate Node server which accepts http requests and send http responses. In the node renderer implemented by @alleycat-at-git we simply `eval` js string synchronously, so all async stuff won't be handled correctly.

[2016-08-09 19:35] justin808 commented on #16
@dzirtusss Please take a look at this one.

[2016-08-09 19:44] justin808 commented on #16
We're using:

* https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/libs/requestsManager.js#L33
* https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/libs/metaTagsManager.js

and we don't have many of the headers in

https://gist.github.com/fletcher91/c62b865c6aa9f710531e

Can we abstract this into ReactOnRails?

CC: @alexfedoseev @robwise

[2016-08-09 23:52] justin808 commented on #477
@kevinpanxc Any compelling use to case to suggest that we need to support "Serverside rendering and Async Routes"

[2016-08-10 05:45] justin808 commented on #347
### 2016-08-09

![2016-08-09_13-39-08](https://cloud.githubusercontent.com/assets/1118459/17543077/bf7c2c6a-5e69-11e6-8370-d714015c0296.png)

[2016-08-10 05:46] mariusandra commented on #501
Hey, I changed therubyracer to mini_racer just like [here](https://github.com/shakacode/react-webpack-rails-tutorial/commit/0658089d9a76bf2f12f64594ceda5be0bf9634b7), but instead of a speedup I got a 2-3x slowdown.

Before:
[code]

After:
[code]

Any thoughts on what could be wrong? Must I somewhere specify that I want to use mini_racer or is it just enough to add it to the Gemfile?

[2016-08-10 06:14] justin808 commented on #501
@mariusandra Please investigate this, as it's not what we experienced with https://www.friendsandguests.com/. I suggest you do some more detailed profiling in production. Do you use new relic?

[2016-08-10 09:37] mariusandra commented on #501
@justin808 I investigated and found the bug! I was stuck with execjs 2.6, but needed 2.7. Upgrading it solved the situation.

I'm not sure what execjs 2.6 was using for the big slowdown, probably an external node that was reloading the big server bundle every time.

I do see a speed increase now!

With therubyracer:
[code]

With the mystery node:
[code]

With mini_racer:
[code]

New relic shows th

[2016-08-10 22:15] justin808 commented on #16
@fletcher91 @anpr @alexfedoseev @dphaener @samnang @dzirtusss: we'd like to know if the headers here: https://gist.github.com/fletcher91/c62b865c6aa9f710531e
should be here: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/libs/requestsManager.js#L33

![2016-08-10_12-13-20](https://cloud.githubusercontent.com/assets/1118459/17573113/02ad702c-5ef4-11e6-8b13-083683fc6

[2016-08-11 09:00] mariusandra commented on #501
Hey! Somehow I got a new issue.

The blue part in this graph shows how long the react component renders on the server side:

<img width="979" alt="screen shot 2016-08-10 at 22 25 15" src="https://cloud.githubusercontent.com/assets/53387/17583640/343c0d06-5fb2-11e6-8f4a-ac39d356a493.png">

It starts out great, but then keeps getting longer and longer until something either kills it or something get

[2016-08-11 20:50] stuarthannig commented on #212
Seems to be a lot of opinions on adding RailsContext, thought I'd share a no fluff approach.

[code]

Then you can access it using `props.railsContext`.

[2016-08-11 21:17] justin808 commented on #212
@stuarthannig any chance you can throw in a doc PR?

[2016-08-12 08:48] #474 closed

[2016-08-12 13:46] dzirtusss commented on #16
Actually I think we should not need to include `jsonHelper` into gem and specifically include json `Accept` and in`Content-Type` into `headers` because it is already included by ??? as follows:
[code]
And everything works fine.

Maybe it will not work with `fetch` same way but will need to update first from `axios` to `isomorphic-fetch` in tutorial.

[2016-08-12 14:13] dzirtusss commented on #16
I think it will be ok if we use `fetch` like:
[code]

[2016-08-13 00:07] stuarthannig commented on #212
I can try when I get time, and more understanding. But to add to the `i18n-js` side of thing, this got the ball rolling so server side rendering didn't error out. I hope this helps others and we can get a bullet-proof solution down the road, but better to share than not (for other's sake).

Add `"i18n-js": "http://github.com/fnando/i18n-js/archive/v3.0.0.rc12.tar.gz"
` to `package.json`

_config/i

[2016-08-16 10:30] michaelimstepf opened #519 "How to load stylesheets managed by npm?"
I'm all new to React and this gem and still trying to wrap my head around some of the concepts.

I have a stylesheet under `client/node_modules/react-datepicker/dist/react-datepicker.min.css`. How should I load this file?

Thanks

[2016-08-17 15:42] AlexKVal commented on #16
Resolved by #517

[2016-08-18 23:36] Judahmeek commented on #501
@mariusandra there's a lot of good info on debugging react performance here: http://benchling.engineering/performance-engineering-with-react/

[2016-08-19 10:01] justin808 commented on #493
@syndbg Can we close this one?

[2016-08-19 10:01] #246 closed

[2016-08-19 10:02] #16 closed

[2016-08-19 10:03] #488 closed

[2016-08-19 14:21] emerson-h opened #523 "Consider updating configuration and rake tasks to support multiple engines"
I am currently working on several projects that make extensive use of engines to break large code bases into manageable chunks, and with the current react_on_rails configuration setup, it is very difficult to work with client code from several engines independently.

I'm working on a fork that will allow a per-engine configuration process for the ReactOnRails gem in such a way that including engin

[2016-08-19 17:37] syndbg commented on #493
@justin808 Sorry for the delays. I've resolved the problem by not actually having the problem to begin with.

Closing the issue 👍

[2016-08-19 17:37] #493 closed

[2016-08-20 20:51] justin808 commented on #331
@judahmeek, check this out.

[2016-08-20 20:56] justin808 commented on #331
Example:

* https://github.com/yelouafi/redux-saga/tree/master/docs
* http://yelouafi.github.io/redux-saga/

* https://github.com/reactjs/redux
* http://redux.js.org/

[2016-08-23 08:19] AlexKVal opened #533 "Running tests in browser via 'browserify' is broken"
Beginning https://github.com/shakacode/react_on_rails/pull/531#issuecomment-241483864

[2016-08-23 08:31] justin808 commented on #523
@emerson-h Some others wanted to do that as well. Definitely read the discussions on old issues and PRs. We'd like to support this idea!

[2016-08-23 08:31] justin808 commented on #523
@emerson-h I invited you to our slack room.

[2016-08-23 08:33] justin808 commented on #519
@michaelimstepf do you want Rails to put this file through the asset pipeline or are you trying to use CSS modules?

[2016-08-23 11:16] anbublacky commented on #131
@jDeppen How did you fix this issue? did you get the server-bundle.js file?

[2016-08-23 15:15] jDeppen commented on #131
@anbublacky I can't remember for sure. I think I had to have `deploy.rb` copy `server-bundle.js` to the server to fix this specific issue. Here's the `deploy.rb` file that works for me.
[code]

[2016-08-24 20:18] michaelimstepf commented on #519
@justin808 Thanks for your reply. To be honest, I'm not sure what the best approach is, all I want is the React component under `client/app/bundles/components/date-picker.jsx` to appear styled when I load the Rails view (`app/views/bookings/new.html.erb`).

The workaround I did was copying the stylesheet into `app/stylesheets` and load it from there through the asset pipeline but there must be a b

[2016-08-24 22:34] justin808 commented on #519
Copying is the best answer for now. You can also make something like this: https://github.com/shakacode/font-awesome-loader

[2016-08-24 22:34] #519 closed

[2016-08-24 22:51] UberMouse commented on #475
Just to update this, we've switched to Gitlab CI for our projects, I was hoping that might fix the problem but it didn't end up resolving it. However, I decided to do an explicit build of the webpack bundle before the test runs instead of relying on React on Rails to build it during the test and this appears to have solved the problem. Haven't had any builds fail due to missing vendor-bundle.js si

[2016-08-26 09:15] justin808 commented on #501
@mariusandra No idea on how to fix what you're seeing.

[2016-08-29 14:47] gma commented on #385
I've seen this problem on Rails 4.0. Restarting `foreman` didn't change it.

I think I'd just add the `on_load` code if I was you…

[2016-08-29 17:49] MarkMurphy commented on #385
@jbhatab @justin808 I had already tried that before I posted this issue.

[2016-08-29 21:10] justin808 commented on #385
@MarkMurphy If you've got a PR that can include a test that shows why we'd need that, I'd be thrilled to review it!

[2016-08-29 21:11] justin808 commented on #385
@MarkMurphy @gma Have you tried the current version?

[2016-08-30 08:13] justin808 commented on #212
@Judahmeek This would be a great addition to our gitbook!

[2016-08-30 09:51] gma commented on #385
@justin808 I was using 6.1.0.

I'm afraid I'm back on `react-rails` now, having managed to work around the issue that brought me to `react_on_rails` in the first place.

I noticed plenty of people who'd had this problem reported that they'd had `react_rails` installed. I'd have mentioned it, only I suspect it was a red herring (at least in my case) as I created a branch for `react_on_rails` based

[2016-08-30 15:59] Tamiyadd opened #537 "Error symlink on production deploy"
Hi,
i recently updated from `6.0.5` to `6.1.0` and i started to get the following error on production deploy. I know the new version changed the symlinking process. Can you help me to fix that error? do you need more info?

thanks

[code]

[2016-08-30 16:47] Judahmeek commented on #212
@justin808 A lot of discussion here. By "this", are you referring to Stuart's comments here at the end?

@stuarthannig Any chance you and I could connect on Slack, Skype, or another IRC-like platform so I could get a better understanding of your solution?

[2016-08-30 18:00] davegonzalez opened #538 "Application has been already initialized error"
Hi there!
First of all, awesome work! This gem has made using react/webpack a breeze in our existing Rails app, at least in a dev env.

Unfortunately, I'm running into issues with deploying this to our Production server on Heroku. I'm also running into the same issue when trying to precompile assets locally with `RAILS_ENV=production bundle exec rake assets:precompile`.

The full error when deploy

[2016-08-30 21:13] davegonzalez commented on #538
Quick update; we're using Rails 3.2 and had to add react_on_rails to our gemfile under the assets group - `gem "react_on_rails", "~> 6", :group => [:assets]` - in order for it to build locally. Still seeing the same error on heroku deploys though.

[2016-08-30 22:14] justin808 commented on #538
@davegonzalez I'd try out doing the asset precompile parts the old way.

https://github.com/shakacode/react_on_rails#deployment
and https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/heroku-deployment.md

and see https://github.com/shakacode/react_on_rails/blob/master/CHANGELOG.md#600---2016-05-25

And see this file: https://github.com/shakacode/react_on_rails/blob/mas

[2016-08-30 22:15] justin808 commented on #537
@Tamiyadd Please delete the deployment directory and try again.

I think there's some unexpected file already existing where we're creating the symlinks.

[2016-08-31 08:22] Tamiyadd commented on #537
Hi @justin808
i'm using `capistrano` to deploy my application so every deploy a new release directory is created from scratch

[2016-08-31 09:51] justin808 commented on #537
@Tamiyadd Can you take a look at https://github.com/shakacode/react_on_rails/blob/master/lib/tasks/assets.rake

You can turn off the automatic usage of that file, per the instructions in the README.md, in regards to the precompilation during deployments.

We'll need your help to debug this.

[2016-08-31 12:30] lucke84 opened #539 "Question: has anybody used ReactOnRails with Rails 5?"
I've upgraded our Rails application from 4.2.7 to 5.0.0.1 (which uses ReactOnRails 6.1.0) and, after some testing, I couldn't find any particular problems.
The README says that every Rails app which is 3+ is supported, so it should be all fine.

Just double checking whether somebody already tried it or, even better, it's using it in a production environment.

[2016-08-31 18:12] KMontag42 commented on #539
It has been working great for me, including ActionCable!

Will be deploying to a small scale heroku app soon.

[2016-09-01 00:37] justin808 commented on #539
https://github.com/shakacode/react-webpack-rails-tutorial is an example.

[2016-09-01 00:37] #539 closed

[2016-09-01 16:58] Tamiyadd commented on #537
Hi @justin808 after some try i found that there was a problem in my server with symlinking of files. Now everything is working well!

thanks for the support!

[2016-09-01 16:58] #537 closed

[2016-09-01 22:07] davegonzalez commented on #538
We ultimately ended up setting `initialize_on_precompile` to true and it worked without any issues. Precompilation takes a bit longer on heroku, but we're okay with that. Thanks for the tips!

[2016-09-01 22:07] #538 closed

[2016-09-02 16:16] davegonzalez opened #540 "Older version of Rspec throwing an error"
Hi again!

Due to our codebase using an older version of rspec - 2.14.8 - tests won't run. I receive the following error:
[code]

It looks like this version of rspec is expecting :each, :suite, or :all to be passed into the before hook of the `configure_rspec_to_compile_assets` method, as :example wasn't introduced until 3.0.

[code]

Not sure if this is something you'd want to support, neither am

[2016-09-05 03:10] justin808 commented on #212
@Judahmeek yes to your question directed to me.

[2016-09-05 17:01] Ynote opened #542 "Question: what is required from Node v5 to use react_on_rails?"
Hi!

First of all, thanks for all your work. This integration of JavaScript modern tooling in the Rails environment is really great and refreshing!

I would like to use react_on_rails. Unfortunately, the production server I use only provides Node v0.12. I want to know what is required from Node v5 for react_on_rails and if it is possible to use it with my version of Node.

I know that my question

[2016-09-06 02:29] justin808 commented on #542
@Ynote Node is *ONLY* used to run the build tools. Can you install a local version of node just for the building of the JavaScript file?

[2016-09-06 07:55] khacluan opened #543 "[Form] How to use data-remote='true' in react form?"
I tried to use data-remote='true' attributes in form and when I submit form it doesn't work
How can I use data-remote='true' like rails form ?

thanks for any helping!

[2016-09-06 08:33] scaryguy opened #544 "react-router simple integration docs"
Hi,

I'm just trying to integrate most basic react-router implementation but I can't succeed. When I look at docs, I see react-router being used with `redux` and `react-router-redux`. However, I'm not experienced with redux yet. So could you add some docs for 'simple' react-router implementation?

Here is what I tried:

[code]

And this is is from my `application.html.erb`:
[code]

When I browse m

[2016-09-06 08:57] justin808 commented on #544
@scaryguy Take a look at your routes.rb file and take a look at https://github.com/shakacode/react-webpack-rails-tutorial for a complete "simple" example. Compare your routes.rb to the one in that repo.

If you need more, we're more than happy to help you with a small coaching contract. Please take a look at http://www.shakacode.com/work/. We're helped out many that we've met through this open sou

[2016-09-06 08:57] #544 closed

[2016-09-06 09:00] justin808 commented on #540
@davegonzalez Please poke around the code.

I suggest you not run this helper: ReactOnRails::TestHelper.configure_rspec_to_compile_assets

And instead just put the code as needed in your spec_helper.rb.

Does that solve your issue?

[2016-09-06 09:01] justin808 commented on #543
@khacluan Your question is probably not appropriate for using react components, as data-remote is for ujs, which is using jquery, rather than react.

Just call the API endpoints directly from your react code.

[2016-09-06 09:01] #543 closed

[2016-09-06 09:36] Ynote commented on #542
Actually, my building stack is not ideal now. You are right, building assets should not be on the production instance. I think it should not be on development environment either. I'll rethink my release process as you suggest.

Thanks a lot for your quick reply!

[2016-09-07 13:23] Roko131 opened #545 "Docs typo, at ReactOnRails JavaScript API section"
If you are using jquery-ujs for AJAX calls, **than** these helpers are not needed because the jquery-ujs library updates header automatically, see jquery-ujs documentation.

Should be:

If you are using jquery-ujs for AJAX calls, **then** these helpers are not needed because the jquery-ujs library updates header automatically, see jquery-ujs documentation.

[2016-09-09 15:38] varyonic opened #546 "Incorrect relative symlink generated for assets in subfolders"
e.g. as of 6.0.3 after #446 in public/assets/flags I have note.png -> flags/note-80ea..6a.png

[2016-09-10 02:55] justin808 commented on #546
@varyonic please try 6.1.1 and let me know ASAP if that fixes the issue.

[2016-09-10 03:00] justin808 commented on #545
Fixed. Thanks.

[2016-09-10 03:00] #545 closed

[2016-09-10 12:43] ahmetabdi opened #547 "Q> js.map routing errors w/ searchkit"
I'm trying to use https://github.com/searchkit/searchkit with `react_on_rails` everything works apart from I'm getting a bunch of `ActionController::RoutingError` on `.js.map` files which exist within the npm package:

`ActionController::RoutingError (No route matches [GET] "/assets/ValueState.js.map")`
`ActionController::RoutingError (No route matches [GET] "/assets/ViewSwitcherToggle.js.map")`
e

[2016-09-10 23:07] justin808 commented on #547
You should just add these files to public/assets for now.

If you want to go down the rabbit hole (and maybe submit a PR on this that helps everybody):

* http://guides.rubyonrails.org/asset_pipeline.html
* You set the destination directory in your webpack file, and those files get copied by Rails during deployment: https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/ra

[2016-09-10 23:07] #547 closed

[2016-09-11 23:57] dillonraphael opened #548 "Dokku production issue"
When trying to push to my dokku server I get this error:

remote: App container failed to start!!
=====> strainguide web container output:
       npm ERR! Linux 3.13.0-85-generic
       npm ERR! argv "/app/.heroku/node/bin/node" "/app/.heroku/node/bin/npm" "start"
       npm ERR! node v5.10.0
       npm ERR! npm  v3.5.0
       npm ERR! missing script: start
       npm ERR!
       npm ERR! If you n

[2016-09-12 00:14] justin808 commented on #548
@dillonraphael I don't think is an issue with react_on_rails. Please feel to provide more details on why it is and I'll reopen this. We're available for paid consulting if you're interested: http://www.shakacode.com/work/. You could post to Stack Overflow, but you'd need many more details for somebody to be helpful. If you're in a time crunch, please do get in touch.

[2016-09-12 00:14] #548 closed

[2016-09-12 00:14] justin808 commented on #546
@varyonic Any info on if I can close this issue?

[2016-09-12 00:15] justin808 commented on #542
@Ynote, you're welcome! You could always build on your dev machine and commit the generated file to your git repo. However, that makes your git history pretty ugly, and you can't do this in a PR, unless you want a mega big file in your PR.

[2016-09-12 00:15] #542 closed

[2016-09-12 03:56] justin808 commented on #347
![2016-09-11_17-55-46](https://cloud.githubusercontent.com/assets/1118459/18424209/0c8bdade-7849-11e6-96a7-3b58b26308ce.png)

[2016-09-12 14:22] varyonic commented on #546
Tried 6.1.1 and behavior appeared unchanged to me.

[2016-09-13 02:15] xiaopow commented on #290
If I want to load the js async, do I just add
`<%= javascript_include_tag 'application', async: true %>`
?

Or is there more settings I need to configure?

[2016-09-13 05:45] justin808 commented on #546
@varyonic I see. You're concerned that we're creating assets with that point back to the non-fingerprinted ones. We considered handling this case. However, it seems that this should cause no harm.

What is the issue that you have with this?

I can show you what needs to change if this bothers you and you'd like to submit a PR. It's pretty easy to make this change. We just didn't see the value in d

[2016-09-13 05:56] justin808 commented on #290
@xiaopow I don't know off the top of my head. Please research this and report back to us, and that will help the community.

[2016-09-13 05:58] justin808 commented on #290
@xiaopow, @nateberkopec has some done some amazing research into this area. Nate, can you give us a few links to your materials?

[2016-09-13 07:33] StevenIseki opened #549 "Can I remount components similar to ReactRailsUJS.mountComponents()"
I have a project which I have converted over from `react-rails` to `react_on_rails` and everything is working great for me, except for one issue.

Some of the components which are fetched via ajax and shown in an infinite scroll are re-mounted when they are loaded using the `ReactRailsUJS.mountComponents()` function. How can I remount the components in this way using react_on_rails or is it not po