[2015-08-23 06:24] shakacode opened #1 "TODO for first version"
## Completed:
- [x] Support for both React 0.13 and 0.14
- [x] Port console polyfill from react-rails #8
- [x] Make work with turbolinks
- [x] Modify render_component helper to put JSON data javascript
      adjacent to react component.
- [x] Move over the javascript/webpack/node stuff to this repo
- [x] Create a PR on the https://github.com/shakacode/react-webpack-rails-tutorial that is the simpl

[2015-08-23 20:24] justin808 opened #2 "Make work with turbolinks and better helper"
- [x]  Change JS code (maybe in the helper) so that it renders on event page loaded or page change
- [x] Reenable turbolinks so that *big* JS file only loaded once.

[code]

spec/dummy/app/views/layouts/application.html.erb:16
[code]

[2015-08-24 09:51] justin808 opened #3 "Add linting and CI scripts"
@dylangrafmyre Can you set this up. Same setup as https://github.com/justin808/react-webpack-rails-tutorial/.

[2015-08-24 09:52] justin808 commented on #2
Completed.

[2015-08-24 09:52] #2 closed

[2015-08-24 09:53] justin808 opened #4 "Add integration tests"
These should be capybara tests against `spec/dummy`.

Be sure to test following configurations:

1. Turbolinks on/off
2. Fragment caching on/off

[2015-08-24 09:53] justin808 opened #5 "Add Unit tests"
Spec tests for the helper.

[2015-08-24 09:54] justin808 opened #6 "Detailed Setup and Usage Docs"
Lots of work do here.

[2015-08-24 09:55] justin808 opened #7 "Clean up app/startup/clientApp.jsx and app/startup/serverApp.jsx"
There's too much duplication between:

dummy/client/app/startup/clientApp.jsx and dummy/client/app/startup/serverApp.jsx

We also need some good documentation on how to set this up.

[2015-08-25 08:51] justin808 commented on #7
Seems that the only diff is the way the file is exported.

<img width="1540" alt="cursor_and_clipboard_vs_editor" src="https://cloud.githubusercontent.com/assets/1118459/9462586/858971f0-4ab2-11e5-84ac-2d281f7f40e8.png">

[2015-08-25 08:51] justin808 opened #8 "Port console polyfill from react-rails"
This will make debugging easier.

[2015-08-25 08:52] justin808 opened #9 "Support configuration options"
Location of server webpack generated file, and default for prerender.

[2015-08-25 08:52] justin808 opened #10 "Support generator to build a template wepack setup"

[2015-08-25 11:53] alexfedoseev commented on #7
Yes, but it's super basic example. In real world (especially if you're building a SPA) client side gonna have more client-specific stuff (progress bars, google analytics etc.) and it's better to keep them separated from the very beginning.

[2015-08-27 00:21] justin808 opened #11 "Support both functions and react components for the API"
Right now, you have to expose a function

[code]

instead of just `MyComponent`, as is done in the react-rails gem.

We'll soon support both ways.

[2015-08-27 00:23] justin808 opened #12 "Consider changing default of rendering to prerender: false"
Right now, the default for pre-rendering is true.

If any component makes an async call, this will fail.

Client rendering (prerender: false) should always work.

Should the default be false? and then let people turn on pre-rendering?

[2015-08-27 00:23] justin808 opened #13 "Consider changing the name of the gem"
Due to issue

#12

Maybe the gem should be called `react_rails_webpack` since server rendering is optional.

[2015-08-27 23:08] jbhatab opened #14 "Remind users that server config file is required."
Workaround temporarily in only client rendering desired:

create an empty file in Rails project `app/assets/javascripts/generated/server.js`.

[2015-08-28 07:50] justin808 commented on #13
Name changed to `react_on_rails`.

[2015-08-28 07:50] #13 closed

[2015-08-30 17:34] justin808 commented on #14
Action Plan:

- [ ] If no generated/server.js exists, then do not include the file.
- [ ] Change the default of prerender to false, because it takes extra care to create a react component that can prerender. Make this configurable so the config file.
- [ ] Change the spec/dummy app to support the points above, and update the docs.
- [ ] Create a PR on the https://github.com/shakacode/react-webpack

[2015-08-30 20:38] justin808 commented on #1
Action Plan for @skv-headless on August 30, 2015.

- [ ] If no generated/server.js exists, then do not include the file, #14
- [ ] Change the default of prerender to false, because it takes extra care to create a react component that can prerender. Make this configurable so the config file #12
- [ ] Change the spec/dummy app to support the points above, and update the docs.
- [ ] Create a PR on th

[2015-08-30 21:05] justin808 commented on #14
We're going to make this file optional, and configurable.

[2015-08-30 21:07] justin808 commented on #10
@sky-headless is working on this.

[2015-08-30 21:09] justin808 commented on #7
Closing this issue. We'll want to have the docs address this.

[2015-08-30 21:09] #7 closed

[2015-09-01 02:01] justin808 commented on #9
LGTM -- is this ready for merge?

[2015-09-01 03:01] #9 closed

[2015-09-05 18:15] justin808 commented on #12
DONE

[2015-09-05 18:15] #12 closed

[2015-09-05 18:17] justin808 opened #16 "Consider a CSRF replacement for $.ajax"
See:
https://github.com/shakacode/react-webpack-rails-tutorial/pull/73#issuecomment-137977029

We could provide a something helpful in this gem that facilitates true promises via 'fetch'.

[2015-09-08 09:23] justin808 opened #17 "Simpler client side rendering api"
Rather than:

[code]

we'd like to simply do:
[code]
Or maybe if prerender is defaulting to false, this already works:

[code]

So maybe then we don't need to do anything here...

[2015-09-08 09:50] justin808 commented on #1
@skv-headless, @alexfedoseev How's this list going? Possibly we can open up some of the tasks for others to do?

[2015-09-08 10:01] samnang commented on #17
I think it's hard to get it to work like that. Because the second params is also hash which is the props that should pass into the component. We could do `<%= react_component('App') %>` when we just left with the default options.

[2015-09-09 00:15] ilyadoroshin commented on #1
@justin808 :+1:

[2015-09-09 04:19] justin808 commented on #1
@ilyadoroshin Any chance that you can give us a hand? I'm happy to skype with you to discuss this project.

[2015-09-09 09:47] ilyadoroshin commented on #1
@justin808 maybe hangouts will do? I'd love to help, actually :)

[2015-09-09 19:48] justin808 commented on #1
Please send me your email justin@shakakcode.com, and we'll get you in our slack collab room, and get going. CC: @alexfedoseev

[2015-09-09 20:00] ilyadoroshin commented on #1
Delivery to the following recipient failed permanently: justin@shakakcode.com
I guess, you meant justin@shakacode.com

[2015-09-09 20:02] justin808 opened #18 "Consider hot-reloading with Rails for Generator"
Turns out there is some work going on here regarding hot reloading on the rails side: https://github.com/rmosolgo/react-rails-hot-loader

It would be interesting if this could be made to work with the webpack setup.

While not a high priority, it's worth saving the idea.

[2015-09-13 07:12] #17 closed

[2015-09-13 07:12] justin808 commented on #11
See #20

[2015-09-13 07:13] justin808 commented on #8
See #20 -- it's in there!

[2015-09-13 07:18] justin808 opened #21 "Switch to therubyracer and general questions about what JS engine"
1. I curious as to the purpose of eval vs. compile methods in the execJS?
2. Any advice on what's going the be best performance for rendering react components server side?
3. Here's how another project is doing this without webpack: https://github.com/reactjs/react-rails/tree/master/lib/react/server_rendering Anything right or wrong about what they are doing? Here's the docs on that: https://githu

[2015-09-13 15:28] samnang commented on #21
They basically the same thing, `eval` will unbox the result and convert into ruby values.
https://github.com/rails/execjs/blob/master/lib%2Fexecjs%2Fruntime.rb#L38-L44
https://github.com/rails/execjs/blob/master/lib%2Fexecjs%2Fruby_racer_runtime.rb#L13
https://github.com/rails/execjs/blob/master/lib%2Fexecjs%2Fruby_racer_runtime.rb#L34

I'm not sure, but we definitely doesn't want to instantiate e

[2015-09-13 21:48] justin808 opened #22 "Remove need to use foreman to run webpack during development mode"
It's too easy to start rails using `rails s` and not have the JS code update. It should be fine just run `rails s` in development mode. We also need to make sure that the js code is updated before rspec starts.

We need to fork webpack watch processes to compile the bundle JS files when needed.

Basically, this means taking what's in the forman file:

[code]

And having this simply work by running

[2015-09-14 04:41] justin808 commented on #22
I've got a super simple alternative to start. Let's have a big warning message if the webpack processes are not running when an env starts up:

[code]

results in this:

[code]

We don't necessarily know the config files from the setup, but we could get that.

@alexfedoseev Would it be desirable to have one webpack file generate different bundles for client and server, rather than separate config

[2015-09-14 05:13] justin808 opened #23 "Fix indentation of client side rendering js"
This prints now. Easy to make this look better.
[code]

[2015-09-14 09:31] justin808 commented on #21
@samnang Great answer. Looks like we just need folks to be sure that V8 is installed. I updated the readme.

[2015-09-14 09:31] #21 closed

[2015-09-14 16:25] jbhatab commented on #22
@justin808 I like the idea of one config for webpack.

Also I was looking at forks and it seemed like a way to background tasks while the app is running, but I didn't see how you hook it into the rails server start. Is this possible?

[2015-09-14 18:43] justin808 commented on #22
We got some good info here:
http://parley.rubyrogues.com/t/invoking-subprocess-in-from-ruby/3318/5?u=railsonmaui

----------------------

tmoore

Tim Moore, incrementalism.net

We've started doing something like this recently on my team at work. We're spawning a node process from the Rails app using the daemon_controller gem and then communicating to it over a pipe.

The code is here:

https://git

[2015-09-16 05:19] justin808 opened #26 "Dry up the manifest of webpack bundles"
We can use the techniques in this article: http://clarkdave.net/2015/01/how-to-use-webpack-with-rails/ to potentially simplify the setup. The main addition from that article is a way to avoid duplicating the manifest of webpack files in application.js.

There's some other useful tips in that article as well.
CC: @alexfedoseev @samnang @dylangrafmyre

[2015-09-17 04:09] samnang commented on #26
Pretty interesting.

The only concern I have, some of javascript rails engines/gems have additional benefits by giving some helpers & generators, but if we switch from sprockets to webpacks, we may lost those benefits.

[2015-09-18 14:38] taylorbrooks commented on #6
Hey just found this from here: https://github.com/reactjs/react-rails/issues/301

There's nothing in the README about how to use this. I'm happy to contribute in writing docs, but it looks  like there's nothing at this point?

Was hoping [this post](http://www.railsonmaui.com/blog/2014/10/02/integrating-webpack-and-the-es6-transpiler-into-an-existing-rails-project/) would provide some context -- l

[2015-09-18 18:41] justin808 commented on #6
@taylorbrooks super!: http://www.railsonmaui.com/blog/2014/10/03/integrating-webpack-and-the-es6-transpiler-into-an-existing-rails-project/

I'll add you to our slack chat. You'll become an expert very quickly!

For anybody else that wants any mentoring in this, the best way to master it is to reach out to me justin@shakacode.com or any members of the Shaka Code team.

[2015-09-18 18:42] justin808 commented on #6
@taylorbrooks where did you get the broken link. I'll fix it.

[2015-09-18 18:45] taylorbrooks commented on #6
https://github.com/reactjs/react-rails/issues/301#issuecomment-113597288

[2015-09-20 06:55] #11 closed

[2015-09-20 06:55] justin808 commented on #6
Documentation was improved in #20. @taylorbrooks I'd be grateful for any feedback.

[2015-09-20 06:56] #8 closed

[2015-09-20 07:06] justin808 opened #28 "Need to port optimization of pooling renderer from react-rails"
Use a connection pool for the js engine:

See options here: https://github.com/reactjs/react-rails#server-rendering

Here's the implementation:
    https://github.com/reactjs/react-rails/blob/master/lib/react/server_rendering.rb

[2015-09-20 11:18] justin808 commented on #14
Fixed in #29

[2015-09-20 11:18] #14 closed

[2015-09-20 18:28] justin808 opened #31 "Options to the top level content tag, such as "class", support passing props as string"
We need to do like this from the react-rails gem.

Also, we could allow the user to set an `id` in the content tag, and that should replace the generated one. Also, support passing props as a string, or a hsh.

We need:

- [x] Provide examples in the `views/pages` directory and links in the `_header.html.erb`
- [ ] tests for this, both at the unit level and at the integration test level.
- [x] Upd

[2015-09-20 19:04] justin808 opened #32 "Clean up, pretty up code for helper, move some code to inclusion file."
The code right now in the react_on_rails gem looks horrible due to trying to preserve the correct white space. Here's the generated code:

* https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/spec/sample_generated_js/server-generated.js
* https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/spec/sample_generated_js/client-generated.js

And here's the files that genera

[2015-09-21 06:27] justin808 commented on #31
@josiasds, @mapreal19 Would either of you like to take a look at this one?

[2015-09-21 12:02] mapreal19 commented on #31
@justin808 This week I'm going to be quite busy. But I could start working on it the next week.

@josiasds Are you available?

[2015-09-21 13:35] josiasds commented on #31
@justin808 @mapreal19 I've been quite busy also, but I'll try to get some time for this one.

[2015-09-21 16:14] samnang commented on #32
@justin808 For indentation in heredoc, we could use http://api.rubyonrails.org/classes/String.html#method-i-strip_heredoc to remove white spaces from beginning.

[2015-09-21 18:15] taylorbrooks opened #34 "Server Side Errors"
<img width="1223" alt="screen shot 2015-09-21 at 1 12 11 pm" src="https://cloud.githubusercontent.com/assets/117657/10000556/81cc001c-6062-11e5-96d8-5c033d0ecc58.png">

Not really sure what's going on here. It looks like the component's props are populated correctly, but I get these server side errors.

Is server side rendering turned on by default? I didn't think it was.

[2015-09-21 19:02] justin808 commented on #34
The good news is that you new get nice errors!

It looks like React is not exposed.

https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/client/webpack.server.js#L25

Make sure that type of line is in both your client and server webpack files.

We handle common aspects like this: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/webpack.common.config.js#L2

[2015-09-21 19:04] justin808 commented on #34
@taylorbrooks Regarding server side, you should look in your config/initializers directory to see if you have an initializer. You might want to check that you're seeing the default that's setup here: https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/configuration.rb#L9. Maybe we have a bug? Default should be false.

[2015-09-21 19:21] justin808 commented on #32
@samnang We originally did it that way, but it's super hard as well for changing the indentation. The code is also going to be slightly faster not using it. On a somewhat related note, we should maybe put some of the code for the client side into a file included in application.js.

Take a look at: https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/spec/sample_generated_js/client-ge

[2015-09-21 21:52] justin808 opened #35 "Add trace message to console that indicates server side rendering happened"
![2015-09-21_11-46-28](https://cloud.githubusercontent.com/assets/1118459/10006066/7ce5aa1e-6056-11e5-8885-ce514f48bbd9.png)

1. Check if trace is turned on
2. Add a message to the console that comes from the server messages:

Before line: https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/react_renderer.rb#L52
[code]

Using this history.console (https://github.com/shakacod

[2015-09-21 22:59] justin808 opened #36 "In the error message handling, we print SERVER_SIDE instead of CLIENT_SIDE"
This code in: https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/react_renderer.rb#L103

needs to take an option so what we use on the server and client side is different.

We're printing server side for client side messages!
[code]

[2015-09-21 23:08] justin808 opened #37 "Need to create Wiki or other docs on Testing"
FYI -- the messages you get from react_on_rails when you open up the failed test from Capybara are not relevant generally, because the application.js is not loaded, so then you get other messages.

We need to put this information in a wiki, but it's not clear how to add images to a github wiki right now, so this is just a placeholder.

![2015-09-21_13-02-33](https://cloud.githubusercontent.com/ass

[2015-09-22 00:35] taylorbrooks commented on #34
K, I'm a little farther, getting a different error now:

[code]

Which I think is failing on this line: https://github.com/jhudson8/react-chartjs/blob/master/lib/core.js#L79

I'm pretty new to webpack so I may need some n00b level guidance. :smile:

[2015-09-22 00:49] taylorbrooks commented on #34
Nvm I fixed this ^^. Fixed the `React` undefined errors.

Getting this now:
<img width="1643" alt="screen shot 2015-09-21 at 7 47 18 pm" src="https://cloud.githubusercontent.com/assets/117657/10008866/d1d5d8c6-6099-11e5-8c06-8a6c96a07999.png">

[2015-09-22 01:02] szyablitsky commented on #32
I think that moving javascript into .js file which should be included in Rails' application.js is a good idea. If we need to add some runtime logic, than we can change extension to .js.erb and do some preprocessing for javascript code. And even cache it all or partially for performance gain.

[2015-09-22 02:23] justin808 commented on #32
@szyablitsky Let me know if you'd like to do this. Or anybody else does, please let me know.

[2015-09-22 04:38] justin808 commented on #34
@taylorbrooks There's a bug in that the exception is caught and says server side even though ti's client side. I'm guessing that you have webpack configuration issues or maybe you didn't import CloseIoTemplates properly. Check out http://forum.railsonmaui.com/t/blackbelt-rails-debugging-techniques-with-react-server-rendering/351. Tips for debugging capybara tests! Same would apply to your situatio

[2015-09-22 04:40] justin808 commented on #22
Got more info from the Ruby Rogues forum:

rob1	rob1
September 21
A simple fork should do what you want. Open file handles will be inherited by the child process, so you'll get your "standard output goes to the parent process's standard output" for free.

Something like:

[code]

[2015-09-22 05:58] taylorbrooks commented on #34
Yeah seems like CloseioTemplates is undefined, but idk why.

Here's some of the code:

#### webpack.config.js
[code]

#### components.js
[code]

#### closeio_templates.jsx
[code]

[2015-09-22 06:10] justin808 commented on #34
@taylorbrooks Definitely create the simplest possible example, only client side rendering, one simple hello world component. Try copying from the spec/dummy app inside of react_on_rails. Baby steps to narrow down the issue.

[2015-09-22 06:11] justin808 commented on #34
FWIW, we only use import rather than require, and let/const rather than var.

[2015-09-22 07:33] alexfedoseev commented on #22
I'll answer this question in #96 PR (https://github.com/shakacode/react-webpack-rails-tutorial/pull/96).

[2015-09-25 19:32] justin808 commented on #34
@taylorbrooks Did you solve your issue?

[2015-09-25 19:33] justin808 commented on #23
Already in master.

[2015-09-25 19:33] #23 closed

[2015-09-25 19:34] justin808 commented on #36
@josiasds Please create a PR.

[2015-09-25 19:37] josiasds commented on #36
@justin808 PR #38

[2015-09-25 22:46] taylorbrooks commented on #34
Wasn't doing `window.ComponentName = var ComponentName`

Figured it out. Thanks!

[2015-09-25 22:46] #34 closed

[2015-09-25 23:01] justin808 commented on #34
@taylorbrooks Thanks. This is shown in the README.md as:

[code]

[2015-09-26 06:49] justin808 opened #39 "Helper for fragment caching server rendered react components"
If only the JS code change, then the cache will not be invalidated. Possible solutions to the problem include:
1. Always invalidate the whole cache on pushes. Trivial.
2. Only invalidate the React server rendering caches on pushes. This can be done by including the git deployment sha string in the cache key. Very easy.
3. Manually add a string to the cache key indicating a version and update that

[2015-09-26 14:41] mapreal19 commented on #5
@justin808 I'd like to tackle this one

[2015-09-26 17:08] samnang commented on #5
@mapreal19 :+1:

Please ping me when you get something.

[2015-09-26 17:29] andreasklinger commented on #39
We add the hash of the webpack main.js and the hash of the serializers to the cache checksum

[code]

[2015-09-26 19:06] justin808 commented on #39
@andreasklinger Looking at the code, I'm guessing that you include the serializers because your "args" are not the JSON props (Hash or String) being passed to the component. Any chance that you could elaborate more on your inclusion on the serializers and if there were any performance hot spots in computing the digests.

[2015-09-26 21:55] justin808 commented on #5
@mapreal19 :+1: :clap:

[2015-09-27 04:09] justin808 commented on #39
## Hash Speed
Interesting discussion here:
2. http://stackoverflow.com/questions/3665247/fastest-hash-for-non-cryptographic-uses
1. http://programmers.stackexchange.com/questions/49550/which-hashing-algorithm-is-best-for-uniqueness-and-speed

[code]

## xxHash
Possibly xxhash could help?
* https://github.com/Cyan4973/xxHash
* https://github.com/nashby/xxhash (C version with Ruby Wrapper)
* https:/

[2015-09-27 04:56] justin808 commented on #36
We also need to indicate if console.log, console.error is happening server side or client side.

[2015-09-27 06:26] justin808 commented on #36
I changed the strategy a bit:

![2015-09-26_20-25-03](https://cloud.githubusercontent.com/assets/1118459/10121541/d4196dea-648c-11e5-9df1-141bb50ce371.png)

[2015-09-27 06:47] #36 closed

[2015-09-27 07:01] samnang commented on #35
Fix in #38 .

[2015-09-27 07:01] #35 closed

[2015-09-27 07:24] justin808 commented on #39
We'll add a view helper method for creating a cache key in the near future. This will be a nice addition for this gem.

[2015-09-27 07:53] justin808 commented on #31
Here's what the rendering looks like:

![2015-09-26_21-52-27](https://cloud.githubusercontent.com/assets/1118459/10121797/f7d26276-6498-11e5-9762-d4c07a9e140b.png)

for this:

[code]

[2015-09-27 08:47] #31 closed

[2015-09-27 23:22] lfittl commented on #39
@justin808 You are correct that we choose to use the args vs the serializer output because of the slowness of computing the hash (I'm the one who wrote that code, its been a few months though).

This was especially obvious when you assume that both the cache output and the pre-render output are cached (based on the same initial serializer input args), in this case you'd want to minimize overhead.

[2015-09-28 03:07] #28 closed

[2015-09-28 06:06] mapreal19 commented on #5
@samnang ;)

[2015-09-28 06:46] justin808 commented on #32
@samnang and I made amazing progress from this today.

[2015-09-29 07:59] justin808 commented on #32
Fixed by #44.

[2015-09-29 08:00] #32 closed

[2015-09-30 04:17] justin808 opened #46 "Add assets.rake"
This file is critical to deploying with webpack:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/lib%2Ftasks%2Fassets.rake

Should we put this in the gem?

@samnang?

[2015-09-30 13:56] alexfedoseev opened #47 "XSS vulnerability: serialization of props, exposed on the client"
As we discussed a few days ago, there is an issue with serialization of props, exposed on the client. Since these props may contain user's input and they will be exposed as javascript variable in the browser, we must escape it to prevent harmful script injection.

Here is the lib that I'm using in Node environment to serialize javascript before it will be exposed on the client: https://github.com/

[2015-10-02 17:57] justin808 commented on #47
Let's get to this by the weekend, @alexfedoseev, @samnang.

[2015-10-02 21:28] dphaener commented on #16
My two cents. I use this:

[code]

And this module: `"whatwg-fetch": "^0.9.0"`

[2015-10-02 21:48] justin808 commented on #16
We're using axios here:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/package.json

@alexfedoseev Are we missing the headers for:

[code]

Here's our source: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fapp%2Futils%2FcommentsManager.js

[code]

[2015-10-02 22:01] alexfedoseev commented on #16
No, since we don't use Vendor MIME Type to match the api version (we use URL instead).
More on subject: https://medium.com/@alexfedoseev/isomorphic-react-with-rails-part-ii-614980b65aef

And example of `apiCall` helper with `axios`:

[code]

[2015-10-02 22:03] dphaener commented on #16
:+1: I'm using that because I'm using a jsonapi-resources backend, which requires that MIME type

[2015-10-04 16:12] samnang commented on #47
@alexfedoseev let's have some discussion on monday when you get up.

[2015-10-04 16:54] alexfedoseev commented on #47
@samnang :+1:

[2015-10-05 00:50] justin808 commented on #47
This is probably **NOT** an issue for the following reason:

We use Rails to_json which does the encoding.

https://github.com/rails/rails/blob/master/activesupport/lib/active_support/json/encoding.rb#L51-51
[code]

HOWEVER, we do support passing a string as a param of the JSON.

1. Would a rails user convert an object to JSON without using the rails way?
2. Should we require the passing of a stri

[2015-10-05 02:30] justin808 commented on #47
I just pushed https://github.com/shakacode/react-webpack-rails-tutorial/pull/108, which shows how jBuilder will create the JSON string.

This is a sample result. Note how symbols like **<** are encoded.

[code]

[2015-10-05 03:24] justin808 commented on #47
So the question is whether or not we should check the String (not Hash) to see if there might be some non-escaped characters. Maybe we should always escape unless an option is set? That seems like a reasonable solution, as we could put the option in the global configuration file for a default.

Maybe the option could be:

escape_javascript: true

Or we can always run this escape:

[code]

I'm just

[2015-10-05 05:36] justin808 commented on #47
Example of safe and non-safe json conversion

[code]

[2015-10-05 06:21] alexfedoseev commented on #47
My vote is for "always escape", this way we won't let the user shoot in his leg (and I don't see a reason why it might be turned off).

[2015-10-05 06:30] justin808 commented on #47
@alexfedoseev My only concern is that it might be a slight performance disadvantage if sending over lots of data, and the developer is using the rails ways of creating the JSON strings.

Do you agree on the escaping rules I posted?

[2015-10-05 06:37] alexfedoseev commented on #47
Yep. Well in this case we can:

* set `escape_javascript: true` by default
* in docs for this setting explain the differences between JSON methods and put a warning: don't turn this off unless you know what you're doing.

[2015-10-05 07:00] samnang commented on #47
I still feel having an option `on` and `off` performance is early optimization for me. I vote for "always scape" and use Rails `ActiveSupport::JSON::encode`, so that we will take advantage from latest Rails security concern when they found something and they fix it.

[2015-10-05 08:10] justin808 commented on #47
@mapreal19 Maybe you can take a crack at this? Let's consider @samnang's suggestion on the encoding. We'll put off making this optional until needed.

@samnang is this the method that we need:
https://github.com/rails/activesupport-json_encoder/blob/master/lib/active_support/json/encoding/active_support_encoder.rb#L76

It seems to do more than Rails is doing by default for to_json. Maybe a good th

[2015-10-05 08:57] samnang commented on #47
@justin808 why don't we just use their public interface method https://github.com/rails/rails/blob/master/activesupport/lib/active_support/json/encoding.rb#L19 instead of re-implementing their idea, so we don't need to care when they fix new security problem in future?

[2015-10-05 19:37] justin808 commented on #47
Wow -- just found this article:

http://openwall.com/lists/oss-security/2015/06/16/17

Let's do this!

@andreasklinger, @korbin, @lfittl, You might not be affected by this in react-rails as it's using a data prop for browser side data. Hope you guys try out react_on_rails soon! Let's combine efforts!

[2015-10-06 03:33] samnang commented on #47
@justin808 it's a great benefit when we just using Rails api, so they will found Vulnerability quickly and fix them quickly as well.

[2015-10-06 06:21] justin808 commented on #47
@samnang Sounds good.

[2015-10-08 07:53] justin808 commented on #47
@samnang Let's you or I do this one on our next pairing session, between us or with some other community member.

[2015-10-08 07:54] justin808 commented on #3
@dylangrafmyre Can you confirm this one is totally done?

[2015-10-08 09:59] samnang commented on #47
@justin808 sound good.

[2015-10-08 22:12] justin808 opened #51 "Support 0.14 of React"
Simple change to gem:

1. Change docs to expose ReactDom like this:
      // React is necessary for the client rendering:
      {test: require.resolve('react'), loader: 'expose?React'},
2. Add function to resolve correct "React" object:

Here's where we refer to React right now.

https://github.com/shakacode/react_on_rails/blob/master/app/assets/javascripts/react_on_rails.js#L21
https://github.com

[2015-10-08 22:13] justin808 commented on #51
@rstudner has volunteered to give this a try.

[2015-10-08 23:52] rstudner commented on #51
Quick update.  It is all working.  I'll make a separate PR for updating the react-webpack-rails-tutorial project to use 0.14 also just to update the package.json to 0.14 (or someone else can just do that, once the gem is approved.

There are still some warning etc in the console i'm tracking down -- i've seen some postings they may be related to react-redux/not our concern just yet.

<img width="1

[2015-10-09 03:22] justin808 commented on #10
Thanks @aaronvb!

[2015-10-09 03:59] justin808 commented on #51
Thanks so much for the help! :+1:

https://github.com/shakacode/react-webpack-rails-tutorial/pull/115 is merged.

[2015-10-12 02:38] justin808 commented on #47
FWIW, this does not work:

[code]

[code]

because it escapes the quotes

[2015-10-12 11:33] liorbrauer opened #57 "Support for Rails 3.2.xx"
Hello,

I was wondering if there is a reason that is preventing the gem from supporting Rails version 3.2.xx?

Thank you,
Lior

[2015-10-12 17:15] justin808 commented on #57
@liorbrauer The only dependency is having somebody actually want to use it with 3.2 (and Ruby 2.x?)

Please make a fork and give it a spin. I can help you where you get stuck.

[2015-10-12 17:16] justin808 commented on #46
This feature is already going in #53.

[2015-10-12 17:16] #46 closed

[2015-10-13 04:21] samnang commented on #47
@justin808 @alexfedoseev  I found the method that does exactly this job when param is string. It's [json_escape](http://api.rubyonrails.org/classes/ERB/Util.html#method-c-json_escape)

[2015-10-13 06:31] justin808 commented on #47
See #59 -- that fixes this one.

[2015-10-13 06:33] justin808 commented on #57
@liorbrauer I'm going to close this issue for now. Feel free to re-open it if you want to use this gem with Rails 3.2. Shouldn't be hardly any effort.

[2015-10-13 06:33] justin808 commented on #51
Fixed in #55

[2015-10-13 06:33] #47 closed

[2015-10-13 06:34] justin808 commented on #4
Fixed in #56.

[2015-10-13 06:34] #4 closed

[2015-10-13 06:34] justin808 commented on #3
Fixed in #59

[2015-10-13 06:34] #3 closed

[2015-10-13 06:35] #51 closed

[2015-10-13 06:37] justin808 commented on #47
Related issue: https://github.com/rails/rails/issues/15364

[2015-10-13 07:08] liorbrauer commented on #57
@justin808 Thanks for the reply, I have forked the repo and am currently testing it.

[2015-10-13 07:10] justin808 commented on #57
@liorbrauer Super. Let me know if you want to join our slack room.

[2015-10-14 03:04] justin808 commented on #1
Closing this issue now, as we're at 1.0.0.pre.

[2015-10-14 03:04] #1 closed

[2015-10-14 03:04] #6 closed

[2015-10-16 01:17] diffractometer commented on #18
+1

[2015-10-16 01:26] justin808 commented on #5
Here's a link to code coverage:
https://coveralls.io/github/shakacode/react_on_rails?branch=master

@robwise might give us a hand with this. Thanks!

@dylangrafmyre we might need some help tuning the coveralls.

I don't think there is a good way to verify the JS coverage. I guess for extra credit, we could add a pure JS test. @alexfedoseev might know if that's worth it.

[2015-10-16 16:00] robwise commented on #5
PR #60 makes sure the dummy apps' coverage is included in our coverage report.

[2015-10-17 03:00] justin808 commented on #16
@alexfedoseev @josiasds @mapreal19 How about we release a tiny npm module to encapsulation axios and the ability to get the CRSF token from Rails? Then we can put the inclusion of the tiny npm module in the template setup.

[2015-10-17 11:03] alexfedoseev commented on #16
I'd rather made `getCRSFToken` module and left `axios` in user land.

Reasons:

1. `axios` is opinionated.
1. `axios`'s setup is opinionated.

[2015-10-18 04:21] justin808 opened #62 "Tune up Coveralls"
@dylangrafmyre @robwise Let's tune up Coveralls https://coveralls.io/github/shakacode/react_on_rails

1. I can't find react_on_rails_helper.rb listed in the coverage.
2. The coverage of some of the other files is a bit dubious. It seems that initialization of the gem is not getting flagged as covered.

![2015-10-17_21-17-58](https://cloud.githubusercontent.com/assets/1118459/10562528/988c38be-7514

[2015-10-18 06:07] liorbrauer commented on #57
@justin808 I'd like to join the room, would love to discuss and understand a few points. Thanks!

[2015-10-18 06:13] justin808 commented on #57
@liorbrauer I sent you invite. If you didn't get it, email me at justin@shakacode.com. Thanks.

[2015-10-19 14:45] #57 closed

[2015-10-19 23:15] gugl commented on #18
I've finally got a hot reload setup working now and this gist was the key to it: https://gist.github.com/epeli/28c2dbcbe8109a0c5edb

[2015-10-20 08:34] alexfedoseev commented on #18
@gugl Nice! Actually it's identical setup with what I'm doing now inside `express` server on Node, but instead `jade` -> `erb`.

[2015-10-21 22:53] alexfedoseev opened #69 "Handle errors and redirects from React Router on server"
@dylangrafmyre @justin808 @samnang

React Router works with server rendering (after #68 will be merged). But we need to handle 2 more cases:

1. Errors from router. We should send 500 in case of the error.
1. Redirects from router. We should send 302 in case of the redirect.

Details: https://github.com/shakacode/react-webpack-rails-tutorial/pull/128
Code where error / redirect info goes to the ge

[2015-10-22 04:06] #5 closed

[2015-10-26 14:40] hisapy opened #71 "ReactOnRails is not defined when including application.js at bottom of body"
When including application.js at bottom of body like this:

[code]
and using react_component helper to render a component in a view (i.e.: /admin/purchases/new)
[code]
I get a **Uncaught ReferenceError: ReactOnRails is not defined**.  Obviously this is because the Javascript written by the helper is executed when the DOM is loading, and before the **application.js** is included.

In order to avoid

[2015-10-26 18:10] justin808 commented on #71
@hisapy application.js should be included in the head of the document. Any reason you're placing it in the body?

[2015-10-26 18:10] #71 closed

[2015-10-26 18:11] justin808 commented on #71
Feel free to re-open this ticket if you're sure that there's a case for putting application.js in the body.

[2015-10-26 18:33] hisapy commented on #71
Actually, it seems no there is need anymore to move it out from the head.

[2015-10-26 19:23] robwise commented on #62
@justin808 Are we good on this after #64 ?

[2015-10-29 04:58] #62 closed

[2015-10-29 04:59] justin808 commented on #10
Almost done. See #70

[2015-10-29 05:01] justin808 commented on #69
This is a general issue:

If we have an error when server rendering, should we:

1. Log the messages to the client and/or server console. (current behavior of gem, and probably the react-rails gem).
2. Throw an error on the server side so rails sees the error.
3. Make the choice of #1 or #2 configurable? with the default being?
   `config.throw_on_server_render_error = true`

Can anybody confirm t

[2015-10-29 05:04] justin808 commented on #69
I opened this issue to find out what react-rails is doing: https://github.com/reactjs/react-rails/issues/386

[2015-10-29 05:06] justin808 commented on #69
Also, could we release the gem as 1.0 with the current behavior (logging, either on server or both server/client) and then change that to throw on the server side?

[2015-10-30 02:02] justin808 commented on #69
This is what react-rails is doing:

https://github.com/reactjs/react-rails/blob/master/lib/react/server_rendering/exec_js_renderer.rb#L13

[code]

We're wrapping the code in a try block and logging errors nicely.

[2015-10-30 02:15] lfittl commented on #69
@justin808 Just a heads up - we've moved to a different setup that uses a node server for server-side rendering, communicating through a unix domain socket as needed (@korbin has all the details if you're curious).

So it probably doesn't make sense to keep CCing us on this repository, although I appreciate you working on this! :)

[2015-10-30 02:30] justin808 commented on #69
@lfittl @korbin mentioned that to me. Ideally, we'll be able to make execjs swappable with the node technique. When you get an error in server rendering using your technique, do you convert the JS error to throw an exception in Ruby?

[2015-10-30 02:42] lfittl commented on #69
@justin808 I think in the context of this PR, we're not doing this right now (since almost none/none of our code is using the react router yet).

We do log errors to an external provider, but we don't do any special logic based on the type of error.

[2015-10-30 02:51] jbhatab commented on #69
@justin808 So the default behavior is throwing a client side error and you'd like to add a ruby side error?

[2015-10-30 02:57] justin808 commented on #69
@jbhatab We are only logging right now. Trivial for us to have an option to throw if there's an error in server rendering.

[2015-10-30 03:04] jbhatab commented on #69
@justin808 logging on the ruby side? I think logging the issue on ruby and javascript side is ideal without breaking things. Now does the component still render client side if it breaks server side?

[2015-10-30 03:06] justin808 commented on #69
We log. Some people might want to do a redirect. Also, I think we display the error message in html anyway to make it super obvious. There's a slight security risk in that error could contain sensitive data and we shouldn't be sending it to the client.

[2015-10-30 03:23] jbhatab commented on #69
I like the idea of an html error.

[2015-10-31 02:01] jbhatab opened #72 "npm shrinkwrap causes issues on setup"
Every time I setup react_on_rails on my machine with the generators, the npm-shrinkwrap file breaks my setup.

I cd into client, run npm install successfully. Then I cd up to the root and run foreman start -f Procfile.dev. Then it gives me an error involving the 'body-parser' module.

I solve this by deleting the npm-shrinkwrap file and re running npm install in the client directory.

[2015-10-31 02:13] justin808 commented on #72
Most likely the issue is using the same version of npm and node that generated the shrinkwrap file.

@robwise We should make sure the generator installs the package.json, but runs the command to shrinkwrap.

[2015-10-31 02:13] #72 closed

[2015-10-31 02:43] jbhatab commented on #72
Sounds good.

[2015-11-02 05:59] justin808 opened #74 "Not reloading JSX for server rendering."
We're working on a fix for this.

What happens is that the generated/server.js gets loaded once at startup, regardless of development or production mode.

For development, we'll reload server.js if the timestamp has changed.

Production mode will not check.

@jbhatab and @robwise are working on this.

[2015-11-02 06:00] justin808 commented on #74
The work around is to restart your rails server until we push a fix. Note, this only applies if you are using server rendering, which is the option `prerender: true`.

[2015-11-02 20:01] justin808 commented on #74
@rstudner, (CC: @jbhatab) please create branch with these 2 commits:

* https://github.com/shakacode/react_on_rails/commit/66b7408af616e40e6f871e2ec5360abac882b9b0
* https://github.com/shakacode/react_on_rails/commit/7a7dd689c589c53f3eb8ffd1fe03c416c7748ed9

This is a fix, but the logic needs to move: https://github.com/shakacode/react_on_rails/commit/66b7408af616e40e6f871e2ec5360abac882b9b0#diff-

[2015-11-02 20:59] jbhatab commented on #74
@rstudner here's the link to the commit where we auto reset the pool for server bundles. https://github.com/shakacode/react_on_rails/commit/66b7408af616e40e6f871e2ec5360abac882b9b0

[2015-11-03 04:22] robwise commented on #74
Add this commit to the list as well: https://github.com/shakacode/react_on_rails/commit/534c9af266d72e5eb9a99ee03d9832eb2862238c

[2015-11-03 11:35] rstudner commented on #74
Okay, quick question (sorry, I couldn't do this last night -- solo parent duty with 1 kid with pneumonia hah)

So, 7a7dd68 basically "is" the merge commit for the generators.
Then we have 66b7408 which appears to add the server.js reloading behavior for development.

So is this "branch" a branch off master, that has all the generator stuff merged into it, plus 66b7408, plus 534c9af.

Just want to

[2015-11-03 20:16] robwise commented on #74
@rstudner I don't know why 7a7dd68 is named what it is or why Justin said that it was involved with this issue as I don't think it actually is (unless I'm missing something @justin808 ?).

Basically what we're trying to do is separate the task of adding generators, which goes in the add-generators branch, with the task of fixing a bug that causes the server to not reload the server-bundle when it

[2015-11-03 20:32] rstudner commented on #74
@robwise thanks for the heads up.  I mostly have that done, I just have to clean out a couple things (generator_helper) etc.  Will push it up in just a bit.

[2015-11-03 20:37] robwise commented on #74
@rstudner Nice!!!

[2015-11-04 07:51] robwise opened #76 "Investigate Lack of "Server Bundle Not Found" Error and also Output to Console"
When the user is not using server rendering and has forgotten to set `config.server_bundle_js_file` equal to empty quotes (`""`) inside of the [`app/config/initializers/react_on_rails.rb`](https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/config/initializers/react_on_rails.rb#L7) file, it is supposed to be logging an error. However, I'm not seeing this error.

Relevant line of

[2015-11-04 08:05] justin808 commented on #76
@robwise I submitted a fix. Please review.

[2015-11-04 20:43] robwise commented on #76
@justin808 change looks fine to me. But why is the Rails.logger line *not* working?

[code]
https://github.com/shakacode/react_on_rails/pull/77/files#diff-10c7b74a600ef3ecde9dca86ed42c16eR87

[2015-11-05 13:17] rupurt opened #78 "Generator raises error when application.js is not found"
We currently have our application split up into multiple smaller applications so don't use the main `application.js` file. It would nice if the generator allowed you to specify the name of the manifest file e.g.

[code]

[2015-11-05 14:04] rupurt opened #79 "Undefined method reload_server_js_every_request"
Nice work on the 1.0 release guys. Really appreaciate the work you guys have done to make running React and Rails easier.

We're currently running into an issue with the generator where it gives the following config option but it doesn't appear to be defined anywhere.

[code]

Should this be the following instead?

[code]

[2015-11-05 14:25] yorzi commented on #79
I just got the same error minutes ago.

[2015-11-05 15:12] rstudner commented on #79
Thanks for the heads up.

[2015-11-05 20:07] justin808 commented on #78
@rupurt As a workaround, just create an empty file right now.

If you could submit a PR for your enhancement, we'd take it!

[2015-11-05 20:26] justin808 commented on #74
Fixed.

[2015-11-05 20:26] #74 closed

[2015-11-05 20:27] justin808 commented on #79
about to push 1.0.1 which will fix this.

[2015-11-05 20:29] rupurt commented on #79
Cheers @justin808

[2015-11-05 20:30] rupurt commented on #78
@justin808 that's what I did :smile:

I'll see if I have some time to take a stab at it over the weekend.

[2015-11-05 20:47] rupurt opened #84 "Add Javascript testing framework"
Howdy,

Do you plan on having an opinion on how to setup Javascript testing and what framework to use?

[2015-11-05 20:52] alexfedoseev commented on #84
Hey @rupurt, our current setup is mocha + chai + sinon + jsdom. Also I want to play around with shallow render.

[2015-11-05 20:55] justin808 opened #85 "Generator Future Enhancements"
## List of Features to add to the Generator

* Install instructions should suggest running `bundle` after running the generator b/c of linters
* Important post generate messages should go to the bottom
[code]

[2015-11-05 21:03] rupurt commented on #84
@alexfedoseev cool. I've setup mocha + chai + sinon + testem (which can test multiple runtime environments). Good to know that I'm on roughly the same path.

Do you have any plans for shipping that by default in `react_on_rails`?

[2015-11-05 21:10] justin808 commented on #84
@rupurt we're going to pull this in here:

https://github.com/shakacode/react-webpack-rails-tutorial/pull/137

within a couple days, right @robwise?

[2015-11-05 21:14] rupurt commented on #84
@justin808 sweet. There's a couple of ideas in there that I'll pinch for our project.

Cheers

[2015-11-05 21:30] robwise commented on #85
Also:

+ linters should be split into two types, javascript and ruby, and the former should be enabled by default while the latter should not
+ generated javascript code should pass linting

[2015-11-05 21:35] robwise commented on #84
@justin808 @rupurt yep! I could even extend these tests to be sanity checks that our generated results are working correctly, as currently I have to do go into each type of result and start up servers manually and look

[2015-11-05 21:39] robwise commented on #78
@rupurt That would be awesome! Definitely take a look at the `lib/generators/react_on_rails/base_generator.rb` file, as I believe this may be the right place for this logic. We could also try putting this logic inside of the `config/initializers/react_on_rails.rb` initializer, although I'm not sure if that work and/or maybe that's not a solution for your specific scenario.

[2015-11-05 21:45] justin808 commented on #79
Fixed!

[2015-11-05 21:45] #79 closed

[2015-11-05 21:45] justin808 commented on #76
Fixed.

[2015-11-05 21:45] #76 closed

[2015-11-06 01:34] yorzi commented on #78
Generator raises error when `application.css.scss` is not found as well (in our case we use application.scss), I think it's a similar issue. It might be good to be able to config these files in initializer.

[2015-11-06 01:41] robwise opened #86 "Generator Should Recognize application.scss File in Addition to application.css.scss"
Currently the generator is looking to append Sass imports into the `app/assets/stylesheets/application.css` file (which it renames to `application.css.scss`) or an `application/assets/stylesheets/application.css.scss`, but it doesn't look for simply `application.scss` and therefore throws an error.

This is extracted from: https://github.com/shakacode/react_on_rails/issues/78#issuecomment-15425746

[2015-11-06 01:42] robwise commented on #78
@yorzi I would say this issue is an enhancement, whereas yours is closer to a bug. I have therefore made a separate issue: https://github.com/shakacode/react_on_rails/issues/86

[2015-11-06 02:25] yorzi commented on #78
@robwise :+1: I can look into that today.

[2015-11-06 03:34] justin808 commented on #78
@yorzi Would be awesome if you can submit a PR to fix the missing files!

[2015-11-06 07:20] robwise opened #89 "Generator Appends Hello World Route to Other Engines"
In the case where users have multiple engines in their routes file, the built-in Rails generator helper, `route`, will add the route to *all* of the engines. It should only be appending the route once.

I believe this is due to the helper's reliance on `gsub` and their use of `routes.draw do` instead of `Rails.application.routes.draw do`, since the former will result in false positives.

Relevant

[2015-11-06 07:26] justin808 commented on #89
This is not incredibly serious as we ask user to commit files before running the generator, and this can be manually fixed.

[2015-11-06 07:28] robwise commented on #89
@justin808 it's borderline whether we should even fix this here, as it's really a bug with Rails's `Generators::Helpers.route` IMO

[2015-11-06 10:20] #89 closed

[2015-11-06 18:03] robwise opened #91 "Question: Does Non-Server-Rendering Need "therubyracer" and "execjs"?"
If the user is not using the server-rendering feature, are `therubyracer` and `execjs` still needed? I have tried generating a fresh non-server-rendering app, commenting out therubyracer dependency, and bundle installing again. I was able to run the app with no errors. Perhaps we can explore removing these dependencies from the non-server-rendering generators.

However, even though we may not be e

[2015-11-06 18:33] justin808 commented on #91
The gemspec includes:
[code]

[2015-11-06 19:17] robwise opened #92 "`examples` folder"
The idea is to have a Rakefile script that runs through the generator with differing options, putting each result into an `examples` folder. We would then implement a hidden `dev_tests` (or whatever we want to call it) generator that the script makes sure to always pass. A hidden generator is one that is not visible to the public but is nonetheless able to be invoked if you know the command.

This

[2015-11-06 20:11] justin808 commented on #92
@robwise No need to make it hidden probably. Useful to show what happens.

[2015-11-07 03:55] robwise commented on #84
Okay, JS tests were added to the tutorial in https://github.com/shakacode/react-webpack-rails-tutorial/pull/151

I will add this to my TODO list!

[2015-11-08 05:36] #86 closed

[2015-11-10 07:51] justin808 commented on #16
This is probably the one we want to to support:

https://github.com/matthew-andrews/isomorphic-fetch

[2015-11-11 03:55] iDev0urer opened #94 "Generated package.json in client folder has an error"
When I installed it and tried to run foreman it told me that package.json had a trailing comma. Sure enough when I looked it had one on line 32.

[code]

[2015-11-11 03:58] justin808 commented on #94
@iDev0urer What version of node are you using?

@robwise JSON, unlike JS should not have trailing commas. Please update your branch for which we'll push a new version ASAP.

[2015-11-11 04:22] robwise commented on #94
@justin808 It's already been fixed

[2015-11-12 03:34] iDev0urer commented on #94
@justin808 the latest stable release, v5.0.0

[2015-11-12 08:43] yorzi opened #96 "Bootstrap as an option"
My existing Rails application is using Foundation instead of Bootstrap. I am wondering if Bootstrap can be an option in generator, if so, that'd be great.

[2015-11-12 09:17] justin808 commented on #96
@yorzi We'd like to do that! Any chance you can help us with that?

[2015-11-12 09:27] yorzi commented on #96
@justin808 sure, I'd like to contribute something to this gem, but I am not sure where to start.. This might be a good one. :)

[2015-11-12 09:29] justin808 commented on #96
@robwise and @jbhatab can give you some tips!

[2015-11-12 09:46] yorzi commented on #96
@justin808 ok, I will ping them in slack room if I encounter problems.

[2015-11-12 09:47] justin808 commented on #96
@yorzi, actually @aaronvb would be a great guy to pair with on this one! @aaronvb did the amazing work of getting the generator code going.

[2015-11-12 16:55] robwise commented on #96
@yorzi the way I wrote the generators, everything related to Bootstrap is already isolated and put inside its own generator called `bootstrap_generator`. Everything is initiated from the `install_generator`, so follow the lead from the other generator options in that file and you should be able to just not called the bootstrap_generator with a conditional that checks the options, just like the oth

[2015-11-12 16:56] robwise commented on #94
okay this is fixed in the published gem now, closing

[2015-11-12 16:56] #94 closed

[2015-11-12 16:57] robwise commented on #85
If anyone wants to try Justin's points, either of those should be simple enough and a good way to get started

[2015-11-12 23:18] yorzi commented on #96
@robwise let me try to work on that.

[2015-11-14 22:06] justin808 opened #99 "Need to (optionally) add defer to the inline script"
See:
http://stackoverflow.com/questions/436411/where-is-the-best-place-to-put-script-tags-in-html-markup

If the head script includes "defer" in the application.js (which it should!), then we need to include defer in the body scripts!

CC: @robwise @mapreal19 @josiasds @alexfedoseev @dylangrafmyre @samnang @rstudner

[2015-11-15 21:50] justin808 commented on #99
How's this sound for the doc change:

 `script_options:` Anything passed to the inline script tags that we generate, such as “defer”, which would be necessary if you are using “defer” in your inclusion of `application.js`.

Like other rendering settings, this can be configured as a default in `config/initializers/react_on_rails.rb` or can be specified in the helper tag. We recommend that if you ar

[2015-11-15 21:53] justin808 commented on #99
Another reference:
http://stackoverflow.com/questions/22429724/how-can-i-defer-javascript-files-not-in-use-in-my-rails-app-to-make-the-app-run

We also need to consider if there's any interactions with turbolinks.

@alexfedoseev thoughts?

[2015-11-15 22:20] justin808 commented on #99
Posted discussion here: http://forum.shakacode.com/t/should-rails-apps-use-defer-when-loading-application-js/404/1

[2015-11-16 03:38] robwise commented on #99
Is this necessary when using a react-heavy app? What's the advantage of having the page load before the React components have been rendered?

[2015-11-17 08:48] justin808 commented on #92
@robwise should we close this?

[2015-11-17 08:53] robwise commented on #92
@justin808 this has been on hold while I've been working on other things, but it's actually just about ready to go after I make some performance optimizations. Should be really cool! This is what allows us to  have CI ensure the generator apps actually work!

[2015-11-17 08:54] robwise commented on #92
You can preview the branch here: https://github.com/shakacode/react_on_rails/tree/examples-folder

[2015-11-17 22:24] justin808 opened #105 "Back/Forward button does not work with TurboLinks"
This can be reproduced in the examples:

[code]

Click on any link to go to a second page. Click back button. Input box to type is missing. Hit forward button. Same issue.

We have 2 potential solutions:

* #102
* #104

Looking for opinions on which is preferable.

[2015-11-19 22:45] justin808 commented on #91
@robwise Can we close this issue? I see this as a doc only issue.

[2015-11-19 22:49] justin808 opened #106 "Support for React Router"
See discussion on #68 for what should change. See #69 for parts of this.

[2015-11-19 22:50] justin808 commented on #78
@robwise Can we close this one?

[2015-11-19 22:51] justin808 opened #107 "1.1.0 Release Place Holder"
Here's a list of the issues I'd like to see in 1.1.0:

## Must Haves
- [x] Turbolinks issues, #105
- [x] React Router support #106
- [x] Error and redirect handling #69

## Nice to Haves
- [ ] Bootstrap as an option #96

[2015-11-19 22:55] justin808 commented on #105
I spoke about this more with @alexfedoseev. I'm going to ensure that we have handlers for page changed and page unloaded. This is far preferable to the eval-always option and we suspect that this will enable react-router to "just work".

[code]

CC @ryanaip

[2015-11-19 23:00] robwise commented on #78
@justin808 negative, I fixed a different issue that was with the application.scss, not js. This issue will still occur. I can come up with a fix if you want.

1) We can allow passing an argument to specify a different file than application.js
2) We can simply create an application.js file if it is missing

The latter solution would not actually really fix @rupurt's problem, though, but it would at

[2015-11-19 23:04] robwise commented on #91
@justin808 It's up to you, I think I created this one a while back at your request. Right now the docs still say to manually include the `therubyracer` gem along with the `react_on_rails` gem in the Gemfile, and I'm still have the generator results script do that as well. If we want to remove that step, we should probably do some thorough testing and try to understand why it was put there in the f

[2015-11-19 23:06] justin808 commented on #91
I'd say check react-rails.

We have a peer dependency of execjs already in the gem.

I'm almost 100% sure that we should not be putting in the therubyracer for non pre-render generators (and doc'd as such).

[2015-11-19 23:09] robwise commented on #91
@justin808 roger that, I will look into it and take it out if possible

[2015-11-20 03:09] justin808 commented on #78
@robwise I vote for 2) with a warning as the user will see the diff and can take appropriate action.

[2015-11-20 17:09] robwise commented on #91
@justin808 while we're talking gem dependencies, we really should have foreman in there instead of just assuming people are going to have it.

[2015-11-20 18:30] justin808 commented on #91
Probably. Maybe a non-production dependency. There's differing thoughts on including foreman in the gemfile.

[2015-11-21 05:08] justin808 opened #109 "Help wanted with turbolinks capybara test"
Any volunteer for writing this test case:

1. Be sure turbolinks is running in spec/dummy app
2. Visit root url, then a child link. (one case with server rendered page, one without)
3. Hit back button. The react input fields disappear due to current turoblinks issue.
4. Hit forward button. The react input fields disappeared.

This issue relates to #105

[2015-11-21 20:37] justin808 commented on #99
This is not the right strategy of using `defer`. Closing this as it will be addressed when addressing #105.

![2015-11-21_10-37-03](https://cloud.githubusercontent.com/assets/1118459/11320423/cfe9721c-903b-11e5-97e7-08674c6b64ea.png)

[2015-11-21 20:37] #99 closed

[2015-11-23 11:24] justin808 commented on #105
About to release...https://github.com/shakacode/react_on_rails/pull/68

[2015-11-23 11:24] justin808 commented on #91
@robwise can we close this one?

[2015-11-23 23:41] #78 closed

[2015-11-24 06:23] robwise opened #114 "Server Bundle Caching Problem (Again)"
Justin and I noticed when pairing that the server bundle was not being reloaded when modified. He said he has noticed it at several other times as well. This was supposed to have been fixed, but apparently not.

[2015-11-24 06:24] robwise commented on #109
Added in https://github.com/shakacode/react_on_rails/commit/648b71c9e094e41f41b2980ea835469b04564b27

[2015-11-24 06:39] robwise commented on #91
Yes, fixed in https://github.com/shakacode/react_on_rails/commit/c21012af1536f7c5d2eaa0375221df5696f10ea4

[2015-11-24 06:39] #91 closed

[2015-11-24 06:42] szyablitsky commented on #114
I confirm this. I have to reload server to get rid of message about difference in server and client rendered component.

[2015-11-24 06:56] justin808 commented on #114
It's a very high priority to get this fixed, even if a short term fix is a blunt force always reload.

[2015-11-24 06:58] robwise commented on #114
@justin808 that's actually not a bad idea, that's what react-rails is doing. Then you just disable that behavior for production since the server bundle shouldn't be changing in production anyway.

[2015-11-25 04:13] szyablitsky opened #117 "Generator breaks jQuery plugins requires at application.js"
[code]
becomes
[code]

[2015-11-25 05:32] robwise commented on #117
Because we're importing jQuery from Webpack, we had programmed the generator to search for and delete the normal jquery sprocket require statements via gsub. I suspect the gsub regex is too loose and is picking up these even though it shouldn't.

However, and @justin808 can confirm this, I believe that if you want to use JavaScript libraries, it would be best practice to use their NPM versions by

[2015-11-25 08:35] justin808 commented on #117
@szyablitsky Any chance that you can propose a PR for this?

@robwise yes, your match is too aggressive, and it should comment out, not delete, existing

[2015-11-25 09:33] szyablitsky commented on #117
I will do the PR tomorrow.

[2015-11-25 15:08] marcellosachs commented on #117
I had a similar issue - my application.js file now contains the line 'ui.custom'

[2015-11-25 15:31] marcellosachs opened #120 "npm install with --save installs node_modules in root, not in ./client"
Not sure if this is an issue with this library or with one of it's dependencies.

[2015-11-25 15:50] marcellosachs opened #121 "Error: Cannot resolve module"
I received the message "Error: Cannot resolve module ___" for a number of modules, including -
jquery-ujs
immutable
imports
es5-shim/es5-shim
es5-shim/es5-sham

After going into the client directory, I ran
`npm install --save jquery-ujs`
and so on and so forth for each of the missing modules, which fixed it.
(Note: it was only after resolving the issue for some of the modules that the errors for t

[2015-11-25 15:59] alexfedoseev commented on #120
If you run `npm install --save some-module` in the root, `some-module` will be installed in root's `node_modules`. It's normal npm behaviour. So if you want to install some npm module — always run command in `client/` dir.

You can run `npm install` from the root only if you want to install all npm deps of the current project. See this line to understand what actually happens in this case: https:/

[2015-11-25 16:31] marcellosachs commented on #120
Ok gotcha. Thanks for the explanation!

[2015-11-25 16:31] #120 closed

[2015-11-26 00:06] justin808 commented on #121
@marcellosachs The generator can only do so much. You need to know how to add any other libraries and configure webpack on your own after the basic install.

Send me an email and I'll invite you to our slack group.

[2015-11-26 00:06] #121 closed

[2015-11-26 00:07] justin808 commented on #117
Thanks. Let's try to get this fix in the 1.1.0 release or shortly thereafter.

[2015-11-26 04:18] marcellosachs commented on #121
@justin808 ok cool, I'll have to take a closer look at webpack and npm.
Slack group would be great, I'll send an email - thanks!

[2015-11-26 07:23] szyablitsky commented on #117
@justin808 PR ready.

[2015-11-26 07:49] #117 closed

[2015-11-26 09:46] robwise commented on #114
Fixed in https://github.com/shakacode/react_on_rails/commit/976cd17b8d523ac87e44317fe0c069610bbc398a

[2015-11-26 09:46] #114 closed

[2015-11-26 09:47] robwise commented on #109
Too late, merged in https://github.com/shakacode/react_on_rails/pull/68

[2015-11-26 09:47] #109 closed

[2015-11-26 09:47] robwise commented on #106
Implemented in https://github.com/shakacode/react_on_rails/pull/68

[2015-11-26 09:47] #106 closed

[2015-11-26 09:49] robwise commented on #105
Implemented in https://github.com/shakacode/react_on_rails/issues/69

[2015-11-26 09:49] #105 closed

[2015-11-26 09:52] robwise commented on #69
Implemented in https://github.com/shakacode/react_on_rails/pull/68

[2015-11-26 09:52] #69 closed

[2015-11-26 09:54] robwise commented on #107
Implemented in https://github.com/shakacode/react_on_rails/commit/4d028bf59e937d1391a1269ef3abf3ada14cc116

[2015-11-26 09:54] #107 closed

[2015-11-26 10:33] szyablitsky opened #127 "Generator should not add server side bundle compliation instructions into assets.rake when server side rendering is not specified in generator params"

[2015-11-26 11:02] justin808 commented on #127
@szyablitsky @robwise This is basically correct that we might not have as server side bundle. But how would we know? Maybe we just change the generated rake task to check for the server webpack config file before trying to run it?

[2015-11-26 20:14] robwise commented on #127
@szyablitsky does this issue break the build in production?

[2015-11-27 05:00] szyablitsky commented on #127
Yes, it break the build. I had to comment `sh "cd client && npm run build:server"` in `assets.rake`

[2015-11-27 05:13] justin808 opened #128 "Create NPM module with the API (v2.0.0)"
I had a detailed discussion with @alexfedoseev.

ASAP, I'm going to do the following:

Introduce this API via a node module, react_on_rails:

[code]

This will work for both `serverGlobals.jsx` and `clientGlobals.jsx`.

We'll put the registered components on `ReactOnRails.components['componentName']` rather than polluting the global namespace.

- [x] Add api `ReactOnRails.register(componentName, c

[2015-11-27 10:20] justin808 commented on #128
https://github.com/shakacode/react_on_rails-generator-results-v1.0.3/pull/111/files#diff-3f5b3fdbb5756c6fb057f19689e92a1aR2

[2015-11-27 18:36] robwise commented on #127
Yeah in that case I'd consider this a bug and it needs to be fixed

[2015-11-28 18:16] robwise opened #130 "Update generated package.json dependencies"
The generator still uses outdated node dependencies

[2015-11-28 18:49] robwise commented on #130
I'm hitting this in my examples-folder branch

[2015-11-29 12:57] esshka opened #131 "Encountered error: "ReferenceError: ReactOnRails is not defined""
Encountered error: "ReferenceError: ReactOnRails is not defined"
when prerendering HelloWorldApp with props: {"name":"Stranger"}
js_code was:
(function() {
  var props = {"name":"Stranger"};
  return ReactOnRails.serverRenderReactComponent({
    componentName: 'HelloWorldApp',
    domId: 'HelloWorldApp-react-component-0',
    props: props,
    trace: true,
    generatorFunction: false,
    locatio

[2015-11-29 16:02] #131 closed

[2015-11-30 00:11] justin808 opened #133 "Unnecessary gem if not server rendering"
- [x] [Unnecessary gem if not server rendering](https://github.com/shakacode/react_on_rails-generator-results/pull/123/files#diff-8b7db4d5cc4b8f6dc8feb7030baa2478R51). Let's not add the rubyracer to the Gemfile if not server rendering.
- [x] [generator_function should be true for redux](https://github.com/shakacode/react_on_rails-generator-results/pull/123/files#diff-bd7f583b97e102c11bc35a2c837b9f

[2015-11-30 01:03] justin808 commented on #128
@alexfedoseev, @jbhatab, @robwise, anybody: Please review this list. What do you think about allowing the specification of the generator_function in the JS code:

- [ ] Add api `ReactOnRails.register(componentName, component, generator_function = false)`. We can set the fact a component is really a generator_function with the 3rd argument.

[2015-11-30 01:27] justin808 commented on #133
@yorzi @robwise These should go in the next release. @yorzi want to try to fix some of these?

[2015-11-30 01:31] yorzi commented on #133
@justin808 OK, let me work on this.

[2015-11-30 01:52] justin808 commented on #133
Thanks @yorzi!

[2015-11-30 03:59] robwise commented on #128
@justin808

- If we convert the gem's JS code to use Babel we should create some sort of buildtask for compiling it and ensure it is part of the deploy script. Maybe that's obvious.
- One option besides requiring the user to explicitly call `ReactOnRails.register()` is to simply override the `React.createClass` function with our own that first calls the original implementation and then registers t

[2015-11-30 04:13] justin808 commented on #128
@robwise I'm not following the second comment.

Maybe passing an object is better, as the params are explicit:

[code]

[2015-11-30 05:10] justin808 opened #134 "We're not generating the right server react config and need to display helpful warning message if ReactDom not included in the bundle."
The bug is that you cannot simply include this to expose a global. You need to make these entry points.

[code]

### This is correct
See: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/webpack.server.rails.config.js#L12

[code]

### bug
It's a bug that it's not here: https://github.com/shakacode/react_on_rails-generator-results/blob/basic-server-rendering-1_1_1/client

[2015-11-30 05:10] justin808 commented on #134
@jbhatab Can you coordinate a fix for this? @yorzi might be able to help.

[2015-11-30 09:42] justin808 commented on #128
@yorzi, I could pair with you on this one as well.

[2015-11-30 11:30] yorzi commented on #128
@justin808 I need to understand this issue first.

[2015-11-30 11:46] yorzi commented on #134
@justin808 @jbhatab how to check React version in `webpack.server.rails.config.js` I want to do something like [this](https://github.com/yorzi/react_on_rails/blob/fix-server-react-config-when-on-react-0-dot-13/lib/generators/react_on_rails/templates/base/server_rendering/client/webpack.server.rails.config.js#L9) . and I also did [this](https://github.com/yorzi/react_on_rails/blob/fix-server-react-

[2015-11-30 14:27] rstudner commented on #128
@robwise - while overriding React.createClass would be rather elegant/seamless, it just has that "what could happen someday" scariness to it (or when things go "all es6" etc etc)

[2015-11-30 18:55] justin808 commented on #134
Something like `React.version`.

[2015-11-30 18:57] justin808 commented on #134
@yorzi Nice changes. We might want a file in the docs folder called `webpack.md`. And we can have a header `Entry Points and Globally Exposing Objects`. Then we can put that URL in the code. I love warnings that point me to a help page.

[2015-11-30 20:42] justin808 commented on #128
@yorzi If you're interested, we can ScreenHero and/or Skype and explain what needs to get done. This job is so much fun that I want to do it, but I'd be happy to share!

[2015-12-01 00:13] robwise commented on #128
@justin808 I was saying you can essentially override React's `createClass` method to do what it does normally, but then also register the component automatically.

[2015-12-01 00:40] robwise commented on #133
@yorzi has now fixed the first two in https://github.com/shakacode/react_on_rails/pull/135

[2015-12-01 00:40] #133 closed

[2015-12-01 01:00] justin808 commented on #128
@robwise We don't ever override createClass. We have 2 ways to create a react component (ES6 extend React.Component and React.createClass for ES5), and we offer the ability for the developer to provide a "generator function" which takes props and returns an React.Component (using ES6 or ES5 syntax).

We had to add the generator_function option because we cannot reliably determine a user function f

[2015-12-01 01:06] robwise commented on #128
@justin808 I know we don't, I was suggesting we do

[2015-12-01 05:51] justin808 commented on #128
@robwise and I discussed this. We'll go with my original plan.

[2015-12-01 06:09] yorzi commented on #128
@justin808 I am not familiar with NPM eco-system, not sure if I can work this out. But I am still interested in learning these things, that'd be great if someone with better experience can guide me to start and work tegother with me on this.

[2015-12-01 17:13] rupurt commented on #71
@justin808 Yahoo recommends [loading scripts](https://developer.yahoo.com/performance/rules.html#js_bottom) at the bottom of the page to avoid blocking parallel downloads.

[2015-12-01 22:04] robwise commented on #128
@yorzi @justin808 yeah I think Justin has some specific things in mind so that it would be necessary to screen share with him to understand what he's doing, but especially if you aren't as familiar with NPM, I would take him up on his offer if you have the time I'm sure you would learn a lot!

[2015-12-01 22:09] robwise opened #138 "Generator Warning Messages"
Currently the generator warning messages happen at the beginning of the output when running the generator and then quickly get pushed off screen by the noise the generator creates from making all of the files and such. We should probably move them to the end or something.

[2015-12-02 00:13] robwise commented on #37
@justin808 is this still relevant or can we close?

[2015-12-02 01:12] yorzi commented on #128
@robwise I've talked with @justin808 on this ticket, I am interested in learning related things. I have started to look things around, if you can help or give me advices when I encounter problems, that'd be super great.

[2015-12-02 01:42] robwise commented on #128
@yorzi one of the nice-to-haves would be automatically detecting whether a given argument is a generator function versus a component so that the user doesn't have to worry about it. I think I figured out a way to tell them apart, although it's very ghetto and un-elegant.

http://codepen.io/robwise/pen/wMwzGo?editors=001

[2015-12-02 03:39] justin808 commented on #71
@rupurt we did a little research and concluded that the Yahoo advice is no longer worthwhile due to typical caching of the bundled JS file as well as the use of turbolinks. That being said, if you can create a simple demo of a performance gain, we'd be very happy to change the way we're organizing the JS code.

[2015-12-02 03:59] justin808 commented on #71
@rupurt Please look at this: http://forum.shakacode.com/t/should-rails-apps-use-defer-when-loading-application-js/404/3?u=justin

[2015-12-02 07:06] yorzi opened #140 "running generator overwrites application.js incorrectly."
In my existing application.js, I have something like `//= require_tree ./lh/utility/`, when running generator, it seems all `//= require_tree .` will be removed and messy up all my existing required js, which should not be the original purpose.

[2015-12-02 07:09] justin808 commented on #140
@yorzi I totally agree! thanks for finding this. We should

1. ONLY comment out, not remove any lines that we need to remove.
2. not touch require_tree for below the top level, as your example suggests.

[2015-12-02 07:11] yorzi commented on #140
@justin808 I will fix this later.

[2015-12-02 13:15] pdawczak opened #141 "Peer dependencies issue on fresh installation"
This is clean installation (both rails and npm modules).

Following the steps from Getting Started section, it fails at `npm install` with:

[code]

This gem looks very promising (comparing to react_rails) and I'd love to check it out!
Any help is highly appreciated!

[2015-12-02 18:31] aaronvb commented on #138
@robwise I did some poking around last night and was able to get the InstallGenerator warning messages to output at the end by adding an error attribute to the InstallGenerator class. However, I'm still thinking of a way to get it to work with the rest of the generators.

The problem I see with the Generator classes is that they output top to bottom, and in the order we invoke them in the InstallG

[2015-12-02 19:19] robwise commented on #141
@pdawczak can you try using node version 5.0.0? You may need to delete your node_modules folder to start from a clean slate when doing this.

[2015-12-02 19:46] pdawczak commented on #141
Hi @robwise, using node v5.0.0, and removing `node_modules` did the trick. Thanks for quick response!

[2015-12-02 19:46] #141 closed

[2015-12-03 02:53] robwise commented on #138
@aaronvb Yeah I was thinking about this problem too, certainly a monkey-patch option would be to make some sort of class in the `task_helper.rb` file and just add any error messages to an array that the `InstallGenerator` prints out at the very end.

[2015-12-04 01:45] yorzi opened #145 "`npm test` breaks my existing project's pass on CircleCI."
After I initialize my client folder via generator, and I configure circle.yml for correct node version (v5.0.0). Then my CircleCI always gets failed. I think it's because CircleCI will run `npm test` if there is a test script configured in package.json (we do have that by default).

I also tried to run `npm test` locally, it throws errors as below:

[code]

Anyone can help to explain why this happ

[2015-12-04 01:56] justin808 commented on #145
@yorzi can you please compare your setup to https://github.com/shakacode/react-webpack-rails-tutorial/ and report back? we have tests there. We have not yet configured the generator to create any tests.

[2015-12-04 06:44] justin808 commented on #138
How about if we keep some variable to to keep an array of string messages to print at the end?

[2015-12-04 07:17] #37 closed

[2015-12-04 07:20] justin808 commented on #145
@yorzi Maybe this issue can be an enhancement that we address when we add some simple tests, like this:

https://github.com/shakacode/react-webpack-rails-tutorial/tree/master/client/test

If you want to add that generator option (default on), that would be great!

[2015-12-04 07:22] #130 closed

[2015-12-04 07:24] #140 closed

[2015-12-04 07:33] #134 closed

[2015-12-04 07:34] justin808 commented on #127
@yorzi did any of your recent changes address this one?

[2015-12-04 18:36] aaronvb commented on #138
@justin808 @robwise That's what I was thinking also. Will post an update soon.

[2015-12-04 22:27] justin808 commented on #128
@rstudner This might have some issues for your old code and migration. Feel free to comment. I think we'll probably make it backwards compat in that we'll support the old API and present warning messages.

[2015-12-05 04:53] jerelmiller opened #146 "CSS Modules with server rendering"
I'm trying to implement server rendering with css modules. All I end up with is an ``Uncaught ReferenceError: window is not defined`` error.

I'm not sure if this is even possible yet. I haven't been able to find a great solution. Any examples/ideas/solutions of how this might work?

[2015-12-05 05:40] justin808 commented on #146
Woo hoo! @jerelmiller you're a step ahead of @alexfedoseev and me! We're just about to put in css modules with reloading within Rails, and it looks like we need to fix this one as well! If you like, I'll invite you to our Slack room!

BTW, where is the reference to window coming from?

[2015-12-05 05:41] justin808 commented on #127
@szyablitsky @yorzi I'm guessing this is still an issue. @rstudner want to take a crack at it? Any volunteers?

[2015-12-05 05:50] jerelmiller commented on #146
@justin808 that would be great! I have a slightly different setup than what the generator is using. I'm using ``webpack-hot-middleware`` in my node server to serve the assets, but most everything else is similar to the setup. Anyways, here is the important part of the stack trace (apologies for the length).

In rails view (``pages/index.html`` in the stack trace below)
[code]

[code]

[2015-12-05 06:29] justin808 commented on #146
@jerelmiller I'm guessing that the server webpack needs to be different than client one. @alexfedoseev I be are about to hit this as well.

[2015-12-05 06:31] jerelmiller commented on #146
@justin808 Ya it must be. I am using the `extract-text-webpack-plugin` in my client config which is the only difference from what you see above. I'll keep trying a few things. A lot of this server rendering stuff is new to me so its making my head spin a little bit.

Hopefully you can make better progress than I can! I didn't realize it would be as tough as it has been. Its not quite as straightfo

[2015-12-05 06:35] jerelmiller commented on #146
@justin808 also wanted to say thank you for all the hard work you guys have put into this. This takes a lot of pain out of setup with the rails world, especially when it comes to server rendering. Great to see this project thriving! Excited to see where it goes!

[2015-12-05 09:18] alexfedoseev commented on #146
@jerelmiller @justin808

Actually I already hit it on node server. The key thing is this: you need to provide different loaders for the client and the server.

[code]

This way webpack won't be importing anything from css file except JS object with classNames.

But I haven't tried it with this gem in Rails environment.

[2015-12-05 09:37] jerelmiller commented on #146
@alexfedoseev no luck with that either. It looked promising, but I'm still getting that `ReferenceError: window is not defined` error.

[2015-12-05 09:39] alexfedoseev commented on #146
@jerelmiller I'll take a look at it, hope this weekend.

[2015-12-05 09:40] jerelmiller commented on #146
@alexfedoseev Sounds great. Hopefully you have better luck than I have

[2015-12-05 13:52] yorzi commented on #127
@justin808 recent changes didn't cover this one.

[2015-12-05 23:20] jerelmiller commented on #146
@alexfedoseev @justin808 I talked to someone over on the React discord channel and gave me a suggestion that allowed me to get server rendering working properly with CSS modules. The issue was that I was using the `style` loader on the server config. Here is the server loader that I was able to get working

[code]

[2015-12-05 23:26] alexfedoseev commented on #146
Right, I missed it in this snippet. Here is my full working loaders config for node:

[code]

[2015-12-05 23:31] jerelmiller commented on #146
Right on. Thank you so much!

[2015-12-06 11:37] yorzi commented on #145
@justin808 to avoid possible generator/testing conflicts, I will do this once we merge `bootstrap option` into master. Maybe it's better to add simple js-test scaffold by default by generator, and we allow to use `--skip-js-test` as an option to ignore js-test. sounds good? cc: @robwise

[2015-12-06 21:39] justin808 commented on #145
I agree...Let's get bootstrap part done first. Maybe today.

[2015-12-07 06:44] justin808 opened #149 "react_on_rails 1.2.0.rc1"
I will probably defer #128 to 1.3. It makes sense for us to ship the many great PRs recently merged.

* @yorzi Can you help us create a changelog? That's a requirement for the final 1.2.0: http://keepachangelog.com/
* @rstudner, @aaronvb Can you please help us with a quick test of 1.2.0.rc1.
* @dylangrafmyre When I bundle, I get messages of some gems duplicated in the Gemfile as well as the gemspe

[2015-12-07 13:08] #96 closed

[2015-12-07 13:09] #127 closed

[2015-12-07 14:42] mli-max opened #153 "Babel 6 support"
Hello  guys, I like your amazing gem. It's incredible better than react-rails

I have tried to use it for my test project.
Do you plan to upgrade babel up to 6? I've tried manually and failed with presets.
`HelloWorldApp failed in compilation in
[code]
I added `react`, `es2015` and even `stage-0` presets.

[2015-12-07 15:34] alexfedoseev commented on #153
Babel 6 has a lot of issues, check out their tracker: https://phabricator.babeljs.io/maniphest/ This can be one of them.

Also with babel 6 we are loosing hot reloading, so update will happen only after [this PR](https://github.com/gaearon/babel-plugin-react-transform/pull/50) will be released. A lot of folks are waiting for this including us.

[2015-12-07 15:34] #153 closed

[2015-12-08 19:51] justin808 opened #154 "Drop support for React 0.13"
We're considering dropping support for React 0.13 for react_on_rails v2.0.0.

Please comment here if it doesn't look like you plan to upgrade React within 3 months and you use react_on_rails.

I'd say that if we don't receive any compelling reasons to continue to support 0.13, then we move, as there's a bunch of code complexity from supporting both.

## Other projects that require 0.14
* https://g

[2015-12-09 01:23] smargh opened #155 "jspm support possible?"
I and my team are starting a new project where we are going to use React for the view layer within a Rails app. I can see the clear advantages of this gem compared to `react-rails`; however, I have heard really good things about `jspm`, especially with respect to developers who don't really have much front-end development. Would this gem, or even this general setup, work with `jspm`?

[2015-12-09 02:47] justin808 commented on #155
Hmmm...

I'm not sure how that plays into the decision.

We're about to release hot reloading of your JS and CSS within your rails app and support for CSS modules. I think that's enough goodness to tilt the balance heavily in favor of Webpack for today.

If you'd like to submit a PR using JSPM, that could work. But what problem does it solve that we have not already solved with Webpack?

@smargh,

[2015-12-09 18:53] andriytyurnikov opened #156 "Wrong dependencies?"
npm ERR! peerinvalid The package webpack@1.12.2 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer babel-loader@5.3.2 wants webpack@*
npm ERR! peerinvalid Peer sass-loader@3.1.2 wants webpack@^1.12.6
npm ERR! peerinvalid Peer webpack-dev-server@1.14.0 wants webpack@>=1.3.0 <3

[2015-12-09 19:55] justin808 commented on #156
@andriytyurnikov Please try the following:

1. remove npm-shrinkwrap.json and node_modules under the /client directory
2. be sure you're you're on node > 5 and npm > 3
3. run npm install and npm shrinkwrap
4. If that doesn't work, then you should try upgrading or downgrading libraries by running `npm install --save some-lib@some-ver` or running the instructions that update all libraries.

Obviousl

[2015-12-09 19:55] #156 closed

[2015-12-09 19:55] justin808 commented on #156
@andriytyurnikov We've got a slack channel as well. Email me for more info.

[2015-12-09 22:08] andriytyurnikov commented on #156
@justin808 , hello_world works from master branch even from LTS node 4.2.2.

Latest release works from node 5 (after running `npm install` manually)

Looks like old npm fails to resolve peer dependencies.

Guys it is not that I am not thankful, or something, but when release of my software doesn't work -- I prefer to know that, so I've opened this issue ;)

[2015-12-09 22:20] justin808 commented on #156
OK -- So the issue is that you need to have the latest npm installed.

BTW, can you please try: https://rubygems.org/gems/react_on_rails/versions/1.2.0.rc1

We're about to ship this and if there is any issue, we can try to include it.

[2015-12-09 22:21] justin808 commented on #155
Closing the issue for now. Please re-open if you feel this is compelling.

[2015-12-09 22:21] #155 closed

[2015-12-09 22:23] justin808 commented on #154
Latest thinking is that with the change to npm for the JS part of ReactOnRails, we'll update the version number to 2.x and remove support for react 0.13.

[2015-12-09 22:23] justin808 commented on #146
We're going to update the generators for this for v2.0, coming soon!

[2015-12-09 22:24] justin808 commented on #145
@yorzi @robwise Can we close this issue?

[2015-12-09 22:24] justin808 commented on #138
@aaronvb Any update on this issue? Thanks so much for your help!

[2015-12-09 22:28] justin808 commented on #128
@yorzi I spoke with @alexfedoseev about a few things:

- [ ] We're going to **ONLY** expose ReactOnRails globally for visibility from execJS and the view helper. Requiring our npm package will install this globally, so no need for Webpack config.
- [ ] We can remove the global expose of React, ReactDom, and ReactDom/Server, as we'll make those internal to ReactOnRails.

So we're totally cleaning u

[2015-12-09 22:39] andriytyurnikov commented on #156
@justin808 little hint here, looks like one actualy can explicitly define required node version in package.json via
[code]

As about 1.2.0.rc1 -- it worked well for node 4+ and npm 2+ (node LTS), except I had to run `npm install` manually (you may want to add it into procfile line, or something  :)

[2015-12-09 23:00] justin808 commented on #156
@andriytyurnikov We're moving ReactOnRails to npm for v2.0. @yorzi, let's make sure we specify a min node version.

[2015-12-09 23:24] jerelmiller commented on #146
Awesome! Can't wait to see it! Thanks for the update.

[2015-12-10 00:34] justin808 commented on #146
@jerelmiller Once we get just a little further, we'd be so grateful for help with trying out a RC version, and possibly doc help, or really just about anything. @alexfedoseev and I are slammed with our client work plus our product work: http://www.shakacode.com/2015/09/17/who-is-shaka-code.html.

[2015-12-10 02:53] smargh commented on #155
No, your point is well-made. I'm totally willing to jump whole-hog into Webpack. I was asking more so out of a desire to understand the salient differences that made Webpack the module loader of choice for this project.

[2015-12-10 05:29] justin808 commented on #155
The best way to learn is to build a simple sample project, push to github, and ask for feedback.

We LOVE getting community contributions, even as simple as any typo in the docs, to full features!

[2015-12-10 12:56] robwise commented on #145
I say just automatically return a 0 exit code and then put a comment next to it saying that no tests have been implemented yet if this really is an issue.

[2015-12-10 13:58] rstudner opened #157 "How to deal with rubygems that "pull in" jquery-rails & jquery-ui-rails"
This isn't an "issue" for react_on_rails per se (hey, this gem looks to the future!) but I wanted to see if anyone had some thoughts/mindshare on an integration problem.

Some rubygems, like Active Admin, depend on jquery-rails and jquery-ui-rails.  Thus, including them in a project can "force" jquery to be pulled in.  This of course is counter to the design philosophy of react_on_rails.

Is there

[2015-12-10 20:50] justin808 commented on #157
@rstudner Why would it matter if those gems like jquery and jquery-ui are pulled in? What matters is what you expose in terms of JS files on your layouts. So if Active Admin pulls the world in and take control of the layout, that should be fine. Just don't include your bundle.

Webpack also lets you bundle as you please, and you can easily specify jQuery as an external, etc.

[2015-12-10 20:50] #157 closed

[2015-12-12 22:31] justin808 opened #159 "Help with --help option for react_on_rails"
See below for an example of what `rails generate model --help` does. Missing for react_on_rails:

- [x] Defaults for options (default is for the flag to be off, so default of `-b` means that `skip-bootstrap` is off. Default for `-R` is that `redux` is off.
- [x] Detailed description. At least specify the URL of more docs.

[code]

This is an example of what we should strive for:

[code]

[2015-12-13 04:10] justin808 opened #160 "Add generator support for CSS modules (current generator uses old way)"
Based on this PR:

https://github.com/shakacode/react-webpack-rails-tutorial/pull/175

We'll stop supporting the old way for the generator *probably*.

[2015-12-13 04:11] #149 closed

[2015-12-13 08:03] yorzi commented on #159
@justin808 below description is a bit confusing:
- Defaults for options (default is for the flag to be off, so default of -b means that skip-bootstrap is off. Default for -R is that redux is **off**.

should it be ?:
- Defaults for options (default is for the flag to be off, so default of -b means that skip-bootstrap is off. Default for -R is that redux is **on**.

[2015-12-13 11:59] yorzi commented on #145
This is not a problem anymore.

[2015-12-13 11:59] #145 closed

[2015-12-14 23:41] anjolovic opened #162 "Module not found: Error: Cannot resolve module 'lodash'"
The `lodash` is not installed at the time of running Rails generate command.

[2015-12-15 02:14] justin808 commented on #162
@anjolovic This should be easy to add. Thanks for the report.

@yorzi I just confirmed this is an issue. If you can throw in a quick fix, that would be greatly appreciated.

https://github.com/shakacode/react_on_rails-generator-results/pull/144/files#diff-52dbbf94d5c54b68c0cad0702ba94a96R38

[2015-12-15 02:14] justin808 commented on #162
I'm setting the milestone as 2.0, as there's an easy workaround:

[code]
Then rebuild the shrinkwrap.

[2015-12-15 04:21] yorzi commented on #162
@justin808 why do you point out `"babel-core": "^5.8.25"` above? I checked master, `lodash` is only added to package.json when `redux` was enabled.

[2015-12-15 04:21] justin808 commented on #162
@yorzi Just indicating that we're missing lodash from this spot.

[2015-12-16 22:14] justin808 opened #164 "Generators do not run in Rails 3.2"
@flynfish reported:

I'm running 3.2 and trying to run the generators it fails because of the `hide!` method:

[code]

A work around would be to copy/paste from these examples: https://github.com/shakacode/react_on_rails-generator-results

The runtime support for 3.2 is more important than the generator.

[2015-12-17 02:18] justin808 commented on #16
@jbhatab @alexfedoseev Once we put in the NPM library, I'll try to merge in the code from the: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/app/libs/metaTagsManager.js

[2015-12-17 10:24] robwise commented on #16
@justin808 @alexfedoseev @jbhatab I'm using isomorphic fetch on a project along with this function:

[code]

Regardless though, I vote we do not put this in the npm module for the same reason that Alex chose not to use Axios's implementation. Some people may not even be doing sessions this way.

[2015-12-17 17:48] flynfish commented on #164
PR #165 submitted

[2015-12-18 02:01] flynfish opened #166 "confused about hot reload"
Thanks for the gem! I ran the generators and when I start the server via `foreman start -f Procfile.dev` everything loads correctly and I can access localhost:3000/hello_world

However, if I make any code changes, they aren't picked up unless I restart the foreman process.

The docs say to visit localhost:4000 for hot reloading, but nothing responds there.

Am I missing something obvious?

[2015-12-18 02:11] justin808 commented on #166
Hot reloading for react_on_rails only works with running the webpack dev server on port 4000.

We've updated the tutorial to make this work with rails, by loading assets from port 3500 (rails on port 3000).

Please see https://github.com/shakacode/react-webpack-rails-tutorial/ for how to do that.

You can see this live here: http://www.reactrails.com.

We'll eventually be updating the generators t

[2015-12-18 02:12] justin808 commented on #166
This is the code that runs the webpack dev server:

[code]

https://github.com/shakacode/react_on_rails-generator-results/pull/144/files#diff-10ea5ef17ff7f2e9af7f71be3e682738R2

[2015-12-18 02:12] #166 closed

[2015-12-19 09:06] astrauka opened #167 "Display server side rendered text when javascript disabled"
I took the example app https://github.com/shakacode/react-webpack-rails-tutorial

Updated https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/app/views/pages/simple.html.erb#L12 to
[code]

Turned off javascript support in browser and loading the page got the error:
![image](https://cloud.githubusercontent.com/assets/1308928/11912321/fe91d482-a63f-11e5-82c5-8107d5e11add.png)

Rail

[2015-12-19 19:22] justin808 commented on #167
There's a lot more to server rendering than just changing an option to false.

Take a look at this: https://github.com/shakacode/react_on_rails-generator-results/pull/151/files

You go to http://www.reactrails.com/ and turn off JS, and it works fine.

@astrauka You do bring up a *GREAT* point. We should enable that page to work with server rendering!

If you make a PR on this one, that's the best

[2015-12-21 20:11] lucke84 opened #168 "Deployment in production: more documentation!"
Maybe it's just me, but I think there should be some doc about the usage of this gem in production-like (AKA non-development) environments, including best practices for deployment and maintenance. I understand this gem is quite young but it's a pretty good one and should appear a solid option to newcomers.

[2015-12-21 20:58] justin808 commented on #168
@lucke84 What sort of extra documentation would be required?

We've only got experience deploying to heroku. You can see a full example here: https://github.com/shakacode/react-webpack-rails-tutorial.

Email me if you'd like an invite to our Slack room.

[2015-12-21 20:59] #167 closed

[2015-12-22 02:17] justin808 opened #169 "Update generators for proper jquery config"
Simple change to the generators: we don't need jquery-ujs for the webpack dev server.

This issue brought this to light: https://github.com/shakacode/react-webpack-rails-tutorial/issues/185

@yorzi This should be a really simple change to make. Ping me if you need help.

[2015-12-22 06:49] thewoolleyman opened #170 "Production env broken under sprockets-rails >= 3 (Rails 5)"
(Similar to issue as https://github.com/rails/sprockets-rails/issues/237)

I'm running Rails 5 beta, and found this issue.

When running in Rails production env with `config.assets.compile = false`, the `react_component` call in a view blows up.  The root cause is because the following line blows up due to `Rails.application.assets` being nil:

https://github.com/shakacode/react_on_rails/blob/009d

[2015-12-22 07:04] justin808 commented on #170
@thewoolleyman Any chance that you'd like to submit a PR? or maybe branch on the https://github.com/shakacode/react-webpack-rails-tutorial/ showing this can work with Rails 5?

[2015-12-22 07:29] thewoolleyman commented on #170
@justin808 I can try, if I can figure out what the fix would be.  This seems to be a common problem, but I haven't researched what the fix is.  I'm assuming somehow https://github.com/shakacode/react_on_rails/blob/009db0d910c8fef27cd1319f30d5f8f0b7127461/app/assets/javascripts/react_on_rails.js has to get compiled in to the bundle - any ideas how to approach that?

[2015-12-22 07:33] thewoolleyman commented on #170
@justin808 You can see on the issue https://github.com/rails/sprockets-rails/issues/237 that several other issues reference it because several other libs have this problem.  However, I can't see that any of them have fixed it in a way that would apply to react_on_rails (or at all, most of the issues still open as of now).

[2015-12-22 07:51] justin808 commented on #170
@thewoolleyman within a few weeks, I'll be switching the JS assets over to NPM, so everything will be in the webpack bundle. So maybe don't worry about this one for a few weeks, if the only issue is getting react_on_rails.js in the bundle.

[2015-12-22 07:53] justin808 commented on #170
Here's the code @thewoolleyman referenced. Yes, `#{::Rails.application.assets['react_on_rails.js']};` will already be in the `server_js_file` so no worries with that one.

@thewoolleyman How about skipping the server rendering? Any other issues?

[code]

[2015-12-22 09:21] thewoolleyman commented on #170
@justin808 Not sure what you mean by "How about skipping the server rendering? Any other issues?"

But, if you mean that there's no need to append the `react_on_rails.js` in this case, then is the fix as easy as just not executing that line if `config.assets.compile = false`?

[2015-12-22 09:31] justin808 commented on #170
If the only problem you had was the line you referenced https://github.com/shakacode/react_on_rails/blob/009db0d910c8fef27cd1319f30d5f8f0b7127461/app/assets/javascripts/react_on_rails.js, then we only have a problem with server rendering.

I'm not sure how the config.assets.compile comes into play.

[2015-12-22 12:51] thewoolleyman commented on #170
I guess it is only with server rendering, but that's still a problem.

`config.assets.compile` matters, because when (and only when) it is set to false in the Rails config, that causes the error, because `Rails.application.assets` will be nil in the following line: https://github.com/shakacode/react_on_rails/blob/009db0d/lib/react_on_rails/server_rendering_pool.rb#L79

So, I'm proposing that the f

[2015-12-22 18:44] justin808 commented on #170
@thewoolleyman That will be true with v2.0 of react_on_rails. It would be nice to fix this on ASAP on the current version. Basically, if we can't call this:

[code]

What's the alternative in Rails 5 to get the contents of react_on_rails.js? There's probably some path we can code in.

[2015-12-23 08:34] lucke84 commented on #168
Well, I think it's limiting the scope of the project to assume everybody will use Heroku. For instance, my team works with machines on AWS or Linode and it'd be nice to see some instructions/gotchas for that kind of environment(s) too. Maybe there's no big difference in the process, in that case it'd be nice to see it documented as well.

[2015-12-23 08:35] justin808 commented on #168
@lucke84 we have a /docs folder. I'd be happy to take a PR.

[2015-12-23 08:36] #168 closed

[2015-12-23 20:20] justin808 commented on #170
@thewoolleyman I will try to do a release later today, so if you have a good workaround for this issue, please let me know.

[2015-12-24 10:04] thewoolleyman commented on #170
@justin808 Sorry, I don't really understand it enough to provide a fix.  My app is still not close to production, and for now I'm just setting `config.assets.compile = true` in my Rails production.rb env to avoid the error.  This obviously isn't a long-term solution for a real prod environment, but good enough for me for now, and I'll become more concerned about this once I start running on a serv

[2015-12-25 18:59] martyphee commented on #170
I'm having the same issue with Rails 4.

[2015-12-25 22:28] justin808 commented on #170
I'm going to be working on 2.0, which is the NPM conversion. When that happens, we won't need the JS asset and this issue will go away. In the meantime, if @martyphee has a PR, that would be **AWESOME**

[2015-12-26 19:43] justin808 commented on #169
I did make this PR: https://github.com/shakacode/react-webpack-rails-tutorial/pull/163. The Webpack Dev Server didn't need jquery-ujs.

[2015-12-27 02:11] yorzi commented on #169
@justin808 ok, what do you mean by "The Webpack Dev Server didn't need jquery-ujs" in this issue?

[2015-12-27 02:20] yorzi commented on #169
@justin808 I am supposed to see `jquery-ujs` in `/templates/base/base/client/webpack.client.hot.config.js.tt` right? I don't understand this issue now.

[2015-12-27 02:36] #159 closed

[2015-12-27 04:33] justin808 commented on #169
You should not. the hot.config is for the webpack dev server, serving a "jade" template file (no rails). jquery-ujs is rails specific, so it only goes in the rails webpack configs.

[2015-12-27 08:44] justin808 commented on #128
@alexfedoseev Please review: #148

 `register` or `registerComponent`?

[code]

or

[code]

[2015-12-28 20:31] martyphee commented on #170
@justin808 This PR should fix it. https://github.com/shakacode/react_on_rails/pull/172

[2015-12-29 15:58] TangRufus opened #173 "Feature request: No inline style option for ReactOnRailsHelper#react_component"
Feature request:
Add a **no inline style** option to `ReactOnRailsHelper#react_component` to skip `style: "display:none"`

Reason:
Eliminate the needs of `unsafe-line` for [Content Security Policy](https://en.wikipedia.org/wiki/Content_Security_Policy)

Related file:
https://github.com/shakacode/react_on_rails/blob/a9b7d47d0829a0b6ec6c28bfbbbb589a4149296f/app/helpers/react_on_rails_helper.rb#L62

[2015-12-29 19:28] justin808 commented on #173
Why are display:none lines unsafe?

@TangRufus Would you like to create a PR for this? The option could be "skip_display_none", with a default of false.

I'd like to get some community feedback on the option name. Do we need a CSS style for "js-react-on-rails-component" for "display:none"?

![2015-12-29_11-26-16](https://cloud.githubusercontent.com/assets/1118459/12040587/2d266484-ae1f-11e5-9585-1

[2015-12-29 21:34] TangRufus commented on #173
`display:none` lines are safe.

However, if `style-src: 'unsafe-inline'` in content security policy headers, browsers would execute all inline styles from any source. Somebody could hijack the web page.

PR created. Thanks!

[2016-01-01 10:01] robwise opened #177 "Remove use of underscore-prefixed methods in generators"

[2016-01-01 10:58] robwise commented on #162
Fixed in #175

[2016-01-01 10:58] #162 closed

[2016-01-01 11:00] robwise commented on #154
React 0.13 dropped in 2.0.0-beta.1

[2016-01-01 11:00] #154 closed

[2016-01-01 11:00] robwise commented on #92
Closing for now

[2016-01-01 11:00] #92 closed

[2016-01-02 08:48] #169 closed

[2016-01-03 02:02] justin808 commented on #18
We've got this working on https://github.com/shakacode/react-webpack-rails-tutorial/.

We may or may not want to support this for the generators.

[2016-01-03 02:03] justin808 commented on #138
@aaronvb @robwise Is this ready to go?

[2016-01-03 02:04] #26 closed

[2016-01-03 02:05] aaronvb commented on #138
@justin808 @robwise I'm making the changes rob suggested right now. Will be pushing it soon.

[2016-01-03 08:58] robwise opened #179 "Upgrade bootstrap-sass-loader dependency in generators"
`npm WARN deprecated bootstrap-sass-loader@1.0.10: Replaced by bootstrap-loader. Please upgrade.`

[2016-01-03 10:12] robwise commented on #18
@justin808 I think it would be **awesome** to have this in the generators!

[2016-01-03 19:55] justin808 commented on #18
@robwise We need to find some community help on that. Maybe @yorzi or @aaronvb ?

[2016-01-03 19:58] justin808 commented on #179
Yep! we need to update. We can do this post 2.0.

[2016-01-03 21:19] TangRufus opened #180 "How to pass Rails constants/variables to client side?"
I want to put a `img` tag on the client side. Something like this:
[code]

How can I pass [sass-rails](https://github.com/rails/sass-rails) gem's [asset-url](https://github.com/rails/sass-rails#asset-urlrelative-asset-path) to the client side?

In other words, how can I pass Rails constants/variables to the client side?

[2016-01-04 00:37] justin808 commented on #180
@TangRufus You have 3 options:

1. Use CSS background images.
2. Pass the URL as a prop.
3. Follow this example of using CSS modules: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fapp%2Fbundles%2Fcomments%2Fcomponents%2FCommentScreen%2FCommentScreen.scss

[2016-01-04 00:37] #180 closed

[2016-01-04 15:13] davemo opened #181 "Unprotected Comment Demo on http://www.reactrails.com/"
There's a pretty unsavoury comment on the top of the demo page at http://www.reactrails.com/ right now.

[2016-01-04 15:18] rstudner commented on #181
+1 Good catch davemo.

[2016-01-04 18:53] flynfish commented on #164
I closed out PR #165 and submitted #182 as a better solution

[2016-01-04 21:25] justin808 commented on #181
I don't see anything. The comments get deleted nightly so I don't have to fix stuff like this.

[2016-01-04 21:25] #181 closed

[2016-01-04 21:31] justin808 opened #183 "Consider integration with react-stdio for server rendering"
* @mjackson: https://github.com/mjackson/react-stdio
* @hassox: http://blog.overstuffedgorilla.com/render-react-with-phoenix/

@mjackson has created react-stdio. We should look into integrating this with react_on_rails.

@alexfedoseev: this looks promising
@cowboyd: Any thoughts on this compared to what we currently use: https://github.com/cowboyd/therubyracer

[2016-01-04 21:52] mjackson commented on #183
Just for clarification, it's react-stdio, not react-studio :)

On Mon, Jan 4, 2016 at 1:31 PM Justin Gordon <notifications@github.com>
wrote:

[2016-01-04 21:55] justin808 commented on #183
@mjackson Thanks. Studio sounds kind of cool ;-).

Any thoughts on a Rails integration?

[2016-01-04 21:57] mjackson commented on #183
Probably the first step would be to create a Ruby wrapper for react-stdio that knows how to feed its stdin and parse its stdout. After that, integration with Rails should be fairly straightforward.

[2016-01-04 22:05] flynfish commented on #166
@justin808 I'd like to help out with the generators to get hot reloading working...but I'm not sure what the main source of truth is as I look at `react_on_rails` vs `react_webpack_rails_tutorial`.

For instance, the `webpack.client.hot.config.js` has differences between the two repos. Which should I be leaning on as the most correct?

[2016-01-04 22:15] justin808 commented on #166
@flynfish Send me your email and I'll add you our slack. We'd so much appreciate the help! and there's no better way to learn the system!

[2016-01-04 22:16] justin808 commented on #166
The tutorial is more up-to-date, and I'm going to make a couple adjustments in the next day or so. Right now, the tutorial ONLY supports hot reloading with Rails during development. I want to give it an alternate option which is what we currently have in the generators (older technique).

[2016-01-04 22:41] flynfish commented on #166
@justin808 sent you an email to your gmail!

[2016-01-06 23:07] justin808 opened #184 "After generator runs, print a helpful message"
This what I see after running the generator on the v2 branch (CC: @aaronvb)
[code]

[2016-01-07 13:24] mwhagedorn opened #185 "generated code fails when executing, missing lodash"

[2016-01-07 20:24] hakunin opened #187 "React dnd can't find installed react"
Hi, sorry if this is a noob question, I am just starting with React.
I am trying to use react-dnd (drag and drop) package and it seems not be able to find react?
[code]
I've updated to the latest gem from github, but its the same problem.
Not sure whats the right thing to do here.

[2016-01-07 20:41] justin808 commented on #187
Run this in the /client folder: `npm i --save react`

NPM dependencies are handled by package.json.

[2016-01-07 20:41] #187 closed

[2016-01-07 21:05] #185 closed

[2016-01-08 03:05] robwise commented on #184
I think whoever attempts this can leverage the work @aaronvb has done in this PR: https://github.com/shakacode/react_on_rails/pull/158#discussion_r49123390

Perhaps we just rename `errors` to `messages`

[2016-01-08 03:07] #164 closed

[2016-01-08 03:39] aaronvb commented on #184
If the message is predefined we can create a file with the helpful message and output it with readme 'filename'.

http://guides.rubyonrails.org/generators.html#readme

That leads me to: what will the helpful message be?

---
Aaron Van Bokhoven
bokhoven@gmail.com
http://aaronvb.com

[2016-01-08 05:26] justin808 commented on #184
@aaronvb, can you try v2 (preferably the branch, or maybe rc1)?

after the generator runs, we need to:

1. run `cd client && npm i && npm shrinkwrap` (bundle?)
2. experiment with the start up scripts: `cd <top level> && npm run` will show the scripts
3. Show the two URLs to visit: localhost:3000 and localhost:4000

There's probably more...

[2016-01-08 19:38] aaronvb commented on #184
@justin808 @robwise if we go with a dynamic helpful message at the end, I think the best approach is another singleton like the errors, that we can populate based on what options were set.

If you think the message will be static and same for all generator options, a simple text file printed at the end could suffice.

[2016-01-08 20:27] aaronvb opened #189 "Generator Error for application.scss"
When I was creating tests for the generator errors, I noticed I could not get the application.scss exist? error to show up when skipping the creation of it in the test setup using ```application_css: false```

Here we check if ```application.scss``` exists:
https://github.com/shakacode/react_on_rails/blob/master/lib/generators/react_on_rails/bootstrap_generator.rb#L56

However, it will always exis

[2016-01-09 08:54] hakunin opened #190 "How to include stylesheets of packages?"
Hi, I am using react-select and I had to copy&paste the stylesheet to make it work.

I'd prefer to somehow load/include it somewhere, but didn't find any info on that.

[2016-01-09 08:58] justin808 commented on #190
@hakunin Good question. However, this is better suited for http://forum.shakacode.com/

The short answer is that you could do a relative reference to the node modules folder. Maybe you can configure your webpack to add that to some SCSS search paths. I think that could be an option for node-sass loader. This also depends on whether or not you're using our way of using CSS modules vs the older way

[2016-01-09 08:59] #190 closed

[2016-01-09 10:18] hakunin commented on #190
Thanks, I'll give it a read. I tried to do `@import` form the after bootstrap scss file, but as I found there are no useful files in the node_modules, just empty folders (or so it seems).

[2016-01-09 10:27] justin808 commented on #190
@hakunin Please see how we load scss from other npm packages here: https://github.com/shakacode/bootstrap-loader.

[2016-01-11 07:53] justin808 commented on #189
@aaronvb Please see if this is happening with v2. We're probably going to stop fixing bugs for v1.x

[2016-01-11 07:55] justin808 commented on #173
See #174. We need to get tests included and we can add this.

[2016-01-11 07:56] justin808 commented on #170
See #172. Once we get confirmation that this works with older sprockets, we're good to go.

[2016-01-11 09:02] fletcher91 commented on #16
Just to leave another implementation here for the sake of brainstorm. We only use helper methods that don't wrap fetch, but aid in parameter setting. Implementation in [this gist](https://gist.github.com/fletcher91/c62b865c6aa9f710531e).

For regular non-safe json requests:
[code]
With just the Rails CSRF headers:
[code]
For safe calls (includes CSRF and credentials & same-origin header):
[code]

[2016-01-11 11:24] robwise commented on #189
@aaronvb @justin808 I think this issue will still be happening in v2 as it's not related to what we've changed. Basically, we are checking for something that cannot ever happen, because originally we warned if the user was missing an application.scss but now we just make them one and we must have forgot to get rid of this. So I would say good catch Aaron, remove the error.

[2016-01-11 11:30] robwise commented on #184
@aaronvb sounds good to me

[2016-01-11 17:11] joerodrig3 opened #191 "Anchor link redirects don't load new react component"
I'm developing an app that has a "Homepage" react component that is passed props through a controller. The homepage contains a link to another controller view. When I click the link to go to the other view, the erb file for that view loads but the react component doesn't load

ie)
Controller: MainController
React component called from erb view: Homepage
Link: survey/:survey_id/edit ---> When click

[2016-01-11 20:54] aaronvb commented on #184
@robwise @justin808 I'll work on this using @robwise suggestion to use another singleton like GeneratorErrors to create a helpful message at the end. That way we can tailor the helpful message based on the generator options selected.

[2016-01-12 01:58] #189 closed

[2016-01-12 05:36] thewoolleyman opened #193 "Issues with RC3 under Rails 3"
I'm running through the [tutorial on rc3](http://forum.shakacode.com/t/using-react-on-rails/451) using Rails 3.2.22.

Opening this issue as a placeholder for problems I've found, I'll try to investigate root causes and update.

First one is that the dev env failed to start after generate/bundle/npm i. Couldn't find sprockets, probably a load order thing.  Here's the error:

[code]

[2016-01-12 05:42] justin808 commented on #193
@thewoolleyman Should we support Rails 3? Rails 5 is about to release. I'm happy to support Rails 3 either if sponsored or by taking pull requests.

[2016-01-12 06:07] thewoolleyman commented on #193
@justin808 Well, I initially started trying it because Rails >=3 was mentioned in https://github.com/shakacode/react_on_rails/pull/172

Anyway, this particular issue was bad dependency management in bootstrap-sass, they have Rails 4 as a dev dependency, when they really should have it as a runtime dependency.

The fix for that error was to add the version spec `gem 'bootstrap-sass', '~> 3.1.1'` to

[2016-01-12 14:42] Tamiyadd opened #194 "Use multiple provider in structured rails app"
Hi all,
i'm using this awesome gem for a bit and it's very usefull but i didn't expected how to have multiple component add in a page connected to the redux-store.

For example i need to have component A and B in a page so i use
[code]
and
[code]
to add them in my page. I need to have both of them connected to redux-store so i made two containers

[code]
and two component exported with the redux c

[2016-01-12 16:45] flynfish commented on #193
I'm running the current version of this gem on rails 3 just fine. I haven't tried the RC version yet.

[2016-01-12 16:50] martyphee commented on #193
I'm running into the same issues as @thewoolleyman with a new Rails project.  I was going to try testing #172.

Are you not using bootstrap?  Are you compiling the assets?

[2016-01-12 18:46] smargh opened #195 "Inject Rails configuration var into JS app?"
First, let me just say thanks for the great gem! My team and I have been using it in developing a new application and it has been great thus far. I have hit one issue, however, that I can't quite find a way to solve. What I need is to be able to get access to a variable set in our Rails env configs from within the React app. Specifically, we have various base URLs for the API our app hits in our v

[2016-01-12 19:20] justin808 commented on #195
@smargh I recommend you add the inclusion of this js.erb file to your application.js before the webpack files, or add this js file to your layout, and then access the variables via a global on window.

[2016-01-12 19:20] #195 closed

[2016-01-12 20:20] robwise commented on #195
You could also pass it as a prop to each component, but that is probably inferior to the options Justin has listed.

[2016-01-13 00:42] smargh commented on #195
Doh! Totally wasn't thinking that I could still work in `assets/javascripts` to make things accessible to code in the `client/` dir. Great point. Thanks!

[2016-01-13 05:17] thewoolleyman commented on #193
@justin808 So, I removed usage of bootstrap-sass/bootstrap-sprockets and everything works fine.

Is there any reason that bootstrap-sass needs to be included by the generators?  It's not really key to react_on_rails, you can have a single-page-app that doesn't rely on any rails-side view rendering or assets.

So, maybe we could just remove usage of it?

Or, if you want to keep it, add conditional

[2016-01-13 05:26] justin808 commented on #193
@thewoolleyman bootstrap-sass is related to using bootstrap with Rails. The https://github.com/shakacode/react-webpack-rails-tutorial uses our new system of CSS modules with bootstrap coming from npm. We'll soon be updating the generators for that. :smile: .

[2016-01-13 06:19] thewoolleyman commented on #193
Ok, then there seem to be no fundamental issues under Rails 3, at least with basic usage.

Up to you whether you leave this open to reflect the issue with bootstrap-sass in the generators, or close it.

[2016-01-13 06:28] justin808 commented on #193
In terms of V2, I'll add a note to the Rails 3 docs.

Please add comments here: https://github.com/shakacode/react_on_rails/blob/npm-react-on-rails-js/docs/rails3.md

[2016-01-13 07:22] thewoolleyman commented on #193
Ah, I didn't realize there was a generator option to skip it.  Sure, that looks great.

[2016-01-13 07:22] #193 closed

[2016-01-13 15:49] dziulius opened #196 "Expose mount and unmount methods"
Currently it's not possible to mount components which appear in page in modal loaded via ajax.

So something like:

[code]

Would be super useful. At least on apps which are not SPA and only use react for small components.

[2016-01-13 18:09] justin808 commented on #196
@dziulius Is this with v2.x?

[2016-01-14 10:08] justin808 commented on #196
@dziulius Please take a look at the latest code. v2 is ready and shipped.

[2016-01-14 10:09] justin808 commented on #196
I think this does the trick: https://github.com/shakacode/react_on_rails/blob/master/node_package%2Fsrc%2FReactOnRails.js#L32

Please confirm.

[2016-01-14 10:09] #196 closed

[2016-01-14 10:11] justin808 commented on #194
@alexfedoseev should this be feasible?

@Tamiyadd Can you setup your import of the store so that when you import it, it lazily loads.

[2016-01-14 10:12] justin808 commented on #191
Please try updating to v2 and re-open this issue if you like.

[2016-01-14 10:12] #191 closed

[2016-01-14 10:13] justin808 commented on #184
v2 is out. We need to do this. @aaronvb if you check out the tutorial in the /docs, you can see what we should print.

[2016-01-14 10:17] justin808 commented on #170
I tried doing it in this PR: https://github.com/shakacode/react-webpack-rails-tutorial/pull/199

And there's more to it...

See https://github.com/shakacode/react-webpack-rails-tutorial/issues/200

[2016-01-14 12:37] dziulius commented on #196
That does not help much.

My use case is that I have a modal which opens via ajax, and there are multiple components (flux containers) which are rendered using `render_component`. And after they modal is loaded I want to mount them ( also in some cases I need to unmount them after modal is closed). For now I'll just use some code from https://github.com/shakacode/react_on_rails/blob/master/node_pa

[2016-01-14 12:57] dziulius commented on #196
On the other hand, I just need a few method calls to get required info for `ReactOnRails.render`, and `unmount` is super simple function. So I think exposing ReactOnRails is enough.

Thanks!

[2016-01-14 12:59] robwise commented on #128
Is this good now @justin808 ?

[2016-01-14 13:25] DimaZab opened #197 "Runing generator fail."
[code]

[2016-01-14 15:06] TangRufus opened #198 "Instructions of upgrading v2"
[tutorial-v2.md](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial-v2.md) decribed the steps to set up `react_on_rails` on a fresh rails app.

How about upgrading from `v1.x.x` ?

[2016-01-14 15:27] lucke84 commented on #198
+1

[2016-01-14 16:05] Fedcomp opened #200 "Full page server rendering? (with <html> <body> tags)"
I want to render `<html>` in main class, making full react app. This way i can have title/meta tags.
Is it a right way with this gem?
all i want from rails is rendering the page and respond to api queries.
I try to avoid bloating my stack with nodejs, trying to prerender on rails side.
It looks like i cant put `<html>` at the very beginning of document using react and server rendering. It trashes

[2016-01-14 16:41] joerodrig3 opened #202 "Upgrading from v1.2.* --> 2.0.0 : Missing babel-runtime dependency"
I tried upgrading from v 1.2.0 and v1.2.2  to version 2.0.0 and I kept getting the errors below when starting my rails server

To resolve it I had to manually add and install:
[code]
as a dependency in my client folder.

That resolved the issue.

***Error Log:***
[code]

[2016-01-14 16:45] joerodrig3 opened #203 "Doc -> API mismatch with RegisterComponent in V2.0.0"
In the docs for v2.0.0 it's stated that you should use:
```ReactOnRails.registerComponent({name: component});```
or
```ReactOnRails.registerComponent( { c1, c2 } );```

The actual API requires you say:
```ReactOnRails.register( { c1, c2 } );```
![screen shot 2016-01-14 at 11 44 51 am](https://cloud.githubusercontent.com/assets/4582235/12330659/455d098a-bab4-11e5-93e5-e9d836522e9d.png)

[2016-01-14 16:48] joerodrig3 commented on #198
The Changelog has an upgrade walkthrough listed as "migration steps": https://github.com/shakacode/react_on_rails/blob/master/CHANGELOG.md

If you're upgrading now you may also want to check the two issues I opened which you may run into while upgrading

[2016-01-14 17:01] robwise commented on #197
Should be addressed by a hotfix in https://github.com/shakacode/react_on_rails/pull/201

[2016-01-14 17:04] robwise commented on #202
@justin808 Is this something we should mention in the changelog?

[2016-01-14 17:06] #197 closed

[2016-01-14 17:43] joerodrig3 commented on #202
Also just noticed we need to add react-on-rails to the package.json file as well when migrating

[2016-01-14 19:46] justin808 commented on #200
Sounds like a case we've never looked into. @Fedcomp we'd probably consider a PR for that one.

[2016-01-14 19:51] justin808 commented on #203
@robwise Can you please grep and replace this in the docs. I don't think we need a new release for just a doc fix.

[2016-01-14 19:52] justin808 commented on #203
@robwise Let's not mark doc bugs as "bug".

[2016-01-14 22:08] #203 closed

[2016-01-14 23:55] aaronvb commented on #184
@justin808 @robwise Here are the two examples explained in my previous comment.

## Using GeneratorMessages

This method uses `GeneratorMessages.add_info` to add helpful messages on specific generators.

### Base Install
`rails generate react_on_rails:install`

<img width="790" alt="screen shot 2016-01-14 at 1 35 21 pm" src="https://cloud.githubusercontent.com/assets/100900/12341159/b677bb38-bac3-

[2016-01-15 01:09] justin808 commented on #184
@aaronvb Have you got this one. These suggestions look awesome.

[2016-01-15 09:45] robwise commented on #184
Dynamic is definitely cooler! Good job Aaron!

[2016-01-15 10:12] aaronvb commented on #184
Thanks for the feedback! I'll do a PR for the dynamic version Today.

---
Aaron Van Bokhoven
bokhoven@gmail.com
http://aaronvb.com

[2016-01-15 10:55] lucke84 commented on #202
@joerodrig3 yes, I was right about to comment on that :)

[2016-01-15 16:58] chrisvfritz opened #206 "Optimizations for loading JS files, including Lodash (more of a doc issue)"
I see this pattern in the constructors of example components:

[code]

Putting aside the fact that _all_ of lodash was being imported when only a single function was needed, I think even that single function is unnecessary, since a class property (`stage-1`) can be used for the same effect:

[code]

Even if you decide to later remove the `stage-0` preset from `.babelrc`, I'd personally much prefer

[2016-01-15 18:17] justin808 commented on #206
Hi @chrisvfritz, the reason we add it is that we use *many* functions in lodash. Yes, you can do some fancier importing to trim it out.

I tell you what. If you can do a comparison of performance with and without lodash for the super simple generated example case, and if there is real difference, we'll switch.

CC: @jdalton, @alexfedoseev

[2016-01-15 18:20] justin808 commented on #206
@chrisvfritz One other factor is that the npm react-on-rails does not include lodash, partly so we don't pull it in. On our production system, we found that with using many libraries, and we were already including lodash.

[2016-01-15 18:23] justin808 commented on #202
@joerodrig3 @robwise There's many libraries that possibly should be included, with the move to babel 6. I mentioned in the docs to check a generated app. @robwise Please link the doc to your generated apps repo and close this issue.

[2016-01-15 18:23] jdalton commented on #206
I can tell you up front the creation of bound methods is more expensive in lodash than the execution of them. We push the cost to creation because it's a 1 time hit to optimize for execution.

[2016-01-15 18:26] jdalton commented on #206
Also if you're only using 1 function and are ES5+ you could and probably should drop the dependency. Esp. if you're only depending on `bindAll`.

[2016-01-15 20:09] robwise commented on #202
Please take a look at the "flavor" of app you would like to generate and note the files in the package.json. This repo essentially allows you to see straightforward diffs of the before & after of running a generator, as well as diffs between running with different options. You could do the same thing by experimenting locally, this is simply for convenience.

Index of all PRs: https://github.com/sh

[2016-01-15 20:09] #202 closed

[2016-01-16 02:00] justin808 commented on #194
@alexfedoseev and I discussed this. I'll be coming up with a solution soon.

[2016-01-16 04:26] wyaeld opened #207 "eslint installing errors"
[code]

Not doing anything fancy.  Wasn't running into this problem a few weeks ago.  If I'm doing something wrong let me know.

Also slightly curious that running rails g install without -L for linting still gives me the linting setup.

[2016-01-16 04:40] justin808 commented on #207
@wyaeld we don't have a package called react-webpack-rails-tutorial.

I suggest you work your way through the tutorial for v2 and let me know if you have issues.

[2016-01-16 04:40] #207 closed

[2016-01-16 04:41] justin808 commented on #207
@wyaeld We're also using babel 6, fyi. Please see what the generators create: https://github.com/shakacode/react_on_rails-generator-results

[2016-01-16 04:42] wyaeld commented on #207
That's the default package name coming from the generator, I just haven't changed yet.

This is all react_on_rails v2.0.1, installed an hour ago

[2016-01-16 04:42] justin808 commented on #200
@Fedcomp If you want to pre-render components in Rails, we support via an option for the view helper from ReactOnRails.

[2016-01-16 04:42] #200 closed

[2016-01-16 04:43] #198 closed

[2016-01-16 04:43] wyaeld commented on #207
Here is the complete `client/package.json`

[code]

[2016-01-16 04:43] justin808 commented on #128
Closed with v2!

[2016-01-16 04:43] #128 closed

[2016-01-16 04:54] wyaeld commented on #207
nevermind, I've been using node_4x distributions from nodesource, and the npm version was the problem.  Updating to 5x resolved it.  Up to you whether that's work a note somewhere for the next poor guy

[2016-01-16 05:07] justin808 commented on #207
Sure. Thanks @wyaeld. I'll add that to readme.

[2016-01-16 05:34] justin808 commented on #207
![2016-01-15_21-34-28](https://cloud.githubusercontent.com/assets/1118459/12370704/d1961cd6-bbcf-11e5-9983-363f3ba17421.png)

[2016-01-16 05:35] wyaeld commented on #207
Looks good.

On 16 January 2016 at 18:35, Justin Gordon <notifications@github.com> wrote:

[2016-01-16 05:41] justin808 commented on #207
@wyaeld BTW -- npm is separate from node. Maybe you just needed to update npm? that's why I didn't mandate 5.0 in the package.json.

[2016-01-16 05:46] wyaeld commented on #207
In the production environments I work in, adding another package manager
like nvm is a little more frowned upon.  The nodesource PPAs work, but they
also bundle things together.  At least that way we should be able to expect
the versions work, and the distributions are also very Dockerfile-friendly.

Current nodesource 5x gets you node v5.4.1 and npm 3.3.12

I tried updating npm locally, but wasn'

[2016-01-16 08:23] Fedcomp commented on #200
Prerendering component leaves component body on the result page, and rendered component body in the place where it rendered inside of additional div, makes full page rendering not working (html starts with `<html>`). But it doesn't matter, i googled awhile and now i'm certainly sure it's not react way either, and what i tryed to do is wrong way.
Sorry.

[2016-01-16 09:51] alexfedoseev commented on #200
@Fedcomp Please never render `body` tag with React, b/c there is a high probability that in some point of time in your app something from outside will need to do something with/inside `body` tag. And then you have problems. It's a bad practice.

[2016-01-16 09:53] Fedcomp commented on #200
I was needed it for metatags.

[2016-01-16 09:54] alexfedoseev commented on #200
@Fedcomp You can render `<head>` and `<div id="app" />` separatly, but not `<body />` or `<html />`.

[2016-01-16 12:18] rstudner commented on #198
Was able to follow the steps and update the code without issues.  Thanks for that

[2016-01-16 20:34] alexfedoseev commented on #206
@chrisvfritz We tried class property way, but there is an issue with it: it works if the method is used inside component, but when we pass it to children via props — it's not bound to context, so we must do it explicitly (you can take a look at [this commit](https://github.com/shakacode/react-editable-grid-example/commit/f7968e1b562608569b6c2f160642a64d8ed8c080) and 2 branches in the repo to repro

[2016-01-16 20:37] justin808 commented on #206
@jdalton Thanks for commenting. If you're using react-on-rails, it's ES6 all the way!

[2016-01-16 21:12] chrisvfritz commented on #206
Thanks for hopping in for the definitive explanation of `bindAll` @jdalton! :smiley: And thanks @justin808 and @alexfedoseev for the great response time. Very interesting to hear about the issue with class property binding - I haven't encountered that issue before and am now wondering if I've just narrowly avoided it. Will have to dive in later and check.

In that case, assuming `stage-0` is stayi

[2016-01-16 21:17] justin808 commented on #206
@chrisvfritz Please refer to: https://github.com/shakacode/style-guide-javascript

We went down that road. We had issues. A lot of thought (and practice) went into our recommendations.

Main issue is that `::` creates a new function each time. We're caching the bound functions, so if you ever need to unlisten, you can do that.

[2016-01-16 21:49] chrisvfritz commented on #206
Then how about just changing:

[code]

to:

[code]

It should cut down the initial build size considerably and it could be argued that even in a project that really needs every lodash function, it's a best practice to only import what you need.

[2016-01-16 21:52] jdalton commented on #206
[code]

[2016-01-16 22:03] chrisvfritz commented on #206
:smiley: :+1:

[2016-01-17 03:41] justin808 commented on #206
@chrisvfritz I'd be curious to see if the difference is perceptible. How many bytes are we talking about? I suspect that compared to a few images, there's really no difference measurable.

[2016-01-17 08:49] chrisvfritz commented on #206
For some reason, @jdalton's suggested import was giving me `Module not found: Error: Cannot resolve module 'lodash/bindAll'`. So I used this instead:

[code]

On a fresh Rails app after following [the Getting Started instructions](https://github.com/shakacode/react_on_rails#getting-started):

|                      | `_`     | `{ bindAll }` |
|----------------------|:-----|:-----------:|
| app-bun

[2016-01-17 09:05] justin808 commented on #206
@chrisvfritz The reason why we don't like to spend time optimizing the size of lodash is:

1. It's premature optimization for the types of apps were working on
2. I've seen plenty of yak shaving like you just did.

We'd rather stay consistent and simple, and then optimize once we have real data. I'd be curious if you could come up with a ***time*** difference that shows the 60K to load the JS real

[2016-01-17 11:43] jdalton commented on #206
I was giving you lodash v4's path. You must be using v3.

[2016-01-17 12:44] nateberkopec commented on #206
Couple of things:

* Gzipped size is not the end-all of the discussion. Yes, a smaller gzipped file can be downloaded faster across the network, but the *minified*, *non-gzipped* size must also be taken into account because that Javascript must be executed as well. Download time and execution time are both important, especially on computing-constrained devices like phones.
* @chrisvfritz is right

[2016-01-17 18:41] chrisvfritz commented on #206
Thanks for the suggestion @nateberkopec. That is exactly what I do on heavier apps. :smiley: Also :+1: for Chrome's throttling on the Network tab - was just about to suggest that feature. Before even running perf comparisons though, some simple math will tell us that 60K on the average 4Mbps for mobile in the US adds 120ms to load time, just for the download, before we even get to execution.

Some

[2016-01-17 19:28] justin808 commented on #206
@chrisvfritz If you want to throw in a PR that moves the lodash to v4 and uses the new syntax, super. I can also do it as well.

@nateberkopec and @jdalton Thanks so much for your insights. It's too bad that @sokra's amazing Webpack can do the job automatically with sticking to the basic `import 'lodash'`.

In terms of turbolinks, ReactOnRails has the code to work with it, so you just turn it on:

[2016-01-17 19:34] jdalton commented on #206
can\can't

[2016-01-17 19:55] alexfedoseev commented on #206
@chrisvfritz @justin808 We paired with @robwise a bit on class properties + fat arrows issue. I was wrong and the problem in repo (that I linked previously) was not with wrong context, but with equality check in `shouldComponentUpdate` of `Column` component of `fixed-data-table` lib (component wasn't re-rendered b/c method was always the same). So class property way works, @chrisvfritz don't waste

[2016-01-17 20:11] chrisvfritz commented on #206
@alexfedoseev Phew :smiley: That's great news! @justin808 Should we go that route after all then and remove lodash as a dependency?

[2016-01-17 22:08] jdalton commented on #206
@justin808 See https://github.com/lodash/babel-plugin-lodash

[2016-01-17 23:33] justin808 commented on #206
@jdalton I love the simplicity of that solution!

@chrisvfritz Let's see the relative bundle sizes if we we apply the `babel-plugin-lodash`. Are you onboard with that solution? Or would you prefer the non-plugin way?

Longer term, we do like defining the callbacks with fat arrows. However, we just got bit by a babel issue with static props needing semicolons (Stage 1) that was a real hassle to cha

[2016-01-18 01:26] chrisvfritz commented on #206
__babel-plugin-lodash__ does look pretty clever! For a public project though, I worry that it _might_ be a bit too magical. Others could open new issues to "fix" the faux-global import, not realizing that a special lodash-specific plugin is being used to make lodash imports work differently from imports of any other library. So I'd personally prefer the more explicit, non-plugin way.

I hear ya on

[2016-01-18 03:54] jdalton commented on #206
Closing an issue is cheap and so is documentation, but I hear ya.

[2016-01-18 04:42] chrisvfritz commented on #206
@jdalton I'm definitely sharing it for internal projects! And I've bookmarked it for later because it's given me some other ideas. :smiley: I can't wait for the day when this is just how importing works, but right now, most people don't even realize it's _possible_. And for public projects, I generally strive for intuitive over elegant - and have usually regretted it when I haven't.

[2016-01-18 04:48] justin808 commented on #206
@chrisvfritz I sort of expect that Webpack would be able clean out unused code, so I don't think it's too unexpected given that we're heavily based on Webpack.

[2016-01-18 07:24] aaronvb commented on #138
Let's close this issue.

[2016-01-18 07:35] #138 closed

[2016-01-18 07:35] justin808 commented on #138
@aaronvb Thanks for your help with this one!

[2016-01-18 07:42] aaronvb opened #211 "GeneratorMessages Warning"
Not sure if this is a problem on my end, but when I was writing updated tests for GeneratorMessages I could not get the `GeneratorMessages.add_warning` test to pass.

[code]

I then tested a warning message in one of the generators and the same error popped up. You should be able to reproduce this error if you add this to any generator.

[code]

Which results in the same error:
[code]

The error p

[2016-01-18 08:01] aaronvb commented on #211
Also note that if change orange to yellow(or another base color), it works normally.

[2016-01-18 08:31] justin808 commented on #211
yellow is too light for a white background

orange worked fine for @robwise and me.

[2016-01-18 08:50] alexfedoseev commented on #206
Tree shaking is going to be implemented in Webpack 2: http://www.2ality.com/2015/12/webpack-tree-shaking.html

[2016-01-18 13:53] jdalton commented on #206
Unfortunately it won't work with Lodash (webpack/rollup) [have](https://github.com/webpack/webpack/issues/1750) some [problems](https://github.com/rollup/rollup/issues/45#issuecomment-167381283) (which also casts shade on either's ability to tree-shake anything beyond a hello world example).

[2016-01-18 15:41] chrisvfritz commented on #206
@justin808 Up to you ultimately. I'd definitely _like_ Weback to do that for all my code, but I've never seen anything like it. Hence why I personally don't expect it. And technically, though this is the kind of responsibility we'd expect _Webpack_ to handle, it has nothing to do with the magical trimming here. It's happening in a Babel plugin outside of Webpack. That's obviously caused some confu

[2016-01-19 04:25] justin808 opened #212 "i18n support DOCS with ReactOnRails using "RailsContext""
Eventually, we want to do something for supporting i18n.

Maybe there’s some file that gets built for the JS code.

Maybe we should integrate/support: https://github.com/fnando/i18n-js?

Here's on a SO topic on Rails integration for client side:
http://stackoverflow.com/a/10610347/1009332

CC: @callumacrae

[2016-01-19 04:26] justin808 commented on #212
Might be just a doc thing where you use i18n-js to build the file and put this into your webpack bundles.

[2016-01-19 18:50] aaronvb commented on #184
Closing this :+1:

[2016-01-19 18:50] #184 closed

[2016-01-19 20:12] thewoolleyman commented on #212
I'd like to see this solution leverage the i18n support that's already built into rails.  So the translations can all live in one place.

Whatever is used on the JS side, you can imagine a translation layer that just loads the rails YAML files containing the translations, then - ahem - translates them into whatever JSON format is needed for the client/react side.

I'm doing exactly this with Rails

[2016-01-21 00:09] #10 closed

[2016-01-21 00:10] justin808 commented on #16
We'll soon be adding a JS helper method for the CRSF to the ReactOnRails npm module for this.

We probably want to be agnostic about the choice of fetch vs. axios.

[2016-01-21 00:11] justin808 commented on #211
@aaronvb still an issue?

[2016-01-21 00:13] justin808 commented on #206
Right now, the plan is to update the generator to use the babel https://github.com/lodash/babel-plugin-lodash. Any volunteers to help with this PR? I'd like to see us do this first on the tutorial: https://github.com/shakacode/react-webpack-rails-tutorial/issues/204

[2016-01-21 00:15] justin808 commented on #173
@TangRufus Any updates?

[2016-01-21 00:15] justin808 commented on #177
@robwise still an issue? If so, maybe @aaronvb can help you?

[2016-01-21 00:17] justin808 commented on #170
@robwise and I know this is an issue with Sprockets 3. The only tricky thing is that we need to keep this working with with Sprockets 2, at least for a while.

Related: https://github.com/shakacode/react-webpack-rails-tutorial/issues/200

[2016-01-21 00:20] justin808 commented on #146
Closing for now. Re-open if there's anything pending here.

[2016-01-21 00:20] #146 closed

[2016-01-21 00:21] justin808 commented on #85
@robwise Should we keep this list open? or close this issue?

[2016-01-21 00:29] justin808 commented on #212
See https://github.com/shakacode/react-webpack-rails-tutorial/issues/120

[2016-01-21 02:10] aaronvb commented on #211
@justin808 Yes, I've pushed a branch in my repo with the new tests and still get the same error.

https://github.com/aaronvb/react_on_rails/tree/add_tests_to_generator_message

These are the tests I added: https://github.com/aaronvb/react_on_rails/commit/427ceac43a720fe1dbcd44cf2d2ff8d789810a84

And the test error that I keep getting:

[code]

I'm having trouble figuring out the problem. When I us

[2016-01-21 06:11] aaronvb commented on #177
@robwise @justin808 Sure let me know if you need help with this

[2016-01-21 06:17] justin808 commented on #177
@aaronvb Awesome. Thanks!

[2016-01-21 07:02] aaronvb commented on #177
@robwise Can you give me a little more information on this issue?

[2016-01-21 13:02] robwise commented on #177
@aaronvb Oh, well we originally were following a style convention to name all of the methods that we didn't intend to be used outside of the class with and underscore (`_`) character. We've since changed our styles and we no longer do this. Therefore, we need to delete the underscores from all of the methods that have them in the generated javascript.

Basically, we have the opposite of this rule:

[2016-01-21 13:13] robwise commented on #211
That's super weird..., can you `pp Rainbow("WARNING: #{msg}").public_methods`

[2016-01-21 13:14] #85 closed

[2016-01-21 13:15] robwise commented on #170
@justin808 we could try wrapping the whole thing in conditionals that attempt to do some sort of inspection of the rails-sprockets version at runtime?

[2016-01-21 13:16] robwise commented on #16
agreed

[2016-01-21 13:22] hakunin opened #216 "Possible to get rid of the "bundles/HelloWorld" namespace?"
Hi,
is it easy to get rid of the folder namespace `bundles/HelloWorld`?

Rails has just `app/..` and I can't see myself adding another folder as a sibling of `budles` or `HelloWorld` so these hold no real purpose for me other than I have to type extra keystrokes.

Otherwise, it would be nice if I could generate the files with my own name instead of `HelloWorld`.

[2016-01-21 13:28] robwise commented on #216
@hakunin The generate a bundle with your own name idea is something we discussed and is definitely a possible future enhancement.

Are you asking if you can do it for your own app, or that you want to change the generators themselves? If the latter, we do have other things we put as siblings of `bundles` such as `lib`, `enum`, `assets`, and we have many bundles, so we encourage this style with our

[2016-01-21 13:30] robwise commented on #212
I definitely agree with @thewoolleyman and @rstudner (on the other issue) that we should leverage the rails i18n support.

[2016-01-21 13:50] hakunin commented on #216
Thanks! Thats good to know.

[2016-01-21 17:43] justin808 commented on #216
@hakunin We do the setup with what's appropriate for a large app. @robwise It's not a huge priority to enable changing HelloWorld with a user defined string. However, I don't see it as a huge priority either.

CC: @aaronvb @rstudner

[2016-01-21 17:43] #216 closed

[2016-01-21 18:03] martyphee commented on #212
I would rather see a pluggable interface.  We use [`fast_gettext`](https://github.com/grosser/fast_gettext) and I18n wouldn't help us.

[2016-01-21 18:42] aaronvb commented on #211
Orange wont show up as a public method because rainbow uses a method_missing to capture the colors outside of the default ANSI.

Shown here: https://github.com/sickill/rainbow/blob/master/lib/rainbow/presenter.rb#L108

This is really weird, because there's no problem with the gem. I cloned it, ran their tests, and it all passes.

@robwise Would it be possible for you to add these tests https://git

[2016-01-21 19:47] robwise commented on #211
@aaronvb I'm getting this error when I just try to use `orange` in Pry. I agree, it seems the ANSI ones work fine but the X11 ones do not. @justin808 how do you want to proceed? Can we just an ANSI color here?

Also, please make sure the test files either require `spec_helper` or at least require the simplecov helper so that we get proper coverage analysis.

[2016-01-21 19:55] justin808 commented on #211
@aaronvb Please change to some color as you feel right, so long as the color works on both white and black backgrounds. @robwise, stay focused on the 1,000 other things we got going right now!

[2016-01-21 20:15] #211 closed

[2016-01-22 16:00] robwise commented on #194
For those following this issue, keep an eye on https://github.com/shakacode/react_on_rails/pull/215

[2016-01-22 20:58] justin808 commented on #194
I hope to have this done by the weekend.

[2016-01-25 15:32] acies opened #224 "InstallGenerator uncommitted_changes? missing check"
Unless intentional, `InstallGenerator`'s `uncommitted_changes?` method is missing a check for:
`|| status.include?("nothing added to commit but untracked files present")`
forcing you to rm/mv/git add or ignore untracked files before installation.
There may be a few of those if you're installing it on an existing project.

[2016-01-25 16:30] robwise commented on #224
@acies Thanks! Let's see what @justin808 thinks on this one. In the meantime, for those running into this issue, a workaround is to pass the `--ignore-warnings` option when running the install generator.

[2016-01-25 16:47] robwise opened #225 "Make EnsureAssetsCompiled skip rebuild if not necessary"
Currently EnsureAsstesCompiled will skip rebuilding the webpack bundles if the webpack -w process is running. However, it would be nice if it could also check that the webpack bundles were indeed older than any of the client files. If not, there's no reason to recompile.

[2016-01-26 18:44] nratter opened #231 "Problem with Materialize modals"
I'm unable to open Materialize modals inside react_on_rails. I was able to do this with react-rails. Any ideas?

[2016-01-26 19:09] gemini-google-group opened #232 "undefined method `react' for #<Rails::Application::Configuration"
Hi there.

I've just added the gem to my rails project and bundled. Although, I'm getting this error when trying to run the install generator. (Using ruby 2.20 and Rails 4.2.2)

/home/boromir/.rvm/gems/ruby-2.2.0@gemini/gems/railties-4.2.2/lib/rails/railtie/configuration.rb:95:in `method_missing': undefined method `react' for #<Rails::Application::Configuration:0x0000000d7eb7f8> (NoMethodError)
	f

[2016-01-27 05:01] justin808 opened #235 "Issues with release script"
@robwise

1. if the tag exists, we need to delete it FIRST. When you did a test, you did PUSH the tag to the repo!
2. we should tag from both the gem release and release-it, as they have different tag formats. I'm OK having every release with both tags.

Alternately, we can dry up the tags and decide on either:

Full output below.

----

[code]

[2016-01-27 11:54] lucke84 commented on #212
+1

This is what some people are doing with `react_rails` and `js-i18n`: https://gist.github.com/jhilden/44378421ad54e617b900

[2016-01-27 12:40] martyphee commented on #212
I was going to look at implementing the same behavior with a prerender hook.

On Wed, Jan 27, 2016 at 5:54 AM, Luca Canducci <notifications@github.com>
wrote:

[2016-01-27 12:54] lucke84 commented on #212
The prerender hook is fine for setting up the locale per each request (I guess you mean that?) but I'm wondering how to make the files required per each locale (in case of `js-18n` they'd be `translations.js` and `i18n.js`).

To be honest, I'd be happier to have a solution which is only driven by Rails locale files, although you will still need to get the formatting rules (e.g. numbers, dates) som

[2016-01-27 13:33] martyphee commented on #212
We could create a default Renderer which handles Rails i18n, but my project
uses Gettext and we need to be able to inject different files.

On Wed, Jan 27, 2016 at 6:54 AM, Luca Canducci <notifications@github.com>
wrote:

[2016-01-27 15:37] hisapy opened #238 "Info for migration guide to 2.1.0"
The following info might come handy in  [Migration Guide to 2.1.0](https://github.com/shakacode/react_on_rails/blob/master/CHANGELOG.md#migration-steps):

1. Since React/ReactDOM are not globally exposed, you should import/require it in your "component" .js files or you'll have a "React/ReactDOM is not defined" when trying to render a `<Component />`
2. npm install --save-dev babel-runtime  (I had

[2016-01-27 16:10] robwise commented on #235
@justin808 that's a one-time problem, though, right? We should be good from now on? And I think two tags for the same thing is silly, just stick with the one tag. It's clearer and simpler. KISS!

[2016-01-27 19:06] justin808 commented on #235
Tags -- probably -- was caused by us doing a test...

In terms of tags using v or not, one way is the rubygem way and one way is the npm way. Please confirm which way we should go and update the Changelog and delete the unused tags.

CC: @alexfedoseev @samnang

[2016-01-27 22:50] robwise commented on #235
@justin808 So I'm looking at the `release-it` api and I'm not sure that I can even turn the tagging thing off like we can with the `gem-release` library. So that would kind of force our hand into using the `npm` style.

release-it: https://www.npmjs.com/package/release-it
gem-release: https://github.com/svenfuchs/gem-release

[2016-01-28 04:40] justin808 commented on #235
We'll put this one on ice for now. Not critical.

[2016-01-28 05:25] justin808 commented on #238
@hisapy:

With the new ReactOnRails api, you don't need to access React or ReactDom directly. Sure, if you have a webpack entry point that doesn't eventually lead to some some component, then you have bigger issues.

In terms of supporting babel 5, i'm not sure we want to do that. If you want to submit a PR with a doc for the `docs/additional_reading/babel-5.md` directory, I'll take that.

However

[2016-01-28 05:25] #238 closed

[2016-01-28 05:25] #235 closed

[2016-01-28 05:26] justin808 commented on #231
@nratter In order for us to help you, you'd need to make a super simple example.

You can use the generator, and then push your repo to github and I'll take a quick look.

Thanks.

[2016-01-28 05:27] justin808 commented on #232
@gemini-google-group Did you maybe forget to uninstall the react-rails gem?

We don't have any method called `react`.

[2016-01-28 05:27] #232 closed

[2016-01-28 05:28] justin808 commented on #224
@acies The generator creates a HUGE number of files. Best to do something with those files. I'd recommend either stashing or making a temp commit.

[2016-01-28 05:28] #224 closed

[2016-01-28 05:33] justin808 commented on #212
@martyphee @lucke84 @thewoolleyman The best way to evaluate this is to create a super simple example from the generated app, or maybe on the https://github.com/shakacode/react-webpack-rails-tutorial/

[2016-01-28 06:10] samnang commented on #235
@justin808 @robwise @alexfedoseev I thought bundler already provide rake task helpers in gem development process http://bundler.io/v1.11/bundle_gem.html. I vote for tagging with `v` prefix because this project is more about ruby side than js side.

[2016-01-28 11:16] hisapy commented on #238
Hi @justin808,
_The following might be useful for people looking for a quick upgrade to 2.1.0_

1)  What I meant is that if you adjusted your webpack config to NOT expose React and ReactDOM:

[code]

2)  I upgraded an almost 3 month old app to react_on_rails 2.1.0 and we had to do it as fast as possible because of current deadlines. The only thing I had to do besides the stuff mentioned in the mig

[2016-01-28 11:35] Tamiyadd opened #242 "Scss file with url('') for images"
Hi,
sorry for bothering you again but i'm having problem using images in scss files.

in my scss file in **client/assets/stylesheets/MyStyle.scss** i have

[code]

and left-arrow.png file is in **client/assets/images/left-arrow.png**.
When i'm in development the image is loaded in the right way but when i put my app in production the reference to the image is missed maybe because the asset pipelin

[2016-01-28 11:44] alexfedoseev commented on #242
@Tamiyadd Please post your webpack production config.

[2016-01-28 11:47] Tamiyadd commented on #242
here we are, this is the webpack.client.base.config.js

[code]

[2016-01-30 06:07] aaronvb commented on #173
@justin808 @TangRufus Closing this. See #218

[2016-01-30 06:07] #173 closed

[2016-01-30 06:18] aaronvb opened #245 "Feature: Generators for React/Redux files"
Are there any plans to implement generators for React components, stores, routes, actions, and Redux reducers, etc?

[code]

Similar to how rails generators work for controllers, models, mails, etc.

[code]

[2016-01-30 06:20] justin808 commented on #245
We certainly could @aaronvb. Give it a try if you like!

However, even more important would be to move over the latest in the https://github.com/shakacode/react-webpack-rails-tutorial/ over to the generators. Specifically, the switch to CSS modules.

[2016-01-30 13:25] sigmike opened #246 "When prerender is enabled the generated code fails with a TypeError"
I created a new Rails 4 app, added react_on_rails and ran the generator with `--redux --server-rendering --ruby-linters` and when I start the server with `npm run rails-server` and access `http://localhost:3000/hello_world` I get this error:

[code]

The generated app is here: https://github.com/sigmike/test_react_on_rails/tree/prerender_fail

[2016-01-30 13:26] sigmike commented on #246
It works with `npm run express-server` though. Is this the expected behavior?

[2016-01-30 17:54] justin808 commented on #246
There's a problem with server rendering. Not sure what it might be. I'll take a look tonight.

[2016-01-31 09:19] justin808 commented on #246
@sigmike Can you please try 2.01. or 2.0.0 of react-on-rails from npm and see if that solves the issue. Thanks.

[2016-01-31 09:34] sigmike commented on #246
I changed react-on-rails to 2.0.1 in client/package.json, ran npm install, restarted the server and I get the same error.

[2016-01-31 10:24] bshyong commented on #246
I got this too; I tried 2.2.0 and 2.0.0 as well and it's still the same error. I was trying to trace this down but can't find out what it may be..

[2016-01-31 18:00] justin808 commented on #246
This is probably happening only for server rendering. I appreciate any help getting this tracked down.

[2016-01-31 19:31] justin808 commented on #246
I'm updating a branch code that now allows tracking this down much more easily!

https://github.com/shakacode/react_on_rails/pull/244

Please pull the code here.

To repro:

[code]

Then visit: http://localhost:3000/server_side_hello_world

[code]

[2016-01-31 20:11] justin808 commented on #246
See https://github.com/rackt/redux/issues/1335

[2016-01-31 20:11] justin808 commented on #246
Pushing polyfill shortly

[2016-02-01 18:09] rileybracken opened #249 "[Heroku] NPM install isn't installing React-Router"
#I have had this app deployed in the past, when I added `material-ui` and `react-router` it is now crashing because it will not install those on deploy. I have tried running `heroku run npm i` and `heroku run cd client && np i`. I went back through the Heroku deployment documentation to see if there was anything I was missing, nothing is seems out of place.

I made sure to switch my node engine to

[2016-02-01 18:51] rileybracken commented on #249
Never mind got this to work by reinstalling the dependency and updating..

[2016-02-01 18:51] #249 closed

[2016-02-01 19:11] justin808 commented on #246
Fixed in 2.3.0 and #244. See https://github.com/shakacode/react_on_rails/blob/master/CHANGELOG.md.

[2016-02-01 19:11] justin808 commented on #245
@aaronvb, @jbhatab You guys are thinking of the same thing. Pair up!

[2016-02-01 20:52] aaronvb commented on #245
@jbhatab I'm down to pair up or talk about this. Lmk when there's good time to talk about this over Slack.

[2016-02-02 19:30] aaronvb commented on #177
@robwise I went through all the JS files in the generator template files and did not find any functions starting with an underscore. Just to be safe I ran a regular expression search on that directory and came up with nothing.

[2016-02-02 19:48] aaronvb commented on #183
I looked into implementing this into react_on_rails(and in react-rails). With our current server rendering method it's not going to work 'out of the box'. react-stdio takes a path to a component whereas we pass a string of JS code(with polyfills) to ExecJS(therubyracer).

I ended up writing a little react-stdio wrapper for Rails that could be helpful in pursuing this option: https://github.com/aar

[2016-02-02 19:52] justin808 commented on #183
@aaronvb If you get this working, you will be a

# HERO

[2016-02-02 21:26] robwise commented on #177
@aaronvb Roger, thank you for checking that. Someone must have hit this at some point so I'm closing.

[2016-02-02 21:26] #177 closed

[2016-02-02 21:27] robwise commented on #225
Fixed in https://github.com/shakacode/react_on_rails/pull/251

[2016-02-02 21:27] #225 closed

[2016-02-06 00:18] aaronvb commented on #231
@nratter Not sure if you found a solution yet. Are you launching the modals programmatically or using the class trigger?

I setup a very crude sample app(using the hello world example) with react_on_rails + materialize, and a working modal: https://github.com/aaronvb/react_on_rails_materialize_modals

[2016-02-06 21:10] andriytyurnikov opened #256 "append to Gemfile"
in my case Gemfile had
[code]
And what i've got after running generator is:
[code]

[2016-02-06 21:40] aaronvb commented on #256
@andriytyurnikov Thanks for posting this issue. Can you tell me which generator options you used?

[2016-02-06 22:14] andriytyurnikov commented on #256
@aaronvb those were defaults for `2.0.1`

[2016-02-06 23:00] aaronvb commented on #256
@andriytyurnikov thanks! I'll look into this

[2016-02-07 00:29] cberkom opened #257 "Run inside a Rails engine?"
We have a Rails app with several engines (marketing site, current app, etc). We would like to run our next-generation React app inside it's own engine. Is this possible using this library?

[2016-02-07 01:32] justin808 commented on #257
@cberkom Any reason this wouldn't work?

I guess we could run into some issue regarding the server rendering, as we assume one bundle.

It would probably not be hard to make react_on_rails work with multiple rails engines.

Feel free to submit a PR and I'll give you a hand with any obstacles.

[2016-02-07 01:32] #257 closed

[2016-02-08 19:04] justin808 commented on #256
@aaronvb Any update on this one? I'd like to get a fix into v3 if possible.

[2016-02-08 20:20] justin808 opened #261 "Improving tests for the new rspec utils"
@robwise we could verify the puts statements for the updates to the rspec utils that ensure the JS assets are generated: https://www.relishapp.com/rspec/rspec-expectations/docs/built-in-matchers/output-matcher

[2016-02-08 20:59] aaronvb commented on #256
@justin808 working on this now

[2016-02-09 08:28] #256 closed

[2016-02-09 09:16] SqueezedLight opened #263 "Precompile for production"
Hi guys,
first of all thanks for your great work!
Currently i'm having a hard time precompiling assets for production. As far as i understand, webpack builds the client side code to ```/app/assets/javascripts/generated``` where sprockets picks it up. If i run ```rake assets:precompile``` on a fresh ```react_on_rails``` project the resulting application.js in ```/public/assets``` has nearly 2Mb?! W

[2016-02-09 09:25] justin808 commented on #263
Please see:

https://github.com/shakacode/react_on_rails/blob/master/docs%2Fadditional_reading%2Fheroku_deployment.md

and https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/lib%2Ftasks%2Fassets.rake

In terms of the size of the file, I'm not surprised that it's big, depending on what libraries are included.

It should be cached in the browser, and TurboLinks will allow loading

[2016-02-09 09:25] #263 closed

[2016-02-09 09:26] justin808 commented on #242
@alexfedoseev @Tamiyadd Any resolution? I'd like to get this issue closed.

[2016-02-09 09:27] justin808 commented on #231
Closing the issue for now.

[2016-02-09 09:27] #231 closed

[2016-02-09 09:28] justin808 commented on #194
This has shipped in 3.0.0.rc.1, @Tamiyadd

[2016-02-09 09:28] #194 closed

[2016-02-09 09:30] justin808 commented on #22
@robwise I bet we can apply the logic of ensuring the JS is ready for tests to the problem of just running `rails s`. Probably pretty easy. So keeping this one open for now.

[2016-02-09 09:32] justin808 commented on #183
@aaronvb any word on this one?

[2016-02-09 09:38] alexfedoseev commented on #242
Well I'd suggest to apply the changes we've already made in [react-webpack-rails-tutorial](https://github.com/shakacode/react-webpack-rails-tutorial), b/c it's old setup where styles were separated from JS components and I don't remember details.

If it's not possible right now, I guess the reason is that SASS compiler doesn't know anything about `client/assets/images` dir and issue can be solved

[2016-02-09 11:17] Tamiyadd commented on #242
Ok i'll try to update my gem to last version (i was waiting for the redux-store enhancement) and let you know if it's working

thanks for the hint

[2016-02-09 18:38] aaronvb commented on #183
@justin808 I haven't put much work into this. I'm open to pairing up or starting a branch for collaboration on this.

[2016-02-10 09:06] Jan-Jan opened #266 "Which gem source to use react_on_rails"
When I do a ```bundle install``` I get the following error

[code]

What source should I spec in my Gemfile for react_on_rails?

[2016-02-10 09:07] Jan-Jan commented on #266
PS. Error is the same if I use ```'react_on_rails (~> 3.0.0.pre.rc.1)'```

[2016-02-10 09:14] justin808 commented on #266
gem 'react_on_rails', '~> 3.0', '>= 3.0.0.rc.1'

https://rubygems.org/gems/react_on_rails/versions/3.0.0.rc.1

[2016-02-10 09:27] Jan-Jan commented on #266
Thanks Justin, but the error now is

[code]

[2016-02-10 09:30] Jan-Jan commented on #266
I am using

[code]

[2016-02-10 09:31] justin808 commented on #266
Try:
gem "react_on_rails", "~> 3.0.0-rc.1"

FWIW, I haven't yet tried Rails 5 with this.

[2016-02-10 09:32] justin808 commented on #266
I just updated the README

[2016-02-10 09:32] Jan-Jan commented on #266
Thank you, that works!

I'm using it with Rails 5 to try it with ActionCable. Will give feedback.

[2016-02-10 09:38] justin808 commented on #266
Let me know if you want an invite to our Slack room. Thanks!

[2016-02-10 09:41] Jan-Jan commented on #266
That would be great, thanks.

[2016-02-10 10:12] justin808 commented on #266
I need your email.

[2016-02-10 11:53] Jan-Jan commented on #266
Send invite to jan-jan@cosapien.com please

[2016-02-10 13:24] Jan-Jan commented on #266
I'm just going to re-open this till I get the invite.

[2016-02-10 13:31] SqueezedLight commented on #263
Hi, thanks for your quick support. Unfortunately this is not very satisfying as i already removed lodash completely. I will definitely have a look into tree shaking. I think its worth shaving off every kB we can. After posting this issue i found most of my thoughts summed up in this issue - quite helpful: https://github.com/shakacode/react_on_rails/issues/206

[2016-02-10 18:36] justin808 commented on #263
Hi @SqueezedLight, please let us know what you find!

[2016-02-11 00:07] #266 closed

[2016-02-11 15:40] nratter opened #268 "package.json after migration"
I've migrated from v2 to v3.0.0-rc.1 of react_on_rails. The following are my package.json in my root project directory, and in the client directory. What do I need to change in these files in order to migrate to v3 (i'm having a problem getting this to run correctly on production).

#Package.json in root project dir...
[code]

#Package.json in client/ dir
[code]

I seem to be getting an issue with

[2016-02-11 15:42] ttrmw opened #269 "Coming from browserify - can't register my root component?"
Hey,

I'm trying to port an app over from a browserify based approach, so I expect I'll have a bunch of questions.

Right now I'm trying to get my root component registered as a starting point. I've created a directory under bundle, and placed it (and all its children - for now, though I will properly organise this code later) into its components directory.

In startup I've made a clientRegistrati

[2016-02-11 16:09] ttrmw commented on #269
Actually, this is me being foolish - clearly registration only occurs on server start, I was expecting to see some attempt to register on page refresh. Restarting the server gives me error output that indicates why the component failed to register, so for now I'm good.

[2016-02-11 16:09] #269 closed

[2016-02-11 18:42] audionerd commented on #207
FWIW I'm on node v4.3.0 and had the same error until I upgraded npm (to 3.7.1).

[2016-02-11 18:47] justin808 commented on #268
@nratter the only change should be changing the version of react-on-rails (aside from a bit about how the rspec helper finds the right scripts to execute to build the JS for tests, which you have).

If you can help us update the tutorial: https://github.com/shakacode/react-webpack-rails-tutorial/pull/224

That would be great.

We've got some issue, possibly with react-router there.

We have a slac

[2016-02-12 19:47] ylluminate opened #271 "Leveraging React.rb"
I would think for a true isomorphic experience we should be looking more closely to leveraging http://reactrb.org with this.

[2016-02-12 23:13] justin808 commented on #271
The goal of this project is React with tight integration of native JavaScript tooling, including Webpack and Babel. Trying to do the front-end setup in Ruby runs counter to the ability to stay at the cutting edge of JavaScript development.

[2016-02-12 23:13] #271 closed

[2016-02-12 23:38] ylluminate commented on #271
I understand what you're saying, but I don't see that as true in our experience so far with wrappers we've been involved with.

[2016-02-12 23:39] justin808 commented on #271
@ylluminate How would you see ReactRb used with ReactOnRails?

[2016-02-13 00:36] fkchang commented on #271
@justin808 I will probably attempt the integration that I think @ylluminate is referring to.  Presently react.rb is integrated with react-rails to provide Rails integration, and I believe @ylluminate's notion is that we would just substitute react_on_rails for the equivalent functionality.

I really agree with your idea of being a "1st class Javascript citizen" and believe that for Opal to succeed

[2016-02-13 00:46] justin808 commented on #271
Thanks @fkchang. If there's anything I can you with, please let me know!

At the same time, while I love **RUBY**, I sure love **ES6/ES7** as well!

[2016-02-14 05:23] robwise commented on #22
Yep that logic should be re-usable.

[2016-02-15 09:44] SqueezedLight opened #274 "ReferenceError: ReactOnRails is not defined when pre-rendering in production"
Hi guys,
i managed to get everything to work on my local machine. When i deploy to production (via capistrano to an ubuntu server) i get the following error:

[code]

The error only occurs when pre-rendering. When i set ```prerender: false``` the page renders without errors, but MyComponent (which causes errors when prerendered) is not displayed at all. In this case whether the server nor the clie

[2016-02-15 13:50] SqueezedLight commented on #274
Ok, now at least ```prerender: false``` works in production.
My problem was with the sequence of loading my scripts and turbolinks. For future reference, this did not work in production:

[code]
No error was displayed, but the react component was simply not displayed.

This works as expected:
[code]

Maybe this helps someone.
Unfortunately the error ```ReferenceError: ReactOnRails is not defined``

[2016-02-15 18:25] justin808 commented on #274
@SqueezedLight you want a file like https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/Procfile.static

That will allow you to test locally basically what's going to be in production.

You will get the above error: `ReactOnRails` if either:

1. You did not properly create a single server side rendering bundle.
2. You did not properly include react_on_rails in your client/package

[2016-02-15 18:41] SqueezedLight commented on #274
@justin808 yes i'm on v3:
gemfile: ```gem "react_on_rails", "~> 3.0.0-rc.1"``` and package.json: ```"react-on-rails": "3.0.0-beta.1"```

Both files, ```serverRegistration.jsx``` and ```clientRegistration.jsx``` import react-on-rails. This should be enough, right?

If i start my app locally in production mode, everything works fine.

[2016-02-15 18:57] justin808 commented on #274
@SqueezedLight Please move to rc2 and be sure to call ReactOnRails.register for your components.

If you want, create a small github repro to reproduce and I'll take a look.

What version of Rails are you on?

[2016-02-15 19:13] SqueezedLight commented on #274
@justin808  I'm on rails 4.2.5.1
Ok, i'll switch, thanks for your help! There are good news: I finally managed to reproduce the behavior locally. It seems the ```config.server_bundle_js_file``` is not found, but ```You specified server rendering JS file:..``` is not shown in the production.log file. So it wasn't totally obvious at first...

What is the correct way to reference the fingerprinted ``

[2016-02-15 19:22] #268 closed

[2016-02-15 19:23] justin808 commented on #242
@Tamiyadd Can we close this?

[2016-02-15 19:44] SqueezedLight commented on #274
I can do something like:
[code]

But that feels wrong....?

[2016-02-15 19:53] justin808 commented on #274
@SqueezedLight I'm not sure on this one. We don't seem to have any issues on https://github.com/shakacode/react-webpack-rails-tutorial/

It's important that you have only ONE generated bundle file for server rendering, and then configure it relative to your top level.

[2016-02-15 20:01] SqueezedLight commented on #274
@justin808 Yes, i couldn't find any issue either.
In my case i bundle the ```server-bundle.js``` into app/assets/javascripts/generated/ with webpack in development. For production the file goes through the asset pipeline and i reference it like stated above. This seems to work fine, and i can make use of the rails asset pipeline. The /generated folder gets deleted for production.
I think we can cl

[2016-02-15 20:01] #274 closed

[2016-02-15 21:35] biznickman opened #275 "Add support for Bootstrap 4."
I've been building an application and it uses Bootstrap 4 (using the `bootstrap` gem as documented on the `bootstrap-sass` gem repository.

I installed this gem and the result was that it broke the app because the two bootstrap versions conflict.

I'll see if I can get a forked version working...

[2016-02-15 22:04] biznickman commented on #275
The more that I think about this, the more I question the inclusion of bootstrap in this. Unless this gem is solely for demonstration purposes (which is fine), it doesn't make sense to enforce this dependency. In fact, a large number of these dependencies could be removed.

Instead a focus on enforcing folder structure and creating a starter for webpack configuration seems to make much more sense.

[2016-02-15 22:31] justin808 commented on #275
@biznickman Only the generator offers this as an option (maybe default, maybe not). Bootstrap is not a core feature of the gem. In fact, we're looking for help to update the generator to the latest techniques as shown in https://github.com/shakacode/react-webpack-rails-tutorial/. It would be relatively easy to configure the generator to do this.

Finally, we do encourage you to review the changes

[2016-02-15 22:31] #275 closed

[2016-02-15 23:53] justin808 commented on #274
@SqueezedLight FWIW, the server side JS file should not go through the asset pipeline. YW!

[2016-02-16 00:59] thewoolleyman opened #276 "Examples of shallow rendering tests?"
Are there any examples of this, especially for apps which use the scss approach shown in https://github.com/shakacode/react-webpack-rails-tutorial?

The current testing approach (added in https://github.com/shakacode/react_on_rails/issues/84) makes it difficult to make unit-level component tests that are not coupled to the rendering/behavior of children components ([this article](http://reactkungf

[2016-02-16 01:47] hafizio opened #277 "Generator is not creating command to start hot reloading"
Previously when I run `rails generate react_on_rails:install`. I'll have this in my `Procfile.dev`:
[code]
Now when I install again in a fresh application, the `hot` is missing and I have to add it manually. So running `foreman start -f Procfile.dev` won't start the server for hot reloading.

[2016-02-16 01:54] justin808 commented on #277
@hafizio We've got plans to update the generators to match up with the https://github.com/shakacode/react-webpack-rails-tutorial/. If you or somebody you know could help with this, that would be much appreciated.

CC: @aaronvb @jbhatab

[2016-02-16 01:54] justin808 commented on #277
@hafizio When you say "previously", are you saying that a prior version of ReactOnRails?

[2016-02-16 02:21] hafizio commented on #277
@justin808 yes. I think before the version 3.

[2016-02-16 04:04] justin808 commented on #277
Definitely sounds like a bit of a bug, but also something we'd need to find a volunteer to fix these generator issues.

@yorzi Any chance you might be able to help us again on the generator?

[2016-02-16 04:05] justin808 commented on #277
BTW, we're thinking of removing the hot-reload webpack dev server, as the new way allows you to simply use your Rails server for hot reloading.

@jbhatab We really got to get this changed in the generators before you make your epic screencast series!

[2016-02-16 05:09] aaronvb commented on #277
`hot:` is indeed missing in `Procfile.dev` with the base install:

https://github.com/shakacode/react_on_rails/blob/master/lib/generators/react_on_rails/templates/base/base/Procfile.dev.tt

[2016-02-16 05:33] justin808 commented on #277
@aaronvb We might have done this to simplify things. In general, it doesn't make sense to run more processes than you really need, as every change saved triggers lots of recompilation.

[2016-02-16 05:39] aaronvb commented on #277
@justin808 Further investigating, we moved the command to `npm run express-server`

Perhaps we could update the base generator helpful message to include that command. We're only showing that command with the redux generator.

[2016-02-16 07:23] justin808 commented on #277
@aaronvb Excellent idea!

[2016-02-16 08:58] aaronvb commented on #277
@hafizio While the hot command is no longer in the Procfile, it can still be loaded with `npm run express-server`. Sorry for the confusion! We've updated the message after running the base generator install `rails generate react_on_rails:install` to provide information on running the hot reloading server.

[2016-02-16 08:59] #277 closed

[2016-02-16 15:01] martyphee commented on #212
Has anyone done work on this yet?  I'm in London this week talking to
developers and we're looking at moving from `react_rails` to
`react_on_rails`.

If not I'll see if I can do something tonight.

@lucke84 <https://github.com/lucke84> @thewoolleyman
<https://github.com/thewoolleyman>

On Thu, Jan 28, 2016 at 5:33 AM, Justin Gordon <notifications@github.com>
wrote:

[2016-02-16 15:05] Tamiyadd commented on #242
Hi @justin808 ,
sorry for the waiting but i had to change a loot of code to upgrade my rails app to react_on_rails 3.0. BTW now with css modules it's working so i think you can close the issue

thanks a lot for the help

[2016-02-16 15:12] alexfedoseev commented on #242
:+1:

[2016-02-16 15:12] #242 closed

[2016-02-16 15:15] lucke84 commented on #212
We're working on a solution but atm it's rather custom. If it proves to be good enough, we'll try to extract a general one and happily share it with everybody. This could take a while though, so I suggest others give it a try as well :smile:

[2016-02-16 15:18] martyphee commented on #212
Sure, we need this for our POC.  We're currently using it to inject `Jed`
i18n files based on the locale (we're in a lot of countries and some
support multiple languages).  Eventually it would be nice to replace text
in the JS files and just serve the country specific one.

On Tue, Feb 16, 2016 at 3:15 PM, Luca Canducci <notifications@github.com>
wrote:

[2016-02-16 16:30] ttrmw opened #280 "No bundle is served? Is a javscript include tag needed?"
I'm migrating from using browserify.. I've moved my root component into its own directory under bundles. I can't get it or any other of the components under it to serve at all - as if I needed a javascript include tag or similar. I'm guessing that isn't how this gem works, but being new to webpack I'm not at all sure where to look.

[2016-02-16 16:43] ttrmw commented on #280
Note that if I add app & vendor bundle `javascript_include_tag`s and the corresponding config to `initializers/assets.rb`, I get `ReferenceError: webpackJsonp is not defined` - so I'm guessing this isn't the right approach, either.

[2016-02-17 02:13] aaronvb commented on #280
@ttrmw You'll need to setup webpack to compile your components, and then have the generated js added to your js manifest file. Have you seen our example app? https://github.com/shakacode/react-webpack-rails-tutorial Check out the `client` folder and the `assets/webpack` folder.

Let me know if you have any more questions.

[2016-02-17 02:18] justin808 commented on #280
@ttrmw If you're interested in accelerating your conversion, ShakaCode offers a starter pack of meetings and code reviews for a fixed price of $1500. It's a great deal. http://www.shakacode.com/work/. We've been helping one client, our assistance is saving their top developers tons of time.

[2016-02-18 07:16] hakunin opened #281 "How to generate JS file on CI environment?"
Hi,
in my tests that require the views to be rendered I get these:

[code]

Is there a command I can run to make sure the files are there before the test starts?

[2016-02-18 08:14] martyphee commented on #212
https://gist.github.com/martyphee/2a36d9429cb084228c7b

This adds before_render and after_render hooks.

We're currently using Jed as our GetText implementation.

On Tue, Feb 16, 2016 at 3:15 PM, Luca Canducci <notifications@github.com>
wrote:

[2016-02-18 09:34] hakunin commented on #281
So I added
[code]
into my `circle.yml` file which helped fix the rspecs, but cucumber complains

[code]

Not sure if that generated file is somehow incorrect or what is happening. Locally it works fine.

[2016-02-18 09:40] justin808 commented on #281
@hakunin We added specific code in v3 to solve this issue. See the docs here: https://github.com/shakacode/react_on_rails/blob/master/docs%2Fadditional_reading%2Frspec_configuration.md

Please let me know if this fixes the issue.

[2016-02-18 09:41] #280 closed

[2016-02-18 10:30] hakunin commented on #281
Unfortunately, it didn't.

I updated to V3, added the config line and removed the `cd client && npm run build:client`, and I get this:
[code]

[2016-02-18 11:24] justin808 commented on #281
Is this only on CI?

can you repro locally?

[2016-02-18 11:34] hakunin commented on #281
Only on CI.

On Thu, Feb 18, 2016 at 12:24 PM Justin Gordon <notifications@github.com>
wrote:

--
S pozdravem, Regards
Michal Hantl

skype id: michal.hantl
cell phone: +420 720 737 902

[2016-02-18 11:38] justin808 commented on #281
We've had these issues before. You'll have to yak shave with CI.

I will say, try this:

Make a fresh git clone and follow all the steps you have for CI locally.

9 out of 10 cases we see an issue we thought was only CI.

[2016-02-18 14:35] hakunin commented on #281
More investigation:
- I updated all packages I could to new versions
- I updated npm on the CI to 4.3

During compile I get:

rake assets:precompile
cd client && npm run build:client

Webpack production build for Rails
Hash: 1a2b03e71b9c8205e3ab
Version: webpack 1.12.13
Time: 8883ms
           Asset     Size  Chunks             Chunk Names
   app-bundle.js  1.23 MB       0  [emitted]  app
vendor-b

[2016-02-18 23:42] benigeri opened #283 "How to include images from asset pipeline in JS client?"
### The problem

I'm currently using the asset pipeline to serve images from my rails server.

For example, let's say I have an image at:

[code]

In `erb` code, I'd use `image_tag` or something, and it would generate a fingerprinted link like this:

[code]

And if I tried to access the non fingerprinted asset in production, I'd get a 404:

[code]

What is the best way to deal with this if I want

[2016-02-19 00:07] benigeri commented on #283
## Best thing I've come up with:

1. Creating an `assetPaths.js.erb` file in `/app/assets/javascript/assetPaths.js.erb`
2. Then I tell my asset pipeline to `Rails.application.config.assets.precompile += %w( assetPaths.js )`
3. Include that in my master JS file for my client side app:

[code]

And now I have a beautiful global dict of available asset paths.

This isn't great but it works. Would lov

[2016-02-19 01:15] benigeri commented on #283
Actually this doesn't work with server side rendering, unfortunately.

[2016-02-19 01:51] justin808 commented on #283
I think there's 2 options:

* https://github.com/alexspeller/non-stupid-digest-assets
* Put the assets under /public

[2016-02-19 02:03] benigeri commented on #283
@justin808 thanks! I think option 1 is best.

This might cause some caching issues with cloud front / cloudflare, but we'll solve that another day.

Appreciate the prompt response!

[2016-02-19 02:03] #283 closed

[2016-02-19 09:38] martyphee commented on #212
Has anyone had a chance to look at the gist I created?

On Thu, Feb 18, 2016 at 8:14 AM, Martin Phee <martyphee@gmail.com> wrote:

[2016-02-20 20:49] justin808 commented on #276
@thewoolleyman, @alexfedoseev is working on a solution to this, FYI.

[2016-02-20 20:50] justin808 commented on #261
The only reason we'll get to this one is if we're working on some bug related to this.

[2016-02-20 20:50] #261 closed

[2016-02-20 20:52] justin808 commented on #245
@jbhatab posted this to a merged PR

@justin808 @samnang @robwise @alexfedoseev  As you would normally expect from me, I have to disagree with the 'rails way' here :P. I think for rails it may make sense, but for gems it doesn't.

## Popular gems
https://github.com/plataformatec/simple_form. Simple form doesn't automatically include bootstrap and then allow you not include it.

https://github.com/

[2016-02-20 21:10] justin808 commented on #245
@jbhatab I'd like you to take a first crack at how you'd change the generators such that there's 2 generator commands:

1. **react_on_rails:install [options]**: All the setup, non-bundle options. We can change the defaults to do the simple setup by default. However, since we're setting up the client dir and I consider JS linting 100% essential, we leave that as the default. So basically, we're jus

[2016-02-20 21:54] aaronvb commented on #245
I agree with @jbhatab on making the generators more simple and and adding a secondary generator for the bundles.

I think when we first started the generators, we wanted to show people how react_on_rails worked by generating the hello_world bundles for them. It allowed someone to start a project right away with the way we used react_on_rails. Looking forward I don't think there's anything wrong wi

[2016-02-20 21:57] thewoolleyman commented on #276
@justin808 Cool - is the work @alexfedoseev doing on any open source repo or branch that I can follow?

[2016-02-20 22:10] alexfedoseev commented on #276
@thewoolleyman Previously I came up with [this solution](http://alexfedoseev.com/post/68/test-webpack-specific-builds-with-mocha), later on I found [this one](https://github.com/istarkov/babel-plugin-webpack-loaders), but haven't tried it yet.

[2016-02-20 22:35] thewoolleyman commented on #276
@alexfedoseev looks good, but your webpack-fu is impressive, much greater than mine.  I recognize these as some of the same issues I ran into, but I don't have the context or experience yet to dig down to the root causes.

But I'm looking forward to someone smart like you figuring it out and making it part of the react_on_rails conventions.

And ideally, I'd love for it to be test-framework agnost

[2016-02-20 23:30] justin808 commented on #245
@aaronvb and @jbhatab big, big thanks for taking the lead on this!!!! The community will surely value this! I'm going to be focused on pushing the envelope for features to the core. Maybe there's some way we can get some community fundraising to help pay for your time?

[2016-02-21 05:41] jbhatab commented on #245
@justin808 @aaronvb I still want to address some points before we start coding. I think that just attacking it could lead to some wasted efforts.

Here are my thoughts on what we could do. Would love input and feedback on this.

1. We should remove the concept of hot reloading completely from the generator. It's a preference.

2. We should remove bootstrap completely. It's a preference.

3. We sho

[2016-02-21 05:49] justin808 commented on #245
@jbhatab, I'm not following you on removing what's working. What's the issue with npm-shrinkwrap?

[2016-02-21 11:53] valscion commented on #212
Hi there! We have implemented a semi-nice integration with `i18n-js` with a Webpack which does the following:

1. Load all translation files (we use YAML) to a JSON serializable object
2. Add a new [`I18nRuntimePlugin`](https://gist.github.com/valscion/3bca60229a1923c1a948) to webpack plugins:

[code]
3. Make sure to setup placeholders and I18n.js in an entry point for webpack:

[code]

This workf

[2016-02-21 12:32] alexfedoseev commented on #276
This is exactly why I'm not releasing my first solution as module. Babel plugin makes it test-framework agnostic and I want to try out it first. Hope I'll get to this point soon, b/c currently I have a few important things to do before I can get back to testing issue.

[2016-02-21 12:55] rstudner commented on #212
@valscion this is great. I had done a far more hacky version (exporting the translations.js periodically and just "using it" but his is much more elegant)

Definitely should put this out publicly! :)

[2016-02-21 13:44] valscion commented on #212
Thanks @rstudner, I'll try to ping you when there's more news :)

[2016-02-21 14:49] jbhatab commented on #245
@justin808 I main issues are maintenance, simplicity, and scope in relation to the generators. It has already been complicated to maintain the single installer and adding a component generator compounds that much more. To be able to adapt and keep all of our documentation consistant with ease it would help to remove a lot of these concepts. We can write blogs on a lot of these concepts that show y

[2016-02-21 19:45] justin808 commented on #212
@valscion @rstudner @martyphee Thanks to all for your efforts here!!! :+1:

[2016-02-21 19:49] justin808 commented on #276
@thewoolleyman We're starting to get on the critical path to **LAUNCH** of our product, so fixing some of these is going to rely on some community help. Thanks for your patience!

BTW, I'm probably old school, but I still believe in mostly Capybara tests of the UI! Test the whole flow. You need that regardless, so if you duplicate the tests in shallow rendering, you have to fix 2 places when you c

[2016-02-21 21:05] justin808 commented on #245
Hi @jbhatab. Thanks for the help. Here’s some examples that show the differences between generator runs: https://github.com/shakacode/react_on_rails-generator-results (sorry about some diff noise)

I’m all in favor of the change to make a new bundle generator.

How about if we just do that, as that will be useful to both existing and new installs.

We can discuss removing things later. So long as

[2016-02-21 22:05] robwise commented on #245
Getting webpack and rails to work nicely together is the main goal of people coming to this repo. Watching Blaine try and teach this stuff to people when he screencasts, I'm noticing that it's really difficult for developers to understand what is going on with the amount of stuff we generate that is tangential to just getting started. Also, there's an appreciable maintenance cost to all of it—a co

[2016-02-22 06:24] justin808 opened #289 "Voting on Future Features and Supporting React on Rails"
There's no obvious mechanism to collect votes on future features.

I'm opening up this "issue" as a placeholder for general comments about what people would like to see next.

[ShakaCode](http://www.shakacode.com), my company, has paid for many hours of developer's time to support the project.

We super, super appreciate community support through:

1. Reporting issues and using React on Rails.
2.

[2016-02-22 19:55] jDeppen commented on #245
Thanks for creating this awesome project.

I agree with @jbhatab and @robwise on the removals. I've pulled out everything except bootstrap and hot reloading to make it easier to understand how everything works.

Speaking of screencasts, how about a paid screencast series? It could fund some of the work and would probably bring more contributors because the learning curve would be reduced.

_Side n

[2016-02-23 01:44] wyaeld commented on #179
@justin808 have just built a new app with latest releases, and removing this, and adding both

[code]

(latter needed because of the peer dependency)

worked without issues, and solved the deprecation notices

[2016-02-23 01:50] justin808 commented on #179
@wyaeld  We really need to update a few files to get to the new bootstrap-loader. By any chance, could you try to make a PR on that and I'll review it?

[2016-02-23 01:56] justin808 commented on #245
@jbhatab and I discussed this. He's going to create some sample PRs for his upcoming tutorial in terms of what he'd like the generators to do. This will give us a possible idea of how this should work. Here's a simple example: https://github.com/shakacode/react_on_rails-generator-results/pull/227/files. This repo clearly shows what the different options do: https://github.com/shakacode/react_on_ra

[2016-02-23 02:06] thewoolleyman commented on #276
If you want to talk old-school ;), this is still my go-to article when I explain how I like to think about categorizing tests:  http://groboutils.sourceforge.net/testing-junit/art_naming.html

But yes, application integration tests via Capybara of all the happy-path flows are indispensable, and with cloud-based parallelized CI not as much of a pain as in the past, but I still like to have some uni

[2016-02-23 02:18] thewoolleyman commented on #245
@jbhatab also asked me to chime in on this with some of the things I discussed on Slack.

It seems like this discussion is going in the right direction, but I'll try to summarize:

* This stack is very complex and hard to learn and debug, even for experienced web devs.  It's a brave new world, turtles all the way down, but such high stacks of turtles! ;)
* So, the generators should definitely supp

[2016-02-23 02:20] justin808 commented on #245
@thewoolleyman Did you find the https://github.com/shakacode/react_on_rails-generator-results repo helpful?

[2016-02-23 02:38] thewoolleyman commented on #245
I skimmed them, that looks good and a lot like what I suggested!

However, it's still only certain combinations.  E.g., skip bootstrap but with server side rendering is not shown.  And I know it was discussed above, but it would be great to see examples without the added complexity of hot reloading.

I also notice some "spurious" changes in the comparison branches - e.g. bumping the rails version

[2016-02-23 02:45] justin808 commented on #245
Chad, we have automated this: https://github.com/shakacode/react-on-rails-generator-results-automation. You've always had the commit bit here. :smile_cat:

And regarding tests, we have an amazing system that actually runs the generators and runs specs the generated apps.

What's frustrating about this is that @robwise and I did a huge amount of work to get this all going, and we're more than happy

[2016-02-23 03:17] thewoolleyman commented on #245
Wow, you already have it automated.  I had assume it wasn't since some of the branches had pending pull requests (?)  We should put a link to that automation repo in the results repo readme (I would but I'm not positive if the generation of the readme itself is automated?)

Yes, the new CSS approach seems to be the crux of a lot of my confusion as well, at least when I was trying to get Jasmine or

[2016-02-23 04:43] aaronvb commented on #245
Sorry for the slow responses. Similar to @thewoolleyman, the time I'm volunteering is also between my side project and day-to-day work. A complete rewrite of the generators might be more than my bandwidth can allow, but I want to see this through and will volunteer as much help as I can.

Also, I have some other features I want to see in react_on_rails (like react-stdio as an alternative to therub

[2016-02-23 05:03] justin808 commented on #245
@aaronvb I agree with you that the react-stdio is much more important.

[2016-02-23 06:02] justin808 commented on #245
@jbhatab I think we could accomplish your goals with the following as an interim step:

1. Make bootstrap an option rather than the default
2. Make the hot reload server optional since we're not rails hot loading. I prefer not to remove it since it is really good for certain uses cases of prototyping.
3. Make the hello_world string a parameter so you can call it "todos" or "blogs" etc.

With just

[2016-02-23 08:22] hakunin commented on #281
Good news @justin808, I had a missing dependency `babel-runtime` (which is required by react on rails) and now it compiles. Maybe you can add it as dependency by default, since it won't compile otherwise?

[2016-02-23 09:41] justin808 commented on #281
hmmm...

@hakunin We don't have that here: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/package.json

Maybe you can research a bit more on the specific case of why you need it?

We're using Travis for CI, so that's pretty standard.

[2016-02-23 10:53] hakunin commented on #281
It is needed by polyfill.
[code]

My limited node knowledge leads me to believe that its a peer dependency, thus not installed unless you specify you want it and Travis has the package available globally.

[2016-02-23 11:37] SqueezedLight opened #290 "React on Rails and async loading of application.js"
Hi guys,
i'm wondering if there is any possibility to use react on rails with async loading like:
[code]

In this case, the ```componentDidMount``` does not get fired. The issue is well known, described and fixed here: https://github.com/reactjs/react-rails/issues/218

What i'm searching for is a hook, like ```ReactRailsUJS.mountComponents()```. Right now i'm trying to write something like ```moun

[2016-02-23 15:08] jbhatab commented on #245
@justin808 I think making things optional is great. The only remaining issue would be multi options support. If we add the component generator and it needs to support server rendering, client rendering, bootstrap, hot reloading, and linting as options then it will have to have a ton of options that will be hard to maintain.

Also, what do you think about moving things like the hot reloader and boo

[2016-02-23 21:08] justin808 commented on #245
Having worked intensely on this:

I don't see any need to throw it away. It needs to be updated to the latest. On the to-do list.

[2016-02-23 21:24] jbhatab commented on #245
@justin808 I respect and appreciate the previous work but I want to make sure that looking forward we can make the most pragmatic decisions to make the gem the best experience for the people using it.

I don't think we need to throw it away but it is very difficult and time consuming to keep them in. If you keep things like the hot loader and bootstrap in the default generator as options then you

[2016-02-23 22:59] bartoszbinda opened #291 "React on Rails on Cloud9"
There is only :8080 on Cloud9 working.  What can I do to changes the port in React on Rails? I've tried on client/server,js and puma.rb but still not working.
http://pastebin.com/Skwx7Jas
Now I've got this:
http://pastebin.com/Ej8GNp5C