[2018-06-08 06:31] brandoncc commented on #1098
I'll look into creating a PR for it. Unfortunately, pro support is not an option at the moment. Thanks for the response.

[2018-06-19 14:30] mechabyte opened #1104 "Issue with Addressable parsing Rails server info inside `react_component` on Capybara headless tests"
Hey, just wanted to say thanks for contributing this library which makes it super simple to integrate React components into legacy Rails applications. Everything has been pretty straightforward so far, but I've been running into some issues when running some headless tests using Capybara. Specifically, the `Addressable` gem gets tripped up when using the `react_component` view helper ([gathering R

[2018-06-19 14:33] mechabyte commented on #1104
Capybara is configured as follows inside `spec_helper`:

[code]

[2018-06-21 02:17] justin808 commented on #1104
@mechabyte I can with certainty that the issues you are having are due to the library React on Rails. That being said, I'd love to help you more.

1. Check out the test setup of https://github.com/shakacode/react-webpack-rails-tutorial.
2. Would you be interested in our ShakaCode Pro Support plan?

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-m

[2018-06-21 02:17] #1104 closed

[2018-06-21 12:39] mechabyte commented on #1104
@justin808 I'll take a look through the tutorial again to see if I glossed over anything that could be causing this issue. If that doesn't solve it, I can consult with my coworkers to see what they'd like to do as far as a support plan. Thanks for your help & continued work on this library.

[2018-06-25 02:59] justin808 commented on #347
![Uploading orange_logo-8fb7805c7eb95e306efe263dbe27994bfcf3610e0bb5a879f626448889e00515.png…]()

[2018-06-26 14:06] waishub commented on #779
Hi, Thank you for this really helpful gem!
I'm following the pattern (breaking into multiple webpack bundles) and noticed that
in SSR, `config.server_bundle_js` should be set after `I18n.locale` is set in application_controller,
like:
[application_controller.rb]
`I18n.locale = extract_locale_from_tld || I18n.default_locale`
[somewhere else]
`server_bundle_js_file = 'server-bundle-' + I18n.locale.t

[2018-06-26 17:08] juliusdelta opened #1110 "SSR Styled Componenets Giving Unitialized Constant Error"
We're using server side rendering along with [Styled Components](https://www.styled-components.com/). We've ran into an issue and would just like clarification on whether or not we've hit the need for the ReactOnRailsPro functionality.

[code]

[code]

[code]

The error we get at this point is:
[code]

[2018-06-26 18:51] juliusdelta commented on #1110
It actually seems we were using `react_component` instead of `react_component_hash`. So I'm closing for now.

I would like to say how appreciative I am for this library and the documentation. 👍

[2018-06-26 18:51] #1110 closed

[2018-06-26 18:53] juliusdelta commented on #883
For those who come later the above implementation by @esshka should be afaict:

[code]

[2018-07-09 22:39] justin808 commented on #347
![image](https://user-images.githubusercontent.com/1118459/42479546-2296f794-8375-11e8-85ff-52629fcaf657.png)

[2018-07-10 09:50] zverexe opened #1112 "how to disable js with global window object when using ssr?"
I cannot find in the docs the way how can I track usage of window object. I want to hide it somehow when using ssr and run it on client without errors in the console.

[2018-07-10 13:02] #1112 closed

[2018-07-17 07:45] anativ commented on #563
Same here....
`spring stop` solved the issue

[2018-07-17 20:31] justin808 opened #1114 "Add configuration to skip random sha for unique ids"
Most times, we don't need to worry about the unique ids in the react on rails components.

We can add a global setting:

[code]

if true, then the unique id is 'react-on-rails-<component_name>'.

This saves the need to optionally set the id as a property when react_component is called supposing we don't want get the random shas.

[2018-07-17 20:49] justin808 opened #1115 "N/A"
N/A

[2018-07-20 21:50] he4amm opened #1116 "Webpack configurations error"
Hi all I facing this errors in webpack logs for the ReactOnRails project,
the app runs through the port as well except loading any react component in the view and these errors showing in the terminal...
if anyone facing this issue before or know the solution of it, the help will be so far appreciated
![image](https://user-images.githubusercontent.com/9943043/43026821-9e0c1944-8c77-11e8-9878-7d645b

[2018-07-23 00:47] justin808 commented on #1116
Hi @he4amm,

Your image is not showing errors.

Would you be interested in our ShakaCode Pro Support plan?

http://www.shakacode.com/work/shakacode-pro-support.pdf

If so, please schedule a complimentary 30-minute consultation:
https://meetings.hubspot.com/justingordon/30-minute-consultation

Thanks,

Justin
justin@shakacode.com

[2018-07-23 00:47] #1116 closed

[2018-07-23 05:12] justin808 commented on #1114
Fixed in #1121

[2018-07-23 05:12] #1114 closed

[2018-07-27 07:22] phbernard opened #1122 "Server rendering with Material-UI v1.x"
I recently upgraded Material-UI from 0.18.7 to 1.4.1. This broke the server rendering.

Previously, styles where inlined in the server-side generated HTML, providing a smooth user experience. Now, the styles are gone. Ouch. Materiaul-UI doc provides insights on [how server rendering should be done](https://material-ui.com/guides/server-rendering/#handling-the-request). In particular, server side r

[2018-07-27 12:48] waishub commented on #779
Hi, I changed following line in lib/react_on_rails/utils.rb and it works fine now.

from:
`bundle_name = ReactOnRails.configuration.server_bundle_js_file`
to:
`bundle_name = ReactOnRails.configuration.server_bundle_js_file + '-' + I18n.locale.to_s + '.js'`

In config/initializers/react_on_rails.rb:
`config.server_bundle_js_file = 'server-bundle'`

[2018-07-27 20:52] phbernard commented on #1122
Awesome! Will give it a try and probably publish a sample Rails app to illustrate the react_on_rails and Material-UI combo. Thank you!

[2018-07-27 22:47] justin808 commented on #779
@waishub I'm not clear what you are doing. Currently, server rendering only supports ONE bundle as the VM context gets reused between requests.

[2018-07-28 02:36] justin808 commented on #779
If anybody reading this would be interested in having support for locale-specific bundles be a feature of [React on Rails Pro](https://github.com/shakacode/react_on_rails/wiki), please [contact me](justin@shakacode.com). Otherwise, I'm open to PRs for code and docs.

[2018-07-28 05:01] waishub commented on #779
Hi, as @amf9t2 mentioned, I think it's better to load only single locale because users rarely change their locale during use. In addition, as mentioned by [google](https://support.google.com/webmasters/answer/182192) or  even from the point of view of [RESTful application.](https://guides.rubyonrails.org/i18n.html#storing-the-locale-from-the-session-or-cookies), I think it's better to use "languag

[2018-07-28 21:54] phbernard commented on #1122
So you want to use Material-UI with react_on_rails and Google led you here?

**Without server rendering**

You have something like this in your view:

    <%= react_component("App", prerender: false) %>

... and that's enough.

**With server rendering**

Simply setting `prerender` to `true` doesn't work because you don't get the CSS. So the rendered HTML is pretty ugly.

As suggested by @justin808

[2018-07-28 22:01] phbernard commented on #883
Running into this issue while server rendering Material-UI, I had to change @esshka's proposal by using  `railsContext` to differentiate the server and client cases. [I documented my solution in another issue](https://github.com/shakacode/react_on_rails/issues/1122#issuecomment-408637108).

[2018-07-28 22:58] justin808 commented on #1122
@phbernard Please feel free to submit a doc pr to add this info to some file in the /docs directory.

Thank you for your help!

[2018-08-01 21:14] KKS1 opened #1124 "Apollo Client ( GraphQL ) integration with react-on-rails"
Hi team,

First of all, thank you so much for putting in all the hard work, and getting this super useful gem out.
I see as of now, we have 'redux + react + rails' combination feasibility in this. Is there a plan to move forward towards a graphQL based architecture ? As I understand, with Apollo Client 2 version, one can simply use apollo-boost module ( ApolloProvider ), and have the state managem

[2018-08-01 21:38] justin808 commented on #1124
@KKS1 Graphql is supported right now, but not with server-rendering.

I've already started on making server-rendering with graphql a React on Rails Pro feature.

Please get in touch with me directly: [justin@shakacode.com](mailto:justin@shakacode.com) and we can discuss this further.

[2018-08-01 21:38] #1124 closed

[2018-08-01 22:06] KKS1 commented on #1124
Thanks @justin808 . Glad to hear that! I will connect over the email, to get more details on the GraphQL client end feasibility with current gem.

[2018-08-06 18:19] ebauger commented on #799
@justin808  I'll check this week what I can do

[2018-08-06 19:08] justin808 commented on #799
@ebauger Let me know if you'd like an invite to our Slack. [Email me](mailto:justin@shakacode.com).

[2018-08-06 22:15] zdrummond opened #1125 "Debugging using Chrome and VS Code"
I use VS Code's integrated debugger with Create React App pretty extensively. I was hoping to get the same experience with react_on_rails.  I was not able to get it going on our current existing project, so I tried it from scratch. No luck. Any advice or suggestions would be appreciated. Thanks!

# react_on_rails
rails: 5.1.6
webpacker: 3.5.5
react_on_rails: 11.0.9
react: 16.4.2

# cra
react: 16.4

[2018-08-08 12:49] vcarel opened #1126 "Regression due to PR #1046 ?"
Hi, the PR #1046 caused a regression on my end.

In our translations we have arrays in keys like day_names, month_names and so on. Those are for Rails and I'm pretty sure we don't use them in our react app, but they make our build crash:

[code]

Don't tell me I have to split our translation files into "server only" and "server + client" ones... :cold_sweat:

[2018-08-08 12:54] vcarel commented on #1126
[code]

[2018-08-08 16:57] justin808 commented on #1126
Please submit a pr with the appropriate tests.

[2018-08-08 19:09] shepmaster opened #1127 "constant ::TRUE is deprecated"
[code]

https://github.com/shakacode/react_on_rails/blob/75c7408e6d61ca78f4ffafe768dab339270936d4/lib/react_on_rails/configuration.rb#L12

Ruby 2.5.1

[2018-08-08 21:42] justin808 commented on #1127
If you can give me a PR, that would be great. If not, I'll get to this sometime in the next week.

[2018-08-09 08:26] vcarel commented on #1126
Hi,

The unit tests don't pass on my computer:
![image](https://user-images.githubusercontent.com/1541093/43887115-18d1d218-9bbe-11e8-868d-6e154c90c7bc.png)

Besides `rake examples:gen_all` (as mentionned in CONTRIBUTING.md) doesn't work as well.
![image](https://user-images.githubusercontent.com/1541093/43887249-7b06a850-9bbe-11e8-8350-ecb33e179f67.png)

(I did `bundle install` FYI)
Can you help?

[2018-08-09 18:46] #1127 closed

[2018-08-09 18:47] justin808 commented on #1126
@vcarel please try your best.

[2018-08-09 18:50] #1115 closed

[2018-08-09 18:50] #1094 closed

[2018-08-09 20:47] vcarel commented on #1126
@justin808 my apologies if my first previous message sounded rude. However if you want to attract contributors you should at least prov
I'm new to Ruby and don't know anything about react_on_rails. But I do know how too look at a stack trace. I'm not interested in spending the day fixing a gemset.

[2018-08-09 21:04] vcarel commented on #1126
@justin808 My apologies if my previous message sounded rude. Is there a specific Ruby version I should install? What about node.js? Do you think I miss some development libs on my computer?

I would be happy to contribute, really, but at least I would like to do it properly, on a working setup, doing the unit tests first. It would not help you to submit a PR with _untested_ code.

[2018-08-10 05:33] justin808 commented on #1126
I'd try with the latest ruby and node versions. That should work.

[2018-08-10 13:49] vcarel commented on #1126
okay, I have something which _almost_ works with Node LTS (8.x). I was on Node 10, and it's not supported by node-sass (4.5.3 -> need upgrade to ^4.8.0) - and perhaps others libs... ?

Besides I have an issue with @patrickkettner/get-cursor-position, on which node-gyp get hung quite long at every test. All in all, it takes almost 10 mins to run all the unit tests in this configuration:
[code]

I h

[2018-08-10 17:50] rubiety commented on #991
There seem to be two separate issues here:

1. Using `ReactOnRails.register` globally in a way that multiple invocations across bundles work together so that the last call doesn't clobber previous ones.
2. Creating webpack chunks to avoid code duplication across multiple bundles.

Some comments here are addressing (2), which is indeed related, but (1) seems to be the proximate issue from the origi

[2018-08-11 00:44] justin808 commented on #991
@rubiety are you using Webpack v4? I'm thinking that this maybe should be handled at lower level. Nevertheless, thank you for posting this! If you like, consider adding a file to the docs directory in a PR.

[2018-08-13 00:33] justin808 commented on #347
![image](https://user-images.githubusercontent.com/1118459/44008223-9b29d1b8-9e3c-11e8-90a8-9d38dc241ef9.png)

[2018-08-13 13:44] rffaguiar commented on #701
@justin808 we can create this on drip, but the CTA text is too long. Where are you pretending to use this CTA? I would use only "Subscribe" and the headers/subheaders above can explain what's the purpose. Ex.

------

## (header) Join the React on Rails exclusive group
### (subheader) Subscribers have access to exclusive content
(small description) I intend....monthly....latest articles...React on

[2018-08-21 06:36] Brew-Brew opened #1135 "How to integrate react hot loader with react_on_rails?"
How to integrate react hot loader with react_on_rails? i don't know how to integrate react hot loader with react_on_rails.. also i can't find reference of it. i use react component with ReactOnRails.register

[2018-08-21 07:31] justin808 commented on #1135
@zx6658 Can you poke around and let me know what you find. I think it's mostly just about adjusting the webpacker.yml config file to use hot reloading. That will change the URLs, which you can see if you view a page's source.

Then you also need to start the webpack dev server with your webpack config.

If you can try to create a sample app, I'll help you debug.

I'd actually suggest that you try

[2018-08-21 21:18] evanrmurphy opened #1137 "Can React on Rails be integrated into an existing Rails 3.x app?"
The README says "React on Rails supports older versions of Rails back to 3.x" so I was led to believe it could. But then during the install process I see I have to install webpacker. And there's the note "Rails/webpacker requires version 4.2+."

So I'm currently stalled out and wondering if this really does support Rails 3.x or if I misunderstood the documentation.

Is there a way to integrate Rea

[2018-08-22 07:42] rorong commented on #1135
@zx6658

Working on this as confirmed by Evrim.

Gurpreet

[2018-08-22 08:10] justin808 commented on #1137
React on Rails should not require rails/webpacker.

Just use the asset pipeline.

[2018-08-22 08:10] #1137 closed

[2018-08-22 11:34] evanrmurphy commented on #1137
Thanks @justin808! This is great news. I apparently misunderstood that this was a hard dependency.

Trying again now to get react_on_rails working without it.

[2018-08-28 15:00] robinvdvleuten opened #1139 "Component is rendered twice when using Turbolinks"
I've noticed while using `turbolinks` with `react_on_rails` that each component is rendered twice on subsequent visits. It seems that by using the `turbolinks:render` event, the listeners are called twice; once for the cache and once for the new state (see [turbolinks#full-list-of-events](https://github.com/turbolinks/turbolinks#full-list-of-events)).

Is this expected behaviour? Otherwise the `tu

[2018-08-28 20:07] justin808 commented on #1139
@robinvdvleuten Please search for related open/closed issues and PRs on "Turbolinks".

I'm open to thoughtful PRs with good tests. 😄

[2018-08-29 20:03] robinvdvleuten commented on #1139
@justin808 I did some further research on other projects trying to do the same as `react_on_rails`. It looks like the `react-rails` project is using the `turbolinks:load` event as well ([react-rails/blob/master/react_ujs/src/events/turbolinks.js](https://github.com/reactjs/react-rails/blob/master/react_ujs/src/events/turbolinks.js)).

[2018-08-30 00:10] justin808 commented on #1139
OK -- can you reference the other recent change/PR regarding the load event and comment on why that shouldn't have been done. I can find that PR for you if you like.

[2018-09-04 08:40] #1126 closed

[2018-09-13 04:55] justin808 commented on #347
![2018-09-09_15-08-04](https://user-images.githubusercontent.com/1118459/45467837-4eaf8500-b6bd-11e8-9cbd-62d15c96250c.png)

![2018-09-11_11-00-16](https://user-images.githubusercontent.com/1118459/45467844-58d18380-b6bd-11e8-9610-ec5a6e2d7665.png)

![2018-09-11_10-31-11](https://user-images.githubusercontent.com/1118459/45467845-5bcc7400-b6bd-11e8-91e1-e0cf806d4ea4.png)

[2018-09-14 09:09] markopavlovic commented on #798
same issue here, sometimes you use symbols for date definitions

[2018-09-14 20:42] andrewmcodes commented on #1125
@zdrummond can you post your launch.json? As an alternative, if you put `debugger;` in one of your components, it will essentially break at that point similar to using a `binding.pry` in your Rails code, but in the chrome debugger.

[2018-09-14 21:29] justin808 opened #1144 "Console logging reports SSR successful when it didn't run"
During debug tracing, for development, we put a message that SSR ran, but in fact it didn't. This seems to happen if the server bundle is created but doesn't have runnable code (?)

Not a high priority bug.

Easy to see that SSR did not run by looking at the page source.

Also, if the development mode is configured to throw errors on server rendering failure, then the error is obvious.

Best to co

[2018-09-14 22:03] zdrummond commented on #1125
Here is the [launch.json](https://github.com/zdrummond/cra_hello_world/blob/master/.vscode/launch.json). My workflow uses the Attach command as I like managing chrome myself.

Yup, I have used `debugger;` but I find the VS Code integration a nice delight to work with.

[2018-09-15 05:52] andrewmcodes commented on #1125
Hmm weird. I have been able to recreate the issue with [this](https://github.com/andrewmcodes/react-rails-tailwind-demo) app. Oddly enough, the debugger will catch my breakpoints placed in my ruby code (controllers for instance) but not in my components. I have a feeling this has to do with the way one of the gems we are using is working but I will keep looking into it. Does placing `debugger;` in

[2018-09-15 06:09] andrewmcodes commented on #1125
Ok it looks like I am actually getting somewhere. By running a chrome launch and a ruby launch, or even just running the chrome launch and using my terminal to run the rails app, I am am getting the following in my debug console:
[code]

and here are my launch settings:
[code]
Definitely getting close, the debugger is showing my object and its properties, just still not breaking as expected.

[2018-09-21 05:00] mswap commented on #946
HI,
Have your resolved this issue? I have the same problem and not able to find any solution to this.

[2018-09-22 08:02] julianguyen opened #1147 "In version 11 is it possible to pass in a view partial with a react component as a prop to another react component?"
In version 11 is it possible to pass in a view partial with a react component as a prop to another react component?
I was able to do this in version 9 and I recently upgraded and it's no longer working.

[2018-09-22 08:43] justin808 commented on #1147
Can you paste the code? @julianguyen

[2018-09-22 08:49] julianguyen commented on #1147
So this is the view where I'm including the partial as a prop: https://github.com/ifmeorg/ifme/blob/6db85318f7795704cbed41a475a032992e28ff4a/app/views/groups/index.html.erb#L59

This is the partial:
https://github.com/ifmeorg/ifme/blob/6db85318f7795704cbed41a475a032992e28ff4a/app/views/groups/_story_body.html.erb#L1

[2018-09-22 08:51] julianguyen commented on #1147
Another issue I notice is that I get the following error
`ActionView::Template::Error (No such file or directory @ rb_file_s_mtime - /ifme/public/webpack/webpack-bundle.js):` if I stick `prerender: true` outside of the props object.

[2018-09-22 09:34] julianguyen commented on #1147
I got the partial to show up when I prerendered it :O

[2018-09-22 12:43] julianguyen commented on #1147
@justin808 Do you know if this can work without having to prerender?

[2018-09-22 18:56] justin808 commented on #1147
No idea. I never considered this case.  You might want to consider if this will be easy to maintain.

[2018-09-22 18:58] justin808 commented on #1147
I also can’t think of anything to break this. Still, it’s worth checking the changelog. Let me know if you’re need more help.

[2018-09-24 07:38] hashwin opened #1148 "Webpack 4 chunks"
Firstly thanks to the Shakacode team, we are using this project with great success in our app. It's really great that you can take advantage of the Rails webpacker integration while still being able to traditionally configure webpack.

I am in the process of upgrading webpack to v4 and I ran into an issue when dealing with the new chunk system. I have 3 entrypoints in my app.
I have configured it

[2018-09-26 04:52] julianguyen commented on #290
Is there an official way of doing this in React on Rails now, instead of the solution @dpuscher mentioned above?

[2018-09-26 06:54] justin808 commented on #290
@julianguyen I'm sure this is somewhere in the docs.

Here's an example:
https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/app/views/layouts/application.html.erb#L17

you need to use defer:

[code]

[2018-09-26 07:03] julianguyen commented on #290
@justin808 Why does `'data-turbolinks-track': true` need to be set with defer?

[2018-09-27 08:16] justin808 commented on #1148
@hashwin Dynamic code splitting based on routes is part of [React on Rails Pro](https://github.com/shakacode/react_on_rails/wiki). You can see this in action live at https://egghead.io.

Those special bundle files are loaded dynamically by webpack.

For more information, please [email me](mailto:justin@shakacode.com).

[2018-09-27 08:16] #1148 closed

[2018-09-27 19:33] rakelley opened #1150 "reactOnRailsPageLoaded invoked before deferred scripts are completed"
When Turbolinks is disabled, `clientStartup.js` can invoke `reactOnRailsPageLoaded` in a manner that appears premature and unintentional (and is causing my team no end to grief).

The offending code is the timeout declared [here](https://github.com/shakacode/react_on_rails/blob/master/node_package/src/clientStartup.js#L199) with the condition `if (document.readyState === 'complete' || document.rea

[2018-09-27 19:35] rakelley commented on #290
@julianguyen If you don't use turbolinks, you [get problems](https://github.com/shakacode/react_on_rails/issues/1150). #1150

[2018-09-28 07:53] justin808 commented on #290
@julianguyen if you are not using turbolinks, remove that part.

[2018-09-30 02:59] justin808 commented on #1150
@rakelley I'm open to a PR for this. I can push a beta version for you.

Certainly not. I really cannot recollect this logic. It's been this way for years.

[2018-09-30 03:00] justin808 commented on #1150
@rakelley please email me justin@shakacode.com and we can probably work this out pretty quickly.

[2018-10-01 11:18] argasek commented on #480
@justin808 Hi, I hit the same issue as @risinglf and I got quite a strong case why such feature is necessary. I render my component enclosed in `<p>...</p>` tag. As react_on_rails renders in `<div>`, it leads to semantically incorrect HTML nesting - `<div>` is not allowed in `<p>` which, in turn, makes the React component rendered as `<div>` *outside* the `<p>` tag:
![Incorrect nesting](https://pr

[2018-10-01 18:33] justin808 commented on #480
@argasek I can pair with you on PR to add this. Should be easy to allow an option for that.

If you don't have time for a PR, I can do this for you in the context of [our services work](https://www.shakacode.com/work/shakacode-pro-support.pdf).

[2018-10-06 21:43] justin808 commented on #1150
Shipped in 11.0.6.

@rakelley can you confirm that it works as expected?

[2018-10-06 21:43] #1150 closed

[2018-10-09 11:50] rakelley commented on #1150
@justin808 Yes, 11.0.6 is working for us in all scenarios, thank you for the quick turn-around.

[2018-10-12 18:28] coopersamuel opened #1154 "Docs/README updates"
As I go through the docs I'll keep track of updates that need to be made here. Then I'll batch a PR when ready

React on Rails:
- [ ] In contributing guidelines, we’re no longer using Poltergeist, can remove this stuff:
yarn global add phantomjs-prebuilt

[2018-10-13 23:52] justin808 commented on #347
# HVMN Testimonial, Written by Paul Benigeri, October 12, 2018

For some years, we used React on Rails for server-side rendering at [HVMN](https://hvmn.com). Our entire backend was already built in Rails, and we love React. As a content & e-commerce site, server-side rendering is critical, for UX performance and SEO crawler indexing.

During the 12 months leading up to our React on Rails Pro trans

[2018-10-16 10:01] devality opened #1158 "Camelize props"
Can I camalize props? Something like this
= react_component('HelloMessage', props: {name: 'John'}, {camelize_props: true})

[2018-10-17 10:27] manishmudgal commented on #970
1
down vote
You need to update your Node.js version. Try to

Clear NPM's cache:
sudo npm cache clean -f

Install a little helper called 'n'
sudo npm install -g n

Install latest stable Node.js version
sudo n stable

[2018-10-18 05:50] justin808 commented on #1158
@devality that sort of functionality is best handled either at the JBuilder level, like

https://github.com/rails/jbuilder

`Jbuilder.key_format camelize: :lower`

You can also create a utility method like this:

[code]

[2018-10-19 22:05] nburt opened #1160 ""Error in" without message Extract text webpack plugin error"
I'm receiving an error that seems to be find in development (dev server works) however it is causing rspec test failures on Circle CI. Without passing --verbose the only message I see is "ERROR in". With verbose there is a bit more output:

[code]

I've searched for "Entrypoint undefined" and everything I can find is related to a Webpack 4 upgrade while Webpacker is still on v3.

I have a sample r

[2018-10-21 03:52] brandoncc opened #1161 "Multiple bundles on one page"
Is it possible to have more than one bundle on a single page? I tried and I got an error saying my redux store was not registered. After that, I tried registering the same store in both bundles, and now I get an error saying some of my components are not registered. Is it only possible to call `ReactOnRails.register` and `ReactOnRails.registerStore` once each? I would like to import certain compon

[2018-10-21 07:50] justin808 commented on #1161
@brandoncc are you using Webpack v4? It would take some special configuration to make the shared redux store work with Webpack v4 and multiple bundles.

[2018-10-21 07:50] justin808 commented on #1161
btw -- use `defer` rather than `async` for the loading of the bundles.

[2018-10-21 07:51] #1158 closed

[2018-10-21 07:52] justin808 commented on #1160
What version of rails/webpacker?

[2018-10-21 14:42] nburt commented on #1160
seeing it with webpacker 3.5.5 and rails 5.2.1 and with webpacker 3.5.5 and rails 5.1

[2018-10-21 16:05] brandoncc commented on #1161
No I am not, and I am not using either defer or async, just `<%= javascript_pack_tag 'my-bundle' %>`. Will deferring help me with my issues and allow me to load two bundles on one page? I realize now why you thought I was using async.....I guess I was thinking wrong and the js does load in the right order.

[2018-10-23 11:35] risinglf opened #1162 "Turbolinks 5.2 deferred caching strategy support"
Hi guys,

after hours of headache I've noticed that Turbolinks 5.2 does not work with React On Rails 11 due to the new Deferred caching strategy introduced in turbolinks 5.2

[Turbolinks 5.2 Deferred caching PR](https://github.com/turbolinks/turbolinks/pull/390)

Do you have plan to support turbolinks 5.2? It would be nice, it's faster than the 5.1 with the new deferred caching strategy.

Thank yo

[2018-10-23 18:47] justin808 commented on #1162
@risinglf and others that would like to migrate to Turbolinks 5.2:

# PRs Welcome

I'm very open to taking a PR on this. Would you be interested in creating one? I can provide some guidance.

---

# Pro Support

I can do this for your company if you join [ShakaCode Pro Support plan](http://www.shakacode.com/work/shakacode-pro-support.pdf). Please email me for more info.

Here are a couple of refer

[2018-10-26 01:54] justin808 opened #1164 "Consider switching from yarn link to yalc"
Currently, if the spec/dummy is yarn linked to the top level react_on_rails package, React is pulled from the top level package.json, **NOT**, the spec/dummy/client/package.json. This is not expected.

Here's an alternative to consider:

* https://medium.com/@mtfranchetto/the-solution-for-a-working-npm-yarn-link-ddcb4f3c785e
* https://github.com/whitecolor/yalc

[2018-10-26 02:00] justin808 commented on #1162
I did read up a bit on the PR mentioned. I'm not clear on what the change would be.

Here is the relevant code to hack on:

[code]

The current test suite does test turbolinks:
I did read up a bit on the PR mentioned. I'm not clear on what the change would be.

Here is the relevant code to hack on:

[code]

The current test suite does test turbolinks:

https://github.com/shakacode/react_on_rails/b

[2018-10-30 14:09] nburt commented on #1160
@justin808 just wanted to follow up - have you had a chance to take a look/been able to reproduce this as well?

[2018-10-30 18:16] justin808 commented on #1160
@nburt My team and I have lots of experience setting up Circle CI and troubleshooting such issues.

However, I didn't get a chance to look into this as I'm booked helping my paying clients.

Would your company be interested in our [ShakaCode Pro Support plan](http://www.shakacode.com/work/shakacode-pro-support.pdf)?

If so, please schedule a complimentary 30-minute consultation:
https://meetings.h

[2018-10-31 16:36] nburt commented on #1160
We unfortunately are a small team without the budget to afford a pro support plan.

I've identified the issue as coming from the flow status webpack plugin. I've decided to just skip prepending that loader if we're building on CI.

This is how we're prepending the plugins currently (development.js). I've just added the if checking process.env.CI which circle adds.

[code]

[2018-10-31 21:17] justin808 commented on #1160
Thanks @nburt!

[2018-10-31 21:17] #1160 closed

[2018-11-07 00:03] zdrummond commented on #1125
Any luck yet? I am getting pressure to move off React on Rails and use a CRA + copy to `/public` model... so it would be nice to say the two paths are equal.

[2018-11-07 02:18] zdrummond commented on #1125
@justin808 It's a pretty straight-forward problem. If you build with Create React App, and Dev in VS Code, you can set breakpoints inside your editor and debug in the same place you code (aka act as an IDE)

If you instead build the same thing with React on Rails then breakpoints do not work, and you have to debug inside Chrome.

[2018-11-07 02:30] justin808 commented on #1125
This sounds like an editor configuration issue where the editor needs to know where the source files are. However, I'm not sure the JS editor will understand a Ruby web server.

[2018-11-07 03:09] sharuzzaman opened #1165 "invalid SSL cert"
Hi,

When trying to view the documentation, I got the following error message:

shakacode.gitbooks.io uses an invalid security certificate. The certificate expired on Sunday, September 09, 2018, 8:05 PM. The current time is Wednesday, November 07, 2018, 2:07 PM. Error code: SEC_ERROR_EXPIRED_CERTIFICATE

Thank you.

[2018-11-07 05:02] justin808 commented on #1165
@sharuzzaman that was probably a temp issue for gitbooks. Thanks for reporting.

[2018-11-07 05:02] #1165 closed

[2018-11-15 04:25] justin808 opened #1166 "Changes to node version are not picked up by the rspec test helper"
Bug: Not rebuilding test files when node version changes but bundles not rebuilt.

To repro:

* Make no JS code changes
* build bundles
* change node version
* reinstall node modules
* Don't rebuild bundles
* Run rspec
* Notice that rspec does not automatically result in the test webpack files being built.

[2018-11-21 15:34] 8398a7 commented on #1139
I confirmed the same phenomenon.
In my environment I confirmed that it will be improved by rewriting it as `turbolinks: load`.
refs: https://github.com/shakacode/react_on_rails/blob/11.1.8/node_package/src/clientStartup.js#L195

Is it OK to test that render will not be called twice when PR issues this problem?

[2018-11-21 16:00] 8398a7 commented on #1139
@justin808 cc: @szyablitsky
I think that this argument part is related.
https://github.com/shakacode/react_on_rails/pull/764#issuecomment-287596937
However, I may not understand correctly why `turbolinks: render` was adopted in turbolinks 5.

refs: https://github.com/turbolinks/turbolinks#full-list-of-events

As far as the above is concerned, I understand that it is a specification that there are

[2018-11-22 05:16] szyablitsky commented on #1139
As I mentioned in PR description, using `turbolinks:load` causes "The node you're attempting to unmount was rendered by another copy of React." error when navigating to a cached page using Turbolinks.

We can use other turbolinks events to render only once per visit but this will lead to components "flickering". They will disappear during the time Turbolinks is making a request for the new page.

[2018-11-23 11:25] devender11bhatt opened #1170 "Material ui css not applying in the components of react"

[2018-11-26 10:26] #1170 closed, assigned to nobody

[2018-11-27 22:58] caseygipson opened #1171 "Module Not Found: Can't resolve '../bundles/HelloWorld/components/HelloWorld'"
This is a stock install from the basic installation readme.

The odd part is the page renders with Hello World text as it is supposed to however does anyone have an idea why I'm still getting a Module Not Found error?

Full Output
[code]

[2018-11-30 04:06] Bac3Phi opened #1172 "Can't import component when transform react-rails"
i used to use react-rails it auto import component but when i try import component to html ( js in slim html) like this.
`                ReactDOM.render(
                  React.createElement(Homes, response.data),
                  document.getElementById("homes_data")
                );
`
i got `ReferenceError: Homes is not defined`

[2018-11-30 10:44] alexjose74 commented on #954
@joerodrig  that would be really helpful! I never went beyond this level of investigation.

[2018-12-03 01:40] justin808 commented on #1172
@Bac3Phi did you call ReactOnRails.register so that React on Rails knows the definition of the component `Homes`?

Please reply and I'll reopen this issue if needed.

[2018-12-03 01:40] #1172 closed

[2018-12-03 01:41] justin808 commented on #1171
Can you push your code to github? Maybe there's something wrong with the latest gem and npm versions? or are you using some older versions?

[2018-12-06 04:48] justin808 commented on #1171
@caseygipson feel free to reopen.

[2018-12-06 04:48] #1171 closed

[2018-12-06 07:15] justin808 commented on #1166
Not a bug. The issue seems to be caused by changes in the files inside node_modules, and those are specifically excluded for performance reasons. For example, suppose the packages are installed with one node version, the bundles are built, and that version changes, but the bundles are not rebuilt. The bundles don't work with the new node, yet rspec does not want to run correctly.

The fix is to sa

[2018-12-06 15:42] caseygipson commented on #1171
Thanks @justin808 I'll be able to get back to this project shortly!

[2018-12-07 02:57] CodyFitzpatrick opened #1176 "Cannot find way to unlink precompiled files (ReactOnRails::AssetsPrecompile::SymlinkTargetDoesNotExistException error)"
I recently deleted some files no longer necessary for my app in `/public/assets` and even after running `bundle exec rake assets:clean` (before & after deleting the aforementioned files), I get an error when I try to run `bundle exec rake assets:precompile`.

I looked everywhere but could not find a command that essentially lets me clean/refresh all symlinks and remove those whose file no longer e

[2018-12-07 03:45] CodyFitzpatrick commented on #1176
It turns out that the relevant project was using the `/public/assets` folder completely wrong. I ran `bundle exec rake assets:clobber` to completely clear i.e. delete the assets folder then ran `bundle exec rake assets:precompile` to create all new symlinks.

In my original post, I said I deleted files in `/public/assets` but I should have done that within the relevant folder within `/app/assets/`

[2018-12-07 03:45] #1176 closed

[2018-12-08 16:56] kvandake opened #1177 "How to save JWT in SSR? Best way..."
I love the work you're doing! However, I did not find a way to save the JWT token in the server render.
For myself, I have formed the following solutions:
- Save JWT token in cookie ((react-cookie)[https://www.npmjs.com/package/react-cookie])
- JWT token to pass through the controller - (redux_store)[https://github.com/shakacode/react_on_rails/blob/master/docs/api/redux-store-api.md#redux-store]

[2018-12-10 01:02] milieu opened #1178 "Please add documentation on integrating with Jest"
I [managed](https://github.com/rails/webpacker/issues/416) to get it [working in the end](https://github.com/vuejs/vue-cli/issues/1584#issuecomment-445603990) but it would have been nice to have had an easier experience.

Hopefully what I linked helps someone down the line.

[2018-12-10 21:55] justin808 commented on #1178
@milieu Jest is used for testing JS components. The setup should not be specific to React on Rails. What is the specific aspect that requires documentation? Let me know and I'll reopen this PR. Anyway, thanks for contributing.

[2018-12-10 21:55] #1178 closed

[2018-12-10 21:59] justin808 commented on #1177
@kvandake This is a better question for our slack discussion group. Send me your email justin@shakacode.com and we'll invite you.

[2018-12-10 21:59] #1177 closed

[2018-12-13 20:14] Kacppian commented on #1089
Is this still open?

[2018-12-13 21:59] AntonAL commented on #798
I had the same issue, found recent changes in my .yml file, that had used definitions like this:
[code]
Changed `:yes` to `yes` like this,

[code]

and issues was disappeared.

[2018-12-14 20:06] Overload119 commented on #1054
I just ran into this.

Try adding `mini_racer` to your bundle file as I think you may be using `therubyracer` which uses an old version of JS that doesn't defined "Set"

[2018-12-16 06:50] justin808 commented on #347
# ResortPass Testimonial, by Leora Juster, December 10, 2018

Many can write code that "works." Even fewer can write sophisticated code that both works and reflects a deep understanding of the technologies and paradigms involved. Only a select few can do the aforementioned while assisting in managing the expectations and time constraints of less technically informed members of software product tea

[2018-12-17 01:08] justin808 commented on #1166
Turns out that this is only a bigger issue if node-sass is in the dependencies. It's common, but not always the case.

[2018-12-17 01:08] #1166 closed

[2018-12-17 01:09] #1154 closed

[2018-12-19 07:50] justin808 opened #1182 "Change the default generator output directory"
Let's use the `/client` directory for client files rather than `app/javascript`

1. Change the default webpacker.yml file:
`   source_path: app/javascript	   source_path: client/app`
2. Put the sample files in `client/app`

[2018-12-27 08:21] justin808 commented on #1144
done

[2018-12-27 08:21] #1144 closed

[2018-12-28 20:52] davidjnelson opened #1186 "how to use with react 16?"
Hello, thanks for the great library!  It's really cool :-)

I'm trying to add adsense ads to an app I'm server side rendering with execJS.  The ads are not working, I think because render is being called instead of hydrate so google's bot sees the site and there is a race condition between the server rendered content and the google bot evaluation and the render call, so google sees a nearly blank

[2018-12-28 22:12] #1031 closed

[2018-12-28 22:14] justin808 opened #1187 "Support for AMP"
React on Rails Pro will soon be supporting [AMP](https://www.ampproject.org/). If you're interested in AMP with React on Rails, please get in touch with [justin@shakacode.com](mailto:justin@shakacode.com).

Some details of what's needed can be found here #1031.

[2018-12-28 23:56] davidjnelson commented on #1186
the syntax mentioned in the pull request upgrading to react 16 I mentioned above does not work.  did some digging and I don't see anything in the ruby source all the way to the generated ReactOnRails.serverRenderReactComponent call that specifies how to pass an option that would lead to the client side calling hydrate instead of render.

In ReactOnRails.js I do see the ternary for calling hydrate,

[2018-12-28 23:58] davidjnelson commented on #1186
This is the PR I'm reading through to try and understand how to get the client side to call hydrate instead of render: https://github.com/shakacode/react_on_rails/commit/a44cfb29e7848665946b54a57c8e53584600c3b5#diff-9df25692b0322943e22c0715b58f52cd

[2018-12-29 20:43] davidjnelson commented on #1186
nevermind, I figured it out.

in the erb, this syntax:

`
<%= react_component("Root", props: @root_props, prerender: true) %>
`

does indeed trigger a call to hydrate in clientStartup.js::render because shouldHydrate is true because since we're now on the client side and there is a reactdom hydrate function present and the root dom node innerHTML is non empty.

It was a bit confusing that render w

[2018-12-29 20:43] #1186 closed

[2018-12-31 03:40] justin808 commented on #1089
#1185

[2018-12-31 03:40] #1089 closed

[2019-01-04 19:36] jasonblalock commented on #982
@nitincz Unfortunately, I did not

[2019-01-04 22:58] nitincz commented on #982
@jasonblalock Here are couple of relevant links to migrate to the recommended directory structure
https://github.com/shakacode/react_on_rails/blob/master/docs/basics/recommended-project-structure.md
https://github.com/rails/webpacker/issues/130

However, after doing these changes, foreman is not able to start as webpacker is not finding the config files (webpacker is still running from bin directo

[2019-01-08 17:25] FullStackerWeb opened #1190 "support ebextensions"
Hi @Shakacode

I have been working to make the config file called ".ebextension/02_elastic_serach.config" to install ElasticSearch on AWS EB.
Is it possible? If It is possible. Please let me know what I need to add in the config file.

Regards.

[2019-01-15 18:02] #1190 closed

[2019-01-18 20:10] acherukuri commented on #1075
@foo4foo and @hewrin I'm having the same issue now, did you guys manage to fix the problem?

[2019-01-26 16:07] naartjie opened #1192 "Tutorial: webpack-dev-server error with prerender: true"
Hi, I just went through the [tutorial](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md).

When I turn on `prerender: true`, I get the following error when running `webpack-dev-server` with `foreman start -f Procfile.dev-server`:

[code]

`foreman start -f Procfile.dev` works fine, and when I deploy to Heroku the server rendering is working there too.

I tried both the defa

[2019-01-27 19:15] GYTO opened #1193 "React 16.7 use of short syntax <React.Fragment>"
I just came across an interesting SyntaxError in my project. As we all know React 16.2 gave us an option to simplify `<React.Fragment>` with simple `<>`. In addition, I saw a comment on the [documentation](https://reactjs.org/docs/fragments.html#short-syntax) that:

In this case, I tried to `yarn upgrade @babel/core @babel/plugin-transform-react-jsx` as they recommend, but it didn't fix my problem

[2019-01-28 08:31] justin808 commented on #1193
@GYTO I'm pretty sure that this is not related to react_on_rails. I'd update to the latest libraries and then if that doesn't work, create a super simple reproduction case, and I'll reopen this issue.

[2019-01-28 08:31] #1193 closed

[2019-01-28 10:03] naartjie commented on #1192
Thanks @justin808

May I suggest making the tutorial single track, and taking out all the options. It might be more approachable to newcomers. As an example, maybe `foreman start -f Procfile.dev-server` should not be mentioned in the main tutorial? The same for `webpacker v4`, just to make it as clear as possible.

All the options and extra information can still exist, but listed after the end, so

[2019-01-28 14:21] GYTO commented on #1193
@justin808 thank you, I will try it today!

[2019-02-05 12:48] glekner commented on #613
@volkanunsal
What If i want to use react-router inside a certain view e.g. `/audits`
To get to this view I use `Turbolinks.visit()` which is fine. but inside this view i'm using react-router for routing. Now lets say i go to another view `/account` and from there I press back. how do I trigger `Turbolinks.visit()` from there back to `/audits`?

The problem is we are migrating slowly from Trubolink

[2019-02-15 22:14] brentgreeff opened #1194 "Precompiling assets failed. - ruby 2.6.1 - Heroku"
react_on_rails worked great until I upgraded Ruby & bundler:

remote:        Your app was upgraded to bundler 2.0.1.
remote:        Previously you had a successful deploy with bundler 1.15.2.
remote:
remote:        If you see problems related to the bundler version please refer to:
remote:        https://devcenter.heroku.com/articles/bundler-version
remote:
remote: -----> Using Ruby version: ruby-

[2019-02-17 09:41] #1194 closed

[2019-02-17 09:41] brentgreeff commented on #1194
Heroku buildpack issue.

[2019-02-17 12:00] henrydjacob commented on #576
adding app/assets/.DS_Store and vendor folder solved the problem for me

[2019-02-20 00:10] robbymarston opened #1195 ""There are no stores hydrated..." error"
Hello,

Currently, I'm working with this setup (simplified for readability):

### react_on_rails 11.1.4

**Layout Controller (index method)**
`redux_store('appStore', props: { foo: 'bar' })`

**Layout**
`<%= redux_store_hydration_data %>` (before close of body tag)

**View**
`<%= react_component('FooBar') %>`

**JavaScript**
`ReactOnRails.registerStore({ appStore });`

If I inspect the source, the

[2019-02-20 06:49] justin808 commented on #1195
[code]
Note: **appStore**.

# ERROR
[code]

Note: **managerStore**.

[2019-02-20 06:49] #1195 closed

[2019-02-20 06:50] justin808 commented on #1195
Correct line:

[code]

[2019-02-20 07:36] justin808 opened #1196 "Debugging Server Rendering with the Node VM Rendering Server"
# Motivation

Because server rendering often uses `react_component_hash` to get the meta tags for SEO, we can't just flip a switch and turn off server rendering to debug the code in the browser. Here are the steps to debug the rendering code if using the React on Rails Pro Node VM Renderer

1. Start the compilation of the webpack files and in a separate process.
2. Start Node process in its own sh

[2019-02-20 13:51] robbymarston commented on #1195
Ah, I forgot to edit the error messages to match the naming in my examples. In reality, they do match and the error is still present. I suppose I’ll just have to keep debugging. Thanks for your attention regardless.

[2019-02-21 01:01] justin808 commented on #1195
You need the register call to run when the bundle loads. Put in some console logs before you call register. However, depending on your app, you may not want to be using the separate redux store.

[code]

[2019-02-22 14:55] splashinn commented on #716
@justin808 is this still up for grabs?

[2019-02-22 14:58] rodrigobdz commented on #716
@splashinn It should be. I'm not working on this anymore.

[2019-03-04 01:37] sugarsyntax opened #1197 "ERROR: Procfile.dev does not exist."
Followed [setting up the environment](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md#setting-up-the-environment). On running `foreman start -f Procfile.dev` I got the error `ERROR: Procfile.dev does not exist.`.

[2019-03-05 09:03] lukaskamp opened #1198 "React Hooks (Hooks can only be called inside the body of a function component)"
I'm trying Testing React Hooks with react_on_rails gem and noticed there is a Error:

"Hooks can only be called inside the body of a function component error."

Without using ReactOnRails config (e.g in packs/applications.js) everything works correctly. Also when I used react-rails gem everything works.

Where could be problem ?

[2019-03-08 20:47] amauryfischer commented on #1198
Got same problem there, i tried a couple of react suggestion(veryfing i'm using hooks correctly, and veryfing that i got a single version of React) but it's not one of them...
Seems we are not alone, don't know if it comes from rails webpacker, React on rails, or anything else.
Related issue on rails webpacker : https://github.com/rails/webpacker/issues/1840

[2019-03-14 00:03] justin808 commented on #1198
@lukaskamp @amauryfischer can one of you give me a simple reproduction case? a github repo?

[2019-03-17 09:31] justin808 commented on #1197
@sugarsyntax you have to create that file or have used the "generator." Check out the [tutorial](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md).

If you get stuck, please reply.

[2019-03-17 09:31] #1197 closed

[2019-03-18 15:33] lalitha94 opened #1201 "[Documentation] Hyperlink for Webpack tips not working."
The hyperlink for Webpack tips(under Javascript) doesn't seem to work/is disabled.

[2019-03-19 19:06] shepmaster opened #1202 "Asset precompilation in the test environment uses build_production_command"
If I run

[code]

Then the task `react_on_rails:assets:webpack` is run. However, this unconditionally uses `build_production_command`:

https://github.com/shakacode/react_on_rails/blob/0e7c86c3153ba02c001f43c4358091c3a675dced/lib/tasks/assets.rake#L65

My ideal case would be for `rake assets:precompile` to understand the environment it is run in.

Our current workaround is to *also* run the webpac

[2019-03-19 19:06] shepmaster commented on #1202
As alluded to in that file, thee right solution might be to better integrate with webpacker:

https://github.com/shakacode/react_on_rails/blob/0e7c86c3153ba02c001f43c4358091c3a675dced/lib/tasks/assets.rake#L58-L61

[2019-03-20 00:48] justin808 commented on #1201
@lalitha94 can you give me a link? What page?

[2019-03-20 00:52] justin808 commented on #1202
@shepmaster The reason why the precompile task uses the production build is that I set this up for precompiling during production deploys. I was not aware that anybody would want to precompile for any other purpose. Why not just build the test bundles as part of your CI script?

[2019-03-20 00:53] lalitha94 commented on #1201
Webpack tips (link on the left side under javascript) in https://shakacode.gitbooks.io/react-on-rails/content/

[2019-03-20 00:57] justin808 commented on #1201
Should be fixed: https://github.com/shakacode/react_on_rails/commit/3fd2eb406ddc7c1665d33398f4512d72cf595dce

[2019-03-20 00:57] #1201 closed

[2019-03-20 19:05] shepmaster commented on #1202
We have multiple parallel CI jobs. Running the first test in each of these with on-demand compilation causes the first test to fail due to long compilation times. We precompile the test assets once to:

- avoid compiling it once per parallel instance
- avoid the timeout on the first build

Perhaps I'm misunderstanding you, but that's sort of what this issue is about.

We *do* build them now, but v

[2019-03-20 20:06] puneet-sutar commented on #675
@dylangrafmyre Will, it work if we add it to the Gemfile and with the `require: false` flag set?

[2019-03-21 11:28] dylangrafmyre commented on #675
@puneet-sutar Sorry I am not part of this project anymore. @justin808 should be able to assist you.

[2019-03-21 17:48] x2es commented on #675
should to clarify about `react-s3-uploader`
The cause was in external env variable which was not accessible in context of foreman. So it was correct behaviour of foreman, and missed env in `.env` file

@puneet-sutar
It will work, just not recomended because it supposed to be installed globally, not per-project. `foreman` changing system-wide configuration, and if you will deploy multiple projects

[2019-03-21 19:37] puneet-sutar commented on #675
@x2es Thanks for the information. Helps me better understand the use case.

[2019-03-22 16:34] wuz commented on #1198
As a note, a quick fix for this is to just wrap your React On Rails rendered component in a function, like this:

[code]

[2019-03-24 17:24] amauryfischer commented on #1198
[code]

@wuz didn't work, same error :
[code]

[2019-03-25 19:50] wuz commented on #1198
@amauryfischer Is that the exact code you are using? That `setstate` call in the button won't work, since that is just getting called on render, causing an infinite loop.

Using `export default props => <Test {...props} />;` worked for me.

[2019-03-25 20:34] amauryfischer commented on #1198
Yes my bad, but even corrected
[code]

got the same error.
Even with only <div></div> in the return.
This is so strange ><

[2019-03-26 23:28] justin808 opened #1203 "Sponsor Images"
If you want to be a sponsor, please email [justin@shakacode.com](mailto:justin@shakacode.com).

![2019-03-26_13-32-38](https://user-images.githubusercontent.com/1118459/55040254-ad8a7b00-4fcb-11e9-8936-c6765eb30698.png)

[2019-03-26 23:34] #1203 closed

[2019-03-29 14:54] tahsin352 commented on #1135
@justin808 i have tried the below way to implement react-hot-loader into react_on_rails:

url: https://gaearon.github.io/react-hot-loader/getstarted/
but after changing react component, it is not reflecting the changes without reload. it is using webpack and babel. I use react-hot-dom. webpack-dev-server checks the file changes. but it is not showing in browser.

url: https://github.com/rmosolgo/r

[2019-03-29 21:35] nratter opened #1204 "Generator function as higher order component doesn't expose railsContext"
If I wrap my generator function as a higher order component, railsContext isn't exposed. A workaround for this is, of course, to wrap the higher order component with the generator function. Any plans to change this?

[2019-03-30 08:16] justin808 commented on #1204
@nratter can you provide a code example? The entry for going from the Rails view to some JavaScript function is to pass two objects:

* Params
* rails_context

Then you do as you want with those.

[2019-03-30 17:01] nratter commented on #1204
This exposes the railsContext...

`
import React from 'react';

const MyComponent = (props, railsContext) => {
  return <div>{railsContext.somethingUseful}</div>
}

export default MyComponent;
`

The following does not. railsContext in this case is just an empty object...

`
import React from 'react';
import { withStyles } from '@material-ui/core/styles';

const styles = {}

const MyComponent = (p

[2019-04-01 16:01] tahsin352 commented on #1192
@naartjie
@justin808
I have investigated the issue. SSR + webpack-dev-server. below is my findings:
if you run it you will see error:

No such file or directory @ rb_file_s_mtime - http://localhost:3035/packs/js/hello-world-bundle-d6b897068b8d31a768b8.js

the reason is:
webpack-dev-server runs in memory, If you want to see the files on disk during development you need to run the standard webpack.

[2019-04-02 16:06] tahsin352 commented on #1204
@nratter
@justin808

I have checked HOC with railsContents. railsContext is available for each react component as 2nd parameter. But when we implement HOC, then it return empty. Coz, only props can be passed from parent component to child component. So, if you want to pass railsContext to child component, then you need to pass it as props like below:
[code]

code example : https://github.com/tahsi

[2019-04-04 00:49] nachoal opened #1207 "Following basic tutorial there's an error => Module not found: Error: Can't resolve 'react-on-rails'"
Hi,

I was following your [tutorial](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md) and everything is working fine up until this line:

- `rails generate react_on_rails:install` which tries to run the rake command  `run  yarn add react-on-rails --exact from "."`

-  There's an error on some of the rake tasks:

[code]

Specifically:
[code]
But mini_racer is doesn't look l

[2019-04-04 14:39] neelakandan-br commented on #1035
Is that a way to change this id? When I am using multiple react components id was not unique on the same page.

[2019-04-05 10:35] tahsin352 commented on #1207
@nachoal
I run the below commands. it's running properly on my end. in the gemfile, i write:
[code]
command:
[code]
Please let me know if you find any problem.
Thanks.

[2019-04-08 07:32] #1207 closed

[2019-04-08 17:49] tahsin352 commented on #480
@justin808 Please review my PR: https://github.com/shakacode/react_on_rails/pull/1208 regarding this. Thanks

[2019-04-08 19:39] codeprimate opened #1209 "Message Display Tweaks"
- [ ] Reply icon should be mirrored vertically
- [ ] Ensure Unread messages are at the top of message listings
- [ ] In message preview ensure `&` is not rendered as `&amp;`
- [ ] Unread message preview should be bold
- [ ] Remove `Mark All As Read` links

[2019-04-08 19:39] #1209 closed

[2019-04-09 19:04] juliusdelta commented on #1198
We're having the same issue.

We have multiple components rendering on the same page. We believe this is related to the issue described [in the react docs](https://reactjs.org/warnings/invalid-hook-call-warning.html) about loading 2 instances of React, possibly.

The easiest way to reproduce is to make 2 components with hooks and register them then pass those two into a Rails view. If I have enoug

[2019-04-09 21:34] amauryfischer commented on #1198
@juliusdelta Exactly ! I love you so much. Finally find out why my hooks wasn't working thanks to you.
i had a javascript_pack_tag with a component registered in application.html.erb and it brokes my whole components for each view due to multiple React for each view.

I'm happy, was searching for this since a whole month

[2019-04-10 10:13] ivanraybuglosa commented on #1075
@justin808 Can i also join your slack room? I wanna learn more about react_on_rails

[2019-04-10 14:48] foo4foo commented on #1075
@ivanraybuglosa @acherukuri I believe I faced this problem using FETCH API only. Sending requests using axios did the trick.

[2019-04-10 18:41] kvokka opened #1211 "Documentation for contributions improvement"
Installing the gem into clean environment I feced up a few different problems, which was small, but frustrating. May be will be good idea to put all this knowledge somewhere or maybe my spent time will be useful for somebody.

All of this was taken from error messages and internal docs. But It will be much better to have all of this in some part of the documentation.

The list of fixes:

[code]

W

[2019-04-10 19:03] naartjie commented on #1192
Ok, I'm going to close this issue, as I'm not sure what else can be done here. Thanks!

[2019-04-10 19:03] #1192 closed

[2019-04-11 23:15] justin808 commented on #1211
@kvokka Yarn link has pluses and minuses. I've been trying to switch to yalc. The minus of that is that you have to run `yarn` in the `client` directory every time you make a change.

`yarn link` will get the version of packages from the root level. If all the package versions are the same, then no problem. When the React version is different at the top and the bottom, then 💣 .

I don't understand

[2019-04-12 21:26] kvokka commented on #1211
@justin808 I'm totally ok with using `yarn` here. The only question is, that this link is mandatory for `dummy` application and you can find this requirement in `spec/dummy/readme.md`. At the same time you have no information in the docs about it. Maybe it will be just enough to put the reference to `dummy/readme`?

About `thor` version missing- looks like i got a mess with `asdf` manager and diff

[2019-04-14 06:02] justin808 commented on #1211
@kvokka sure. feel free to give add a bit to the docs via a PR.

[2019-04-16 18:10] janklimo commented on #1198
I've put together a minimal reproduction repo that can be found [here](https://github.com/janklimo/react-on-rails-hooks).

As suggested by @wuz above, the error is thrown based on the way we export the component:

[code]
Here's the error message:

![Screen Shot 2019-04-17 at 1 01 42 AM](https://user-images.githubusercontent.com/7811733/56233050-649a8380-60ac-11e9-8d0d-9f1f24e1ab3e.png)

I've tried

[2019-04-19 15:59] NinjaAwesome commented on #809
In my opinion, it is necessary versioning up.
In Package.json file, it shold edit react version and add react-router.

[2019-04-19 16:14] NinjaAwesome commented on #809
In my opinion, it should be updated version.
In package.json, it should update react version #1198

[2019-04-22 09:07] Handy117 commented on #809
Hello,
My name is Handy Ingram from Linkedin.
Server-side rendering, namely, renders the React components on the server. The output is HTML content.
So, window.location is client-side rendering.
Perhaps, window.location is not fine.
In my opinion;
there is some ways, one of all is by create a fresh Redux Store on every request.
Thanks.

[2019-04-22 10:50] rubiety commented on #1198
@janklimo's workaround above using `export default props => <HelloWorld {...props} />;` does indeed seem to work for the case where there is only one `react_component` on the page, and I am using it successfully in that case.

Unfortunately, when the page contains *multiple* `react_component` invocations (for a component using hooks), this appears to *not* work, as is pointed out by @juliusdelta a

[2019-04-22 11:33] rubiety commented on #1198
After some further investigation on this, and reading [this issue](https://github.com/facebook/react/issues/13991) carefully, I realized my particular issue was the inclusion of *multiple bundles on the same page*. The problem with two or more `javascript_pack_tag`'s on the same page is that if more than one bundle includes a copy of react, then this will cause problems with React hooks.

I was ab

[2019-04-22 12:03] janklimo commented on #1198
Thank you for the update @rubiety 👍 While evaluating our options I tested numerous gems for using React with Rails and `react-rails` seems to have hooks figured out (my [demo](https://react-rails-hooks.herokuapp.com/) and [repo](https://github.com/janklimo/react-rails-demo)). Not meaning to promote alternative gems, just thought it could help identify the problem.

[2019-04-24 18:42] justin808 commented on #1198
@rubiety Having multiple copies of React sent to the browser is also bad for performance. So definitely having on copy of React is correct.

@janklimo I really appreciate your help on this issue. If anybody trying to debug this wants to pair with me, please schedule a time with my [calendar link](https://meetings.hubspot.com/justingordon/30-minute-consultation) or [email me](mailto:justin@shakacod

[2019-04-25 10:02] shahidjutt72 commented on #809
@justin808 i am shahid nawaz from upwork.

From opinion we should not use 'window.location' as this is not a good approach to use window, document or some JQuery code. By doing some R&D i suggest to follow this.

http://redux.js.org/docs/recipes/ServerRendering.html

Thanks

[2019-05-02 03:54] RailsCod3rFuture commented on #1135
Would be nice if react-hot-loader was added by default.

[2019-05-11 15:15] tahsin352 commented on #1198
@justin808 I have further checked the problem. several others also faced this issue with react hooks. ref. https://github.com/facebook/react/issues/13991

To solve 'multiple instances of react' error, I have tried some other ways like below:
[code]
again, I have also tried with npm link package. but it also didn't solve the error.
another solution i tried, using 'resolved_path' of webpacker, no lu

[2019-05-23 01:01] jeznag opened #1216 "WARNING: V8 isolate was forked, it can not be disposed and memory will not be reclaimed till the Ruby process exits."
I'm getting these warnings when running rspec tests for my react on rails project.
![image](https://user-images.githubusercontent.com/1034890/58218399-1121f200-7d4a-11e9-937f-cc9e3fa850ce.png)

I can only assume it's due to React on Rails as nothing else uses the mini_racer gem. Any ideas?

[2019-05-23 06:32] justin808 commented on #1216
What does your gemfile and gemfile.lock contain?

This might be related. Using Thin? or Puma?

https://meta.discourse.org/t/development-server-consistently-dying-v8-isolate-was-forked/55878/4

[2019-05-23 06:35] jeznag commented on #1216
It's only when running tests

[2019-05-23 15:47] topstar26 commented on #1216
one thing that dropping thin did bring up is that our silencer middlewares were not thread safe. That got super annoying in dev mode cause logs would keep getting disabled.

[2019-05-24 07:32] kstratis opened #1217 "Asset precompilation in production/test misses yarn install"
Allow me to add some injury to the insult:

Since Rails 5.1 `yarn install` runs as part of the command:

    RAILS_ENV=production bundle exec rake assets:precompile

However with React On Rails ([here](https://github.com/shakacode/react_on_rails/blob/0e7c86c3153ba02c001f43c4358091c3a675dced/lib/tasks/assets.rake#L37)) the included `assets.rake` task runs its own compilation tasks just before the d

[2019-05-25 03:56] justin808 commented on #1202
@shepmaster do you need precompilation for anything other than the JS assets? If not, I'd recommend that you run the webpack build separately during your CI setup after the packages are installed. You are correct in that you don't want to build the assets for every parallel CI job. On circleci, we cache the results.

[2019-05-25 03:56] #1202 closed

[2019-05-25 03:57] justin808 commented on #1217
@kstratis why not just run yarn install after loading the repo. You do the same for bundle, don't you?

[2019-05-25 10:53] kstratis commented on #1217
That would be perfectly fine however I’m using Capistrano for my deployments and SSHing into the server just to run yarn install is impractical.

Setting yarn install as a prerequisite of assets.rake would do the trick I think...

[2019-06-02 12:51] behraaang commented on #716
@justin808 Hello dear Justin, since this is more of a backend issue than front, I would like to take a try at this.
P.S. I just filled out the google form for your hiring process, hope you like my responses.

[2019-06-02 14:18] Aeropio commented on #1211
Hello @justin808  how can I contribute to the docs?

[2019-06-06 08:01] #1161 closed

[2019-06-12 23:01] filipkis commented on #1198
I had the same problem which occurred when I tried to render a second component. Few hours of debugging later I realised that the problem was not related to having two components actually, but the fact that a root component (the one that I put in my view) was the one using  `useState` hook.

As soon as I wrapped it in another component that didn't use the hook all was fine with the world again.

I

[2019-06-13 03:05] tahsin352 commented on #1198
@filipkis nice finding, thanks

[2019-06-17 14:22] susiyaki opened #1219 "Could not find component: deployment production"
I deproyed successfully with capistrano3.
But, developer tool's Console in error.

[code]

[code]

I was able to connect correctly in the localhost

[2019-06-18 16:07] nrl240 opened #1221 "Capistrano deployment fails: /usr/bin/env: ‘yarn’ >> No such file or directory"
I followed the [Capistrano Deployment](https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/capistrano-deployment.md) walkthrough, but I'm not having any luck.

[code]
I also notice that every time I run `cap staging deploy --trace`, the following three files get deleted:
- public/packs/manifest.json
- public/packs/js/hello-world-bundle-ef39be50a958cbbaae10.js
- public/p

[2019-06-24 17:20] batamire commented on #1198
I migrated from webpacker 3.6.0 to 4.0.7 and started seeing this error. Maybe this can help track down the issue?
I have only one component in my view, wrapping does work.

[2019-06-27 11:52] jav974 opened #1222 "Defer the call to hydrate for use with react-loadable"
Hi,

I would like to know how i could defer the call to ReactDOM.hydrate. I'm using react-loadable library to split components and asynchronously load them on client when necessary. I also do server rendering and following the doc of react loadable i should to something like that on the client code:

Loadable.preloadReady().then(() => {
  ReactDOM.hydrate(<App/>, document.getElementById('app'));
}

[2019-06-28 17:17] mariosar opened #1223 "data-turbolinks-permanent do not unmount component"
I am using Rails 5 with turbolinks and react_on_rails and would like for a particular component to persist across turbolinks page loads (state, props).

`<div id='cart-counter' data-turbolinks-permanent>`
`  <%= react_component("CartCounter", props: {key: val}) %>`
`</div>`

Right now the component is unmounted and then mounted again on each turbolinks page change. I would like for the component t

[2019-06-30 19:22] hugoh59 commented on #1207
I have the same issue. Using yarn add... works but the question persists.

[2019-07-02 07:58] noellaby opened #1224 "react_component in twig generate : “ReferenceError: window is not defined”"
I am currently experiencing a problem with the reactJs + Symfony 4.3 + WebPack stack. I have error "ReferenceError: window is not defined" Below is my code for package.jon, composer.json, webpack Config, controller symfony

Here is My Composer.Json
`
{
    "type": "project",
    "license": "proprietary",
    "require": {
        "php": "^7.1.3",
        "ext-ctype": "*",
        "ext-iconv": "*",

[2019-07-10 08:44] Romcol commented on #1224
Hi,

Check https://github.com/shakacode/react_on_rails/issues/852. Basically you have to make sure you don't import/use any React package which makes use of the window propriety, as it is not defined server-side.

Good luck,

[2019-07-10 09:19] jav974 commented on #1222
Found it ^^ soon after posting the question... here is the link : [https://github.com/shakacode/react_on_rails/blob/master/docs/misc-pending/code-splitting.md](url)

[2019-07-10 09:19] #1222 closed

[2019-07-10 10:07] Romcol commented on #1222
Hi @jav974 , did you actually have success implementing it?
Can you share your code? :grin:

I don't have many problems with client side rendering. But I have some problems implementing it react-loadable with SSR and React on Rails `require is not a function","TypeError: require is not a function\n    at eval (webpack:///external_%22@loadable/server%22?:1:18)`.

Could we help each other out?

Chee

[2019-07-10 19:36] filipesperandio commented on #676
Was there any moves into being able to render nested components from the `react_component` helper?

[2019-07-11 20:23] Hirurg103 commented on #283
How about if you put our image under `app/javascripts/images` and will reference it from your JS code with:

[code]
See [this Stackoverflow answer](https://stackoverflow.com/a/47010369/3676469) for the details

In your Rails templates you can use `image_path_tag` helper:

[code]

[2019-07-12 01:35] mola93 commented on #1224
Hello, you are referencing a variable that doesnt exist. probably not imported.

[2019-07-12 09:08] JensDebergh opened #1225 "Server rendering in production"
Hey there!

I'm having this issue for a couple of days now and don't know how to fix it.

I'm getting the following error on production:

[code]

This error is correct since no `.js` file is present with that name.

The actual path name is:

`packs/js/server_rendering-7930ba59728fe68ecc97.js`

Any idea where this problem is coming from? This code works perfectly in development but it seems wrong p

[2019-07-15 01:33] Judahmeek commented on #1225
Sounds like there's a difference between the `public_root_path` and `public_output_path` of your webpacker.yml for the development and production environments

Your `config/initializers/react_on_rails.rb` might also be involved.

[2019-07-15 13:30] MittchoBaroco opened #1226 "Install using the default configuration fails to deploy on Heroku"
So for the story, I just switched an app to react-on-rails (and it's awesome), I finally came to the point where I needed to deploy my changes, so I created a fresh repo in order to troubleshoot the error occurring when deploying to Heroku...

### Configuaration
My configs files can be look at [here](https://github.com/MittchoBaroco/rails6_w_react_on_rails_demo)
#### Versions

1. **Ruby** 2.6.3
2.

[2019-07-17 10:59] JensDebergh commented on #1225
This is kind of embarrassing. I'm using `react-rails` on my app so this is completely in the wrong issue tracker.

Sorry for the inconvenience.

[2019-07-17 10:59] #1225 closed

[2019-07-19 16:05] jav974 commented on #1222
@Romcol Sure we can help each other ! Indeed i got it implemented, now it is working very very well. But i can not share the code since it bundles a HUGE LOT of things.. but i can help for sure.

What kind of environment are you working with ? node process for the ssr (express or something else) ?

The require error makes me think that the bundle you created is wrong. If you use webpack and then i

[2019-08-05 08:03] kundurdzhieva opened #1227 "Webpacker Manifest is empty on deploy after adding react-on-rails"
Hi,
We moved to react and react-on-rails. Everything was ok before that but now we have problems on deploy with below log error:

ActionView::Template::Error: Webpacker can't find application.js in /public/packs-test/manifest.json. Possible causes:
1. You want to set webpacker.yml value of compile to true for your environment
unless you are using the webpack -w or the webpack-dev-server.
2. webpac

[2019-08-13 11:50] vyavahare-kishor commented on #562
I am trying to follow all this procedure but not able to start react within rails engine. Do you have any example where should I refer the changes.

[2019-08-16 14:25] dagi377 commented on #1221
any updates on this ?
I think this is something related to running machine host capabilities like cpu and memory allocation, I would love to hear from the team it self.

[2019-08-16 14:35] dagi377 commented on #1221
I am no longer getting this error. It was related to how the ssh bash connects. It doesn't really load paths like the normal bash so just setting the path  [here more ](https://stackoverflow.com/questions/19716131/usr-bin-env-ruby-no-such-file-or-directory-using-capistrano-3-capistrano-rben) .

so doing the following solved it for me

`set :default_env, { path: "/home/ubuntu/.nvm/versions/node/v12

[2019-08-25 01:54] RonWalker22 commented on #676
Any updates?

[2019-08-30 07:06] beeeku commented on #1198
Can anyone point me in a direction How can I render a container with react hooks?

[2019-09-19 17:17] hugoh59 opened #1228 "Unable to push new project to heroku"
Why is it so hard to push to Heroku with react on rails? Every-time I create a new project I spend countless hours trying to make it work. Is there no default config that works?

I get:

`ActionView::Template::Error (Webpacker can't find hello-world-bundle in /app/public/packs/manifest.json. Possible causes:`

and

`bundler: failed to load command: puma (/app/vendor/bundle/ruby/2.5.0/bin/puma)`

[2019-09-19 18:36] hugoh59 commented on #1194
How to solve this?

[2019-09-25 03:49] justin808 commented on #347
![2019-09-24_17-48-00](https://user-images.githubusercontent.com/1118459/65567887-96353780-def3-11e9-926d-4a55e2e186ff.png)

[2019-09-27 18:11] justin808 opened #1229 "Update docs for configuration build_production_command"
The `config.build_production_command` should have been named the `config.build_precompile_command` as this runs any time precompile is run. So if the precompile command is building production ENV assets, then that will be useless for running during a CI build that uses the test ENV.

[code]

[2019-10-13 15:45] theocerutti commented on #1198
Any news about this ? Because I can't use hooks anywhere..

[2019-10-14 03:19] theocerutti opened #1230 "Divs created by react_component modify my UI"
Hello,

I would like to know if we can apply css or replace div by a React.Fragment / span on div created by react_component ?

Thanks

[2019-10-17 18:41] hugoh59 opened #1231 "style not loading in production"
Style isnt loading in production with the default config.

[2019-10-23 18:07] aflansburg commented on #1198
We have been noticing this issue as well, it seems to occur possibly when we use `@material-ui/core` and some of its helpers such as `withStyles()` or possibly `makeStyles()` - the fix we are using for now is to wrap our export in a HOC:

[code]

[2019-11-08 03:47] justin808 commented on #1231
Closing until more details are provided.

[2019-11-08 03:47] #1231 closed

[2019-11-08 03:48] justin808 commented on #1230
More details are needed for your question. How does this matter for React on Rails?

[2019-11-08 03:48] #1230 closed

[2019-11-08 03:52] justin808 commented on #1228
@hugoh59 Did you solve your problem? If so, what was the solution?

[2019-11-08 03:52] #1228 closed

[2019-11-08 03:53] justin808 commented on #1228
@hugoh59 did you follow the steps at https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md

[2019-11-08 03:55] justin808 commented on #1227
@kundurdzhieva Did you solve this issue yet? The possible causes listed above are pretty clear. You have to look at what files changed and do a little debugging.

[2019-11-08 03:55] #1227 closed

[2019-11-08 03:59] #1224 closed

[2019-11-08 04:00] #1221 closed

[2019-11-08 04:05] justin808 commented on #1223
@mariosar did you solve this yet?

Turbolinks works by replacing the body with each request, so it's doing what would be expected.

I'm not familiar with this sort of use case with Turbolinks. Many React on Rails apps are using react-router rather than turbolinks, so there is much more control over the client app.

[2019-11-08 04:05] #1223 closed

[2019-11-08 04:23] justin808 commented on #1219
I think you'll need to do some debugging.

The error message means your bundles are not setup correctly, and so the message is pretty clear:

"Registered component names include [  ]."

[2019-11-08 04:23] #1219 closed

[2019-11-08 08:22] AlexKund commented on #1227
@justin808 yes we solved it :)

[2019-11-25 13:48] Marthyn commented on #1226
You have to add a NodeJS buildpack i think, that's how i fixed the error you got.

`heroku buildpacks:add --index 1 heroku/nodejs`

[2019-11-26 16:39] JoseMPena commented on #1227
Hi @AlexKund would you share what was your issue and how did u solve it?

Thanks

[2019-12-03 07:33] justin808 commented on #1226
Thanks, @Marthyn.

@MittchoBaroco using the build pack is documented in these steps: https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md#create-your-heroku-app.

[2019-12-03 07:33] #1226 closed

[2019-12-04 17:00] AlexKund opened #1235 "Test examples for store, state, actions, reducers"
Hi,
Ive implemented react-redux, register_store and etc functionality successfully, but I need a good example for testing store and state in the context of react_on_rails. In the internet Ive just found tests examples with React/redux, dispatchers, connect and etc., but not a single example in react_on_rails context because redux/react-redux implementation there is a bit different. Haven't found s

[2019-12-10 09:55] akashkinwad-define commented on #232
When I received this message, it was because I had removed react-rails from my Gemfile but not the configuration code in config/test.rb

[2019-12-24 04:53] stoplion commented on #991
Is this still the way to make this work? I'm running into the same issue.

[2019-12-26 16:02] milosvukadinovic opened #1238 "Element ID's are not unique"
![Ss1](https://user-images.githubusercontent.com/18657599/71481896-1b383180-2800-11ea-955c-8391572b0129.jpg)

Greetings! I am so excited to open this issue.

## Problem:
* At first glance, I've noticed the design of some components is not finished, and that some components have overlapping IDs which shouldn't happen in HTML, ID's are supposed to be unique.

## Solution:
* I would like to add some

[2020-01-09 08:55] justin808 commented on #1238
Yes, feel free to submit a PR and I'll review it!

[2020-01-09 08:58] justin808 commented on #1235
The react_on_rails context are simply some props that get added to every call to render a component. There's nothing fancy about them.

Don't get that concept confused with the React context, redux, etc. It's just not related.

See https://github.com/shakacode/react_on_rails/blob/master/docs/basics/generator-functions-and-railscontext.md#generator-functions

[2020-01-09 08:58] #1235 closed

[2020-01-09 09:29] justin808 opened #1241 "React on Rails with rails/webpacker 4.x"
## Problem
With the 4.2.2 version of Webpacker (and maybe some earlier versions), webpacker will run a "cleanup" task after compilation.

The goal for this cleanup is the same as older Sprockets. Assets older than a couple of versions get deleted. The problem is when we're building an unversioned, no-hash-in-name, server bundle inside the same output directory. Since rails/webpacker does know abou

[2020-01-13 17:23] Kukunin commented on #676
I was able to work around the nested components for the simplest case, like this:

[code]

To have this, put the method to `app/helpers/react_helper.rb`:

[code]

It's still doesn't solve the problem because it doesn't support nested HTML, so

[code]

renders literal escaped HTML.

It seems it's original issue with `react_component` because this doesn't work neither:

[code]

[2020-01-15 15:45] nathan-kuo opened #1242 "Prerender:true error"
Hi there, thanks for the great tutorial.  As I turned **prerender: true** .

I got this error..  I searched in issues and someone had a similar error but in different context.  Could you help me out?  thanks!

`
ERROR in SERVER PRERENDERING
Encountered error: "uninitialized constant #<Class:0x00007fa4ec57e638>::ExecJS"
when prerendering HelloWorld with props: {"name":"Stranger"}

code:

        (f

[2020-01-15 16:14] fabriziobertoglio1987 commented on #1242
from the [configuration docs](https://github.com/shakacode/react_on_rails/blob/master/docs/basics/configuration.md)

[code]

as it saying `"uninitialized constant #Class:0x00007fa4ec57e638::ExecJS"` probably you have some issues with ExecJS or mini_racer gem, so go through their [installation instructions](https://github.com/rubyjs/mini_racer)

also check

https://github.com/shakacode/react_on_rai

[2020-01-15 21:48] justin808 commented on #1242
@nathan-kuo can you push your demo repo to github and share with me?

[2020-01-15 21:58] justin808 opened #1243 "React on Rails v12, 2020"
Planned updates for React on Rails and React on Rails Pro for v12
---

# Cleanup
 - [x] Add CircleCI config
- [x] Update all gems and node packages, including linters and formatters (@behraaangm)
  - [x] Requires Ruby 2.5+, since [2.4 is no longer supported](https://www.ruby-lang.org/en/news/2019/03/31/support-of-ruby-2-3-has-ended/).
  - [x] Updated ruby syntax for newer rubies
  - [x] Require Ra

[2020-01-16 18:41] nathan-kuo commented on #1242
@justin808 of course, here is the [repo](https://github.com/nathan-kuo/react_on_rails_nathan).

[2020-01-20 21:34] nathan-kuo commented on #1242
@justin808 thank you for looking into this.

It is working now.

It was missing the ExecJS's gem.  And a little modification to the **Procfile.dev-server** from **bin/webpack-dev-server --inline=false** to **bin/webpack -w**

[2020-01-23 07:59] justin808 commented on #1242
Hi @nathan-kuo Why did you set inline=false?

https://webpack.js.org/configuration/dev-server/#devserverinline

[2020-01-27 08:10] justin808 opened #1245 "Server Bundle getting deleted on deployment"
Problem: Your (non-hashed, not-in-manifest) server bundle is deleted during deployment.

If you've seen the "Removed <your server bundle>" in your deployment logs:
[code]
and you got an error like this in your error tracking system:
[code]

The fix is to ensure that your server bundle is hashed.

I'll have some details on this issue over the coming days.

Related links:
* https://github.com/rails/

[2020-02-05 01:28] marvin-min commented on #1216
Unicorn have the same issue.

[2020-02-10 17:09] jasonslate commented on #1243
How long would it take to implement bundle splitting? We have a large app that serves three user personas (admin, client, guest). Our current webpack bundle is enormous and we want to split it up for the three sections of the platform to increase performance.

@justin808

[2020-02-10 22:37] justin808 commented on #1243
Hi @jasonslate,

Depending on your current code, it's pretty easy with our "React on Rails Pro".  You can find a few more details here:  [shakacode.com/react-on-rails-pro](https://www.shakacode.com/react-on-rails-pro).

I suggest we have a complimentary call to go over your requirements. Here's my [meeting link](https://meetings.hubspot.com/justingordon/30-minute-consultation). You can also reach

[2020-03-02 16:21] aflansburg commented on #1198
Was going to add, if you come up on this problem just try this:

[code]

As of yet I have no idea why that works. Not sure if this project is being actively maintained anymore.

[2020-03-08 06:42] #1242 closed

[2020-03-08 06:43] justin808 commented on #1238
@milosvukadinovic feel free to reopen this.

[2020-03-08 06:43] #1238 closed

[2020-03-08 06:44] #1217 closed

[2020-03-08 06:45] #1216 closed

[2020-03-08 06:45] #1204 closed

[2020-03-08 06:47] justin808 commented on #1164
Was done.

[2020-03-08 06:47] #1164 closed

[2020-03-08 06:48] #799 closed

[2020-03-08 06:49] #1125 closed

[2020-03-12 14:27] abeidahmed opened #1251 "React router not working. Getting an error: You should not use <Link> outside a <Router>"
I am currently using the ```react-router-dom: ^5.1.2``` and getting the error **You should not use <Link> outside a <Router>**. If I create a new project without the react on rails gem, the same routing method works fine without any errors. I'm not sure if I'm missing something here, so I'll be attaching the code here.
[code]
[code]
[code]
[code]

Can someone please review the code.

[2020-03-12 14:28] abeidahmed commented on #1251
Typo in the ```Header.js``` file. I'm correctly exporting the ```method```.

[2020-03-13 23:58] justin808 commented on #1245
This was fixed on the master branch for Webpacker:

https://github.com/rails/webpacker/pull/2443

[2020-03-15 22:37] dklanac commented on #1242
I'm actually getting this precise error. I'm sidestepping Foreman in favor of Docker Compose, but it appears to achieve the same end. Here are my relevant configurations:

`docker-compose.yml`
[code]

`webpacker.yml`
[code]

[2020-03-23 02:21] justin808 opened #1252 "Hashing of the Server Bundle"
It is important to note that the server-bundle.js **should not be hashed** if one has multiple config files and, thus, the server bundle cannot be produced by the webpack-dev-server.

Here are a few details about how manifest plugin doesn't support concurrent builds.
https://github.com/webdeveric/webpack-assets-manifest/issues/64

[2020-03-26 02:00] jacksonrayhamilton commented on #1198
I think the issue is that React on Rails will call a function component like a normal function [here](https://github.com/shakacode/react_on_rails/blob/9aba6741549c70825b17b3207d99d244b55dc449/node_package/src/createReactElement.js#L39), but the hooks code doesn’t expect for components to be used like that; I think it only expects function components to be passed to `React.createElement`.

In light

[2020-03-26 03:44] justin808 commented on #1198
@jacksonrayhamilton React on Rails allows you to create a function that takes 2 params, the props and the railsContext, and then your function should return a React component.

So I'm not totally clear on what you're suggesting.

Can you create a simple example to demonstrate this?

[2020-03-26 16:28] jacksonrayhamilton commented on #1198
Sure.  In my pack file I have a function component that uses a hook, and I register this component:

[code]

In my Rails template I render it:

[code]

When I load up the page, I see that when my function component is being registered, `ReactOnRails#register` does not distinguish between a function component and a “generator function.”

<img src="https://shareitdammit.com/eMbxbP1V">

Thus when I a

[2020-03-28 23:54] #480 closed

[2020-03-28 23:55] justin808 commented on #1251
Hi @abeidahmed I think you need to do some debugging. If you find an issue, please reopen this issue.

[2020-03-28 23:55] #1251 closed

[2020-03-28 23:56] justin808 commented on #1241
This change is no longer needed. See #1245.

[2020-03-28 23:56] #1241 closed

[2020-04-15 02:14] dchersey commented on #1198
This is nuts ... if anyone wants a working example of HMR with react-rails that supports hooks, look at this:  https://github.com/Leap-Forward/react-rails-hmr .

[2020-04-15 10:58] VincentLanglet commented on #965
The warning is still here

[2020-04-15 16:46] jacksonrayhamilton commented on #1198
Well, I don’t think react_on_rails users need to resort to a whole new gem to fix their problem.  I think in my last comment here I narrowed in on the problem and I expect it will be pretty easy to solve in the react_on_rails source.  Maybe with a breaking API change at worst?  I expect @justin808 has just been busy.  Hooks are relatively new.  I respect his choices in prioritizing his time.

[2020-04-15 23:32] justin808 opened #1267 "Checklist of needed updates"
- [ ] Update all referenced node modules
- [ ] Update all referenced gems
- [ ] Double-check all docs for contributing
- [ ] Double-check all docs for API
- [ ] Double-check spec/dummy app for ease of use for development

[2020-04-16 02:31] justin808 commented on #1198
Awesome to hear from you all. We're working on some updates to the sample apps.

@jacksonrayhamilton I think you hit the nail on the head! The core issue is that we would _like_ a way that we can infer if a function is for a React Component or just a function.

So the source links:

* https://github.com/shakacode/react_on_rails/blob/master/node_package/src/ReactOnRails.ts#L40
* https://github.com/

[2020-04-16 08:59] earkhipov commented on #347
![button-shakacode](https://user-images.githubusercontent.com/10421828/79436256-517d0500-7fd9-11ea-9300-dfbc7c293f26.png)
![reactrails](https://user-images.githubusercontent.com/10421828/79436261-52159b80-7fd9-11ea-994e-2a98dd43e540.png)
![button-reactrailspro](https://user-images.githubusercontent.com/10421828/79436265-53df5f00-7fd9-11ea-8220-fc474f6a856c.png)
![button-community](https://user-ima

[2020-04-17 18:47] jacksonrayhamilton commented on #1198
Thanks for the offer Justin.  We'll take you up on that if we need further help.

I think that could work.

[2020-04-20 21:12] stoplion opened #1272 "No error when not finding component?"
Hello, is it expected, or is there some setting to have React-on-Rails throw an error if the component is not found?

e.g.

`<%= react_component("PonyRainbow") %>`

// The component 'PonyRainbow' was not found

[2020-04-20 21:32] stoplion commented on #432
Ughh been struggling with the same thing for hourssss

[2020-04-21 01:24] #1272 closed

[2020-04-22 21:34] stoplion opened #1273 "Is there a way to do associations with appFactories?"
Something like? Or some other pattern..
[code]

[2020-04-23 12:54] sharjeel288 commented on #1198
if you want to fix this problem just use react:"^16.8.0"  react-dom: "^16.8.0",
    react-scripts: "2.1.1", in package.json

[2020-04-24 15:58] AlexKund commented on #1235
@justin808 May be its my fault that I didn't describe things better and there is some misunderstood. I just wanted to know how to test Store and all that redux/actions/store functionality like if store changes it should reflect in component changes. For example:

store.js
[code]

confirmationDialogContainer.jsx
[code]
app.js
[code]
confirmationDialog.spec.jsx
[code]

Trying to use store here in te

[2020-04-24 22:21] justin808 commented on #1235
You are missing controller code:

[code]

[2020-04-25 06:50] pnlwlust commented on #385
I had the same problem and adding the following in application_helper.rb worked
module ApplicationHelper
     include ReactOnRailsHelper
end

[2020-04-27 02:38] justin808 commented on #1273
@stoplion I think you meant to post this to https://github.com/shakacode/cypress-on-rails/.

[2020-04-27 02:38] #1273 closed

[2020-04-27 02:39] #1245 closed

[2020-04-27 07:58] AlexKund commented on #1235
Yes but during javascript tests controller has nothing to do with that code. May be this ReactOnRails.getStore('appStore')) has to be mocked some how.

[2020-04-28 13:11] AlexKund commented on #1235
@justin808 "You are missing controller code" - tnx for that hint. Finally I've managed to deal with testing redux and store with this gem. Ive placed controller registration store into js test sand tnx to how flexible you made react_on_rails gem all started to work as expected :). Here is the code:

Ive added this lines in confirmationDialog.spec.js:
[code]
So I can test actions, and changes in st

[2020-04-28 15:44] Judahmeek commented on #1198
@justin808 #1268 closes this issue, correct?

[2020-04-29 08:47] justin808 commented on #1198
Yes it does!

[2020-05-01 05:59] justin808 opened #1276 "Demo idea: MDX for the React on Rails part"
We could leverage this: https://mdxjs.com/getting-started/create-react-app

[2020-05-01 06:23] justin808 opened #1277 "Update documentation to not suggest moving node_modules"
https://github.com/shakacode/react_on_rails/blob/master/docs/basics/recommended-project-structure.md

Instead, let's consider recommending leaving package.json and node_modules at the top-level...

There are no big advantages of having this be inside of the /client directory and there are a few additional bits of unnecessary complexity.

@ashgaliyev please add to this discussion.

[2020-05-04 11:26] VincentLanglet opened #1278 "Update core-js version."
When installing the library I get the following warning
[code]

I have no idea but the impact of the change, but it seems like `@babel/runtime-corejs3` should be used instead of `@babel/runtime-corejs2`.

[2020-05-05 05:32] SteveRedka commented on #1207
I can confirm this.

Here is log for trying to start the default hello world controller:

[code]

[2020-05-05 08:52] justin808 commented on #1278
@VincentLanglet totally agree.

I see it's listed here: https://github.com/shakacode/react_on_rails/blob/master/package.json#L52

Would you like to take a try at a PR?

[2020-05-05 10:06] justin808 commented on #1198
@jacksonrayhamilton @sharjeel288 @dchersey @filipkis @lukaskamp @amauryfischer @wuz @juliusdelta @janklimo @rubiety @tahsin352 @batamire @theocerutti @aflansburg

I'd love feedback:

React on Rails v12: Should we just error out and force the change to wrap the result JSX in a function with zero params?

or should we make the upgrade easier for 99% of the cases that did not use Hooks.

https://gith

[2020-05-05 14:18] jacksonrayhamilton commented on #1198
Will you please provide some code examples of the API choices you’re offering?

[2020-05-06 01:55] #1278 closed

[2020-05-06 01:59] justin808 commented on #1198
If you take 2 or more params, export a React Function Component:

[code]

Currently, this works, to just return a React Element (JSX)
[code]

I propose that I'll allow the second case for v12, but print a **warning** console message indicating that the JSX should get wrapped in a function to make the return value a React Function Component.

[2020-05-06 17:36] jacksonrayhamilton commented on #1198
I see.  I’m not using `railsContext` in my code so I’m not really affected by this.  But I can sympathize with people who expect the second case to “just work.”

However, if the programmer does try to use a hook in the second case, stinks to be him, because he’ll be back to Square One in terms of this GitHub issue.  I’d lean towards preventing the possibility of that scenario by being strict about

[2020-05-07 22:30] justin808 commented on #1198
I merged https://github.com/shakacode/react_on_rails/pull/1280.

It console.errors with a detailed message. I'll just throw for the following major version.

I want to ship v12 soon!

[2020-05-08 11:58] marcosguti opened #1282 "re render component when props has been updated?"
i'm using react_on_rails in symfony app, then in html.twig i've added this code:

`        <div id="network-activity-charts">
            {{ react_component('NetworkActivityCharts',{'props': accounts | json_encode, 'rendering':'client_side'}) }}
        </div>`

how this can reload when props has updated?

[2020-05-12 22:45] adamthedeveloper commented on #691
Is it safe to conclude that react_on_rails doesn't work with Docker as of May 12, 2020?

[2020-05-13 01:32] justin808 commented on #1282
@marcosguti I'd just use an API call from the react component to get new props and to re-render. You could have the component use a timer to poll for new props.

[2020-05-13 01:32] #1282 closed

[2020-05-23 18:15] ndbroadbent opened #1283 "Include TypeScript types in NPM package"
Hello,

I'm migrating from Flow to TypeScript, and I thought it would also be a good time to upgrade from react_on_rails 8.x to the latest version.

I noticed that there has been some issues and PRs related to TypeScript:

* https://github.com/shakacode/react_on_rails/issues/635
* https://github.com/shakacode/react_on_rails/pull/1250
* https://github.com/shakacode/react_on_rails/pull/1236

I am ge

[2020-05-25 12:14] kushthedude opened #1284 "Could not find generator 'react_on_rails:install'."
I am trying to add react_on_rails on my rails exisiting application but when I run `rails generate react_on_rails:install`, I get the following error :-

[code]

[2020-05-25 12:15] kushthedude commented on #1284
cc: @justin808 Any would be really appreciated!

[2020-05-25 20:48] kushthedude commented on #1284
Solved after clearing my rvm cache.

[2020-05-25 20:48] #1284 closed

[2020-05-25 21:17] justin808 commented on #1283
We definitely would like to have the types here: https://definitelytyped.org/

@Judahmeek, @ashgaliyev, @MUTOgen Any ideas on how easy this would be?

[2020-05-25 23:32] justin808 commented on #1198
@jacksonrayhamilton @sharjeel288 @dchersey @filipkis @lukaskamp @amauryfischer @wuz @juliusdelta @janklimo @rubiety @tahsin352 @batamire @theocerutti @aflansburg Any of you want to help me test the master branch? I think we're close.

I could also create a beta version on rubygems and npm if one of you wanted that.

[2020-05-29 16:03] nratter opened #1285 "anyone see anything wrong with using this useRailsContext custom hook?"
Anyone see anything wrong with using the following to get the Rails Context via hooks for client rendered / non-single page apps?

[code]

[2020-06-04 17:11] steveeq1 opened #1286 "react_on_rails not refreshing web server"
webpack is watching/re-compiling react components, but not "refreshing" the web server after compilation. I followed the instructions in the below link and also set "hmr" in config/webpacker.yml to "true": https://github.com/shakacode/react_on_rails/blob/master/docs/additional-reading/hot-reloading-rails-development-asset-pipeline.md

What are some common things to check to see what's going? Am I

[2020-06-06 22:32] justin808 commented on #1285
@nratter We might need the next release if this is at the top level. Very soon!

I release a beta version today.

[2020-06-06 22:37] justin808 commented on #1285
@nratter This is an interesting idea! **BUT, this doesn't work for server-side rendering**.

I could add this to the base JS library, or provide it as a doc example...

The new release requires this usage at the top level:

[code]

[2020-06-06 22:39] Judahmeek commented on #1283
@ndbroadbent can you try the judahmeek/typescript-support branch & let me know if it resolves your issue?

[2020-06-06 22:39] justin808 commented on #1286
Yes, we need to update the docs. I recommend using the https://github.com/pmmmwh/react-refresh-webpack-plugin.

If you sign up for [React on Rails Pro](https://www.shakacode.com/react-on-rails-pro/), then  we'll give you direct help to set this up on your project.

[2020-06-06 22:41] justin808 commented on #1286
@steveeq1 I think I may have removed or moved the doc link you're referring to.

[2020-06-08 13:45] nratter commented on #1285
@justin808 sounds good!

[2020-06-09 23:22] justin808 opened #1291 "Consider switching to github actions"
Here's an example for rails/webpacker:

https://github.com/rails/webpacker/pull/2614

I'd like a PR that converts the travis workflow. We'd leave in Travis and Circle CI until we see GH actions working.

[2020-06-12 22:14] peterzhu2118 commented on #1243
Hey @justin808, thanks for this great library! Do you have any plans on making a (beta) release for v12 anytime soon? It's been a year since the last release and I'm hoping to be able to use features like hooks.

[2020-06-13 01:25] justin808 commented on #1243
Hey @peterzhu2118! Gem version: 12.0.0.pre.beta.0 and npm version 12.0.0-beta.0 released! Please try this out!

https://www.npmjs.com/package/react-on-rails
https://rubygems.org/gems/react_on_rails

[2020-06-13 01:26] justin808 commented on #1285
@nratter Please try out!

Gem version: 12.0.0.pre.beta.0 and npm version 12.0.0-beta.0 released!

https://www.npmjs.com/package/react-on-rails
https://rubygems.org/gems/react_on_rails

[2020-06-13 01:26] #1285 closed

[2020-06-13 01:27] justin808 commented on #1198
@jacksonrayhamilton @sharjeel288 @dchersey @filipkis @lukaskamp @amauryfischer @wuz @juliusdelta @janklimo @rubiety @tahsin352 @batamire @theocerutti @aflansburg

Gem version: 12.0.0.pre.beta.0 and npm version 12.0.0-beta.0 released! Please try this out!

https://www.npmjs.com/package/react-on-rails
https://rubygems.org/gems/react_on_rails

[2020-06-13 01:44] peterzhu2118 commented on #1243
@justin808 Thanks so much! Functional components now works in my (fairly trivial) app.

[2020-06-13 21:03] justin808 commented on #1198
Fixed in v12!

[2020-06-13 21:07] justin808 commented on #1286
@steveeq1 please see the setup in the /spec/dummy folder for how to setup up HMR.

I'm hacking on this over the coming week: https://github.com/shakacode/test-react-on-rails-v12

[2020-06-13 21:07] #1286 closed

[2020-06-15 22:24] justin808 opened #1296 "Testimonials for React on Rails Pro"
Hi React on Rails Community,
Yak shaving some issues regarding [React on Rails](https://github.com/shakacode/react_on_rails), [react-rails,](https://github.com/reactjs/react-rails), or [rails/webpacker](https://github.com/rails/webpacker) I'm inviting you to schedule a complimentary call to talk about your **yak shave** and to see if [React on Rails Pro](https://www.shakacode.com/react-on-rails-pr

[2020-06-22 15:54] zohaib-enquizit commented on #305
`spring stop` might work

[2020-06-30 14:59] ranjan-purbey commented on #471
Adding `execjs` to the Gemfile fixes the issue

[2020-07-02 01:03] justin808 opened #1301 "Assets compilation once bin/webpack is a simple script"
This was going to go into v12, but will get pushed out to a future version due to this issue:

https://github.com/rails/webpacker/issues/2640

Until this is done, it's too much work to do this.

-----

### Assets Compilation
Prior to v12, assets compilation for deployment happened by setting
[code]

This was done by enhancing the `assets:precompile` rake task.

**v12 removes this configuration.**

[2020-07-08 13:53] justin808 opened #1303 "Documentation Images"

[2020-07-08 13:56] justin808 commented on #1303
![2020-07-07_09-43-51 (1)](https://user-images.githubusercontent.com/1118459/86927351-eff79e80-c0ce-11ea-9172-d6855c45e2bb.png)

[2020-07-08 13:56] #1303 closed

[2020-07-09 06:34] justin808 commented on #1243
Hey, hey, React on Rails v12 has shipped!

[2020-07-09 06:35] justin808 commented on #1198
@jacksonrayhamilton @sharjeel288 @dchersey @filipkis @lukaskamp @amauryfischer @wuz @juliusdelta @janklimo @rubiety @tahsin352 @batamire @theocerutti @aflansburg

Hey, hey, React on Rails v12 has shipped!

[2020-07-09 17:06] jacksonrayhamilton commented on #1198
Awesome, thanks @justin808!

[2020-07-10 12:05] AlexKund opened #1307 "Called register for component that is already registered BallanceSummary after implementing HMR"
Hi Justin,
Recently Ive added HMR to our project. For styles it works as expected but after I added HMR for javascript in the browser console I got follow warnings:
ComponentRegistry.js:27 Called register for component that is already registered BallanceSummary
ComponentRegistry.js:27 Called register for component that is already registered DatePickerRange
....
for every registered component
Is th

[2020-07-11 21:20] justin808 commented on #1307
Try switching to https://github.com/pmmmwh/react-refresh-webpack-plugin.

That seems to work much better.

Did you upgrade to v12?

[2020-07-14 16:16] AlexKund commented on #1307
Tnx for the advice, Justin,
react-refresh-webpack-plugin works very well as you told, even for state! :).
Here is my configuration:
in package.json
[code]
in config/webpack/environment.js
[code]

It all works good, but there is one final touch - annoing error message - GET http://localhost:3000/sockjs-node/info?t=1594742262115 404 (Not Found):
<img width="1680" alt="Untitled 4" src="https://user-i

[2020-07-15 10:38] AlexKund commented on #1307
I fix it adding    overlay: false to plugin config
[code]

Tnx once again Justin :),
You could close that discussion

[2020-07-16 23:32] justin808 commented on #1307
@AlexKund Any chance that you can help me with a short readme doc in the `/docs/basics` directory that explains this setup?

[2020-07-16 23:36] justin808 opened #1308 "ENHANCEMENT: Extremely confusing if both server-bundle.js and hashed server-bundle.js are created"
React on Rails will first use a hashed server-bundle that's listed in the manifest.

If that happens and split chunks is turned on, the error message when the server-bundle is loaded will show something like this:

https://stackoverflow.com/questions/56696118/window-is-not-defined-in-server-side-render-window-webpackjsonp

[code]

The root cause is accidentally using a bundle file that was created

[2020-07-17 14:02] AlexKund commented on #1307
Ofcs :)

[2020-07-21 03:00] augustosamame commented on #1243
Just in time for my first React on Rails project! Awesome gem!

[2020-07-22 18:37] pullmana8 commented on #1291
I like to work on this, is this okay?

[2020-07-23 08:30] justin808 commented on #1307
@AlexKund Looking forward to it!

[2020-07-28 05:45] justin808 commented on #1307
See #1311. Thanks @AlexKund!

[2020-07-28 05:46] justin808 commented on #1307
BTW, the updated doc mentions the setting of the

[code]

Rather than `overlay: false`.

Right @AlexKund ?

[2020-07-28 05:46] #1307 closed

[2020-07-28 08:47] AlexKund commented on #1307
@justin808 yes thats right. Its better then just errors to be suppressed

[2020-08-11 23:37] justin808 commented on #1283
Hi @ndbroadbent, this was done with v12.

Here's a good example of using TS type checking:

https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh/commit/6acb4d3d41236f8b321601d98b6b7786c778f16e

[code]

has to change to:
[code]

[2020-08-11 23:37] #1283 closed

[2020-08-12 01:32] justin808 commented on #1277
Docs updated in #1316.

[2020-08-12 01:32] #1277 closed

[2020-08-12 01:33] justin808 commented on #1243
Everything was done!

Anything else desired?

[2020-08-12 01:33] #1243 closed

[2020-08-18 00:52] justin808 commented on #1276
A better place is here: https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh/issues/3

[2020-08-18 00:52] #1276 closed

[2020-08-20 08:17] justin808 commented on #1139
@szyablitsky @8398a7 @robinvdvleuten I'm going to close this for now due to inactivity. I'm happy to reopen if somebody has a reproduction case or, even better, a PR.

[2020-08-20 08:17] #1139 closed

[2020-08-20 08:29] #779 closed

[2020-08-20 08:31] justin808 commented on #1135
See https://github.com/shakacode/react_on_rails/blob/master/docs/basics/hmr-and-hot-reloading-with-the-webpack-dev-server.md on how to set this up.

[2020-08-20 08:31] #1135 closed

[2020-08-20 08:31] justin808 commented on #1182
Chose to stay with the rails/webpacker convention of `app/javascript`.

[2020-08-20 08:31] #1182 closed

[2020-08-20 08:32] #1098 closed

[2020-08-20 08:33] justin808 commented on #1211
@Aeropio Try using them and submitting PRs that make them better.

[2020-08-20 08:33] #1211 closed

[2020-08-21 19:08] justin808 opened #1319 "Remove check for i18n directory at startup"
The i18n directory might be deleted to save on the Heroku slug size.

React on Rails checks that the i18n directory exists and errors out on startup

However, that’s supposed to be an informative message at runtime. It’s only used during precompile.

We can check that value lazily rather than in the config setup.

[2020-08-24 18:28] markdthompson-SR opened #1321 "Cannot find module 'redux' or its correspondsing declarations"
We're upgrading to 11.3.0 to 12.0.1 and are getting the following error in our production build:
![Screen Shot 2020-08-24 at 2 20 02 PM](https://user-images.githubusercontent.com/66634265/91081613-6156c680-e615-11ea-83b0-69434461c12f.png)

Can you advise as to this issue?

Here's our package.json:

{
  "name": "farmserver",
  "private": true,
  "sideEffects": false,
  "scripts": {
    "start": "fo

[2020-08-25 01:39] justin808 commented on #1321
This looks like a legit issue. I'm investigating, @markdthompson-SR.

[2020-08-25 02:00] justin808 commented on #1321
A very quick workaround would be to add redux. However, I'm going to ensure that this is not needed in the longer term.

[2020-08-26 02:20] #1321 closed

[2020-08-26 02:28] justin808 commented on #1321
@markdthompson-SR Please confirm that 12.0.2 fixes your reported issue.

[2020-08-27 01:02] markdthompson-SR commented on #1321
Hey Justin - yep, 12.0.2 fixed the reported issue.

On Tue, Aug 25, 2020 at 10:28 PM Justin Gordon <notifications@github.com>
wrote:

--

Mark D Thompson

Square Roots | Full Stack Software Engineer

—

squarerootsgrow.com <http://www.squarerootsgrow.com/>

Instagram <https://www.instagram.com/squarerootsgrow/?hl=en> | Facebook
<https://www.facebook.com/squarerootsgrow/> | Twitter
<https://twitter

[2020-08-31 16:48] markdthompson-SR commented on #1321
Hello Justin,

Although the 12.0.2 fix update resolved the redux issue, we're now
experiencing an issue with es-lint-loader. Any insights would be greatly
appreciated. Here's a fragment of our build log:

--------------------------------------------------------------------------------

       Email contact@shakacode.com for access to our slack room and
information about our "pro support plan"

[2020-09-01 07:55] #1291 closed

[2020-09-01 22:24] justin808 opened #1325 "CI Issues and Necessary Enhancements"
- [ ] Travis Integration was not reporting status to branch pushes.
- [ ] CircleCi and Githhub actions do not run the full test suite.

Some background:

https://github.com/shakacode/react_on_rails/blob/master/.travis.yml#L57

runs
https://github.com/shakacode/react_on_rails/blob/master/rakelib/run_rspec.rake#L68

which runs

[code]

Currently, the github actions and circle ci only run:

1. `bundl

[2020-09-05 21:23] justin808 commented on #1321
Hi @markdthompson-SR, I recommend a few things:

1. Join our React Rails Slack with [this invite](https://join.slack.com/t/reactrails/shared_invite/enQtNjY3NTczMjczNzYxLTlmYjdiZmY3MTVlMzU2YWE0OWM0MzNiZDI0MzdkZGFiZTFkYTFkOGVjODBmOWEyYWQ3MzA2NGE1YWJjNmVlMGE).
2. Create a small reproduction by forking https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh and adding the es

[2020-09-08 06:23] justin808 commented on #1325
Github Actions fixed by https://github.com/shakacode/react_on_rails/commit/cc44d70ffc8683338c94ff5d9b492d9f60ffe1db

[2020-09-08 06:23] #1325 closed

[2020-09-15 23:10] frankliu81 opened #1329 "Uninitialized constant ReactOnRails::WebpackerUtils::Webpacker upgrading to react-on-rails to 12.0"
Upgrading to react_on_rails from 6.1.1 to 12.0.2, we are not using webpacker I get a, uninitialized constant:

[code]

I did follow:
https://github.com/shakacode/react_on_rails/blob/master/docs/basics/upgrading-react-on-rails.md

Without integrating webpacker
	• Bump your ReactOnRails versions in Gemfile & package.json
	• In /config/initializers/react_on_rails.rb:
		- Rename config.npm_build_test_

[2020-09-19 15:48] atiro opened #1330 "Component not loading in Chrome, DOMContentLoaded not called."
Have read through previous issues on the issue with defer which I think might be part of this, but haven't found quite the same situation. We have a component that is being registered fine and can be seen in debugging in both Chrome & Firefox, but it's not appearing in the page in Chrome. Tracking it down a little the problem is with (using 11.1.5, without Turbolinks):

[code]
in clientStartup.js.

[2020-10-01 06:31] justin808 commented on #1329
Hi @frankliu81,

Did you include the rails/webpacker gem in your Gemfile?

Are you on Rails 5+?

That's certainly not the case for many versions.

I highly recommend that you upgrade.

Please [join our Slack channel](https://join.slack.com/t/reactrails/shared_invite/enQtNjY3NTczMjczNzYxLTlmYjdiZmY3MTVlMzU2YWE0OWM0MzNiZDI0MzdkZGFiZTFkYTFkOGVjODBmOWEyYWQ3MzA2NGE1YWJjNmVlMGE).

Thanks,

Justin

[2020-10-01 06:35] justin808 commented on #1330
Hi @atiro,  I haven't used turbolinks in a long time.

See https://github.com/shakacode/react_on_rails/commit/7b301f9e87b4f27b9197207f8e210c38095c551b#diff-dff9a544208442c275bbe37f37438219L268

I think I just fixed that.

Are you sure you can't upgrade?

If you're really stuck, I could backport this tiny change to 11.x (what would X be?)

[2020-10-01 16:18] atiro commented on #1330
Cheers @justin808

Sadly the ruby version for 12 isn't something we can jump to at the moment.

It would be great if you could release that for 11. A point release seems OK ?

[2020-10-02 00:00] justin808 commented on #1330
I'm fixing here: https://github.com/shakacode/react_on_rails/pull/1331

[2020-10-02 00:27] justin808 commented on #1330
@atiro Please try out https://rubygems.org/gems/react_on_rails/versions/11.3.1.beta.0, https://www.npmjs.com/package/react-on-rails/v/11.3.1-beta.0

[2020-10-02 06:21] justin808 commented on #1330
I just released 11.3.1 for this issue.

[2020-10-02 10:18] atiro commented on #1330
Perfect, all good for me @justin808

Many thanks for the quick response & the project

[2020-10-04 05:22] hopewise opened #1332 "Using nextjs?"
Hello

I am trying to use nextjs with react_on_rails. The nextjs project works well by its own, also, hello world for react_on_rails worked well, however, if I tried to use that app as a component via react on rails, I got this error:

[code]

next.js app:

[code]

And, I have registered it as:

[code]

Any idea?

[2020-10-09 07:12] justin808 commented on #1332
@hopewise Can you give me a small sample repo to try this?

What is your use case for using them together?

[2020-10-11 02:50] frankliu81 commented on #1329
Hi @justin808,

No, not using rails/webpacker gem in our Gemfile, it's a ten year old app, we are on
react_on_rails", "~> 6.1, and we are on rails 5.2

But I was following:
https://github.com/shakacode/react_on_rails/blob/master/docs/basics/upgrading-react-on-rails.md
Without integrating webpacker, so webpacker shouldn't be required and got the error posted in the initial message.

As for ReactOnR

[2020-10-11 06:57] justin808 commented on #1329
@frankliu81

Please join the slack channel with the invite on this page: https://www.shakacode.com/open-source-projects/.

Then message me.

[2020-10-14 21:20] justin808 commented on #1329
react_on_rails", "~> 6.1, and we are on rails 5.2

In order to use React on Rails v12, you have to use the view helpers that put your webpack bundles on the view. There's no reason to use the legacy React on Rails v11 helpers, `env_stylesheet_link_tag` and `env_javascript_include_tag`. However, I don't think you're using them.

# Hot reloading
You have:
[code]

I recommend the example [react_on_ra

[2020-10-15 01:49] justin808 commented on #1329
@frankliu81 I think this issue may relate to what you saw:

https://github.com/rails/webpacker/pull/2708

[2020-10-15 01:49] #1330 closed

[2020-10-17 13:58] frankliu81 commented on #1329
Thanks @justin808.

1) > Regarding: There should be no reason that you can't upgrade to v12.

The callstack I posted in the first post was the reason I can't upgrade, and I follow
https://github.com/shakacode/react_on_rails/blob/master/docs/basics/upgrading-react-on-rails.md, and the steps under "Without integrating webpacker". Basically react_on_rails was looking for a Webpacker related constant,

[2020-10-17 17:15] Overload119 opened #1334 "How to specify SERVER_BUNDLE_ONLY in production?"
I'm able to get pre-rendering working fine locally but I have issues in production.

Here's the error I see.
https://gist.github.com/Overload119/908f96279a537d84a1da9fec5a877a83

I'm pretty sure it's because my server bundle is not being used (I'm using server-side rendering with HMR).

`webpackConfig.js`
[code]

How do I make sure pre-rendering on the server-side is using this process.env.SERVER_

[2020-10-19 18:57] hopewise commented on #1332
@justin808 I am building a classroom management app within my rails app, I was amazed by how fast updates are when any change occurs in next js code, as no need to reload the page each time.. that's the main reason to use it..

[2020-10-20 01:59] justin808 commented on #1332
You just have to enable hot reloading like this example: https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh

[2020-10-20 02:31] justin808 commented on #1334
The `process.env.SERVER_BUNDLE_ONLY` is used only for building the server bundle when using the webpack-dev-server, so this is not relevant to your production setup.

Your gist error message does not show the source of the error.

[2020-10-20 02:46] justin808 commented on #1329
Hi @frankliu81

There is no reason to not use the view helpers. Using the webpack setup would be a much bigger challenge.

What matters is that you load the right entry point on the page. This comes from using the rails/webpacker helper.

That's also related to loading the wrong bundle on the page if this is client side rendering. If this is for SSR, let me know.

Register call is definitely addit

[2020-10-20 05:54] hopewise commented on #1332
Thanks @justin808 , will check..

[2020-10-22 14:18] imgarylai commented on #1198
I'm running a new Rails app with ruby 2.7.1 and Rails 6.0.3.4. I followed this [tutorial](https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md) and got the same error message as well.

[code]

Gemfile:

[code]

[code]

[2020-10-25 19:56] frankliu81 commented on #1329
Not using SSR, but I could verify in the network console that the right bundles has been loaded on the page.

Ok, I guess it's worth exploring upgrading to webpacker. We have a rather large codebase, lots of different pieces need attention all the time, and the webpacker upgrade is not the biggest MOL item at the moment. But perhaps once we do take on the upgrade, I will revisit this, so I will cl

[2020-10-25 19:56] #1329 closed

[2020-11-02 00:08] Overload119 commented on #1334
Thanks! Yeah I misunderstood a ton of things here, but I eventually found out the issue was this one:
https://github.com/webpack/webpack/issues/8677

[2020-11-02 00:08] #1334 closed

[2020-11-07 06:38] justin808 commented on #1198
@imgarylai Can you please share your repo on Github. If you're 100% sure this is an issue, please open a new issue.

[2020-11-07 19:00] justin808 commented on #1198
Might be related to React v17. The tutorial steps will get the latest React.

https://github.com/facebook/react/blob/master/CHANGELOG.md#1700-october-20-2020

[2020-11-08 06:36] justin808 commented on #1198
@imgarylai can you try to adjust the steps so that you don't use React 17 to isolate if that is the cause?

[2020-11-09 01:08] imgarylai commented on #1198
@justin808 Thank you! I will try it again and use `React 16`

[2020-11-10 14:39] jwcatprint commented on #1198
@justin808 I received the same error with the demo when installing on a new app

[2020-11-10 22:07] justin808 commented on #1198
@jwcatprint are you using React 17? I'll look into this no later than this coming weekend.

In the meantime can somebody confirm that

[code]

solves the issue.

[2020-11-10 22:07] justin808 commented on #1198
PRs welcome!

[2020-11-10 22:40] justin808 opened #1336 "React on Rails Generator installs the older npm package"
If you ran the generator and you have 12.0.3 in the Gemfile and 11.3.1 in the package.json, you hit the issue.

# Workaround to fix the incorrect npm version.

Run:

[code]

That will replace the 11.3..1 version in the package.json.

----

# Details

# This passed:
* https://github.com/shakacode/react_on_rails/actions/runs/281849322
* https://github.com/shakacode/react_on_rails/commit/6f2d7b165ad5

[2020-11-10 22:40] justin808 commented on #1198
Moving over to a new issue #1336.

[2020-11-11 03:09] jwcatprint commented on #1336
@justin808 I used version 16.4 for react and react-dom but received a different error in the console "HelloWorld.jsx:4 Uncaught TypeError: ReactOnRails encountered an error while rendering component: HelloWorld.
Original message: Object(...) is not a function"

[2020-11-11 04:17] imgarylai commented on #1336
@justin808 I rolled back to react 16.14. It works fine now.

[2020-11-11 09:36] justin808 commented on #1336
I updated https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh to React v17 and I didn't see any issues.

[2020-11-11 10:46] justin808 commented on #1336
@imgarylai it seems that this PR should provide a fix: https://github.com/shakacode/react_on_rails/pull/1338.

See updated description for a workaround.

[2020-11-14 10:58] justin808 commented on #1336
Fixed in 12.0.4.

[2020-11-14 10:58] #1336 closed

[2020-11-17 15:13] annienero opened #1340 "Failed to load plugin 'react' declared in '.eslintrc.js'"
We're upgrading to 11.3.0 to 12.0.3 and are getting the following error in our production build:
`UnhandledPromiseRejectionWarning: Error: Failed to load plugin 'react' declared in '.eslintrc.js': Cannot find module 'eslint-plugin-react'`

Last time we tried to upgrade we were seeing a [similar issue](https://github.com/shakacode/react_on_rails/issues/1321#issuecomment-683898427).

Here's our pack

[2020-11-22 12:10] EnziinSystem opened #1342 "Support Alpine"
Hi,

I dockerized my rails app to image use Alpine.

'**react_on_rails**' gem require '**mini_racer**' and mini_racer require libv8.

But libv8 can not build with native extensions on Alpine

Finally, I can not build Gemfile with react_on_rails.

Thank you for any idea.

[2020-11-24 20:26] threepete opened #1343 "Yield React component to old Rails views"
I'm looking to use this gem to only render a layout for my Rails app and would like to yield the main content to my old Rails views. Is there a way to achieve this or does every view in my app have to be converted into a component?

[2020-11-25 07:47] justin808 commented on #1343
Take a look at https://hichee.com/inbox (you need to create an account -- that's my site!)

That screen's body is basic Rails and the header is React. On other pages, we render a single component that includes the same header component.

If you sign up for [React on Rails. Pro](https://www.shakacode.com/react-on-rails-pro/), we can get you setup with all the code examples you need to do what you w

[2020-11-25 07:50] justin808 commented on #1342
Hi @EnziinSystem, why do you think mini_racer is a requirement?

I think only ExecJS is: https://github.com/shakacode/react_on_rails/blob/master/react_on_rails.gemspec.

If you use [React on Rails Pro](https://www.shakacode.com/react-on-rails-pro/), then you'll use Node.js for rendering. Can you run Node.js on Alpine?

[2020-11-25 07:55] justin808 commented on #1340
Are you running this script during deployment, as that calls eslint.

[code]

[2020-11-25 07:56] justin808 commented on #1340
@annienero help with your Heroku slug size is something that we've done quite a lot of our customers on [React on Rails Pro](https://www.shakacode.com/react-on-rails-pro/). For example, did you delete your node_modules directory after precompile completed?

[2020-11-25 18:40] threepete commented on #1343
Ah, unfortunate

[2020-11-25 20:36] threepete commented on #887
@chhuang Did you ever find something that could achieve this?

[2020-11-28 22:14] wbharding commented on #385
I, too, still get this on Rails 6.0, and I too find the hack added to react_on_rails fixes it

[2020-11-29 01:17] justin808 commented on #887
@threepete you want to handle all that within React.

[2020-11-30 17:19] annienero commented on #1340
Thanks so much for getting back. We don't run `generate-graphql-schema` on deploy, but our webpack config does require `eslint-webpack-plugin` so I've done some testing including all eslint-related packages as described below. We're not concerned with the issue of slug size since we don't want to include unnecessary dev dependencies in our production build, I was just trying to illustrate that for

[2020-12-07 07:03] justin808 commented on #1340
@annienero did you try to run your compilation manually?

Are you sure that you are setting env values when precompiling, like this:

`RAILS_ENV=production NODE_ENV=production rake assets:precopmile`

And in file `config/initializers/react_on_rails.rb` you should delete the line: `config.build_production_command` per the warn message.

[2020-12-12 20:28] Overload119 opened #1347 "Re-using ReactOnRails JS in different packs"
I have 2 sets of React components in a single app.

The first set are used for the main user-facing app.
The app also has an admin section.

I don't want to include all off the admin-only assets inside of the same `components.js` since that will load it for the user-facing app even though a majority of users won't need these component JS files (they will never be rendered).

I tried creating a new

[2020-12-14 20:10] annienero commented on #1340
`RAILS_ENV=production NODE_ENV=production rake assets:precompile` is working fine on my machine. Was that what you mean by running the compilation manually?

In Heroku, we have set the RAILS_ENV to production. The NODE_ENV gets set in config/webpack/production.js.
Here is config/webpack/production.js in case it helps:
[code]

[2020-12-16 09:49] justin808 commented on #1347
@Overload119 How do you know that you have have 2 instances of ReactOnRails? They get set on window, so I suspect that is not happening.

[2020-12-17 00:44] justin808 commented on #1340
@annienero did you solve your issue?

[2020-12-17 19:48] annienero commented on #1340
No still can't get it to work in heroku after upgrading unfortunately

[2020-12-27 21:40] Overload119 commented on #1347
`import ReactOnRails from 'react-on-rails';`

This invokes ReactOnRails twice.

When `ReactOnRails.register` is called, it seems that it initializes all the components. If this is called again, then it will wipe out the previous ones.

[2021-01-04 16:11] Overload119 opened #1350 "Uncaught Error: Invalid hook call"
I still get this issue outlined in https://github.com/shakacode/react_on_rails/issues/1198

[code]

package.json

[code]

Component
[code]

This issue occurs when hitting back with Turbolinks on.
The component renders fine the first time it is rendered, it's only when clicking back that there's an issue.

Stack Trace

[code]

[2021-01-10 18:59] justin808 commented on #1198
This should have been fixed in 12.0.4.

[2021-01-10 19:10] justin808 commented on #1350
@Overload119 Can you create a minimal reproduction case on Github? If so, I'll try to fix the issue.

Could you add turbolinks to this simple example: https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh ?

Note, the problem may relate to TurboLinks manually modifying the DOM which a no-no for React.

Please see the lines in this file that have "turbolinks": https://g

[2021-01-10 19:12] justin808 commented on #1347
@Overload119 did you determine the cause of this issue? Maybe it's related to #1350 and Turbolinks?

This shouldn't be possible if you've setup your bundle splitting properly.

Can you create a simple example on Github to reproduce this case?

[2021-01-10 19:15] justin808 commented on #1343
@threepete What's unfortunate? The task is relatively straightforward and supported by React on Rails. Do you expect dedicated time from me to create examples for you?

I have to prioritize requests from sponsors: https://github.com/sponsors/shakacode.

[2021-01-10 19:15] #1343 closed

[2021-01-10 19:15] #1342 closed

[2021-01-10 19:17] justin808 commented on #1340
You should still have that ENV value set on your Heroku app

NODE_ENV=production

Please reopen if you feel this an issue.

Also, please consider https://github.com/sponsors/shakacode and https://www.shakacode.com/react-on-rails-pro/ for additional help related to your setup.

[2021-01-10 19:17] #1340 closed

[2021-01-10 19:18] #1332 closed

[2021-01-10 19:19] #1267 closed

[2021-01-10 19:19] #716 closed

[2021-01-10 19:20] justin808 commented on #1162
@risinglf did you ever find the solution?

[2021-01-10 19:21] justin808 commented on #1350
@Overload119 please check #1162 and see if it's related.

[2021-01-10 19:22] threepete commented on #1343
@justin808 I didn't mean any offense. Apologies.

[2021-01-11 15:40] risinglf commented on #1162
Hi @justin808 no I did not. We lock the Turbolinks version to 5.1.

Thanks

[2021-01-21 21:32] jesster2k10 commented on #1158
Hey @justin808 how could we use the Jbuilder partials with the `react_component` function?

[2021-01-23 14:20] jesster2k10 opened #1353 "Emotion/Loadable Components with SSR"
I've been following https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh which worked fine, until I began using Emotion/Loadable Components.

With them I get a `ReferenceError: "window is not defined"` error as they seem to be incompatible with SSR.
In the server webpack config it mentions that in order to get those to work, you must use a node renderer– which would r

[2021-01-23 15:11] jesster2k10 commented on #1353
Okay, so I was actually able to get SSR working with emotion & loadable components with the following setup.
Inside the server web pack config, I added the following:

[code]

all I did there was remove the style-loader as that would lead to an issue with the document not being defined.
additionally, I added `serverWebpackConfig.resolve.aliasFields = ['module'];` which solved any issue with emotio

[2021-01-23 15:11] #1353 closed

[2021-01-25 07:03] justin808 commented on #1158
Hi @jesster2k10, I'm not sure what you're asking for. Prop serialization is best handled outside of the react_component method (ruby methods). You can create your own helper method that wraps react_component.

[2021-02-22 21:17] newfylox opened #1357 "Invalid call to renderToString in Staging"
react_on_rails: 12.0.4

Hi guys! I work in development mode and everything works fine. But today I tried to deploy my code in staging and I'm having this error :

[code]

I can still navigate my website with no other errors, but that's bugging me to see this error at every refresh (F5).

Any idea?

[code]

[code]

[code]

[2021-02-24 07:33] justin808 commented on #1357
`renderToString` is used for server rendering.

Your function for the SSR of a component needs to take 2 params:

1. Props
2. rails_context

See the docs here: https://github.com/shakacode/react_on_rails/blob/master/docs/basics/render-functions-and-railscontext.md

If you'd like one hour per month of dedicated help, please consider a React on Rails Pro Support sponsorship: https://github.com/spons

[2021-02-24 07:33] #1357 closed

[2021-02-26 10:43] justin808 commented on #1340
@annienero I merged https://github.com/shakacode/react_on_rails/pull/1356.

Release coming soon.

[2021-02-26 14:22] annienero commented on #1340
wow thank you so much @justin808 we'll be on the lookout for the new release 😄

[2021-03-16 13:48] pgruener opened #1360 "Turbo Drive compatibility?"
Hello,
is it planned to establish support for Turbo Drive instead of Turbolinks in the near future?
I quickly tried, to just reference window.Turbolinks = Turbo as a quick try, but the event names
changed and also react_on_rails is considering that as Turbolinks in Version 2 as there is no
*controller* property in Turbo anymore.
Thanks for your response

[2021-03-18 09:16] justin808 commented on #1360
@pgruener would a PR be very simple?

[2021-03-18 09:17] justin808 opened #1361 "Allow Rails.configuration.build_production_command to take a module"
Right now, Rails.configuration.build_production_command takes a String.

A proc would allow more flexibility, such as supporting caching of bundles to S3.

[2021-03-18 09:30] pgruener commented on #1360
@justin808 It seems like there shouldn't be a too big challenge, but I'm still not into it in depth enough.
But if I'd know, that you would like that, you're not already working on it, and might pull it, I'd consider to make a suggestion PR in the upcoming weeks.

[2021-03-23 14:39] foton commented on #1227
Maybe this help https://github.com/rails/webpacker/issues/2211

[2021-03-24 09:32] justin808 commented on #1361
Completed with #1363, released in 12.1.0.

[2021-03-24 09:32] #1361 closed

[2021-03-25 18:39] supremebeing7 opened #1366 "Reduce rails dependency"
It would be nice if this gem could depend only on the gems from rails it needs, rather than the full `rails` gem. I'm not sure what specific parts are needed without digging, but I'd guess something like `railties`, `actionview`, `sprockets-rails`?

The whole hoopla with [mimemagic versions getting yanked](https://github.com/mimemagicrb/mimemagic/issues/98) and rails `activestorage` gem depending

[2021-03-29 22:23] justin808 commented on #1366
@supremebeing7 Sure...PR would be great!

[2021-04-08 21:36] justin808 commented on #590
@thedanotto Thanks for the kind comment!

https://twitter.com/railsonmaui/status/1380269835184041985

[2021-04-08 21:36] #590 closed

[2021-04-08 21:37] justin808 commented on #347
### [StatusHero](https://statushero.com/)

![2021-04-08_11-33-44](https://user-images.githubusercontent.com/1118459/114099564-b838a580-985e-11eb-9c69-aab298e3e3aa.jpg)

[2021-04-08 21:37] #347 closed

[2021-04-11 23:41] justin808 commented on #1360
@pgruener I'd love a PR. Please keep me posted!

[2021-04-11 23:44] justin808 commented on #1360
@pgruener Please consider joining our community slack channel [with this invite](https://join.slack.com/t/reactrails/shared_invite/enQtNjY3NTczMjczNzYxLTlmYjdiZmY3MTVlMzU2YWE0OWM0MzNiZDI0MzdkZGFiZTFkYTFkOGVjODBmOWEyYWQ3MzA2NGE1YWJjNmVlMGE).

[2021-04-13 00:03] thedanotto commented on #590
Of course, keep crushing it!

[2021-04-13 00:12] thedanotto commented on #590
When I make it out to Maui again, I'll hit you up and maybe we can catch some waves. 3rd coaster right now, but always wanted to live in Hawaii

[2021-04-13 09:19] justin808 commented on #590
@thedanotto Hit me up on LinkedIn https://www.linkedin.com/in/railsonmaui or Facebook https://www.facebook.com/justinhgordon/ !

[2021-04-15 21:33] elstgav opened #1368 "Build Production Command ignores WEBPACKER_PRECOMPILE=false"
Webpacker allows you to skip compilation in the `assets:precompile` task if `WEBPACKER_PRECOMPILE` is set to `false` (https://github.com/rails/webpacker/pull/1023). However, React on Rails will still run `build_production_command`.

Right now, we can manually workaround this like so:

[code]

But it would be great if React on Rails natively supported this for feature parity 👍🏻

[2021-04-19 07:12] justin808 commented on #1368
@elstgav Great idea!

However, should we use the same ENV name of `WEBPACKER_PRECOMPILE` as there is no webpack precompile running. Instead, it's a custom command.

In terms of a fix, we can put these lines right at https://github.com/shakacode/react_on_rails/blob/master/lib/tasks/assets.rake#L10

[code]

@elstgav let me know if you want to create a PR or my team can do it.

[2021-04-20 16:45] elstgav commented on #1368
Perhaps react on rails should have a similar ENV variable of its own, e.g. `REACT_ON_RAILS_PRECOMPILE=false` 🤔

[2021-04-21 23:10] geoffharcourt opened #1369 "Make use without Webpacker a supported case?"
Hello!

First off, this is an awesome project and has been extremely useful to us by providing a straightforward server-side rendering solution for use with our application.

Would you be open to a PR that removed the required of Webpacker? We went source-diving to enable use with our application without Webpacker and saw some comments indicating that the future of the library was to make Webpacke

[2021-04-28 18:40] mattclough1 commented on #1347
@justin808 I'm having this same issue on a fresh Rails app. Here's the repo:
https://github.com/mattclough1/react-on-rails-demo

[2021-05-03 07:57] justin808 commented on #1369
Hi @geoffharcourt! Thank you for the kind words! You made my day! I hope you consider trying out https://www.shakacode.com/react-on-rails-pro/. It's got some things your project might love! We are almost done with including bundle caching so that you don't have to constantly wait for the same bundles to get built over and over on many machines, such as CI, Review Apps, Staging, etc.

For sure, I'd

[2021-05-11 08:39] justin808 opened #1372 "config.build_production_command as module cannot be used if using rails/webpacker for compiling"
config.build_production_command cannot be used to compile the rails/webpacker way since

https://github.com/shakacode/react_on_rails/blob/master/lib/tasks/assets.rake#L10

[code]

The fix should be that if you want to define a custom module for building, that's OK and takes precedence. Otherwise, use the rails/webpacker build or a custom string.

Without this, production bundle caching won't work

[2021-05-12 05:35] MagnusEngdal commented on #587
For me the problem was that I had added NODE_ENV=production to the env vars of my build project. Removing it again solved it.

[2021-05-18 15:10] pgruener commented on #1360
@justin808 You could have a look at https://github.com/shakacode/react_on_rails/pull/1374

[2021-05-21 10:59] geoffharcourt commented on #1369
This turned out to be more complicated than I had thought! We're looking into other ways we can generalize our changes to allow use of the SSR functionality outside of Webpacker, but this probably isn't the right change.

[2021-05-21 10:59] #1369 closed

[2021-05-25 23:56] justin808 commented on #1347
Hi @mattclough1, any suggestion for a fix? I don't see this widely reported.

Why are you doing this:

https://github.com/mattclough1/react-on-rails-demo/blob/main/app/javascript/packs/hello_react.jsx#L21-L26

[2021-06-01 20:17] el-ethan opened #1375 "If one component in a view fails to render, all React components below it fail as well."
I have a view like this:

[code]

Where `WorkingA` and `WorkingB` are working react components, and `Broken` is a component that has a bug that causes an unhandled exception, causing the component not to render. The issue I am seeing is that, when a component like `Broken` fails to render, all components below it fail to render as well. So in the example above, `WorkingA` will render, but `Broken`

[2021-06-04 12:25] el-ethan commented on #1375
I am closing this issue. The more I think about it, I guess this behavior makes sense 🤷‍♂️

[2021-06-04 12:25] #1375 closed

[2021-06-14 11:03] samtgarson commented on #1198
In case anyone else is stuck on the same issue I am (unrelated to other fixes so far):

 I've been getting this on 12.2... turned out to be because of [this issue](https://github.com/rails/webpacker/issues/2932#issuecomment-860590789) which is caused by adding multiple calls to `javascript_pack_tag`s on one page, leading to multiple instances of React.

For now, the fix is to only call `javascript

[2021-06-14 20:47] justin808 commented on #1198
I'm reopening this issue just to make it clear that **javascript_pack_tag** needs to be only once on the view, including the layout when using rails/webpacker v6.

[2021-07-13 01:14] nathunsmitty opened #1378 "`URL is not defined` issue on SSR components"
I have a component that constructs links like so:
[code]

I would link to for it to be server-side rendered, but when I do I get the follow error: `ReferenceError: URL is not defined` on the above code snippet. This makes sense – `URL` is a web api – but it has also been [present in Node since v10](https://nodejs.org/api/url.html#url_the_whatwg_url_api).

I'm running Node v16.4.2 which does have `

[2021-07-18 19:58] heratyian commented on #1139
I had this same issue and removing `require("turbolinks").start()` from application.js fixed the double rendering behavior for me. Hope this helps someone out there.

[2021-07-24 12:12] justin808 commented on #1203
![image](https://user-images.githubusercontent.com/1118459/126868048-3fe64e54-4d6d-4066-9df2-8cf6fbaeb314.png)

[2021-07-30 22:55] RonaldoArSan commented on #970
eu simplesmene alterei o package.json
engines": {
    "node": "12.x"
  },

para

engines": {
    "node": "14.x"
  },

rodei o yarn
e voila!

[2021-07-31 15:12] gastonmorixe commented on #493
@justin808 is this possible?

[2021-08-01 06:42] justin808 commented on #493
Should be for React on Rails Pro.

If not, we can fix it!

CC: @gastonmorixe

[2021-08-01 12:13] gastonmorixe commented on #493
@justin808 it's not working for pro. I have followed all the pro source code and couldn't make it work. It's a critical feature to us otherwise we can't make SSR network requests and wait for them before sending back the response.

[2021-08-11 13:50] ziploker opened #1383 "unable to use React suspense with react_on_rails gem"
I'm trying to use the experimental version of react to use suspense for data fetching etc…

i installed the experimental version of react via npm (had to use --force).
_(not sure if the dependency issue i had was react_on_rails related)_

Also, part of the [install process](https://reactjs.org/docs/concurrent-mode-suspense.html) says to change this:

[code]
to this:

[code]

However, with react on

[2021-08-28 12:37] #1368 closed

[2021-08-29 22:23] nathunsmitty commented on #1378
Hi @justin808 – sorry I totally missed your notification on this as well! I resolved it by just writing my own URL param parser. Thanks for the insight on the Node vs ExecJS renderers, I didn't realize the Node renderer was a pro feature! Will close this out now since it is resolved.

[2021-08-29 22:23] #1378 closed

[2021-09-10 09:57] minisemi opened #1385 "HMR doesn't work with react_component_hash"

[2021-09-10 09:59] #1385 closed

[2021-09-10 10:15] minisemi opened #1386 "HMR doesn't work with react_component_hash"
Hi! I was able to get HMR to work with the following setup:

AppServer.js:
[code]

application.html.erb:
`<%= react_component("App", props: @data, prerender: true) %>`

But since I am using Styled Components for my CSS, to get those styles server rendered I changed those two files accordingly:

AppServer.js:
[code]

application.html.erb:
[code]

With this new setup I get the server rendered HTML w

[2021-09-10 14:17] minisemi commented on #1386
Seems to be working now, not sure what caused the issue.

[2021-09-10 14:17] #1386 closed

[2021-09-20 06:58] Romex91 opened #1388 "Implement infinite loops, deadlocks, and memory leaks resilience for node workers."
The current implementation doesn't support workers' isolation from each other. If some of the workers take too much CPU time and RAM for rendering a single request, it must get killed and respawned.

[2021-09-20 07:03] Romex91 commented on #1388
This should be for RORP, not ROR: https://github.com/shakacode/react_on_rails_pro/issues/222

[2021-09-20 07:03] #1388 closed

[2021-09-22 00:55] justin808 commented on #1383
Once this feature is non-experimental, I plan to support this.

@ziploker and others, PRs welcome!

[2021-09-24 19:50] namratasaun opened #1390 "How to pass a controller method to react via props?"
I have a controller method which is a helper mehod and is available in my erb file. How to send it via props to react component?

[2021-10-04 17:09] shamrt opened #1391 "Make Yarn 2-compatible"
For projects using Yarn 2, the `assets:precompile` Rake command results in a `Unknown Syntax Error`:

[code]

This is due to Yarn 2 no longer supporting some Yarn 1 `install` options.

For the time being, other `react_on_rails` projects using Yarn 2 can leverage https://github.com/tujoworker/plugin-ignore-install-options plugin to mitigate the issue.

[2021-10-08 11:32] samtgarson opened #1392 "Client side hydration called before all the components are registered"
We have multiple client-side bundles, each of which registers its own components, e.g.:
[code]

These are loaded all in one call (we plan to use `content_for` to counteract the issue of calling `javascript_pack_tag` multiple times, but it's not done yet):
[code]
In reality there are 6 bundles.

We get the following error sporadically—not every time, and the order in which we put the different bund

[2021-10-11 08:58] justin808 commented on #1392
@samtgarson can you try to debug this further? or suggest a PR?

There's something specific about your project, or else I'd get lots of reports of this issue surely.

[2021-10-11 09:03] justin808 commented on #1390
I don't think this is a React on Rails issue. Maybe a question for StackOverflow?

[2021-10-11 09:03] #1390 closed

[2021-10-11 20:37] mdesantis opened #1395 "Decouple from Webpacker and support jsbundling-rails, importmaps-rails"
Rails is leading towards multiple JavaScript bundlers support with [jsbundling-rails](https://github.com/rails/jsbundling-rails), which will be shipped with Rails 7 (it is already available on Rails 7 alpha).

There is even [importmap-rails](https://github.com/rails/importmap-rails), which fits with React less than jsbundling-rails as JSX requires a JS bundler, but since React can be used without

[2021-10-14 21:15] justin808 commented on #1395
@mdesantis I'm totally open to a PR. Would SSR still work with importmap-rails?

[2021-10-14 21:23] justin808 opened #1396 "Support for rails/webpacker v6 in the simple tutorial"
Because rails/webpacker v6 has bundle splitting by default, the only way that the very simple tutorial can work is to configure webpack to have something like:

[code]

Also, we should document that this is clearly not recommended for a production deployment, but just a POC to show SSR with the simplest possible configuration.

A better option would be to have a way to add the configuration files

[2021-10-14 21:29] justin808 opened #1397 "If config.server_bundle_js_file is blank, nil, commented out, and prerendering is done, page request hangs"
Here's the default config:

[code]

There apparently is no check if the server_bundle_js_file is undefined, blank.

A non-blank file name gives an appropriate error.

The current "hanging" behavior is very frustrating.

[2021-10-19 14:51] NaldoColella opened #1398 "[Question] - rake react_on_rails:locale outputing yaml in different json format than expected"
Hi, im trying to extract the translations for my application from a folder from rails, so im using this rake locale from react_on_rails.

Im having a result like this:

[code]
There is a way that the Json outputs like that using yours rake?
[code]
Or for that I should create my own rake cause you only outputs the json in that specific format?

[2021-10-24 01:57] justin808 commented on #1398
@NaldoColella, I think if you want something specific, you should make your own rake task.

[2021-11-04 01:35] justin808 opened #1403 "Should React on Rails adopt some key features of Next.js?"
1. path-based routing
2. more examples with TS
3. easier configuration of webpack, using rails/webpacker

What else?

https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh/blob/master/babel.config.js

[2021-11-09 14:19] raquelhortab opened #1406 "Cannot install with rails 3.2, ruby 1.9.3"
Hi, I am trying to install version 11, which is suposed to work with rails 3.x. I am encontering a problem with some dependencies. It seems that react_on_rails depends on rainbow 3.0.0, which depends on ruby 2.1.0. Is there any workaround? I cannot upgrade ruby for now and I'd like to be able to use react.

[2021-11-17 03:59] justin808 commented on #1406
@raquelhortab  you can jump on this [Slack](https://reactrails.slack.com/join/shared_invite/enQtNjY3NTczMjczNzYxLTlmYjdiZmY3MTVlMzU2YWE0OWM0MzNiZDI0MzdkZGFiZTFkYTFkOGVjODBmOWEyYWQ3MzA2NGE1YWJjNmVlMGE) and message me.

[2021-11-17 03:59] #1406 closed

[2021-11-19 10:46] justin808 commented on #1395
@mdesantis can you hack around with this. Ping me if you need help. https://join.slack.com/t/reactrails/shared_invite/enQtNjY3NTczMjczNzYxLTlmYjdiZmY3MTVlMzU2YWE0OWM0MzNiZDI0MzdkZGFiZTFkYTFkOGVjODBmOWEyYWQ3MzA2NGE1YWJjNmVlMGE

[2021-11-19 13:24] mdesantis commented on #1395
@justin808 I'd really love to, but my free time is really short nowadays, you know, family and such. But I'll do all the best to find some time to dedicate to this, it's appealing to me.

[2021-11-20 02:44] justin808 commented on #1392
@samtgarson any update?

[2021-11-22 10:02] samtgarson commented on #1392
Hey @justin808 apologies, forgot to get back on this one. We added `defer: false` and it seems to have worked.

Not sure what this means for the library though?

[2021-11-22 21:49] justin808 commented on #1392
I think the issue is that you have the script tag in the head and if you placed the script tag at the bottom of the page with defer, you'd have better performance.

https://developers.google.com/web/fundamentals/performance/critical-rendering-path/adding-interactivity-with-javascript#parser_blocking_versus_asynchronous_javascript

My guess is that you have `javascript_pack_tag` more than once on y

[2021-11-22 21:49] #1392 closed

[2021-11-22 21:55] samtgarson commented on #1392
We definitely do not have multiple pack tags (this is something that I opened a separate pull request about documenting), but we do have the pack tag in the Head of the document—we will move it.

[2021-12-14 21:40] kylemellander opened #1408 "Prepping for React 18's render process"
In React 18, the render process is triggered differently.  For more reference, see https://github.com/reactwg/react-18/discussions/5.

I have not dug into the internals, but I do know that there are also updates how to do SSR that could help with performance for React 18.  More information is here: https://github.com/reactwg/react-18/discussions/22

I'm going to dig into researching this more and

[2021-12-15 08:53] justin808 commented on #1408
@kylemellander I definitely want to support this. If you've got any suggestions or a PR, very much appreciated!

[2021-12-15 17:40] kylemellander commented on #1408
@justin808 I've been exploring the way that the dummy apps are generated for the test suite, but have hit a wall with determining how to test against multiple versions of React so that we can make sure that we have forward and backward compatibility.

Part of the issue here is that I'm struggling to see a few things about the construction of the test suite since it is very dynamic.  My thinking is

[2021-12-15 19:11] kylemellander commented on #1408
Also, looking at the updates to use `ReactDOMServer.renderToPipeableStream`, it seems like maybe this is something that you would be integrating into your pro version since that version contains the nodeJS connection

[2021-12-17 22:45] justin808 opened #1410 "Upcoming changes for rails/webpacker v6, Rails 7, and React 18"
- [x] Upgrade to rails/webpacker v6 final
- [ ] Integrate https://github.com/shakacode/react-on-webpacker https://www.npmjs.com/package/react-on-webpacker into spec/dummy
- [x] Upgrade of spec/dummy examples to Rails 7
- [x] Upgrade spec/dummy to React 18 (#1463)

[2021-12-26 19:48] justin808 commented on #1408
Released in 12.5.0.

[2021-12-26 19:48] #1408 closed

[2021-12-26 19:48] justin808 commented on #1396
Released in 12.5.0.

[2021-12-26 19:48] #1396 closed

[2021-12-26 19:49] justin808 commented on #1395
@mdesantis have you had a chance to look into this?

[2021-12-27 16:17] mdesantis commented on #1395
No I'm sorry, I have other priorities right now :-/

[2022-01-02 10:28] deelobase opened #1417 "Deploy your app for free 🚀"
Hey @shakacode, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://de

[2022-01-04 22:01] brandoncc commented on #1395
I'd love for the gem to support jsbundling-rails. I actually came to the repo hoping to find that it was supported. Thanks for starting the conversation!

[2022-01-04 22:03] justin808 commented on #1395
I'd love to see some sort of POC of that. And what would be the advantage, compare/contrast to using rails/webpacker?

it would be great to make a PR of this repo showing using jsbundling-rails. And what about css?

https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh/

[2022-01-05 02:29] brandoncc commented on #1395
I would also like to see a POC of getting it to work.

The advantage of using js-bundling, in my opinion, is that you are not relying on a dead technology. Rails is using js-bundling now, rather than webpacker. DHH has made it pretty clear that he never liked the webpack path and he is happy to be off of it. Based on that, I don't expect to see many new versions of webpacker. I could be wrong thou

[2022-01-05 05:25] justin808 commented on #1395
@brandoncc React on Rails previously did not depend on webpacker. If you see changes I made to React on Rails where I required webpacker, you'd have an idea of what can be done.

Do you have time to help me work on this?

Here's a [Slack invite](https://join.slack.com/t/reactrails/shared_invite/enQtNjY3NTczMjczNzYxLTlmYjdiZmY3MTVlMzU2YWE0OWM0MzNiZDI0MzdkZGFiZTFkYTFkOGVjODBmOWEyYWQ3MzA2NGE1YWJjNmVl

[2022-01-05 05:33] justin808 commented on #1395
@brandoncc Please see https://discuss.rubyonrails.org/t/shipping-webpacker-v6-status/79683 and let me know your thoughts.

[2022-01-05 06:14] brandoncc commented on #1395
Thanks for pointing me to that thread. The last thread I saw about webpacker v6 was also on discuss.rubyonrails.org and was about how v6 was seemingly never coming out.

If you are taking on maintainership of webpacker, that cancels my argument about relying on a dying technology. That is a good thing. I do think more and more people will start their apps with js-bundling, and may not be willing t

[2022-01-05 07:01] brandoncc commented on #1395
Here is a summary of where this stands.

- There isn't any technical reason why js-bundling can't be supported (I'm not sure about importmaps, but the same may be true for that).
- There isn't a dummy app showing how to make this work, so it is assumed not to work. That can be remedied once the actual integration path is figured out and tested by someone (could be me, or someone else).
- There is

[2022-01-07 15:03] Judahmeek commented on #1410
@justin808 I closed this because we're using Notion for task management.

[2022-02-09 02:30] justin808 opened #1429 "Fixing failing tests on master"
Tests are failing on master...

Here's some research on this this:

To repro:

[code]

The problem is that the server-bundle.js is getting generated with chunks. The SSR only pulls in the top level file. It doesn't deal with chunks.

[code]

[2022-02-09 04:36] justin808 commented on #1429
The root cause was the updated bin/webpacker binstub causes a search for config/webpack/test.js which didn't exist.

Then the default webpack config was used which used code-splitting.

We really need a better SSR failure message when this happens!

[code]

[2022-02-09 21:18] justin808 commented on #1429
Fixed by #1431

[2022-02-09 21:18] #1429 closed

[2022-02-15 23:48] dizehacioglu commented on #676
Wondering if there are updates?

[2022-02-15 23:54] justin808 commented on #676
@dizehacioglu If you want to render static html, that should be fine. Given how React works with state management, I would not nest anything outside of standard React.

[2022-02-22 09:14] aditya9026 commented on #836
@xiaopow any solution for this?

[2022-02-22 09:25] justin808 commented on #836
@aditya9026 upgrade to latest React on Rails and install Shakapacker.

[2022-03-25 18:50] whizzzkid opened #1436 "ERROR in SERVER PRERENDERING"
Hello Team, I am facing a weird issue, when pre-rendering in testing.

## Environment

1. Ruby version: `3.0.3`
2. Rails version: `~>6.1.4.7`
3. Webpacker version: `shakapacker@6.1.0`
4. React on Rails version: `13.0.2`

## Expected behavior
It should render in the test pipeline, but it fails. It seems to work when building locally and prod builds locally.

## Actual behavior

[code]

## Small, re

[2022-03-31 22:26] vtamara opened #1438 "Suggestion. Not pushing `mini_racer` in new installs but use the standard Node.js that is faster"
**Is your feature request related to a problem? Please describe.**

In the past I have had several issues installing `mini_racer` because it depends on the gem `libv8-node` that depends on `libv8` that needs to be installed in the Operating System, and the version of all of them must correspond.

In the present I have issues installing `mini_racer` in adJ/OpenBSD 7.1a1 (because recent libv8 has co

[2022-03-31 23:11] vtamara commented on #1198
Referencing https://github.com/shakacode/shakapacker/issues/39 because solving that would help here.

[2022-04-08 01:26] justin808 opened #1440 "bin/webpacker is running twice during assets:precompile if"
This change is broken:

https://github.com/shakacode/react_on_rails/commit/9637c09e46372f92d09113a2eb61b3658b47b351#diff-ee77363403f2346e5588ba25b2ef77d2b8e70d3c699fec17edf68fa3dd3b6766R127

## Repro:
1. Set react_on_rails.rb to have `config.build_production_command = "yarn start build.prod"`
2. Run `RAILS_ENV=production NODE_ENV=production rake assets:precompile`. `bin/webpacker` will run twice.

[2022-04-08 01:28] justin808 commented on #1436
You probably have a server bundle file that doesn't import react-on-rails.

[2022-04-08 01:28] #1436 closed

[2022-04-08 01:59] Judahmeek commented on #1440
@justin808 In other words, there is no way to add `ENV["WEBPACKER_PRECOMPILE"] = "false"` conditional on the presence of `config.build_production_command`

[2022-04-10 21:56] gastonmorixe opened #1441 "React 18 Warning: You are importing hydrateRoot from "react-dom" [...] You should instead import it from "react-dom/client""
[code]

https://github.com/shakacode/react_on_rails/blob/0e96cf8a4c6779daf2c671974e93598134162587/node_package/src/reactHydrate.ts#L1

[2022-04-12 08:10] justin808 commented on #1441
Hi @gastonmorixe, Ari Summer is working on this as well.

We can chat at the [Slack Discusssion](https://join.slack.com/t/reactrails/shared_invite/enQtNjY3NTczMjczNzYxLTlmYjdiZmY3MTVlMzU2YWE0OWM0MzNiZDI0MzdkZGFiZTFkYTFkOGVjODBmOWEyYWQ3MzA2NGE1YWJjNmVlMGE).

[2022-04-15 08:28] alexeyr opened #1442 "Incomplete sample application installation instructions"
## Environment

1. Ruby version: 3.0.2 (eventually)
2. Rails version: 7.0.0
3. Webpacker version: 6.1.1
4. React on Rails version: 13.0.2

## Expected behavior

Following [spec/dummy/README.md](https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/README.md) should install and start the sample application.

## Actual behavior

1. The expected ruby version should be specified either in

[2022-04-16 09:14] justin808 commented on #1442
@alexeyr AWESOME work! Keep going!

[2022-04-20 12:50] alexeyr-c opened #1447 "RSpec example tests fail under mini_racer"
A bug is a crash or incorrect behavior. If you have a debugging or troubleshooting question, please open [a discussion](https://github.com/shakacode/react_on_rails/discussions).

## Environment

1. Ruby version: 3.0.2
2. Rails version: 7.0.2.3
3. Webpacker version: 6.2.1
4. React on Rails version: 13.0.2

## Expected behavior

Running `bundle exec rspec:examples` should work.

## Actual behavior

[2022-04-23 22:39] summera commented on #1441
I took a stab at fixing this in https://github.com/shakacode/react_on_rails/pull/1448

[2022-04-30 07:43] KevinColemanInc opened #1451 "Broken docs link: Manual Installation Overview"
This link doesn't work:
https://github.com/shakacode/react_on_rails/blob/master/SUMMARY.md?plain=1#L37

[2022-05-13 15:34] jasonfb commented on #1442
hey @alexeyr -- I think I'm gonna work on this a little this weekend if you want to pair up. not sure if you were building a **jsbundling app** or an **importmap app** under Rails 7 (you don't specify), but I am going for a solution using **esbuild** through **JSBundling**.

if you have an example app from the attempts above, I will pull it and take a look if that's helpful.

as well, from what I

[2022-05-13 15:36] jasonfb opened #1454 "React on Rails 7 using js-building with esbuild"
Is it possible to get this gem (react_on_rails) working for Rails 7 using **esbuild** through **JSBundling**?

I am starting an investigation thread here. I see that @alexeyr   has made another issue at https://github.com/shakacode/react_on_rails/issues/1442

but I don't want to mess up their process so I am starting a new thread with these specific parameters.

## Acceptance Criteria:

1. jsbundl

[2022-05-13 21:42] alexeyr-c commented on #1442
@jasonfb Sorry, I won't be able to. And anyway, my changes were basically limited to documentation in #1443, I didn't even start updating other dependency versions.

[2022-05-14 07:44] tomdracz commented on #1447
https://reactrails.slack.com/archives/C0HFLD6S0/p1652474744534739 seems to be the same thing

cc @justin808 should go away after we merge my PR 🤞

[2022-05-19 11:36] jasonfb commented on #1454
I tried this for a while and realized it is prohibitively complex. it seems the react dev experience is second class in that eco system and I see why you've developed shakapaker

[2022-05-19 11:36] #1454 closed

[2022-05-19 20:45] smeijer commented on #1441
Is there a status update for this?

[2022-05-23 17:36] justin808 commented on #1441
I'll soon be trying to do some upgrades.

[2022-06-03 20:02] #1438 closed

[2022-06-04 02:35] justin808 commented on #1451
This works: https://www.shakacode.com/react-on-rails/docs/additional-details/manual-installation-overview/

[2022-06-04 02:35] #1451 closed

[2022-06-05 11:29] simlegate opened #1457 "mini_racer does not support TextEncoder when server renders react component"
A bug is a crash or incorrect behavior. If you have a debugging or troubleshooting question, please open [a discussion](https://github.com/shakacode/react_on_rails/discussions).

## Environment

1. Ruby version: 3.1.2
2. Rails version: 7.0.3
3. Webpacker version: 6.4.0(shakapacker)
4. React on Rails version: 13.0.1
5. OS version: MacOS 12.2
6. Hardware version: Apple M1 Pro

## Expected behavior
T

[2022-06-20 01:36] arlyxiao commented on #1457
I encountered the same issue. @justin808

[2022-06-22 08:14] #1319 closed

[2022-06-22 18:44] justin808 commented on #1447
Fixed!

[2022-06-22 18:44] #1447 closed

[2022-06-23 23:59] wyattades commented on #1457
Greetings, this was my solution for adding all the required polyfills for react SSR with mini_racer:

add this plugin to your webpack config:
[code]

**serverPolyfills.js** (import this file at the top of our server-rendering file b/c it needs to run before importing `react`)
[code]

[2022-06-27 08:09] #1457 closed

[2022-06-27 11:36] alexeyr-ci1 opened #1464 "Remaining React 18 changes"
- [x] Currently, `unmount` in `clientStartup.ts` does https://github.com/shakacode/react_on_rails/blob/fa2fe25eb6a749d1605d6aa7abd11ef4f911c9f6/node_package/src/clientStartup.ts#L216

  With the new Root API, it should be replaced by `root.unmount()`, which means we need to store rendered roots. The current approach will not work due to https://github.com/facebook/react/blob/2e0d86d22192ff0b13b71b

[2022-06-27 11:36] alexeyr-ci1 commented on #1464
@tomdracz Is there anything else we need to change for React 18 that I've missed?

[2022-06-27 11:53] alexeyr-ci1 opened #1465 "Enable StrictMode for spec/dummy"
See https://reactjs.org/docs/strict-mode.html. This should help detect more bugs in RoR.

[2022-06-27 18:42] alexeyr-ci1 commented on #1464
@tomdracz And to fix point 1, do you know if it will be enough to store the roots on `findContext()` when rendering, or can we get different instances of `window`/`global` between `reactOnRailsPageLoaded` and `reactOnRailsPageUnloaded`?

[2022-06-29 19:33] #1441 closed

[2022-07-04 08:37] alexeyr-ci1 commented on #1410
@justin808 I think the first task is done, just with Shakapacker instead?

[2022-07-06 08:11] justin808 commented on #1465
@alexeyr-ci1 SGTM

[2022-07-06 09:43] alexeyr-ci1 commented on #1465
@justin808 After #1463.

[2022-07-06 21:01] justin808 commented on #1464
@alexeyr-ci1, @tomdracz should I push a release?

[2022-07-06 21:03] justin808 commented on #1410
For

Maybe we can consider something for Shakapacker v7?

[2022-07-06 21:42] alexeyr-ci1 commented on #1410
If it's just `spec/dummy` changes, I definitely don't think we need to wait until that.

[2022-07-06 21:49] alexeyr-ci1 commented on #1464
@justin808 @pulkitkkr's #1455 is almost ready, and I think we'll want a release including it. So I suggest waiting until it's done and making the release after.

[2022-07-06 21:57] alexeyr-ci1 commented on #1410
Oh, sorry, I misunderstood. We can look into it.

[2022-07-07 02:18] justin808 commented on #1410
@alexeyr-ci1, sorry, wrong repo. I updated the comments above.

[2022-07-07 07:52] tomdracz commented on #1464
Think that covers it!

Not entirely sure on this one but I would expect `window`/`global` to be consistent between the two calls. No idea what happens if you bring Turbo to the mix though

[2022-07-07 09:55] justin808 commented on #1441
@gastonmorixe @summera @smeijer Completed! I'll ship an updated version soon!

[2022-07-07 10:01] alexeyr-ci1 opened #1468 "Add tests for Turbo/Turbolinks"
We need to cover use with Turbo in integration or unit tests, because some code paths are currently not tested. Make sure Strict Mode is used. Turbolinks 5 should ideally also be covered, but probably lower priority.

[2022-07-07 10:08] alexeyr-ci1 commented on #1464
I still think to wait for #1455, unless you want it ASAP. The changelog does need to be updated, but let me do the Popmenu PR first and I'll come back to it.

[2022-07-07 10:40] smeijer commented on #1441
Thanks! Appreciate the ping.

[2022-07-07 10:49] alexeyr-ci1 opened #1469 "Add integration tests for React 16"
Since spec/dummy is now using React 18 (#1463), and we still want compatibility with React 16, we need integration tests for React 16. Could add an example to generators, but I am not sure that's enough (still better than nothing).

@justin808 What do you think? Anyone we could assign this to?

[2022-07-07 11:05] alexeyr-ci1 opened #1470 "Make dependencies consistent"
- [ ] `/Gemfile.lock` is currently ignored. This used to be the recommendation, but [the current Bundler docs](https://bundler.io/v2.2/guides/faq.html#using-gemfiles-inside-gems) disagree:

- [ ] When it's checked in, it seems we should ensure the versions there and in `spec/dummy/Gemfile.lock` are the same. I ended up with a mismatch in rdoc and rspec versions, and it lead to problems (don't have

[2022-07-07 11:33] alexeyr-ci1 commented on #1464
@justin808 Updated the changelog.

[2022-07-07 12:13] tomdracz commented on #1464
I think there's no need. Non Turbo stuff will just reload the page so we should get fresh mounts on new page. Haven't dug into gem internals so that's just an educated guess

[2022-07-11 16:14] timkrins commented on #1139
This same issue was frustrating me.

My React components were rendering once when first loaded, then once when visiting other pages via Turbolinks, but then clicking the _same_ link twice was causing a double render (one for the Turbolinks 'preview', and the other when the content is replaced).

Discovered this by trawling through the archived Turbolinks issues (https://github.com/turbolinks/turbo

[2022-07-12 19:59] justin808 commented on #1469
Ideally, we'd swap the dependency with an ENV flag so that spec/dummy can run on React 16. However, I don't see that as a priority right now.

I'll leave this one up for grabs.

[2022-07-12 22:01] justin808 commented on #1464
@alexeyr-ci1 Should I push a release with React 18 support? We'll also have #1455 hopefully.

[2022-07-14 16:18] minisemi commented on #1457
Thank you @wyattades! I'm assuming we have different version though, because for me URL and URLSearchParams were in core-js-pure instead of core-js. Then I obviously also needed to install the fast-text-encoding package with yarn. So for anyone else having the same issue as me, I needed to make the following changes to @wyattades code:

[code]

[2022-07-20 08:10] Swolie opened #1472 "Passing objects to components failing?"
I'm trying to integrate Victory charts to my RoR application using Shakapacker and React On Rails gem.

I've got the hello world example working, but when I use the code from Victory, I get the following error:
` Uncaught Error: Objects are not valid as a React child (found: object with keys {label, value}). If you meant to render a collection of children, use an array instead. `

Code:

[code]

H

[2022-07-25 09:34] justin808 commented on #1472
@Swolie your error is app specific.

If you want app-specific help, please see [React on Rails Pro](https://www.shakacode.com/react-on-rails-pro).

[2022-07-25 09:34] #1472 closed

[2022-08-18 20:48] TruRooms opened #1477 "Unable to Run Rspec Tests - Invalid Configuration Object in webpack config"
This is with a vanilla setup using rspec-rails to run tests.

My rails_helper.rb

[code]

config/webpack/test.js
[code]

## Environment

1. Ruby version: 3.1.2
2. Rails version: 7.0.3.1
3. Webpacker version: Shakapacker 6.4.0
4. React on Rails version: 13.0.1

## Expected behavior

Able to run base rspec specs.

## Actual behavior

[code]

## Small, reproducible repo

[2022-08-26 07:13] justin808 commented on #1477
`test.js` is typically for jest tests.

Set your NODE_ENV to either development or production when running tests.

Unfortunately, the Shakapacker default is to set an unset NODE_ENV to be the same as the RAILS_ENV.

CC: @Judahmeek @mage1711

[2022-08-26 07:13] #1477 closed

[2022-09-21 15:28] jasonfb commented on #1470
• Don't ignore the `Gemfile.lock` in the repository, instead omit both the Gemfile and the `Gemfile.lock` from the files that are bundled when you build the gemcode. This is set in the `gemspec` here

https://github.com/shakacode/react_on_rails/blob/master/react_on_rails.gemspec#L19

I think adding `Gemfile|Gemfile.lock` to that exclude list is what you want

• I too have the same problem with kee

[2022-09-21 15:29] jasonfb opened #1482 "Install script should create `./bin/dev`"
- [ ] For parity with JSBundling, the installer script should create a simple shell script at `./bin/dev` with this contents:

[code]
- [ ] remember shell script must be set to be executable (`chmod 0755 ./bin/dev`)

- [ ] use the post-install message to direct people to this option

TODO: @jasonfb says he will PR this.

[2022-09-23 12:54] jasonfb opened #1483 "Basic installation leads to unexpected (non-working) results — missing bundle"
## Environment

1. Ruby version: 3.1.2
2. Rails version: 7.0.4
3. Webpacker version: 6.5.2
4. React on Rails version: 13.0.2

## Expected behavior

The HelloWorld component is rendered to the screen when I navigate to http://localhost:3000/hello_world

## Actual behavior

No component is rendered and the hello-world-bundle.js cannot be found

![ReactOnRailsWithWebpacker 2022-09-23 08-46-14](https:

[2022-09-23 14:34] jasonfb commented on #1483
this is very strange, upon a 2nd retry, the app started working as expected.

I reproduced another app and it worked. then I went back to this app and **it also started working**.

I wish I knew what I did to create the borked version.
![ReactOnRailsWithWebpacker 2022-09-23 10-33-29](https://user-images.githubusercontent.com/59002/191985257-ee64660c-922c-473f-b6ae-361e78568b40.png)

[2022-09-23 14:41] jasonfb commented on #1483
my suspicion is that there a certain conditions where for whatever reason the pack isn't rebuilt (even though I am examining the output of the webpack dev server and I didn't see those). Somehow, in this state, the frontend is loading the old (wrong) pack. I've seen this too in other cases as well which can lead to a confusing development state. will open a discussion regarding this.

[2022-09-23 14:55] jasonfb commented on #1483
Ok so I pulled this repository (https://github.com/jasonfb/ShakapackerH) booted it up into a different folder, and et viola, the problem does not remanifest.

I think there must be something super picky about when the browser hangs onto old (unrebuilt) packs? that's the only explanation I can come up with for this so I am closing and will move into an issue.

[2022-09-23 14:55] #1483 closed

[2022-09-26 23:19] justin808 opened #1488 "Instructions tell users to start rails with `rails s`"
### Discussed in https://github.com/shakacode/react_on_rails/discussions/1485

<div type='discussions-op-text'>

<sup>Originally posted by **jasonfb** September 23, 2022</sup>
Please note I am stuck getting the basic installation working so perhaps there is a gap in my understanding. please elucidate me if so.
see https://github.com/shakacode/react_on_rails/issues/1483 for my issue where I am stuc

[2022-09-26 23:21] justin808 commented on #1488
https://github.com/shakacode/react_on_rails/issues/1488

FYI -- if webpacker.yml setting for `compile` is true, then the current instructions are correct. However, that's not the recommended path, which is to either the webpack-dev-server via `bin/webpacker-dev-server` or run `bin/webpacker --watch`. These are setup by the Procfile examples.

[2022-10-13 02:32] mattp0123 opened #1489 "Please add support for pnpm"
**Is your feature request related to a problem? Please describe.**
When I run `bin/rails generate react_on_rails:install`, it says:
[code]

**Describe the solution you'd like**
Please add support for pnpm, it's a very powerful modern front-end tool.

[2022-10-26 08:07] justin808 commented on #1489
See https://github.com/shakacode/shakapacker/issues/195

[2022-10-26 08:07] #1489 closed

[2022-10-26 08:08] justin808 commented on #1482
@jasonfb I like the idea. Can you throw in a PR?

[2022-10-26 08:12] ahangarha commented on #1482
Keep me as backup

[2022-10-26 08:13] justin808 commented on #1482
@ahangarha you can do this if you like. It's simple enough.

[2022-10-27 07:40] justin808 commented on #1198
Fixed a long time ago.

[2022-10-27 07:40] #1198 closed

[2022-10-27 07:41] justin808 commented on #1410
All fixed.

[2022-10-27 07:41] #1410 closed

[2022-10-27 07:42] justin808 commented on #1395
Closing for now. I don't see a strong reason to support js-bundling over shakapacker.

[2022-10-27 07:42] #1395 closed

[2022-10-27 09:53] ahangarha commented on #1465
In bad way? Anything particular apart from twice rendering which is deliberate?

May you please elaborate on this?

[2022-10-27 11:47] alexeyr-ci1 commented on #1465
No, in a good way which catches more errors, which is what we want StrictMode for.

[2022-11-14 23:24] braindeaf opened #1493 "React On Rails w/Hotwire and Turbo Streams"
Is there any information how to get React components to render after Turbo Stream updates? I'm got a few components which don't render when our modals update and since turbo don't have a 'after-stream-render' Event. When the modal opens I trigger ReactOnRails.reactOnRailsPageLoaded(); so that's fine but I can't work out how I can trigger this on Turbo Streams.

We are still on 11.3.0 if that makes

[2022-11-26 04:43] justin808 commented on #1493
Here is where the event listeners get installed.

https://github.com/shakacode/react_on_rails/blob/master/node_package/src/clientStartup.ts#L247-L278

I'm open to a PR.

Thanks,

Justin

[2022-11-26 09:50] braindeaf commented on #1493
I will take a look, thank you :)

[2022-11-30 22:32] mgmodell commented on #1488
Without specifying any sort of starting point, these instructions do not work. I ran a `rails new` using the latest rails (7.0.4) and the defaults there do not include anything webpacker. Therefore, whether I launch with `rails s`, `foreman` or I specify that `compile` is true, it does not function.

I'll update the docs to specify the prerequisite of a rails app with webpacker enabled (i.e. `rail